<div class="container-fluid">
  <div>
    <div class="container_flex_space_between mb-3">
      <div>
        <h3>
          <b>
            <span>Affectation de SIM au profil</span>
            <span class="current_values">[{{currentObject?.nom}}]</span>
          </b>
        </h3>
      </div>
      <div class="table_actions_wrapper mt-0">
        <button pButton pRipple label="Rafraîchir" icon="pi pi-refresh" (click)="OnRefresh()"
          class="p-button-secondary"></button>
        <button pButton pRipple label="Fermer" class="p-button-danger" (click)="close()"></button>
      </div>
    </div>
    <div class="container_flex_space_between">
      <div class="row filter_wrapper" [ngStyle]="{width: '100%'}">
        <div class="col-md-3">
          <div class="form-group">
            <label>
              <b>{{firstLevelLibelle}}</b>
            </label>
            <p-dropdown [options]="listDirections" optionLabel="fullName" (onChange)="onChangeItem($event)"
              [showClear]="true" [filter]="true" filterBy="fullName" [placeholder]="firstLevelLibelle">
              <ng-template let-data pTemplate="item">
                <div class="country-item">
                  <div>
                    {{data.fullName}}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              <b>{{secondLevelLibelle}}</b>
            </label>
            <p-dropdown [options]="listExploitations" optionLabel="fullName" optionLabel="nom" [filter]="true"
              [(ngModel)]="selectedExploitation" [showClear]="true" [placeholder]="secondLevelLibelle">
              <ng-template let-data pTemplate="item">
                <div class="country-item">
                  <div>
                    {{data.fullName}}
                  </div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
        <div style="width: 13rem;">
          <div class="form-group">
            <label>
              <b>MSISDN</b>
            </label>
            <input placeholder="msisdn" [(ngModel)]="selectedMsisdn" type="text" pInputText />
          </div>
        </div>
        <div style="width: 13rem;">
          <div class="form-group">
            <label>
              <b>IMSI</b>
            </label>
            <input placeholder="imsi" [(ngModel)]="selectedimsi" type="text" pInputText />
          </div>
        </div>
        <div class="col-md-1">
          <p-button styleClass="p-button-success filter-button" (click)="onFilter()" icon="pi pi-filter"
            [disabled]="isFilter()"></p-button>
        </div>
      </div>
      <div class="table_actions_wrapper mt-4" style="height: fit-content;">
        <button pButton pRipple label="Affecter" icon="pi pi-arrow-right" class="p-button-success"
          (click)="handleSaveAffectation()" [disabled]="checkconsumerList?.length ===0"></button>
      </div>
    </div>
    <hr>
    <div class="table_content_wrapper">
      <div class="table_header mt-2">
        <div class="table_header__legende">
          <app-table-header [count]="listAffectations" [legende]="'SIM Non Affectées au profil'" [page]="page" [totalPage]="totalPage"></app-table-header>
        </div>
        <div class="table_header__input"></div>
      </div>
      <table [ngClass]="['native_table table']" style="margin-top: -0.2rem">
        <thead>
          <th class="text-center">#</th>
          <th>{{firstLevelLibelle}}</th>
          <th>{{secondLevelLibelle}}</th>
          <th class="text-center">MSISDN</th>
          <th class="text-center">IMSI</th>
          <th class="text-center">Statut</th>
          <th class="text-center">
            <p-checkbox [binary]="true" (click)="OnCheckAllConsumer()" [(ngModel)]="checkedAllConsumers"></p-checkbox>
          </th>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of listAffectations | paginate: { itemsPerPage: recordsPerPage, currentPage: p, totalPages:totalPage, totalItems:totalRecords }; let i = index;">
            <td>{{ (this.offset + i)}}</td>
            <td>{{data.niveau_un}}</td>
            <td>{{data.niveau_deux}}</td>
            <td>{{data.msisdn}}</td>
            <td (click)="copyData(data.imsi)" style="cursor: pointer">{{data?.imsi}}</td>
            <td>
              <span [ngStyle]="{ 'font-size': '16px' }"
              class="badge"
              [ngClass]="{
                'badge-success': data.statut === 'actif',
                'badge-dark': data.statut === 'suspendu',
                'badge-danger': data.statut === 'resilié'
              }">
            {{ data.statut }}
             </span>
            </td>
            <td>
              <p-checkbox name="groupname" [value]="data.id" [binary]="true" [(ngModel)]="data.checked"
                (click)="onCheckedOneConsumer(data)"></p-checkbox>
            </td>
          </tr>
        </tbody>
      </table>
      <div [ngClass]="['pagination-controls']">
        <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>