<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb
                [title]="module"
                [active_item]="subModule"
            ></app-breadcrumb>
            <div class="card">
                <div class="card-body">
                    <div [hidden]="!initialView">
                        <div style="margin-top: -2rem !important">
                            <app-patrimoine-header
                                [count]="listEtats"
                                [legende]="'SIM'"
                                [total]="total"
                            ></app-patrimoine-header>
                        </div>
                        <div class="row filter_wrapper">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        <b
                                            >Statut Alarme<span
                                                class="text-danger"
                                                >*</span
                                            ></b
                                        >
                                    </label>
                                    <p-dropdown
                                        [options]="listAlarmes"
                                        [showClear]="true"
                                        [(ngModel)]="selectedAlarme"
                                        [filter]="true"
                                        [placeholder]="'alarme'"
                                    >
                                        <ng-template let-data pTemplate="item">
                                            <div class="country-item">
                                                <div>
                                                    {{ data }}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        <b>{{ firstLevelLibelle }}</b>
                                    </label>
                                    <p-dropdown
                                        [options]="listFirstLeveDatas"
                                        optionLabel="fullName"
                                        (onChange)="onChangeFirstLvel($event)"
                                        [showClear]="true"
                                        [filter]="true"
                                        filterBy="fullName"
                                        [(ngModel)]="selectedDirection"
                                        [placeholder]="firstLevelLibelle"
                                    >
                                        <ng-template let-data pTemplate="item">
                                            <div class="country-item">
                                                <div>
                                                    {{ data.fullName }}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        <b>{{ secondLevelLibelle }}</b>
                                    </label>
                                    <p-dropdown
                                        [options]="listSecondLevelDatas"
                                        optionLabel="fullName"
                                        optionLabel="fullName"
                                        [filter]="true"
                                        [showClear]="true"
                                        [(ngModel)]="selectedExploitation"
                                        [placeholder]="secondLevelLibelle"
                                    >
                                        <ng-template let-data pTemplate="item">
                                            <div class="country-item">
                                                <div>
                                                    {{ data.fullName }}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        <b>MSISDN</b>
                                    </label>
                                    <input
                                        placeholder="Numéro"
                                        [(ngModel)]="selectedMsisdn"
                                        type="text"
                                        pInputText
                                    />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        <b>IMSI</b>
                                    </label>
                                    <input
                                        placeholder="Imsi"
                                        [(ngModel)]="selectedImsi"
                                        type="text"
                                        pInputText
                                    />
                                </div>
                            </div>
                            <div
                                [ngStyle]="{ width: 'auto' }"
                                *ngIf="!secondFilter"
                            >
                                <label [ngStyle]="{ opacity: '0' }"
                                    >Actions</label
                                >
                                <br />
                                <p-button
                                    styleClass="p-button-success"
                                    icon="pi pi-filter"
                                    (click)="onFilter()"
                                    [disabled]="isFilter()"
                                ></p-button>
                            </div>
                            <div [ngStyle]="{ width: 'auto' }">
                                <label [ngStyle]="{ opacity: '0' }"
                                    >Actions</label
                                >
                                <br />
                                <p-button
                                    *ngIf="!secondFilter"
                                    (click)="showSecondFilter()"
                                    styleClass="p-button-dark"
                                    icon="pi pi-plus"
                                ></p-button>
                                <p-button
                                    *ngIf="secondFilter"
                                    (click)="showSecondFilter()"
                                    styleClass="p-button-dark"
                                    icon="pi pi-minus"
                                ></p-button>
                            </div>
                        </div>
                        <!--------------------Second-------------Filter--------->
                        <div
                            class="row filter_wrapper"
                            style="padding-top: 0.7rem"
                            *ngIf="secondFilter"
                        >
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        <b>{{ thirdLevelLibelle }}</b>
                                    </label>
                                    <p-dropdown
                                        [options]="listThirdLevelDatas"
                                        [(ngModel)]="selectedUsage"
                                        optionLabel="nom"
                                        [showClear]="true"
                                        [filter]="true"
                                        [placeholder]="thirdLevelLibelle"
                                        optionValue="uuid"
                                    >
                                        <ng-template let-data pTemplate="item">
                                            <div class="country-item">
                                                <div>
                                                    {{ data.nom }}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        <b>Nom Emplacement</b>
                                    </label>
                                    <input
                                        placeholder="Emplacement"
                                        [(ngModel)]="selectedEmplacement"
                                        type="text"
                                        pInputText
                                    />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        <b>Zone Trafic</b>
                                    </label>
                                    <input
                                        placeholder="Zone trafic"
                                        [(ngModel)]="selectedZone"
                                        type="text"
                                        pInputText
                                    />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="block"><b>Date début</b></label>
                                <p-calendar
                                    [ngStyle]="{ width: '15rem' }"
                                    [(ngModel)]="filterDateStart"
                                    [showIcon]="true"
                                    (ngModelChange)="changeDateStart($event)"
                                    dateFormat="dd-mm-yy"
                                    [locale]="fr"
                                ></p-calendar>
                            </div>
                            <div class="col-md-2">
                                <label class="block"><b>Date fin </b></label>
                                <p-calendar
                                    [ngStyle]="{ width: '15rem' }"
                                    [(ngModel)]="filterDateEnd"
                                    [showIcon]="true"
                                    (ngModelChange)="changeDateEnd($event)"
                                    dateFormat="dd-mm-yy"
                                    [locale]="fr"
                                ></p-calendar>
                            </div>
                            <div class="p-0" [ngStyle]="{ width: '4rem' }">
                                <label [ngStyle]="{ opacity: '0' }"
                                    >Actions</label
                                >
                                <br />
                                <p-button
                                    styleClass="p-button-success"
                                    icon="pi pi-filter"
                                    (click)="onFilter()"
                                    [disabled]="isFilter()"
                                ></p-button>
                            </div>
                        </div>
                        <hr />
                        <div class="table_actions_wrapper">
                            <app-table-button-header
                                (refresh)="OnRefresh()"
                                (export)="OnExportExcel()"
                                [hiddenButtonOther]="true"
                            ></app-table-button-header>
                        </div>
                        <div class="table_content_wrapper">
                            <div class="d-flex gap-2">
                                <app-table-header
                                    [count]="listEtats"
                                    [legende]="'SIM'"
                                    [page]="page"
                                    [totalPage]="totalPage"
                                ></app-table-header>
                                <div
                                    class="d-flex"
                                    style="margin-top: 1.1rem"
                                    *ngIf="listEtats?.length"
                                >
                                    <div class="table-header-wrapper me-2">
                                        en Alarme
                                    </div>
                                    <app-alarme-color
                                        [alarme]="listEtats[0]?.alarme"
                                    ></app-alarme-color>
                                </div>
                            </div>
                            <table [ngClass]="['native_table table']">
                                <thead>
                                    <th class="text-center">#</th>
                                    <th>{{ firstLevelLibelle }}</th>
                                    <th>{{ secondLevelLibelle }}</th>
                                    <th class="text-center">
                                        {{ thirdLevelLibelle }}
                                    </th>
                                    <th class="text-center">APN</th>
                                    <th class="text-center">Emplacement</th>
                                    <th class="text-center">MSISDN</th>
                                    <th class="text-center">IMSI</th>
                                    <th class="text-center">Solde (Go)</th>
                                    <th class="text-center">Date Solde</th>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="
                                            let data of listEtats
                                                | paginate
                                                    : {
                                                          itemsPerPage:
                                                              recordsPerPage,
                                                          currentPage: p,
                                                          totalPages: totalPage,
                                                          totalItems:
                                                              totalRecords
                                                      };
                                            let i = index
                                        "
                                    >
                                        <td>{{ this.offset + i }}</td>
                                        <td>{{ data?.niveau_uns_nom }}</td>
                                        <td>{{ data?.niveau_deux_nom }}</td>
                                        <td>{{ data?.niveau_trois_nom }}</td>
                                        <td class="text-center">{{ data?.apn }}</td>
                                        <td
                                            class="text-center"
                                            (click)="
                                                copyData(
                                                    data?.point_emplacement
                                                )
                                            "
                                            style="cursor: pointer"
                                        >
                                            {{ data?.point_emplacement }}
                                        </td>
                                        <td
                                            class="text-center"
                                            (click)="copyData(data?.msisdn)"
                                            style="cursor: pointer"
                                        >
                                            {{ data?.msisdn }}
                                        </td>
                                        <td
                                            class="text-center"
                                            (click)="copyData(data?.imsi)"
                                            style="cursor: pointer"
                                        >
                                            {{ data?.imsi }}
                                        </td>
                                        <td class="text-center">
                                            {{
                                                data?.solde_actuel_go
                                                    | formatNumber: 2
                                            }}
                                        </td>
                                        <td class="text-center">
                                            {{ data?.updated_at }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div [ngClass]="['pagination-controls']">
                                <pagination-controls
                                    (pageChange)="onPageChange($event)"
                                    previousLabel=""
                                    nextLabel=""
                                >
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                    <app-groupe-form
                        [currentObject]="currentObject"
                        *ngIf="formsView"
                        (formsView)="pushStatutView($event)"
                        (listProfils)="pushListProfils($event)"
                    >
                    </app-groupe-form>
                </div>
            </div>
        </div>
    </div>
</div>
