<p-table
    #dt
    [value]="listCustomers$ | async"
    [rowHover]="true"
    dataKey="id"
    selectionMode="single"
    [(selection)]="customerSelected"
    [rows]="(pagination$ | async)?.per_page"
    [scrollable]="true"
    [globalFilterFields]="table.globalFilterFields"
    responsiveLayout="scroll"
    scrollable="true"
    scrollHeight="flex"
    width="100%"
    class="responsive-claims-table"
>
    <ng-template pTemplate="caption">
        <div
            class="d-flex justify-content-between flex-wrap align-items-center"
        >
            <app-table-title
                [count]="(pagination$ | async)?.total"
                [perPage]="(pagination$ | async)?.per_page"
                [page]="(pagination$ | async)?.current_page"
                [totalPage]="(pagination$ | async)?.last_page"
            >
            </app-table-title>
            <div
                class="d-flex gap-2 align-items-center custom-header-actions mt-2 mt-md-0"
            >
                <app-table-button-header
                    (refresh)="pageCallback()"
                    (export)="onExportExcel()"
                    [disabledButtonExport]="
                        (listCustomers$ | async)?.length === 0
                    "
                    [hiddenButtonOther]="true"
                >
                </app-table-button-header>
                <app-search-table [dt]="dt"></app-search-table>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{
                    minWidth: col.width,
                    width: col.width,
                    textAlign: 'center',
                }"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'Date / Heure'">
                        {{ 'DATE_TIME' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Code'">
                        {{ 'CODE' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Client'">
                        {{ 'CUSTOMER' | translate | capitalize }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Compte client'">
                        {{ 'CUSTOMER_ACCOUNT' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Type client'">
                        {{ 'CUSTOMER_TYPE' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Statut'">
                        {{ 'STATUS' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Date Etat'">
                        {{ 'UPDATED_DATE' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{ col.header }}
                    </ng-container>
                </ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-item>
        <tr [pSelectableRow]="item">
            <td
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{ minWidth: col.width, width: col.width }"
                [attr.data-label]="col.header"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'#'">
                        {{
                            ((pagination$ | async)?.current_page - 1) *
                                (pagination$ | async)?.per_page +
                                rowIndex +
                                1
                        }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Code'">
                        <span
                            (click)="copyToClipboard(item?.[col.field])"
                            [pTooltip]="'COPY' | translate"
                            tooltipPosition="bottom"
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Compte client'">
                        <span
                            (click)="copyToClipboard(item?.[col.field])"
                            [pTooltip]="'COPY' | translate"
                            tooltipPosition="bottom"
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Statut'">
                        <span
                            [ngStyle]="{ 'font-size': '16px' }"
                            [class]="'badge ' + getStepBadge(item?.[col.field])"
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Date Etat'">
                        {{ item?.[col.field] }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Actions'">
                        <p-button
                            icon="pi pi-eye"
                            styleClass="p-button-dark"
                            [pTooltip]="'VIEW_MORE' | translate"
                            tooltipPosition="bottom"
                            (click)="
                                handleAction({
                                    data: item,
                                    action: CUSTOMERS_MANAGED_BUTTONS_ACTIONS_ENUM.OPEN,
                                    view: 'page',
                                })
                            "
                        >
                        </p-button>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{ item?.[col.field] }}
                    </ng-container>
                </ng-container>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr
            *ngIf="(listCustomers$ | async)?.length <= 0 && !spinner"
            class="loading-table"
        >
            <td class="posRelative" colspan="15">
                <span class="posCenter">
                    {{ 'NO_DATA_FOUND' | translate }}
                </span>
            </td>
        </tr>
        <tr *ngIf="spinner" class="loading-table">
            <td class="posRelative" colspan="15">
                <p-progressSpinner
                    class="posCenter"
                    [style]="{ width: '40px', height: '50px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="#EEEEEE"
                    animationDuration=".5s"
                >
                </p-progressSpinner>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog
    header="{{ 'CUSTOMER' | translate }} [{{
        customerSelected?.numero_demande
    }}]"
    [(visible)]="visibleForm"
    [maximizable]="true"
    [draggable]="false"
    [resizable]="true"
    (onHide)="visibleForm = false"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '95vw', minHeight: '80vh' }"
    [breakpoints]="{ '1199px': '90vw', '575px': '95vw' }"
>
    <ng-template pTemplate="content">
        <app-treatment-requests-service-form
            [customerSelected]="customerSelected"
            [handleTreatment]="
                handleActionButtonEditStyle(customerSelected)?.handleTreatment
            "
            (visibleForm)="visibleForm = false"
            [fetchCustomers]="pageCallback.bind(this)"
        ></app-treatment-requests-service-form>
    </ng-template>
</p-dialog>
