<div>
  <div class="forms-feature-header">
    <div style="width: 80%;display: flex;justify-content: space-between;">
        <div>
          <h4><b><span>Nouvelle Dotation Data</span></b></h4>
        </div>
    </div>
    <div class="forms-feature-header__button" style="position: relative;top: -0.7rem;">
      <div>
        <p-button label="Fermer" styleClass="p-button-danger" (click)="close()"></p-button>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-wrapper">
    <!------------------------TYPE-----------DOTATION------>
    <div>
      <fieldset>
        <legend [ngStyle]="{width: '100%'}">
          <b>Informations de Dotation</b>
        </legend>
        <div style="display: flex;gap: 7rem;" *ngIf="!this.historie">
          <div class="d-flex gap-5">
            <div class="d-flex gap-2">
              <p-radioButton name="valeur" value="MSISDN" [(ngModel)]="radioValue" (onClick)="changeItem($event)"
                inputId="imsi" class="mt-2"></p-radioButton>
              <label for="imsi" style="margin-top: 1.6rem">Simple</label>
            </div>
            <div class="d-flex gap-2">
              <p-radioButton name="valeur" value="GROUPE" [(ngModel)]="radioValue" (onClick)="changeItem($event)"
                inputId="msisdn" class="mt-2"></p-radioButton>
              <label for="msisdn" style="margin-top: 1.6rem">Groupe</label>
            </div>
          </div>
          <div class="d-flex gap-3" style="margin-top: 0.7rem;">
            <div style="display: flex;gap: 1rem;">
              <div class="pt-3">
                <b>{{radioValue}}<span class="text-danger ms-1">*</span></b>
              </div>
              <div *ngIf="radioValue === 'MSISDN'">
                <input placeholder="Saisir le numéro" [(ngModel)]="selectedValue" type="text" pInputText />
              </div>
              <div [ngStyle]="{width: '15rem'}" *ngIf="radioValue === 'GROUPE'">
                <p-dropdown [options]="listGroupes" optionLabel="nom" [(ngModel)]="selectedGroupe" placeholder="Nom Groupe">
                  <ng-template let-data pTemplate="item">
                    <div class="country-item">
                      <div>
                        {{data.nom}}
                      </div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            <div>
              <button pButton pRipple label="Verifier" (click)="OnVerify()" [disabled]="isFilter()" icon="pi pi-sync"
                class="p-button-success"></button>
            </div>
          </div>
        </div>
        <div *ngIf="radioValue === 'MSISDN'">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>
                  <b>MSIDN</b>
                </label>
                <input type="text" [(ngModel)]="currentPatrimoine.msisdn" [disabled]="true" pInputText />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>
                  <b>IMSI</b>
                </label>
                <input type="text" [(ngModel)]="currentPatrimoine.imsi" [disabled]="true" pInputText />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>
                  <b>Statut Contrat</b>
                </label>
                <!-- <input type="text" [(ngModel)]="currentPatrimoine.statut" style="text-transform: uppercase;"
                  [disabled]="true" pInputText /> -->
                  <input *ngIf="!currentPatrimoine?.statut" type="text" [(ngModel)]="currentPatrimoine.statut" pInputText [disabled]="true" />
                  <app-statut-contrat *ngIf="currentPatrimoine?.statut" [statut]="currentPatrimoine?.statut"></app-statut-contrat>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>
                  <b>Nom Emplacement</b>
                </label>
                <input type="text" [(ngModel)]="currentPatrimoine.point_emplacement" [disabled]="true" pInputText />
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="radioValue !== 'MSISDN'">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  <b>Nom Groupe</b>
                </label>
                <input type="text" [(ngModel)]="currentGroupe.nom" [disabled]="true" pInputText />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  <b>SIM affectées</b>
                </label>
                <input type="text" [(ngModel)]="currentGroupe.sims_count" [disabled]="true" pInputText />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  <b>Statut </b>
                </label>
                <input type="text" [(ngModel)]="currentGroupe.statut" style="text-transform: uppercase;"
                  [disabled]="true" pInputText />
                  
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <!------------------------SERVICES----------------------MONTANT------------------>
    <div>
      <div class="row">
        <div class="col-md-4">
          <fieldset>
            <legend [ngStyle]="{width: '100%'}">
              <b>{{selectedService === airtimeService ? 'Montant (FCFA)' : 'Volume (Go)'}}</b>
            </legend>
            <div class="row">
              <div class="form-group" *ngIf="selectedService ===dataService">
                <input type="number" [(ngModel)]="selectedVolume" placeholder="volume" pInputText />
              </div>
            </div>
          </fieldset>
        </div>
        <div class="col-md-8">
    <!------------------------DESCRIPTION------------------>
    <fieldset>
      <legend [ngStyle]="{width: '100%'}">
        <b>Description</b>
      </legend>
      <div class="row">
        <div class="form-group">
          <textarea class="" type="text" [(ngModel)]="selectedDescription" pInputText placeholder="Description"
            [ngStyle]="{width: '100%'}" rows="1"></textarea>
        </div>
      </div>
    </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="submit-form">
    <div>
      <!-- <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" [type]="'image'" [(ngModel)]="currentRecaptcha">
      </ngx-recaptcha2> -->
      <button pButton label="Soumettre" [disabled]="IsValidate()" class="p-button-success"
        (click)="handleSaveDotation()"></button>
    </div>
  </div>
</div>