<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-breadcrumb [title]="module" [active_item]="subModule"></app-breadcrumb>
      <div class="card">
        <div class="card-body">
          <div [hidden]="!initialView">
            <div class="row filter_wrapper">
              <div class="col-md-2">
                <div class="form-group">
                  <label>
                    <b>{{firstLevelLibelle}}</b>
                  </label>
                  <p-dropdown [options]="listDirections" optionLabel="fullName" (onChange)="onChangeItem($event)"
                    [showClear]="true" [filter]="true" filterBy="fullName" [placeholder]="firstLevelLibelle">
                    <ng-template let-data pTemplate="item">
                      <div class="country-item">
                        <div>
                          {{data.fullName}}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>
                    <b>{{secondLevelLibelle}}</b>
                  </label>
                  <p-dropdown [options]="listExploitations" optionLabel="fullName" optionLabel="nom" [filter]="true"
                    [(ngModel)]="selectedExploitation" [showClear]="true" [placeholder]="secondLevelLibelle">
                    <ng-template let-data pTemplate="item">
                      <div class="country-item">
                        <div>
                          {{data.fullName}}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
              <div style="width: 13rem;">
                <div class="form-group">
                  <label>
                    <b>{{thirdLevelLibelle}}</b>
                  </label>
                  <p-dropdown [options]="listActivites" [(ngModel)]="selectedUsage" optionLabel="nom" [showClear]="true"
                    [placeholder]="thirdLevelLibelle" optionValue="id">
                    <ng-template let-data pTemplate="item">
                      <div class="country-item">
                        <div>
                          {{data.nom}}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>
                    <b>MSISDN</b>
                  </label>
                  <input placeholder="Numéro" [(ngModel)]="selectedSim" type="text" pInputText />
                </div>
              </div>
              <div style="width: 13rem;">
                <div class="form-group">
                  <label>
                    <b>IMSI</b>
                  </label>
                  <input placeholder="IMSI" [(ngModel)]="selectedimsi" type="text" pInputText />
                </div>
              </div>
              <div style="width: 13rem;">
                <div class="form-group">
                  <label>
                    <b>Statut</b>
                  </label>
                  <p-dropdown [options]="listStatus" [(ngModel)]="selectedStatut" [showClear]="true"
                    placeholder="Statut">>
                    <ng-template let-data pTemplate="item">
                      <div class="country-item">
                        <div>
                          {{data}}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
              <div style="width: 4rem;">
                <p-button styleClass="p-button-success filter-button" (click)="onFilter()" icon="pi pi-filter"
                  [disabled]="isFilter()"></p-button>
              </div>
            </div>
            <hr>
            <div class="table_actions_wrapper">
              <button pButton pRipple label="Rafraichir" (click)="GetAllPatrimoines()" icon="pi pi-refresh"
                class="p-button-secondary"></button>
              <button pButton pRipple label="Exporter" icon="pi pi-download" [disabled]="disableAction()"
                class="p-button-helf"></button>
            </div>
            <div class="table_content_wrapper">
              <div class="table_header mt-2">
                <div class="table_header__legende">
                  <h4 class="pt-2">
                    <b>Liste 50 dernières SIM mises à jour</b>
                  </h4>
                </div>
                <div class="table_header__input"></div>
              </div>
              <table [ngClass]="['native_table table']">
                <thead>
                  <th class="text-center">#</th>
                  <th>{{firstLevelLibelle}}</th>
                  <th>{{secondLevelLibelle}}</th>
                  <th class="text-center">MSISDN</th>
                  <th class="text-center">IMSI</th>
                  <th class="text-center">{{thirdLevelLibelle}}</th>
                  <th class="text-center">Emplacement</th>
                  <th>Statut</th>
                  <th class="text-center">Actions</th>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let data of listPatrimoines | paginate: { itemsPerPage: recordsPerPage, currentPage: p, totalPages:totalPage, totalItems:totalRecords }; let i = index;">
                    <td>{{ (this.offset + i)}}</td>
                    <td>{{data.direction_regionale?.nom}} [{{data.direction_regionale?.code}}]</td>
                    <td>{{data.exploitation?.nom}} [{{data.exploitation?.code}}]</td>
                    <td (click)="copyData(data.msisdn)" style="cursor: pointer">{{data.msisdn}}</td>
                    <td (click)="copyData(data.imsi)" style="cursor: pointer">{{data?.imsi ? data?.imsi : 'N/A' }}</td>
                    <td>{{data?.zone?.nom}}</td>
                    <td>{{data?.nom_prenoms}}</td>
                    <td>
                      <span [ngStyle]="{ 'font-size': '16px' }" class="badge"
                        [class.badge-success]="data.statut === 'actif'" [class.badge-danger]="data.statut !== 'actif'">
                        {{ data.statut }}
                      </span>
                    </td>
                    <td class="td-actions">
                      <button pButton icon="pi pi-map-marker" [disabled]="data.statut ==='inactif'"
                        pTooltip="Localisation" tooltipPosition="top" (click)="showDialog('map',data)"
                        class="p-button-success p-button-outlined"></button>
                      <button pButton icon="pi pi-eye" pTooltip="Voir" tooltipPosition="top" (click)="onShowForm(data)"
                        class="p-button-dark"></button>
                      <button pButton icon="pi pi-pencil" pTooltip="Editer" tooltipPosition="top"
                        (click)="onEditForm(data)" class="p-button-secondary"></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div [ngClass]="['pagination-controls']">
                <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="">
                </pagination-controls>
              </div>
            </div>
          </div>
          <app-patrimoine-forms [currentObject]="currentObject" *ngIf="formsView" (formsView)="pushStatutView($event)"
            (listPatrimoines)="pushListPatrimoines($event)"></app-patrimoine-forms>
        </div>
      </div>
    </div>
  </div>
  <p-dialog header="Vue géographique" [(visible)]="display" position="bottom-right" (onHide)="hideDialog('map')"
    [style]="{ width: '100%' }" (onMaximize)="onDialogMaximized($event)" [modal]="true" [responsive]="true"
    [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content" class="mt-4">
      <div class="mt-4">
        <div #parcelleMap></div>
      </div>
    </ng-template>
  </p-dialog>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{currentData?.type === 'suspendu' ? 'suspension' : 'resiliation'}}
        de la carte SIM</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="hideForm()"></button>
    </div>
    <div class="modal-body" novalidate>
      <div class="form-group">
        <label>
          <b>MSNDN</b>
        </label>
        <input type="text" [ngStyle]="{width: '100%'}" [placeholder]="currentData?.imsi" [disabled]="true" pInputText />
      </div>
      <br>
      <div class="form-group">
        <label>
          <b>Description</b>
        </label>
        <textarea class="form-control" [(ngModel)]="selectedDescription" rows="2"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <div>
        <button type="button" class="btn btn-hide" (click)="hideForm()">Fermer</button>
      </div>
      <div>
        <button type="button" class="btn btn-save" [disabled]="!selectedDescription"
          (click)="OnChangeStatut()">Valider</button>
      </div>
    </div>
  </ng-template>