<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-breadcrumb [title]="'Structure Organisationnelle'" [active_item]="firstLevelLibelle"></app-breadcrumb>
      <div class="card">
        <div class="card-body">
          <div [hidden]="!initialView">
            <p-tabView (onChange)="handleChangeTabviewIndex($event)">
              <p-tabPanel [header]="firstLevelMenus">
                <div class="row filter_wrapper">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>
                        <b>Nom {{firstLevelLibelle}}<span class="text-danger">*</span></b>
                      </label>
                      <input placeholder="Saisir le nom" [(ngModel)]="selectedNom" type="text" pInputText />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label>
                        <b>Code<span class="text-danger">*</span></b>
                      </label>
                      <input placeholder="Saisir le code" [(ngModel)]="selectedCode" type="text" pInputText />
                    </div>
                  </div>
                  <div class="col-md-1">
                    <p-button styleClass="p-button-success filter-button" icon="pi pi-filter" [disabled]="isFilter()"
                      (click)="onFilter()"></p-button>
                  </div>
                </div>
                <hr>
                <div class="table_actions_wrapper">
                  <button pButton pRipple [label]="'Ajout Simple'" icon="pi pi-plus" (click)="OnOpenForm()"
                    class="p-button-success"></button>
                  <button pButton pRipple label="Rafraichir" icon="pi pi-refresh" class="p-button-secondary"
                    (click)="OnRefresh()"></button>
                  <button pButton pRipple label="Exporter" icon="pi pi-download" class="p-button-helf" (click)="OnExportExcel()"></button>
                </div>
                <div class="table_content_wrapper">
                  <p-table #dt [value]="listFirstLevelDatas" [rows]="10" [paginator]="true" responsiveLayout="scroll"
                    [rowHover]="true" dataKey="id" currentPageReportTemplate="Affichage de {first} à {last} des {totalRecords}
                    données" [showCurrentPageReport]="true" 
                    [globalFilterFields]="['nom', 'code']"
                    >
                    <ng-template pTemplate="caption">
                      <div class="table_header">
                        <app-table-header [count]="listFirstLevelDatas" [legende]="firstLevelMenus | titlecase"></app-table-header>
                        <div class="table_header__input">
                          <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                              placeholder="Recherche" />
                          </span>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                      <tr>
                        <th class="text-center" [style]="{width: '1.5rem'}">#</th>
                        <th>{{firstLevelLibelle}}</th>
                        <th class="text-center">Code</th>
                        <th class="text-center"># {{secondLevelLibelle}} Affectés</th>
                        <th class="text-center" [ngStyle]="{'width':'10rem'}">Actions</th>
                      </tr>
                    </ng-template>
                    <ng-template let-i="rowIndex" pTemplate="body" let-data>
                      <tr>
                        <td class="text-center">{{ i + 1 }}</td>
                        <td (click)="copyData(data?.nom)" style="cursor: pointer">{{data?.nom}}</td>
                        <td class="text-center" (click)="copyData(data?.code)" style="cursor: pointer">{{data?.code}}</td>
                        <td class="text-center">
                          <button pButton pRipple pTooltip="Visualiser" tooltipPosition="top"
                            label="Visualiser [{{data.niveaux_deux_count}}]" class="p-button"
                            (click)="OnVisualisation(data)" [disabled]="niveaux_deux_count === 0"></button>
                        </td>
                        <td class="td-actions">
                          <button pButton icon="pi pi-eye" pTooltip="Voir" tooltipPosition="top"
                            (click)="onShowForm(data,content)" class="p-button-dark"></button>
                          <button pButton icon="pi pi-pencil" pTooltip="Editer" tooltipPosition="top"
                            (click)="onEditForm(data,content)" class="p-button-secondary"></button>
                            <button pButton pRipple icon="pi pi-arrow-right" (click)="OnAffectaion(data)" class="p-button-dark"
                            pTooltip="Affecter" tooltipPosition="top"></button>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </p-tabPanel>
              <p-tabPanel header="HISTORIQUE">
                <app-historique 
                *ngIf="currentTabsIndex === 1" 
                  [module]="'STRUCTURE ORGANISATIONNELLE'"
                  [sous_module]="'NIVEAU UN'"
                  >
                </app-historique>
              </p-tabPanel>
            </p-tabView>
          </div>
          <app-form-first-level [currentObject]="currentObject" *ngIf="formsView" (formsView)="pushStatutView($event)"
          (listFirstLevelDatas)="pushListProfils($event)">
        </app-form-first-level>
        </div>
      </div>
    </div>
  </div>
</div>

