.responsive-team-participants-table {
    width: 100%;
}

.copyable {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: var(--theme-default);
    padding: 0;
}

.copyable:hover {
    color: var(--theme-default-dark);
}

.table-actions-footer {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}
