<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-breadcrumb [title]="'Structure Organisationnelle'" [active_item]="currentLevelLibelle"></app-breadcrumb>
      <div class="card">
        <div class="card-body">
          <div [hidden]="!initialView">
            <p-tabView (onChange)="handleChangeTabviewIndex($event)">
              <p-tabPanel [header]="currentLevelMenus | uppercase">
                <div class="row filter_wrapper">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>
                        <b>{{currentLevelLibelle}}</b>
                      </label>
                      <input placeholder="Saisir le nom" [(ngModel)]="selectedNom" type="text" pInputText />
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label>
                        <b>{{parentLevelLibelle}}</b>
                      </label>
                      <p-dropdown [options]="listFirstLevelDatas" [placeholder]="parentLevelLibelle" [(ngModel)]="selectedParent"
                        optionLabel="nom" [filter]="true" optionValue="uuid">
                        <ng-template let-data pTemplate="item">
                          <div class="country-item">
                            <div>
                              {{data.nom}}
                            </div>
                          </div>
                        </ng-template>
                      </p-dropdown>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <p-button styleClass="p-button-success filter-button" icon="pi pi-filter" [disabled]="isFilter()"
                      (click)="onFilter()"></p-button>
                  </div>
                </div>
                <hr>
                <div class="table_actions_wrapper">
                  <button pButton pRipple *ngIf="mappingService.IsAction()" [label]="'Ajout Simple'" icon="pi pi-plus" (click)="openForm()"
                    class="p-button-success"></button>
                  <button pButton pRipple label="Rafraichir" icon="pi pi-refresh" class="p-button-secondary"
                    (click)="OnRefresh()"></button>
                  <button pButton pRipple label="Exporter" (click)="OnExportExcel()" icon="pi pi-download"class="p-button-helf"></button>
                </div>
                <div class="table_content_wrapper">
                  <div class="table_header">
                    <app-table-header [count]="listCurrentLevelDatas" [legende]="currentLevelMenus | titlecase" [page]="page" [totalPage]="totalPage"></app-table-header>
                  </div>
                  <table [ngClass]="['native_table table']">
                    <thead>
                      <th class="text-center" [style]="{width: '1.5rem'}">#</th>
                      <th>{{currentLevelLibelle}}</th>
                      <th class="text-center">{{parentLevelLibelle}}</th>
                      <th class="text-center" [style]="{width: '7rem'}">Actions</th>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let data of listCurrentLevelDatas | paginate: { itemsPerPage: recordsPerPage, currentPage: p, totalPages:totalPage, totalItems:totalRecords }; let i = index;">
                        <td>{{ (this.offset + i)}}</td>
                        <td (click)="copyData(data?.nom)" style="cursor: pointer">{{data?.nom}}</td>
                        <td class="text-center">{{data?.niveau_uns_nom}}</td>
                        <td class=" td-actions">
                          <button pButton icon="pi pi-eye" pTooltip="Voir" tooltipPosition="top"
                            (click)="onShowForm(data,content)" class="p-button-dark"></button>
                          <button pButton icon="pi pi-pencil" *ngIf="mappingService.IsAction()" pTooltip="Editer" tooltipPosition="top"
                            (click)="onEditForm(data,content)" class="p-button-secondary"></button>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div [ngClass]="['pagination-controls']">
                  <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="">
                  </pagination-controls>
                </div>
              </p-tabPanel>
              <p-tabPanel header="HISTORIQUE">
                <app-historique 
                   *ngIf="currentTabsIndex === 1" 
                  [module]="'STRUCTURE ORGANISATIONNELLE'"
                  [sous_module]="'NIVEAU DEUX'"
                  > 
              </app-historique>
              </p-tabPanel>
            </p-tabView>
          </div>
          <app-form-second-level [currentObject]="currentObject" *ngIf="formsView"
          (formsView)="pushStatutView($event)" (listCurrentLevelDatas)="pushListDatas($event)"></app-form-second-level>
        </div>
      </div>
    </div>
  </div>
</div>