<main class="container-fluid terms-use-container" role="main">
    <section class="row terms-use-row">
        <article class="col-sm-12 terms-use-article">
            <app-breadcrumb />

            <section class="card terms-use-card">
                <div class="card-body terms-use-card-body">
                    <header class="terms-use-header">
                        <app-page-title
                            class="page-title-component"
                            [displayDate]="false"
                            [title]="
                                'CONTENT_MANAGEMENT.TERMS_USE.TITLE'
                                    | translate
                                    | lowercase
                            "
                        ></app-page-title>
                    </header>

                    <div class="terms-use-content">
                        <app-filter
                            class="filter-component"
                            [isLoading]="loading()"
                            [formGroup]="form"
                            [fields]="filterFields()"
                            (filter)="onFilterClicked($event)"
                            [filterState]="facade.currentFilter$"
                            [limit]="5"
                        ></app-filter>

                        <hr class="terms-use-divider" />

                        <section class="table-section">
                            <app-table
                                class="table-component"
                                [loading]="loading()"
                                [items]="itemsVM()"
                                [pagination]="pagination()"
                                [config]="tableConfig"
                                [headerButtons]="headerButtons()"
                                (headerButtonClicked)="
                                    onHeaderButtonClicked($event)
                                "
                                (refreshRequested)="onRefreshClicked()"
                                (createRequested)="
                                    onHeaderButtonClicked($event)
                                "
                                (editRequested)="onNavigateToForm($event)"
                                (deleteRequested)="onDeleteClicked($event)"
                                (enableRequested)="onEnableClicked($event)"
                                (disableRequested)="onDisableClicked($event)"
                                dataKey="uniqId"
                            ></app-table>

                            <app-pagination
                                class="pagination-component"
                                [pagination]="pagination()"
                                (pageChange)="onChangePageClicked($event)"
                            ></app-pagination>
                        </section>
                    </div>
                </div>
            </section>
        </article>
    </section>
</main>
