.terms-use-container {
    //padding: 1.5rem;
}

.terms-use-card {
    border-radius: 1rem;
    box-shadow: 0 12px 32px rgba(15, 23, 42, 0.08);
}

.terms-use-card-body {
    //padding: 2rem;
}

.terms-use-header {
    margin-bottom: 0.7rem;
}
