<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-breadcrumb
                [title]="module | translate"
                [active_item]="subModule | translate"
            ></app-breadcrumb>
            <div class="card">
                <div class="card-body">
                    <ng-container *ngIf="!displayUrlErrorPage">
                        <div
                            class="details-header-wrapper"
                            style="margin-top: -2rem !important"
                        >
                            <div style="padding: 1.2rem 0 0.8rem 0">
                                <span class="table-header-wrapper">
                                    <b
                                        >{{ 'CAUSE_OF_COMPLAINT' | translate }}
                                    </b>
                                </span>
                            </div>

                            <div class="details-action-buttons">
                                <p-button
                                    [label]="'SAVE' | translate"
                                    styleClass="p-button-success"
                                    [disabled]="formClaim.invalid"
                                    (click)="handleSubmitFormClaims()"
                                ></p-button>
                                <p-button
                                    [label]="'CLOSE' | translate"
                                    styleClass="p-button-danger"
                                    (click)="closeInterface()"
                                ></p-button>
                            </div>
                        </div>

                        <form [formGroup]="formClaim">
                            <fieldset class="mb-4">
                                <legend>
                                    <b>{{ 'INFORMATION_CLAIM' | translate }}</b>
                                </legend>

                                <div class="row g-3">
                                    <div class="col-12 col-sm-12 col-md-4">
                                        <label class="form-label fw-bold">
                                            {{ 'DATE' | translate }}
                                            <span class="text-danger">*</span>
                                        </label>
                                        <p-datepicker
                                            formControlName="date_remise"
                                            [showIcon]="true"
                                            [placeholder]="'AAAA-MM-JJ'"
                                            dateFormat="yy-mm-dd"
                                            styleClass="w-100"
                                            style="width: 100% !important"
                                        ></p-datepicker>
                                    </div>

                                    <div class="col-12 col-sm-12 col-md-4">
                                        <label class="form-label fw-bold">
                                            {{ 'SLIP_ATTACHMENT' | translate }}
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input
                                            type="file"
                                            class="form-control"
                                            (change)="
                                                onChangeFile(
                                                    $event.target.files
                                                )
                                            "
                                            accept="image/png,image/jpeg"
                                        />
                                    </div>

                                    <div
                                        class="col-12 col-sm-12 col-md-4 d-flex align-items-end"
                                    >
                                        <p-button
                                            [label]="
                                                'LAST_SLIP_ATTACHMENT'
                                                    | translate
                                            "
                                            styleClass="p-button-success"
                                            pTooltip="Clique pour voir la taille normale"
                                            tooltipPosition="top"
                                            (click)="showFilePreview()"
                                        ></p-button>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>
                                    <b>{{
                                        'CAUSE_OF_COMPLAINT' | translate
                                    }}</b>
                                </legend>

                                <div class="row g-3">
                                    <div class="col-12">
                                        <input
                                            type="text"
                                            formControlName="motifs"
                                            pInputText
                                            class="form-control border-danger"
                                            [placeholder]="
                                                'COMMENT' | translate
                                            "
                                        />
                                    </div>
                                </div>
                            </fieldset>

                            <div class="d-flex justify-content-end mt-4">
                                <p-button
                                    [label]="'SAVE' | translate"
                                    styleClass="p-button-success"
                                    [disabled]="formClaim.invalid"
                                    (click)="handleSubmitFormClaims()"
                                ></p-button>
                            </div>
                        </form>
                    </ng-container>

                    <ng-container *ngIf="displayUrlErrorPage">
                        <div class="d-flex justify-content-end mb-3">
                            <p-button
                                [label]="'CLOSE' | translate"
                                styleClass="p-button-danger"
                                (click)="closeInterface()"
                            ></p-button>
                        </div>
                        <div class="text-center text-danger fs-5">
                            {{ 'NO_DATA_FOUND' | translate }}
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
