<div class="auth-container">
    <div class="logo-container">
        <a class="auth-logo" [routerLink]="['/', AUTH, LOGIN_ROUTE]">
            <img [src]="AUTH_LOGO" [alt]="APP_NAME" />
        </a>
    </div>

    <div class="success-card">
        <div class="card-content">
            <div class="success-icon">
                <i class="pi pi-check"></i>
            </div>
            <h1 class="success-title">
                {{ 'PASSWORD_RESET.SUCCESS.TITLE' | translate }}
            </h1>
            <p class="success-description">
                {{ 'PASSWORD_RESET.SUCCESS.DESCRIPTION' | translate }}
            </p>

            <div class="success-actions">
                <button
                    type="button"
                    class="submit-button"
                    (click)="goToLogin()"
                >
                    {{ 'PASSWORD_RESET.SUCCESS.LOGIN' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
