$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);

$color-primary: $primary-color;
$color-secondary: $secondary-color;
$color-tertiary: #ffffff;

$color-success: $success-color;
$color-error: $danger-color;
$color-warning: $warning-color;
$color-info: $info-color;
$color-black: #1d1d1b;
$color-white: #ffffff;
$color-gray: #878787;
$color-gray-light: #e0e0de;

.theme-primary {
    color: var(--theme-default) !important;
}

.theme-bg-primary {
    background-color: var(--theme-default) !important;
}

.theme-border-primary {
    border-color: var(--theme-default) !important;
}

.theme-secondary {
    color: var(--theme-secondary) !important;
}

.theme-bg-secondary {
    background-color: var(--theme-secondary) !important;
}

.theme-border-secondary {
    border-color: var(--theme-secondary) !important;
}

@mixin font-primary {
    font-family: $font-primary;
}

@mixin font-secondary {
    font-family: $font-secondary;
}

@mixin theme-color($property, $css-var) {
    #{$property}: var(#{$css-var});
}
