/* ---------------------
 *** Font ***
-----------------------*/

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Font.otf') format('woff'),
        url('../fonts/Helvetica-Font.otf') format('opentype'),
        url('../fonts/Helvetica-Font.otf') format('truetype');
}

/* ---------------------
 *** Vendors Scss ***
-----------------------*/

@import 'vendors/scrollable';
@import 'vendors/sticky';
@import 'vendors/todo';

/* Leaflet Map */
@import '~leaflet/dist/leaflet.css';

/* Ngx-owl-carousel-o */

@import '../../../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel.scss';
@import '../../../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.scss';
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

/* Toastr */

@import '/node_modules/ngx-toastr/toastr.css';
// Ngx-Tabset
@import '/node_modules/ngx-tabset/ngx-tabset.scss';

// overlay
@import '@angular/cdk/overlay-prebuilt.css';
@import '~@ng-select/ng-select/themes/default.theme.css';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

/* ---------------------
	*** Theme Scss ***
-----------------------*/

@import '~animate.css/animate.min.css';
@import '/node_modules/bootstrap/scss/bootstrap';
@import '../scss/vendors/themify.scss';
@import 'style';
@import 'responsive';

// @import "tailwindcss";