@import './utils/variables';

/*@@@@@@@@@@@@@@@@@@@@@@@@@Forms view Styles@@@@@@@@@@@@@@@@@@@@@@@@@*/

.p-dropdown,
.p-input,
.p-inputnumber,
.p-inputtext,
.p-password,
label {
    width: 100% !important;
}
/*debut: centrer les spinners et les messages des tableaux*/

.posRelative {
    position: relative;
    height: 100px;
}

.posCenter {
    position: absolute;
    left: 50%;
}

/*fin: centrer les spinners et les messages des tableaux*/
.form-error {
    color: #df0101 !important;
    font-weight: bold;
    font-style: italic;
}
.wrapper-sim-infos {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 19.8%);
}
.filter-button {
    height: 3rem !important;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.filter-button {
    margin-top: 1.8rem !important;
}

.filter_wrapper {
    padding-bottom: 0.5rem;
}

.table_actions_wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    border: none;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@Table Styles@@@@@@@@@@@@@@@@@@@@@@@@@*/
.table_header {
    display: flex;
    justify-content: space-between;

    &__legende {
        padding-top: 0.7rem;
    }
}

.p-datatable .p-datatable-header {
    border: none;
    background-color: transparent !important;
}

.p-datatable .p-datatable-thead > tr > th {
    border-right: 0.5px solid #fafafa;
    color: $white;
    background: $black;
}

.p-datatable .p-datatable-tbody > tr > td {
    border: 0.5px solid #dee2e6;
    padding: 0.1rem;

    button {
        height: 2.9rem;
    }
}

.td-actions {
    display: flex;
    justify-content: center;
    gap: 0.6rem;
}

.p-button-dark {
    background-color: $black;
    border: none;

    &:hover {
        background-color: $black !important;
    }
}

.p-paginator {
    justify-content: end !important;
}

//@@@@@@@@@@@@@@@@@@@@@

.forms-feature-header {
    display: flex;
    justify-content: space-between;
}

.forms-feature-footer {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

fieldset {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1.8rem;

    legend {
        background-color: $black;
        color: $white;
        font-size: 16px;
        padding: 9px 6px;
        border-radius: 5px;
        position: relative;
        margin-top: -2rem;
        width: 16rem !important;
        min-width: 12rem !important;
    }
}

fieldset .row:first-of-type {
    padding-top: 0rem !important;
}
fieldset .row:not(:first-child) {
    padding-top: 0.6rem;
}
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@TAB VIEW@@@@@@@@@@@@@@@@@@@@@@@@@*/

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background: $black;
    border-color: $white;
    color: $white;
}

.p-tabview .p-tabview-nav .p-tabview-nav-link {
    padding: 1em !important;
    font-size: 14px !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: $black;
    border-color: $white;
    color: $white;
}

.p-tabview .p-tabview-nav .p-tabview-ink-bar {
    z-index: 1;
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: $black;
    transition: 500ms cubic-bezier(0.35, 0, 0.25, 1);
}

/*@@@@@@@@@@@@@@@@@@@@@@@ BADGE @@@@@@@@@@@@@@@@@@@@@@@@@@*/

.badge {
    border-radius: 0.2rem;
}

.badge-dark {
    background-color: #000 !important;
    color: #fff;
}

.badge-dark-2 {
    background-color: #000 !important;
    color: #fff;
}

.badge-primary {
    background-color: #13a6f4 !important;
    color: #fff;
}

.badge-info {
    background-color: #1abc9c !important;
    color: #fff;
}

.badge-green {
    background-color: #51bb25 !important;
    color: #fff;
}

.badge-success {
    background-color: #51bb25 !important;
    color: #fff;
}

.badge-danger {
    background-color: #dc3545 !important;
    color: #fff;
}

.badge-warning {
    background-color: #ffaa05 !important;
    color: #fff;
}

.badge-warning-2 {
    background-color: #ffaa05 !important;
    color: #fff;
}

.current_values {
    color: #ff6600;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-weight: bold;
    text-decoration: underline;
}

.container_flex_space_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*@@@@@@@@@@@@@@@@@@@@DIALOGUE @@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: $black !important;
    color: $white !important;
    padding: 1rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
    width: 2rem;
    height: 2rem;
    color: #000;
    border: 0 none;
    background: #fff;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin-right: 0.5rem;
}

.p-radiobutton-disabled {
    .p-radiobutton .p-radiobutton-box {
        background: #ccc !important;
        font-weight: 800;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

::-webkit-input-placeholder,
.p-dropdown .p-dropdown-label.p-placeholder {
    color: #d8d8d8 !important;
}

/*Native Table*/

.native_table {
    margin-top: 0;
    margin-bottom: 1rem;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: 1rem;
    font-weight: normal;

    thead {
        background-color: #000000;

        th {
            padding: 0.9rem 0.7rem;
            font-weight: 700;
            color: white;
            border-right: 0.5px solid #fafafa;
        }
    }

    thead > tr > th {
        text-align: left;
        padding: 1.2rem;
        border: 1px solid #dee2e6;
        border-width: 0 0 1px 0;
        font-weight: 700;
        color: #ffffff !important;
        transition: box-shadow 0.2s;
    }

    tbody > tr > td {
        border: 1px solid #dee2e6;
        padding: 0.1rem 0.3rem;
        color: #495057;
        font-weight: 400;
        text-align: center;
        vertical-align: middle !important;
    }
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@Modal@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.modal-header {
    background-color: #000;

    h4 {
        text-transform: uppercase;
    }

    h4,
    button {
        color: #ffffff;
    }
}

.modal-content {
    ::-webkit-input-placeholder,
    .p-dropdown .p-dropdown-label.p-placeholder {
        color: #000 !important;
    }
}

.btn-save {
    background-color: #00b25f !important;
    color: #ffffff !important;
}

.btn-hide {
    background-color: #df013a !important;
    color: #ffffff !important;
}

.dropdown .dropdown-toggle {
    background-color: rgba(115, 102, 255, 0.08);
    color: #ff6600;
    border-radius: 6px !important;
    padding: 11px 22px !important;
    /* width: 100px; */
    text-align: center !important;
    font-size: 15px !important;
    font-weight: 600 !important;

    :hover {
        background-color: transparent !important;
    }
}

.dropdown-menu {
    --bs-dropdown-min-width: 6.5rem !important;
}

.dropdown .dropdown-toggle {
    color: #ffffff !important;
}

.dropdown .dropdown-toggle:after {
    top: 53% !important;
    right: 7px !important;
}

.disabled_radio {
    background: gainsboro;
    padding: 0 8px;
    line-height: -31p;
    border-radius: 4px;
}
