<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb
                [title]="module | translate"
                [active_item]="subModule | translate"
            ></app-breadcrumb>

            <div class="card">
                <div class="card-body">
                    <div style="margin-top: -2rem !important">
                        <app-patrimoine-header
                            [displayDate]="false"
                            [total]="(pagination$ | async)?.total"
                            [legendePluriel]="
                                'MOBILE_SUBSCRIPTIONS' | translate
                            "
                            [legendeSingulier]="
                                'MOBILE_SUBSCRIPTIONS' | translate
                            "
                        >
                        </app-patrimoine-header>
                    </div>

                    <div>
                        <app-filter-mobile-subscriptions
                            (filter)="filter($event)"
                            [filterData]="filterData"
                            [listApplicants$]="listApplicants$"
                            [listStepFolder]="listStepFolder"
                            [listStateFolder]="listStateFolder"
                        >
                        </app-filter-mobile-subscriptions>

                        <hr />

                        <app-table-mobile-subscriptions
                            [pagination$]="pagination$"
                            [listDemands$]="listDemands$"
                            [demandSelected]="demandSelected$ | async"
                            (interfaceUser)="navigateByUrl($event)"
                        >
                        </app-table-mobile-subscriptions>

                        <app-pargination
                            [pargination]="pagination$ | async"
                            (pageChange)="onPageChange($event)"
                        ></app-pargination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
