<p-table
    #dt
    [value]="queues()"
    [rowHover]="true"
    [rows]="(pagination$ | async)?.per_page"
    [globalFilterFields]="tableConfig.globalFilterFields"
    responsiveLayout="scroll"
    scrollable="true"
    scrollHeight="flex"
    data-testid="queues-table"
    role="grid"
    selectionMode="multiple"
    datakey="id"
>
    <ng-template pTemplate="caption">
        <div class="container-table-header">
            <app-table-title
                [count]="(pagination$ | async)?.total"
                [perPage]="(pagination$ | async)?.per_page"
                [page]="(pagination$ | async)?.current_page"
                [totalPage]="(pagination$ | async)?.last_page"
            />
            
            <div class="flex gap-2 items-center custom-header-actions mt-2 mt-md-0">
                <app-table-button-header
                    (export)="onExportExcel()"
                    (refresh)="onRefresh()"
                    [disabledButtonExport]="isLoading() || !hasData()"
                    [disabledButtonRefresh]="isLoading()"
                    [hiddenButtonOther]="true"
                />
                <app-search-table [dt]="dt" />
            </div>
        </div>
    </ng-template>
    
    <ng-template pTemplate="header">
        <tr role="row">
            @for (col of tableConfig.cols; track trackByColField($index, col)) {
            <th
                [class]="col.class"
                [style]="{
                    'min-width': col.width,
                    'width': col.width,
                    'text-align': 'center'
                }"
                role="columnheader"
                scope="col"
            >
                @switch (col.field) {
                    @case ('__selection') {
                        <div class="selection-header">
                            <p-inputNumber
                                [showButtons]="false"
                                [placeholder]="'Select count...'"
                                [min]="0"
                                [max]="queues().length"
                                inputMode="numeric"
                                [ngModel]="selectionInputValue()"
                                (ngModelChange)="handleSelectCount($event)"
                                (keydown.enter)="$event.target.blur()"
                                (keydown.escape)="clearSelection()"
                                [disabled]="!hasData() || isLoading()"
                            />
                        </div>
                    }
                    @default {
                        {{ col.header | translate }}
                    }
                }
            </th>
            }
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-queue let-rowIndex="rowIndex">
        <tr 
            role="row"
            [class.selected]="isItemSelected(queue)"
            [attr.aria-selected]="isItemSelected(queue)"
            (click)="handleRowClick($event, queue)"
            [class.cursor-pointer]="!isLoading()"
        >
            @for (col of tableConfig.cols; track trackByColField($index, col)) {
            <td
                [class]="col.class"
                [style]="{
                    'min-width': col.width,
                    'width': col.width
                }"
                role="gridcell"
            >
                @switch (col.field) {
                    @case ('__selection') {
                        <p-checkbox
                            [binary]="true"
                            [ngModel]="isItemSelected(queue)"
                            (onChange)="handleItemSelection(queue)"
                            [inputId]="'select-' + queue.uniqId"
                            [name]="'select-' + queue.uniqId"
                            [ariaLabelledBy]="'select-' + queue.uniqId"
                            [disabled]="isLoading()"
                            data-testid="item-checkbox-{{queue.uniqId}}"
                        />
                    }
                    
                    @case ('uniqId') {
                        <button
                            type="button"
                            (click)="copyToClipboard(queue.uniqId)"
                            class="copyable"
                            pTooltip="{{ 'COPY' | translate }}"
                            tooltipPosition="bottom"
                        >
                            <span class="id-text">{{ queue.uniqId }}</span>
                            <i class="pi pi-copy" aria-hidden="true"></i>
                        </button>
                    }

                    @case ('reportType') {
                        <div 
                            [pTooltip]="queue.reportDescription | translate"
                            tooltipPosition="bottom"
                            showDelay="500"
                            hideDelay="300">
                            {{ queue.reportType }}
                        </div>
                    }

                    @case ('operators') {
                        <div class="tag-group" *ngIf="queue.operators?.length; else noOperators">
                            @for (operator of queue.operators; track trackByOperator($index, operator)) {
                                <p-tag
                                    [value]="getOperatorLabel(operator)"
                                    [style]="getOperatorTagStyle(operator)"
                                    styleClass="operator-tag"
                                />
                            }
                        </div>
                        <ng-template #noOperators>
                            <span class="no-data">-</span>
                        </ng-template>
                    }

                    @case ('createdAt') {
                        <time [attr.datetime]="queue.createdAt">
                            {{ formatDate(queue.createdAt) }}
                        </time>
                    }

                    @case ('source') {
                        <div
                            [pTooltip]="queue.sourceDescription | translate"
                            tooltipPosition="bottom"
                            showDelay="500"
                            hideDelay="300"
                            [tooltipStyleClass]="'custom-tooltip'"
                            class="source-type-content"
                        >
                            {{ queue.source }}
                        </div>
                    }
                    
                    @case ('__action') {
                        <div (onKeyPress)="$event.stopPropagation()" class="action-group">
                            <button
                                type="button"
                                pButton
                                icon="pi pi-window-maximize"
                                (click)="onActionClicked(queue)"
                                [pTooltip]="getTakeTooltip(queue)"
                                tooltipPosition="bottom"
                                [disabled]="isLoading()"
                                size="small"
                                class="action-btn"
                            ></button>
                            <!-- <button
                                type="button"
                                pButton
                                severity="info"
                                icon="pi pi-check-circle"
                                (click)="onTakeClicked(queue)"
                                [pTooltip]="getTakeTooltip(queue)"
                                tooltipPosition="bottom"
                                [disabled]="isLoading()"
                                size="small"
                                class="action-btn p" 
                            ></button> -->
                        </div>
                    }
                    
                    @default {
                        {{ queue[col.field] || '-' }}
                    }
                }
            </td>
            }
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        @if (!isLoading()) {
            <tr role="row" class="loading-table">
                <td [attr.colspan]="tableConfig.cols.length" role="gridcell">
                    <div class="empty-state text-center">
                        {{ 'NO_DATA_FOUND' | translate }}
                    </div>
                </td>
            </tr>
        }
        @if (isLoading()) {
            <tr role="row" class="loading-table">
                <td [attr.colspan]="tableConfig.cols.length">
                        <p-progressSpinner
                            class="posCenter"
                            [style]="{ width: '40px', height: '50px' }"
                            styleClass="custom-spinner"
                            strokeWidth="8"
                            fill="#EEEEEE"
                            animationDuration=".5s"
                        >
                        </p-progressSpinner>
                </td>
            </tr>
        }
    </ng-template>
</p-table>