<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb
                [title]="module | translate"
                [active_item]="subModule | translate"
            ></app-breadcrumb>
            <div class="card">
                <div class="card-body">
                    <div style="margin-top: -2rem !important">
                        <app-patrimoine-header
                            [displayDate]="false"
                            [displayList]="false"
                            [total]="(pagination$ | async)?.total"
                            [legendePluriel]="
                                ('MY_ACCOUNT' | translate)
                            "
                            [legendeSingulier]="
                                ('MY_ACCOUNT' | translate)
                            "
                        >
                        </app-patrimoine-header>
                    </div>

                    <div>
                        <app-filter-my-account
                            (filter)="filter($event)"
                            [listOperations]="listOperations"
                        >
                        </app-filter-my-account>

                        <hr />

                        <app-table-my-account
                            [spinner]="spinner"
                            [pagination$]="pagination$"
                            [listAccount$]="listAccount$"
                            (interfaceUser)="navigateByUrl($event)"
                        >
                        </app-table-my-account>

                        <app-pargination
                            [pargination]="pagination$ | async"
                            (pageChange)="onPageChange($event)"
                        ></app-pargination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
