image: node:18

stages:
  - notify
  - build_and_deploy
  - deploye_on_server

#before_script:
 # - npm install -g pnpm

notify_slack_push:
  stage: notify
  script:
    - npm install -g pnpm
    - pnpm add axios
    - node scripts/send-notifications.js
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
  variables:
    SLACK_WEBHOOK_URL: $SLACK_WEBHOOK_URL
    GITLAB_EVENT: 'push'
    GITLAB_USER_NAME: $GITLAB_USER_NAME
    CI_COMMIT_REF_NAME: $CI_COMMIT_REF_NAME
    CI_PROJECT_URL: $CI_PROJECT_URL

notify_slack_merge_request_created:
  stage: notify
  script:
    - npm install -g pnpm
    - pnpm add axios
    - node scripts/send-notifications.js
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  variables:
    SLACK_WEBHOOK_URL: $SLACK_WEBHOOK_URL
    GITLAB_EVENT: 'created'
    GITLAB_USER_NAME: $GITLAB_USER_NAME
    CI_PROJECT_URL: $CI_PROJECT_URL
    CI_MERGE_REQUEST_IID: $CI_MERGE_REQUEST_IID
    CI_MERGE_REQUEST_TITLE: $CI_MERGE_REQUEST_TITLE

build_and_deploy:
  stage: build_and_deploy
  script:
    - npm install -g pnpm
    #- |
     # if [ ! -f VERSION ]; then
      #  echo "0.0.0" > VERSION
     # fi
      #VERSION=$(cat VERSION)
      #IFS='.' read -r major minor patch <<< "$VERSION"
      #NEW_VERSION="$major.$minor.$((patch + 1))"
      #echo $NEW_VERSION > VERSION
    - pnpm install
    - pnpm run build:prod
    - apt-get update && apt-get install -y unzip zip groff less
    #- zip -r patrimoine-sim-tenant_v${NEW_VERSION}.zip dist/
    - zip -r patrimoine-sim-tenant.zip dist/
    - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
    - unzip awscliv2.zip
    - ./aws/install
    #- aws s3 cp patrimoine-sim-tenant_v${NEW_VERSION}.zip s3://$S3_BUCKET/patrimoine-sim-tenant_v${NEW_VERSION}/
    - aws s3 cp patrimoine-sim-tenant.zip s3://$S3_BUCKET/
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_REF_NAME == "main"'
  variables:
    AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
    AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
    S3_BUCKET: $S3_BUCKET
include:
  - project: 'imako-frontend/patrimoine_sim_aws_frontend_deploye'
    ref: main
    file: '/.gitlab-ci.yml'
    
