<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb />
            <div class="card">
                <div class="card-body">
                    <div style="margin-top: -2rem !important">
                        <app-page-title
                            [displayDate]="false"
                            [title]="
                                'COMMERCIAL_ENTERPRISE' | translate | lowercase
                            "
                        >
                        </app-page-title>
                    </div>

                    <div class="fade-in">
                        <app-filter-commercial-enterprises
                            (filter)="filter($event)"
                            [listCommercialEnterprisesStep]="
                                listCommercialEnterprisesStep
                            "
                        >
                        </app-filter-commercial-enterprises>

                        <hr />

                        <app-table-commercial-enterprises
                            [spinner]="spinner"
                            [pagination$]="pagination$"
                            [listCommercialEnterprises$]="
                                listCommercialEnterprises$
                            "
                            (interfaceUser)="navigateByUrl($event)"
                        >
                        </app-table-commercial-enterprises>

                        <!-- <app-pagination
                            [pagination$]="pagination$"
                            (pageChange)="onPageChange($event)"
                        ></app-pagination> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
