<div>
    <div class="forms-feature-header">
        <div>
            <h4>
                <b *ngIf="currentObject === undefined">
                    <span>Formulaire d'ajout Usage</span>
                </b>
                <b *ngIf="currentObject !== undefined && !currentObject?.show">
                    <span>Modification d'usage</span>
                    <span class="current_values"
                        >[{{ currentObject?.nom_usage }}]</span
                    >
                </b>
                <b *ngIf="currentObject?.show">
                    <span>Visualisation d'usage</span>
                    <span class="current_values"
                        >[{{ currentObject?.nom_usage }}]</span
                    >
                </b>
            </h4>
        </div>
        <div
            class="forms-feature-header__button"
            [ngStyle]="{ display: 'flex', gap: '1rem' }"
        >
            <div *ngIf="!currentObject?.show">
                <p-button
                    label="Enregistrer"
                    [disabled]="!adminForm.valid"
                    styleClass="p-button-success"
                    (click)="!currentObject ? handleSave() : handleUpdate()"
                ></p-button>
            </div>
            <div>
                <p-button
                    label="Fermer"
                    styleClass="p-button-danger"
                    (click)="close()"
                ></p-button>
            </div>
        </div>
    </div>
    <hr *ngIf="!currentObject?.show" />
    <!--------------------------FORMS-------------------------->
    <div *ngIf="!currentObject?.show" style="margin-top: 3rem">
        <div [formGroup]="adminForm" novalidate>
            <fieldset>
                <legend>
                    <b>Informations Usage</b>
                </legend>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                <b
                                    >Nom Usage<span class="text-danger"
                                        >*</span
                                    ></b
                                >
                            </label>
                            <input
                                type="text"
                                [ngStyle]="{ width: '100%' }"
                                formControlName="nom_usage"
                                pInputText
                            />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>
                                <b
                                    >Description<span class="text-danger"
                                        >*</span
                                    ></b
                                >
                            </label>
                            <input
                                type="text"
                                [ngStyle]="{ width: '100%' }"
                                formControlName="description"
                                pInputText
                            />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="forms-feature-footer">
            <p-button
                label="Enregistrer"
                [label]="
                    currentObject === undefined ? 'Enregistrer' : 'Modifier'
                "
                [disabled]="!adminForm.valid"
                styleClass="p-button-success"
                (click)="!currentObject ? handleSave() : handleUpdate()"
            ></p-button>
        </div>
    </div>
    <div *ngIf="currentObject?.show">
        <p-tabView (onChange)="currentTabsIndex = $event.index">
            <p-tabPanel header="IDENTIFICATION">
                <div [formGroup]="adminForm" novalidate>
                    <fieldset>
                        <legend>
                            <b>Informations Usage</b>
                        </legend>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <b>Nom Usage</b>
                                    </label>
                                    <input
                                        type="text"
                                        [ngStyle]="{ width: '100%' }"
                                        formControlName="nom_usage"
                                        pInputText
                                    />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>
                                        <b>Description</b>
                                    </label>
                                    <input
                                        type="text"
                                        [ngStyle]="{ width: '100%' }"
                                        formControlName="description"
                                        pInputText
                                    />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </p-tabPanel>
            <p-tabPanel header="HISTORIQUE">
                <ng-container *ngIf="currentTabsIndex === 1">
                    <app-history
                        [typeModel]="'usages'"
                        [idModel]="currentObject?.id"
                    >
                    </app-history>
                </ng-container>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
