<p-table
    #dt
    [value]="listProfilesAuthorizations$ | async"
    [rowHover]="true"
    dataKey="id"
    selectionMode="single"
    [(selection)]="profilesAuthorizationsSelected"
    [rows]="nbDataPerPage"
    [scrollable]="true"
    [globalFilterFields]="table.globalFilterFields"
    responsiveLayout="scroll"
    scrollable="true"
    scrollHeight="flex"
    width="100%"
    class="responsive-claims-table"
>
    <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between flex-wrap align-items-start">
            <app-table-title
                [count]="(listProfilesAuthorizations$ | async)?.length"
                [perPage]="nbDataPerPage"
            >
            </app-table-title>
            <div
                class="d-flex gap-2 align-items-center custom-header-actions mt-2 mt-md-0"
            >
                <app-table-button-header
                    (refresh)="pageCallback()"
                    (export)="onExportExcel()"
                    [disabledButtonExport]="
                        (listProfilesAuthorizations$ | async)?.length === 0
                    "
                    (other)="
                        handleAction({
                            data: null,
                            action: PROFILES_AUTHORIZATIONS_BUTTONS_ACTIONS_ENUM.ADD,
                            view: 'page'
                        })
                    "
                    [hiddenButtonOther]="false"
                    [labelOther]="'CREATE' | translate"
                    [iconOther]="'pi pi-plus'"
                >
                </app-table-button-header>
                <app-search-table [dt]="dt"></app-search-table>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{
                    minWidth: col.width,
                    width: col.width,
                    textAlign: 'center'
                }"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'Date / Heure'">
                        {{ 'DATE_TIME' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Nom du profil'">
                        {{ 'NAME_OF_THE_PROFILE' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Description du profile'">
                        {{
                            'DESCRIPTION_OF_THE_PROFILE'
                                | translate
                                | capitalize
                        }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'# Uilisateurs'">
                        # {{ 'USERS' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Statut'">
                        {{ 'STATE' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Date Etat'">
                        {{ 'UPDATED_DATE' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{ col.header }}
                    </ng-container>
                </ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-item>
        <tr [pSelectableRow]="item">
            <td
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{ minWidth: col.width, width: col.width }"
                [attr.data-label]="col.header"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'#'">
                        {{ rowIndex + 1 }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Nom'">
                        <span
                            (click)="copyToClipboard(item?.[col.field])"
                            [pTooltip]="'COPY' | translate"
                            tooltipPosition="bottom"
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'# Uilisateurs'">
                        <button
                            pButton
                            pRipple
                            pTooltip="Visualiser"
                            tooltipPosition="top"
                            [label]="'Visualiser' (item?.[col.field])"
                            class="p-button"
                            (click)="onViewVisualisation(data)"
                            [disabled]="item?.[col.field] === 0 || item?.[statut] === PROFILES_AUTHORIZATIONS_STATE_ENUM.INACTIVE"
                        ></button>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Statut'">
                        <span
                            [ngStyle]="{ 'font-size': '16px' }"
                            [class]="'badge ' + getStateBadge(item)"
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Actions'">
                        <button
                            pButton
                            tooltipPosition="top"
                            [pTooltip]="
                                handleActionButtonSeeMoreStyle(item)?.tooltip
                            "
                            [ngClass]="
                                handleActionButtonSeeMoreStyle(item)?.class
                            "
                            [icon]="handleActionButtonSeeMoreStyle(item)?.icon"
                            [disabled]="
                                handleActionButtonSeeMoreStyle(item)?.class ===
                                'p-button-secondary'
                            "
                            (click)="
                                handleAction({
                                    data: item.id,
                                    action: PROFILES_AUTHORIZATIONS_BUTTONS_ACTIONS_ENUM.SEE,
                                    view: 'page'
                                })
                            "
                        ></button
                        >&nbsp;
                        <button
                            pButton
                            tooltipPosition="top"
                            [pTooltip]="
                                handleActionButtonEditStyle(item)?.tooltip
                            "
                            [ngClass]="handleActionButtonEditStyle(item)?.class"
                            [icon]="handleActionButtonEditStyle(item)?.icon"
                            (click)="
                                handleAction({
                                    data: item.id,
                                    action: PROFILES_AUTHORIZATIONS_BUTTONS_ACTIONS_ENUM.EDIT,
                                    view: 'modal'
                                })
                            "
                        ></button
                        >&nbsp;
                        <!-- <button pButton tooltipPosition="top" [pTooltip]="handleActionButtonAffectStyle(item)?.tooltip"
              [ngClass]="handleActionButtonAffectStyle(item)?.class"
              [icon]="handleActionButtonAffectStyle(item)?.icon"
              [disabled]="handleActionButtonAffectStyle(item)?.class === 'p-button-secondary'" 
              (click)="handleAction({data : item.id, action: item.traitement === PROFILES_AUTHORIZATIONS_PAYMENT_STATE_ENUM.AFFECT ? 
                PROFILES_AUTHORIZATIONS_BUTTONS_ACTIONS_ENUM.INVOICE : 
                PROFILES_AUTHORIZATIONS_BUTTONS_ACTIONS_ENUM.PAYMENT, view: 'page'})">
            </button>&nbsp; -->
                        <button
                            pButton
                            tooltipPosition="top"
                            [pTooltip]="
                                handleActionButtonAffectStyle(item)?.tooltip
                            "
                            [ngClass]="
                                handleActionButtonAffectStyle(item)?.class
                            "
                            [icon]="handleActionButtonAffectStyle(item)?.icon"
                            [disabled]="
                                handleActionButtonAffectStyle(item)?.class ===
                                'p-button-secondary'
                            "
                            (click)="
                                handleAction({
                                    data: item.id,
                                    action: PROFILES_AUTHORIZATIONS_BUTTONS_ACTIONS_ENUM.AFFECT,
                                    view: 'page'
                                })
                            "
                        ></button
                        >&nbsp;
                        <!-- <button pButton tooltipPosition="top" pTooltip="{{'NEWSPAPER' | translate}} {{item?.numero_demande}}" class="p-button-primary"
              icon="pi pi-book"
              (click)="handleAction({data : item, action: PROFILES_AUTHORIZATIONS_BUTTONS_ACTIONS_ENUM.NEWSPAPER, view: 'modal'})">
            </button> -->
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{item?.[col.field]}}
                    </ng-container>
                </ng-container>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr
            *ngIf="
                (listProfilesAuthorizations$ | async)?.length <= 0 && !spinner
            "
            class="loading-table"
        >
            <td class="posRelative" colspan="15">
                <span class="posCenter">
                    {{ 'NO_DATA_FOUND' | translate }}
                </span>
            </td>
        </tr>
        <tr *ngIf="spinner" class="loading-table">
            <td class="posRelative" colspan="15">
                <p-progressSpinner
                    class="posCenter"
                    [style]="{ width: '40px', height: '50px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="#EEEEEE"
                    animationDuration=".5s"
                >
                </p-progressSpinner>
            </td>
        </tr>
    </ng-template>
</p-table>
