<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-breadcrumb [title]="module" [active_item]="subModule"></app-breadcrumb>
      <div class="card">
        <div class="card-body">
          <div *ngIf="initialView">
            <app-demande-wrapper
              [selectedOperation]="currentOperation"
              [wrapperLabel]="'Demandes Activations'"
              (formsView)="pushStatutView($event)"
              (transactionId)="pushTransactionId($event)"
              (typeDemande)="pushTypeDemande($event)"
              [isMasse]="false"
              [listTransactions]="listTransactions"
              ></app-demande-wrapper>
          </div>
          <div *ngIf="showView">
            <app-demande-wrapper-show
              [transactionId]="transactionId"
              [selectedOperation]="currentOperation"
              [wrapperLabel]="'Demandes Activations'"
              (showView)="pushStatutShowView($event)"
              ></app-demande-wrapper-show>
          </div>
          <app-transaction-form 
          [currentObject]="currentObject"
          [currentSelectedActionValue]="currentOperation"
          [typeDemande]="typeDemande" 
           *ngIf="formsView" (formsView)="pushStatutView($event)"
          (listTransactions)="pushListTransactions($event)"></app-transaction-form>
        </div>
        </div>
      </div>
    </div>
</div>
