<div
    class="image-upload-container"
    [class.has-error]="hasError()"
    [class.has-file]="hasImage()"
    [class.is-disabled]="disabled()"
>
    <input
        #fileInput
        type="file"
        class="file-input-hidden"
        [accept]="acceptAttribute()"
        [disabled]="disabled()"
        (change)="onFileChange($event)"
    />

    @if (isIdle()) {
        <button
            type="button"
            class="upload-idle-state"
            (click)="openFilePicker()"
        >
            <i class="pi pi-cloud-upload"></i>
            <p class="mb-0">
                Formats: {{ displayFormats() }} — Max: {{ maxSizeMb() }} Mo
            </p>
        </button>
    }

    @if (hasImage()) {
        <div class="upload-selected-state">
            <img
                [src]="previewUrl()"
                alt=""
                class="img-thumbnail"
                (onClick)="openFilePicker()"
            />

            <div>
                <span>{{ fileName() }}</span>
                <span>{{ fileSizeMb() }}</span>
            </div>

            <div class="button-container">
                <p-button
                    icon="pi pi-eye"
                    severity="contrast"
                    (click)="openPreview()"
                ></p-button>
                <p-button
                    icon="pi pi-trash"
                    severity="danger"
                    (click)="clearFile($event)"
                ></p-button>
            </div>
        </div>
    }

    @if (hasError()) {
        <div class="upload-error-state">
            <p>Erreur</p>
            <button
                pButton
                icon="pi pi-refresh"
                (click)="openFilePicker()"
            ></button>
        </div>
    }
</div>
