<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb [title]="module" [active_item]="subModule"></app-breadcrumb>
            <div class="card">
                <div class="card-body">
                    <div style="margin-top: -2rem !important">

                        <div class="d-flex justify-content-between">

                            <app-patrimoine-header [displayDate]="false" [count]="listSim" [total]="pargination.total"
                                [legendePluriel]="'SIM en file d\'attente'"
                                [legendeSingulier]="'SIM en file d\'attente'">
                            </app-patrimoine-header>

                            <span class="current-transaction-label" style="display: flex; align-items: center;">Sur les 90 derniers jours</span>
                            
                        </div>

                    </div>

                    <div>

                        <div class="container-box">
                            <app-statistique-box *ngFor="let box of statistiquesBox" class="col-md"
                                [cardBgColor]="box?.['cardBgColor']"
                                [cardBorderColor]="box?.['cardBorderColor'] ?? '#FFF'" [legend]="box?.['legend']"
                                [count]="box?.['count']" [legendColor]="box?.['legendColor'] ?? '#FFF'"
                                [countColor]="box?.['countColor'] ?? '#FFF'" [taux]="box?.['taux']">
                            </app-statistique-box>
                        </div>

                        <app-filter-file-attente (filter)="filter($event)" [filterData]="filterData">
                        </app-filter-file-attente>

                        <hr />

                        <app-table-file-attente [spinner]="spinner" [selectedSim]="selectedSim"
                            [pargination]="pargination" [listSim]="listSim">
                        </app-table-file-attente>
          
                      <app-pargination [pargination]="pargination" (pageChange)="onPageChange($event)">
                      </app-pargination>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>