<!-- Page Header Start-->
<div class="page-header" [class.close_icon]="navServices.collapseSidebar">
    <div class="header-wrapper row m-0" *ngIf="statutLayout()">
        <div
            class="col col-12 horizontal-wrapper pl-0"
            style="display: flex; justify-content: space-between"
        >
            <div style="display: flex; gap: 1rem">
                <div>
                    <img
                        class="img-fluid"
                        [src]="logoTenant"
                        style="height: 3rem; margin-top: 0rem"
                        alt=""
                    />
                </div>
                <!-- <div>
                    <h3
                        style="
                            font-weight: bold;
                            font-size: 24px;
                            position: relative;
                        "
                    >
                        <span class="legende">
                            <b>{{ nom_tenant }}</b>
                        </span>
                    </h3>
                </div> -->
            </div>
            <!-- <div
                *ngIf="nom_application === patrimoineType"
                style="display: flex; gap: 2rem"
            >
                <div class="box-card">
                    <span class="title">Solde Data Global (Go) :</span>
                    <span class="valeur">
                        <span>{{ soldeGlobal | formatNumber: 2 || '0' }}</span>
                    </span>
                </div>
                <div class="box-card">
                    <span class="title">Ligne Crédit (FCFA) :</span>
                    <span class="valeur">
                        <span>{{ pipeValue(ligneCreditGlobal || '0') }}</span>
                    </span>
                </div>
            </div> -->
            <div class="nav-right" style="margin-top: 0.4rem">
                <ul class="nav-menus">
                    <li class="profile-nav onhover-dropdown">
                        <app-my-account></app-my-account>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="navbar m-0" [hidden]="statutLayout()">
        <div
            class="container-fluid d-flex justify-content-between align-items-center flex-wrap px-3 py-2 mr-10"
        >
            <div class="d-flex align-items-center gap-3">
                <img
                    class="img-fluid sidebar-logo"
                    [src]="logoTenant"
                    alt="Logo"
                />
                <!-- <h3 class="sidebar-tenant mb-0">
                    <span class="legende"
                        ><b>{{ nom_tenant }}</b></span
                    >
                </h3> -->
            </div>

            <div class="d-flex gap-4 align-items-center">
                <div style="padding-top: 0.5rem">
                    <i
                        class="pi pi-refresh header-icon"
                        title="Rafraîchir"
                        (click)="handleRefreshNotification()"
                    ></i
                    >&nbsp;
                    <i
                        class="pi pi-bell header-icon"
                        pBadge
                        [value]="
                            (notificationCount$ | async) == 0
                                ? ''
                                : (notificationCount$ | async)
                        "
                        severity="{{
                            (notificationCount$ | async) ? 'danger' : ''
                        }}"
                        (click)="OnGoNotif()"
                        title="Notifications"
                    ></i>
                </div>
                <div>
                    <ul class="nav-menus mb-0">
                        <li class="profile-nav onhover-dropdown p-0">
                            <app-my-account></app-my-account>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- <nav class="navbar m-0" [hidden]="statutLayout()">
    <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap px-3 py-2">

        <div class="d-flex align-items-center gap-3">
            <img class="img-fluid sidebar-logo" [src]="logoTenant" alt="Logo" />
            <h3 class="sidebar-tenant mb-0">
                <span class="legende"><b>{{ nom_tenant }}</b></span>
            </h3>
        </div>

        <div class="d-flex align-items-center gap-4 mt-3 mt-md-0">
            <i class="pi pi-bell text-3xl notification-icon" *ngIf="countNotify > 0" pBadge [value]="countNotify"
                severity="danger" (click)="OnGoNotif()"></i>
            <ul class="nav-menus mb-0">
                <li class="profile-nav onhover-dropdown p-0">
                    <app-my-account></app-my-account>
                </li>
            </ul>
        </div>

    </div>
</nav> -->

<!-- Page Header Ends -->
