<!-- Page Header Start-->
<div class="page-header" [class.close_icon]="navServices.collapseSidebar">
    <div class="header-wrapper row m-0" *ngIf="statutLayout()">
        <div
            class="col col-12 horizontal-wrapper pl-0"
            style="display: flex; justify-content: space-between"
        >
            <div style="display: flex; gap: 1rem">
                <div>
                    <img
                        class="img-fluid"
                        [src]="logoTenant"
                        style="height: 3rem; margin-top: 0rem"
                        alt=""
                    />
                </div>
                <div>
                    <h3
                        style="
                            font-weight: bold;
                            font-size: 24px;
                            position: relative;
                        "
                    >
                        <span class="legende">
                            <b>{{ appName }}</b>
                        </span>
                    </h3>
                </div>
            </div>
            <div
                *ngIf="applicationType === patrimoineType"
                style="display: flex; gap: 2rem"
            >
                <div class="box-card">
                    <span class="title">Solde Data Global (Go) :</span>
                    <span class="valeur">
                        <span>{{ soldeGlobal | formatNumber: 2 || '0' }}</span>
                    </span>
                </div>
                <div class="box-card">
                    <span class="title">Ligne Crédit (FCFA) :</span>
                    <span class="valeur">
                        <span>{{ pipeValue(ligneCreditGlobal || '0') }}</span>
                    </span>
                </div>
            </div>
            <div class="nav-right" style="margin-top: 0.4rem">
                <ul class="nav-menus">
                    <li class="profile-nav onhover-dropdown">
                        <app-my-account></app-my-account>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-wrapper m-0" [hidden]="statutLayout()">
        <div style="display: flex; justify-content: space-between">
            <div class="left-header">
                <div>
                    <div class="d-flex gap-3">
                        <div>
                            <img
                                class="img-fluid"
                                [src]="logoTenant"
                                style="margin-top: 0rem"
                                alt=""
                            />
                        </div>
                        <div>
                            <h3
                                style="
                                    font-weight: bold;
                                    font-size: 24px;
                                    position: relative;
                                "
                            >
                                <span class="legende">
                                    <b>{{ appName }}</b>
                                </span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div
                *ngIf="applicationType === patrimoineType"
                style="display: flex; gap: 2rem"
            >
                <div class="box-card">
                    <span class="title">Solde Data Global (Go) :</span>
                    <span class="valeur">
                        <span>{{ soldeGlobal | formatNumber: 2 }}</span>
                    </span>
                </div>
                <div class="box-card">
                    <span class="title">Ligne Crédit (FCFA) :</span>
                    <span class="valeur">
                        <span>{{ pipeValue(ligneCreditGlobal || '0') }}</span>
                    </span>
                </div>
            </div>
            <div class="d-flex gap-4 nav-right pull-right right-header p-2">
                <div style="padding-top: 0.9rem">
                    <i
                        class="pi pi-bell text-3xl"
                        *ngIf="countNotify > 0"
                        pBadge
                        [value]="countNotify"
                        severity="danger"
                        (click)="OnGoNotif()"
                        style="
                            font-size: 1.4rem;
                            line-height: 1.5;
                            cursor: pointer;
                        "
                    ></i>
                </div>
                <ul class="nav-menus">
                    <li class="profile-nav onhover-dropdown p-0">
                        <app-my-account></app-my-account>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page Header Ends -->
