:host ::ng-deep .p-inputnumber {
    width: 21.6rem !important;
}

.modal-content {
    width: 100vw !important;
    height: 100vh !important;
    overflow-y: inherit;
    overflow-x: hidden;
    position: fixed;
    right: 0 !important;
    left: 0 !important;
    //top: 0;
    z-index: 1300 !important;
    background: #F8F8F8;
    padding-bottom: 1rem;
    margin-top: -30rem;

}

.close {
    background-color: transparent;
    border-color: transparent !important;

    span {
        color: #fff;
        font-size: 35px;
    }
}

.modal-content {
    background: #F8F8F8;
}

.modal-backdrop {
    z-index: 1200 !important;
}

:host ::ng-deep {
    .p-dropdown {
        width: 100% !important;
    }
}

.modal-backdrop {
    z-index: 1200 !important;
}

// input {
//     width: auto;
// }

.ml-70px {
    text-align: center;
}

.list-group-item {
    background: #DEEDE1 !important;
    color: #000;
    border: 1px solid #fff !important;
}

.list-group-item.active {
    background: #E6ED41 !important;
    color: #000;
    font-weight: 700;
    border: 1px solid #fff !important;
}

.last-ofa {
    background: #DEEDE1 !important;
    color: #000;
    border: 1px solid #fff !important;
}

.last-ofa.active {
    background: #E6ED41 !important;
    color: #fff;
    border: 1px solid #fff !important;
}

.list-group-item {
    font-size: 18px !important;
    text-align: center;
    // width: 190px !important;
    border-top: 1px solid #DFDFDF !important;
}

.alarme-value {
    display: flex;
    align-items: center;
}

.vl {
    border-left: 1px solid #DFDFDF;
    height: 600px;
    position: absolute;
    margin-left: 225px;
    top: 0;
}

.table_details thead th {
    position: sticky;
    top: 0;
    background: #F2F2F2;
    color: #000;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.ngx-datatable.bootstrap .datatable-header .datatable-header-cell .datatable-header-cell-label {
    font-weight: 800;
}

hr {
    background-color: #000;
    padding: 0;
}

hr.hr-1 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.mt-10 {
    margin-top: 10px !important;
}

.bg_light_green {
    background-color: #fff !important;
}

fieldset {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

%messageAlert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
}

.styleForCodeRapport100 {
    @extend %messageAlert;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.styleForCodeRapportDifferentTo100 {
    @extend %messageAlert;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Stepper CSS */


/* Steps */

.step {
    position: relative;
    min-height: 3.3em;
    color: gray;
}

.step+.step {
    margin-top: 1.5em
}

.step>div:first-child {
    position: static;
    height: 0;
}

.step>div:not(:first-child) {
    margin-left: 1.5em;
    padding-left: 1em;
}

.step.step-active {
    color: #50C878
}

.step.step-active.pending {
    color: #F39C12
}

.step.step-active .circle {
    background-color: #50C878;
}

.step.step-active.pending .circle {
    background-color: #F39C12;
}


/* Circle */

.circle {
    background: gray;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 0 3px #fff;
}


/* Vertical Line */

.circle:after {
    content: ' ';
    position: absolute;
    display: block;
    top: 1px;
    right: 50%;
    bottom: 1px;
    left: 50%;
    height: 100%;
    width: 1px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.step:last-child .circle:after {
    display: none
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}


/* Stepper Titles */

.title {
    line-height: 1.5em;
    font-weight: bold;
}

.caption {
    font-size: 0.8em;
}

.line-proposition {
    border-left: 1px solid #000;
    height: 250px;
    opacity: 0.2;
}

input[type="text"]:disabled {
    background-color: #ecf0f1;
}

table thead th {
    font-size: 13px !important;
    color: #000 !important;
}

.text-red {
    color: red !important;
    font-weight: 800;
}

.text-green {
    color: #2ecc71 !important;
    font-weight: 800;
}

.pending-text {
    color: #F39C12 !important;
}

.row_foyers {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    display: grid;
    gap: 1rem;
    margin-top: 1.5rem;

    div {
        width: 100%;
    }
}

.wrapper-evaluation {
    .block-checked {
        width: 20rem;
        border: 1px solid #D0D3DA;
        border-radius: 5%;
    }

    .wrapper-check {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;

        input {
            width: 25px;
            height: 25px;
            cursor: pointer !important;
        }

        label {
            font-size: 25px;
            margin-left: 0.5rem;
        }
    }
}

::-webkit-input-placeholder,
.p-dropdown .p-dropdown-label.p-placeholder {
    color: #D8D8D8 !important;
}