<section class="card newspapers-card">
    <div class="card-body newspapers-card-body">
        <header class="newspapers-header">
            <app-page-title class="page-title-component"
                [displayDate]="false"
                [title]="
                    'MANAGEMENT.NEWSPAPERS.TITLE' | translate | lowercase
                "
            >
            </app-page-title>
        </header>

        <div class="fade-in newspapers-content">
            <!--  <app-filter-newspapers
                class="filter-component"
                (filter)="filter($event)"
            >
            </app-filter-newspapers> -->

            <hr class="newspapers-divider" />

            <section
                class="table-section"
                [aria-label]="'MANAGEMENT.NEWSPAPERS.TITLE' | translate"
            >
                <app-table-newspapers
                    class="table-component"
                    [loading]="loading$ | async"
                    [pagination$]="pagination$"
                    [newspapers$]="newspapers$"
                    (treatmentRequested)="onManageAction($event)"
                >
                </app-table-newspapers>

                <app-pagination
                    class="pagination-component"
                    [pagination]="pagination$ | async"
                    (pageChange)="onPageChange($event)"
                ></app-pagination>
            </section>
        </div>
    </div>
</section>

@if (modalState().visible) {
  <app-modal-activity
    [visible]="modalState().visible"
    [reportUniqId]="reportUniqId"
    [activity]="modalState().newspaper"
    [mode]="modalState().mode"
    (activityCreate)="onActivityCreate($event)"
    (activityUpdate)="onActivityUpdate($event)"
    (closed)="onReportActivityClosed()"
  >
  </app-modal-activity>
}