<div class="mt-3">
    <div
        class="page-head d-flex flex-wrap justify-content-end align-items-start mb-3"
    >
        <!-- <div class="title-block">
            <h3 class="mb-1 fw-bold">{{ 'IMAKO_SERVICE_REQUEST_GATEWAY' | translate }}</h3>
        </div> -->
        <div class="d-flex gap-2">
            <button
                pButton
                type="button"
                class="p-button-success"
                (click)="handleSave()"
                [class.p-disabled]="slaContactsForm.invalid"
                [label]="'SAVE' | translate"
                icon="pi pi-save"
                *ngIf="formMode === SLA_CONTACTS_FORM_MODE_ENUM.SEE"
            ></button>
        </div>
    </div>

    <form [formGroup]="slaContactsForm" class="form row g-3">
        <fieldset class="fieldset">
            <legend>
                <b>{{ 'PHONE_MANAGER_INFORMATION' | translate }}</b>
            </legend>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>{{ 'NAME_PRENOMS' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="text"
                        formControlName="nom_tenant"
                        [readonly]="!disabledEditableForm"
                        [ngClass]="{ 'is-invalid': isInvalid('nom_tenant') }"
                        class="form-control"
                    />
                </div>
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>{{ 'ADDRESS' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="text"
                        formControlName="adresse"
                        [readonly]="!disabledEditableForm"
                        [ngClass]="{ 'is-invalid': isInvalid('adresse') }"
                        class="form-control"
                    />
                </div>
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>{{ 'EMAIL' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="email"
                        formControlName="email_diffusion_tenant"
                        [readonly]="!disabledEditableForm"
                        class="form-control"
                        [ngClass]="{
                            'is-invalid': isInvalid('email_diffusion_tenant'),
                        }"
                    />
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset">
            <legend>
                <b>{{ 'PHONE_MANAGER_INFORMATION' | translate }}</b>
            </legend>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>{{ 'NAME_PRENOMS' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <ng-container
                        *ngIf="
                            disabledEditableForm;
                            else disabledManagerApplicants
                        "
                    >
                        <p-select
                            [options]="listApplicants$ | async"
                            optionLabel="fullName"
                            optionValue="id"
                            placeholder="{{ 'SELECT' | translate }}"
                            emptyMessage="{{ 'NO_DATA' | translate }}"
                            formControlName="gestionnaire_tenant_id"
                            [filter]="true"
                            filterBy="nom"
                            [ngClass]="{
                                'p-invalid': isInvalid(
                                    'gestionnaire_tenant_id'
                                ),
                            }"
                        ></p-select>
                    </ng-container>
                    <ng-template #disabledManagerApplicants>
                        <input
                            pInputText
                            type="text"
                            formControlName="gestionnaire_tenant_id"
                            [readonly]="!disabledEditableForm"
                            class="form-control"
                        />
                    </ng-template>
                </div>
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>{{ 'CONTACT' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="text"
                        formControlName="contact_gestionnaire_tenant"
                        [readonly]="!disabledEditableForm"
                        class="form-control"
                        [ngClass]="{
                            'is-invalid': isInvalid(
                                'contact_gestionnaire_tenant'
                            ),
                        }"
                    />
                </div>
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>{{ 'EMAIL' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="email"
                        formControlName="email_gestionnaire_tenant"
                        [readonly]="!disabledEditableForm"
                        class="form-control"
                        [ngClass]="{
                            'is-invalid': isInvalid(
                                'email_gestionnaire_tenant'
                            ),
                        }"
                    />
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset">
            <legend>
                <b>{{ 'ADMINISTRATOR_INFORMATION' | translate }}</b>
            </legend>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>{{ 'NAME_PRENOMS' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <ng-container
                        *ngIf="
                            disabledEditableForm;
                            else disabledAdministratorApplicants
                        "
                    >
                        <p-select
                            [options]="listApplicants$ | async"
                            optionLabel="fullName"
                            optionValue="id"
                            placeholder="{{ 'SELECT' | translate }}"
                            emptyMessage="{{ 'NO_DATA' | translate }}"
                            formControlName="admin_tenant_id"
                            [filter]="true"
                            filterBy="nom"
                            [ngClass]="{
                                'p-invalid': isInvalid('admin_tenant_id'),
                            }"
                        ></p-select>
                    </ng-container>
                    <ng-template #disabledAdministratorApplicants>
                        <input
                            pInputText
                            type="text"
                            formControlName="admin_tenant_id"
                            [readonly]="!disabledEditableForm"
                            class="form-control"
                        />
                    </ng-template>
                </div>
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>{{ 'CONTACT' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="text"
                        formControlName="contact_admin_tenant"
                        [readonly]="!disabledEditableForm"
                        class="form-control"
                        [ngClass]="{
                            'is-invalid': isInvalid('contact_admin_tenant'),
                        }"
                    />
                </div>
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>{{ 'EMAIL' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="email"
                        formControlName="email_admin_tenant"
                        class="form-control"
                        [readonly]="!disabledEditableForm"
                        [ngClass]="{
                            'is-invalid': isInvalid('email_admin_tenant'),
                        }"
                    />
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset">
            <legend>
                <b>{{ 'ESCALADE_INFORMATION' | translate }}</b>
            </legend>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>{{ 'NAME_PRENOMS' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <ng-container
                        *ngIf="
                            disabledEditableForm;
                            else disabledEscaladeApplicants
                        "
                    >
                        <p-select
                            [options]="listApplicants$ | async"
                            optionLabel="fullName"
                            optionValue="id"
                            placeholder="{{ 'SELECT' | translate }}"
                            emptyMessage="{{ 'NO_DATA' | translate }}"
                            formControlName="escalade_tenant_id"
                            [filter]="true"
                            filterBy="nom"
                            [ngClass]="{
                                'p-invalid': isInvalid('escalade_tenant_id'),
                            }"
                        ></p-select>
                    </ng-container>
                    <ng-template #disabledEscaladeApplicants>
                        <input
                            pInputText
                            type="text"
                            formControlName="escalade_tenant_id"
                            [readonly]="!disabledEditableForm"
                            class="form-control"
                        />
                    </ng-template>
                </div>
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>{{ 'CONTACT' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="text"
                        formControlName="contact_escalade_tenant"
                        [readonly]="!disabledEditableForm"
                        class="form-control"
                        [ngClass]="{
                            'is-invalid': isInvalid('contact_escalade_tenant'),
                        }"
                    />
                </div>
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>{{ 'EMAIL' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="email"
                        formControlName="email_escalade_tenant"
                        class="form-control"
                        [readonly]="!disabledEditableForm"
                        [ngClass]="{
                            'is-invalid': isInvalid('email_escalade_tenant'),
                        }"
                    />
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset">
            <legend>
                <b>{{ 'MANAGER_INFORMATION' | translate }}</b>
            </legend>
            <div class="row">
                <div class="col-md">
                    <label class="form-label"
                        ><b>{{ 'NAME_PRENOMS' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="text"
                        formControlName="nom_gerant"
                        [readonly]="!disabledEditableForm"
                        [ngClass]="{ 'is-invalid': isInvalid('nom_gerant') }"
                        class="form-control"
                    />
                </div>
                <div class="col-md">
                    <label class="form-label"
                        ><b>{{ 'CONTACT' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="text"
                        formControlName="contact_gerant"
                        [readonly]="!disabledEditableForm"
                        [ngClass]="{
                            'is-invalid': isInvalid('contact_gerant'),
                        }"
                        class="form-control"
                    />
                </div>
                <div class="col-md">
                    <label class="form-label"
                        ><b>{{ 'EMAIL' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="email"
                        formControlName="email_gerant"
                        [readonly]="!disabledEditableForm"
                        [ngClass]="{ 'is-invalid': isInvalid('email_gerant') }"
                        class="form-control"
                    />
                </div>
                <div class="col-md">
                    <label class="form-label"
                        ><b>{{ 'IDENTITY_DOCUMENT' | translate }}</b></label
                    >
                    <div
                        class="d-flex justify-content-between align-items-center gap-2"
                    >
                        <div class="flex-grow-1" *ngIf="disabledEditableForm">
                            <input
                                class="file-input"
                                type="file"
                                (change)="
                                    onChangeFile(
                                        $event.target.files,
                                        'piece_gerant'
                                    )
                                "
                                accept="image/png,image/jpeg"
                            />
                        </div>
                        <button
                            pButton
                            type="button"
                            class="p-button-secondary"
                            icon="pi pi-eye"
                            (click)="viewFile('piece_gerant')"
                            [disabled]="!slaContactsForm.value.piece_gerant"
                        >
                            {{ 'VIEW' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset">
            <legend>
                <b>{{ 'MORAL_DECLARATION' | translate }}</b>
            </legend>
            <div class="row">
                <div class="col-md-5">
                    <label class="form-label"
                        ><b>RCCM</b><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="text"
                        formControlName="numero_rccm"
                        [readonly]="!disabledEditableForm"
                        class="form-control"
                    />
                </div>
                <div class="col-md-3">
                    <label class="form-label"
                        ><b>{{ 'LEGAL_FORM' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <ng-container
                        *ngIf="disabledEditableForm; else disabledLegalForm"
                    >
                        <p-select
                            [options]="listLegalForm$ | async"
                            optionLabel="nom"
                            optionValue="code"
                            placeholder="{{ 'SELECT' | translate }}"
                            emptyMessage="{{ 'NO_DATA' | translate }}"
                            formControlName="forme_juridique_code"
                            [filter]="true"
                            filterBy="nom"
                        ></p-select>
                    </ng-container>
                    <ng-template #disabledLegalForm>
                        <input
                            pInputText
                            type="text"
                            formControlName="forme_juridique_code"
                            [readonly]="!disabledEditableForm"
                            class="form-control"
                        />
                    </ng-template>
                </div>
                <div class="col-md-4">
                    <label class="form-label"><b>RCCM</b></label>
                    <div
                        class="d-flex justify-content-between align-items-center gap-2"
                    >
                        <div class="flex-grow-1" *ngIf="disabledEditableForm">
                            <input
                                class="file-input"
                                type="file"
                                (change)="
                                    onChangeFile(
                                        $event.target.files,
                                        'fichier_rccm'
                                    )
                                "
                                accept="image/png,image/jpeg"
                            />
                        </div>
                        <button
                            pButton
                            type="button"
                            class="p-button-secondary"
                            icon="pi pi-eye"
                            (click)="viewFile('fichier_rccm')"
                        >
                            {{ 'VIEW' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset">
            <legend>
                <b>{{ 'FISCAL_DECLARATION' | translate }}</b>
            </legend>
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label"
                        ><b>{{ 'NUMBER_CC' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="text"
                        formControlName="numero_cc"
                        [readonly]="!disabledEditableForm"
                        class="form-control"
                    />
                </div>
                <div class="col-md-2">
                    <label class="form-label"
                        ><b>{{ 'REGIME' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <ng-container
                        *ngIf="disabledEditableForm; else disabledRegimeForm"
                    >
                        <p-select
                            [options]="listRegimesBusiness$ | async"
                            optionLabel="nom"
                            optionValue="code"
                            placeholder="{{ 'SELECT' | translate }}"
                            emptyMessage="{{ 'NO_DATA' | translate }}"
                            formControlName="regime_code"
                            [filter]="true"
                            filterBy="nom"
                        >
                        </p-select>
                    </ng-container>
                    <ng-template #disabledRegimeForm>
                        <input
                            pInputText
                            type="text"
                            formControlName="regime_code"
                            [readonly]="!disabledEditableForm"
                            class="form-control"
                        />
                    </ng-template>
                </div>
                <div class="col-md-2">
                    <label class="form-label"
                        ><b>{{ 'CENTER' | translate }}</b
                        ><span class="text-danger">*</span></label
                    >
                    <input
                        pInputText
                        type="text"
                        formControlName="centre"
                        [readonly]="!disabledEditableForm"
                        class="form-control"
                    />
                </div>
                <div class="col-md">
                    <label class="form-label"><b>DFE</b></label>
                    <div
                        class="d-flex justify-content-between align-items-center gap-2"
                    >
                        <div class="flex-grow-1" *ngIf="disabledEditableForm">
                            <input
                                class="file-input"
                                type="file"
                                (change)="
                                    onChangeFile(
                                        $event.target.files,
                                        'fichier_dfe'
                                    )
                                "
                                accept="image/png,image/jpeg"
                            />
                        </div>
                        <button
                            pButton
                            type="button"
                            class="p-button-secondary"
                            icon="pi pi-eye"
                            (click)="viewFile('fichier_dfe')"
                        >
                            {{ 'VIEW' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="fieldset">
            <legend>
                <b>{{ 'REQUEST_DESCRIPTION' | translate }}</b>
            </legend>
            <div class="row">
                <div class="col-12">
                    <input
                        type="text"
                        pInputText
                        formControlName="description"
                        [ngClass]="{ 'is-invalid': isInvalid('description') }"
                        placeholder="{{ 'COMMENT' | translate }}..."
                        class="form-control"
                    />
                </div>
            </div>
        </fieldset>

        <div class="forms-feature-footer">
            <button
                pButton
                type="button"
                class="p-button-success"
                (click)="handleSave()"
                [class.p-disabled]="slaContactsForm.invalid"
                [label]="'SAVE' | translate"
                icon="pi pi-save"
                *ngIf="formMode === SLA_CONTACTS_FORM_MODE_ENUM.SEE"
            ></button>
        </div>
    </form>
</div>
