<p-table
    #dt
    [value]="listCommandWhiteSim$ | async"
    [rowHover]="true"
    dataKey="id"
    selectionMode="single"
    [(selection)]="commandWhiteSimSelected"
    [rows]="(pagination$ | async)?.per_page"
    [globalFilterFields]="table.globalFilterFields"
>
    <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between">
            <app-table-title
                [count]="(pagination$ | async)?.total"
                [perPage]="(pagination$ | async)?.per_page"
                [page]="(pagination$ | async)?.current_page"
                [totalPage]="(pagination$ | async)?.last_page"
            >
            </app-table-title>
            <div class="d-flex gap-2 align-items-center">
                <div class="d-flex gap-2">
                    <!-- <button
                        pButton
                        pRipple
                        [label]="'SIMPLE_DEMAND' | translate"
                        icon="pi pi-plus"
                        class="p-button-success margin-right-5"
                        (click)="
                            handleAction({
                                data: null,
                                action: 'simple-add-white-sim',
                                view: 'page'
                            })
                        "
                    ></button> -->
                    <app-table-button-header
                        (refresh)="pageCallback()"
                        (export)="onExportExcel()"
                        [disabledButtonExport]="
                            (listCommandWhiteSim$ | async)?.length === 0
                        "
                        [labelOther]="'MASS_DEMAND' | translate"
                        [colorOther]="'dark'"
                        [hiddenButtonOther]="false"
                        [iconOther]="'pi pi-plus'"
                        (other)="
                            handleAction({
                                data: null,
                                action: 'mass-add-white-sim',
                                view: 'page'
                            })
                        "
                    >
                    </app-table-button-header>
                </div>
                <div>
                    <app-search-table [dt]="dt"></app-search-table>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{ width: col.width }"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'Date / Heure'">
                        {{ 'DATE_TIME' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'N° Commande'">
                        {{ 'NUMBER_COMMAND' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'# Produits'">
                        {{ 'NUMBER_PRODUCTS' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'# Traitées'">
                        {{ 'NUMBER_TREATED' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'# Identifiées'">
                        {{ 'NUMBER_IDENTIFIED' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Etape'">
                        {{ 'STEP' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Etat'">
                        {{ 'STATE' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Date Etat'">
                        {{ 'UPDATED_DATE' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Demandeur'">
                        {{ 'APPLICANT' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{ col.header }}
                    </ng-container>
                </ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-item>
        <tr [pSelectableRow]="item">
            <td
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{ width: col.width }"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'#'">
                        {{ rowIndex + (pagination$ | async)?.current_page }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'N° Commande'">
                        <span (click)="copyToClipboard(item?.[col.field])">
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Etape'">
                        <span
                            [ngStyle]="{ 'font-size': '16px' }"
                            [class]="
                                'badge ' + getStepCommandWhiteSimBadge(item)
                            "
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Etat'">
                        <span
                            [ngStyle]="{ 'font-size': '16px' }"
                            [class]="
                                'badge ' + getStateCommandWhiteSimBadge(item)
                            "
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Date Etat'">
                        {{ item?.[col.field] }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Actions'">
                        <button
                            pButton
                            [ngClass]="
                                getTreatmentButtonOpenCommandStyle(item)?.class
                            "
                            [icon]="
                                getTreatmentButtonOpenCommandStyle(item)?.icon
                            "
                            tooltipPosition="top"
                            [pTooltip]="getTreatmentButtonOpenCommandStyle(item)?.['tooltip']"
                            [disabled]="
                                getTreatmentButtonOpenCommandStyle(item)
                                    ?.class === 'p-button-secondary'
                            "
                            (click)="
                                handleAction({
                                    data: item,
                                    action: 'open-folder-white-sim',
                                    view: 'page'
                                })
                            "
                        ></button
                        >&nbsp;
                        <button
                            pButton
                            [ngClass]="
                                getTreatmentButtonViewCommandStyle(item)?.class
                            "
                            [icon]="
                                getTreatmentButtonViewCommandStyle(item)?.icon
                            "
                            tooltipPosition="top"
                            [pTooltip]="getTreatmentButtonViewCommandStyle(item)?.['tooltip']"
                            (click)="
                                handleAction({
                                    data: item,
                                    action: 'view-white-sim',
                                    view: 'modal'
                                })
                            "
                        ></button
                        >&nbsp;
                        <button
                            pButton
                            tooltipPosition="top"
                            icon="pi pi-book"
                            class="p-button-primary"
                            [pTooltip]="
                                'Journal de la demande ' + item?.numero_demande
                            "
                            (click)="
                                handleAction({
                                    data: item,
                                    action: 'journal-white-sim',
                                    view: 'modal'
                                })
                            "
                        ></button>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{item?.[col.field]}}
                    </ng-container>
                </ng-container>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr *ngIf="(listCommandWhiteSim$ | async)?.length <= 0 && !spinner">
            <td class="posRelative" colspan="15">
                <span class="posCenter">
                    {{ 'NO_DATA_FOUND' | translate }}
                </span>
            </td>
        </tr>
        <tr *ngIf="spinner">
            <td class="posRelative" colspan="15">
                <p-progressSpinner
                    class="posCenter"
                    [style]="{ width: '40px', height: '50px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="#EEEEEE"
                    animationDuration=".5s"
                >
                </p-progressSpinner>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog
    header="[{{ 'WHITE_SIM' | translate }}] {{ 'DEMAND' | translate }} [{{
        commandWhiteSimSelected?.numero_demande
    }}]"
    [(visible)]="visibleFormCommandWhiteSim"
    (onHide)="hideDialog()"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '100%', 'min-height': '100%' }"
    [responsive]="true"
    [maximizable]="true"
    [draggable]="false"
    [resizable]="true"
>
    <ng-template pTemplate="content">
        <app-form-folder
            [demandSelected]="commandWhiteSimSelected"
            [typeTreatment]="typeTreatment"
            (visibleFormDossier)="hideDialog()"
        >
        </app-form-folder>
    </ng-template>
</p-dialog>
