<div>
  <div class="ressource_wrapper">
    <div class="identification">
      <div class="row mt-3">
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <b>Date/Heure</b>
            </label>
            <input type="text" [placeholder]="currentEvent?.created_at" [disabled]="true" pInputText />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <b>Utilisateur</b>
            </label>
            <input type="text" [placeholder]="currentEvent?.user.nom+' '+currentEvent?.user.prenoms" [disabled]="true"
              pInputText />
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <b>Action</b>
            </label>
            <input type="text" [placeholder]="currentEvent?.action" [disabled]="true" pInputText />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <b>Module</b>
            </label>
            <input type="text" [placeholder]="currentEvent?.module" [disabled]="true" pInputText />
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <b>Sous Module</b>
            </label>
            <input type="text" [placeholder]="currentEvent?.sous_module" [disabled]="true" pInputText />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>
              <b>Commentaire</b>
            </label>
            <input type="text" [placeholder]="currentEvent?.sous_module" [disabled]="true" pInputText />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
