<div class="container-fluid add-cs">
    <div class="row">
        <div class="col-12">
            <app-breadcrumb
                [title]="module | translate"
                [active_item]="subModule | translate"
            >
            </app-breadcrumb>

            <div class="card premium-card mt-3">
                <div class="card-body">
                    <div
                        class="page-head d-flex flex-wrap justify-content-between align-items-start mb-3"
                    >
                        <div class="title-block">
                            <h3 class="mb-1 fw-bold">
                                {{ 'PROFILE_CREATION_FORM' | translate }}
                            </h3>
                        </div>
                        <div class="d-flex gap-2">
                            <button
                                pButton
                                type="button"
                                class="p-button-success"
                                (click)="handleSave()"
                                [class.p-disabled]="
                                    profilesAuthorizationsForm.invalid
                                "
                                [label]="'SAVE' | translate"
                                icon="pi pi-save"
                            ></button>
                            <button
                                pButton
                                type="button"
                                class="p-button-danger"
                                (click)="onBack()"
                                [label]="'CLOSE' | translate"
                                icon="pi pi-times"
                            ></button>
                        </div>
                    </div>

                    <form
                        [formGroup]="profilesAuthorizationsForm"
                        class="premium-form row g-3"
                    >
                        <fieldset class="fieldset-premium">
                            <legend>
                                <b>{{
                                    'PHONE_MANAGER_INFORMATION' | translate
                                }}</b>
                            </legend>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label"
                                        ><b>{{ 'NAME_PRENOMS' | translate }}</b
                                        ><span class="text-danger"
                                            >*</span
                                        ></label
                                    >
                                    <input
                                        pInputText
                                        type="text"
                                        formControlName="nom"
                                        [ngClass]="{
                                            'is-invalid': isInvalid('nom')
                                        }"
                                    />
                                </div>
                                <div class="col-md-8">
                                    <label class="form-label"
                                        ><b>{{ 'DESCRIPTION' | translate }}</b
                                        ><span class="text-danger"
                                            >*</span
                                        ></label
                                    >
                                    <input
                                        type="text"
                                        pInputText
                                        formControlName="description"
                                        [ngClass]="{
                                            'is-invalid':
                                                isInvalid('description')
                                        }"
                                        placeholder="{{
                                            'COMMENT' | translate
                                        }}..."
                                    />
                                </div>
                            </div>
                        </fieldset>

                        <!-- <p-tabView>
                            <p-tabPanel header="Permissions" *ngIf="!currentObject?.show">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p-tree selectionMode="checkbox" [value]="listPermissions$ | async"
                                            [(selection)]="checkedPermission">
                                        </p-tree>

                                    </div>
                                    <div>
                                        <button pButton type="button" label="Dérouler Tout"
                                            (click)="expandAllPermission()" style="margin-right: 0.5rem"
                                            class="p-button-secondary"></button>
                                        <button pButton type="button" label="Fermer Tout"
                                            (click)="collapseAllPermission()" class="p-button-dark"></button>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="Habilitations" *ngIf="!currentObject?.show">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p-tree selectionMode="checkbox" [value]="listHabilitation$ | async"
                                            [(selection)]="checkedHabilitation"></p-tree>
                                    </div>
                                    <div>
                                        <button pButton type="button" label="Dérouler Tout"
                                            (click)="expandAllHabilitation()" style="margin-right: 0.5rem"
                                            class="p-button-secondary"></button>
                                        <button pButton type="button" label="Fermer Tout"
                                            (click)="collapseAllHabilitation()" class="p-button-dark"></button>
                                    </div>
                                </div>
                            </p-tabPanel>
                            <p-tabPanel header="HISTORIQUE" *ngIf="currentObject?.show">
                                <app-history [typeModel]="'profil_users'" [idModel]="currentObject?.id"></app-history>
                            </p-tabPanel>
                        </p-tabView> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
