// .page-body-wrapper {
//     max-width: 1200px;
//     margin: 0 auto;
//   }

//   .sidebar-wrapper {
//     width: 250px;
//   }

//   .page-body {
//     width: calc(100% - 250px);
//   }

//   @media (max-width: 768px) {
//     .sidebar-wrapper {
//       width: 200px;
//     }
//     .page-body {
//       width: calc(100% - 200px);
//     }
//   }

//   @media (max-width: 576px) {
//     .sidebar-wrapper {
//       width: 150px;
//     }
//     .page-body {
//       width: calc(100% - 150px);
//     }
//   }
