::ng-deep .buttonDeleteFileUpload {
    color: red !important;
    border-color: red !important;
    background-color: white !important;
    font-weight: bolder;
    font-size: larger;
    .pi {
        font-weight: bolder;
        font-size: larger;
    }
}

::ng-deep .p-button.p-fileupload-choose {
    width: 100% !important;
}

input[type=text]:disabled {
    font-size: inherit;
}

.small-dashboard {
    display: flex;
    gap: 2rem;
}

.label {
    font-size: 20px;
    color: #000;
    text-align: center;
}

.box-card {
    text-align: center;
    border: 2px solid #2c3e50;
    border-radius: 6px;
    height: 80px !important;
    .title {
        span {
            color: black;
            text-transform: capitalize;
            font-weight: 900 !important;
            font-size: 35px;
        }
    }
    .valeur {
        span {
            color: #ff6600;
            font-size: 45px;
            text-align: center;
            font-weight: 900 !important;
        }
    }
}
// #card-box{
//     position: relative;
//     top: -1rem;
//     .app-statistics-box{
//         .card{
//             width: 10rem !important;
//             .content{
//                 gap: 0 !important
//             }
//         }
//     }
// }
