.small-dashboard{
    display: flex;gap: 2rem;
}
// #card-box{
//     position: relative;
//     top: -1rem;
//     .app-statistics-box{
//         .card{
//             width: 10rem !important;
//             .content{
//                 gap: 0 !important
//             }
//         }
//     }
// }
