h4 {
  margin-bottom: 3px !important;
}
.single-stats-box {
    &.patrimoine-sim-card {
      box-shadow: unset;
      h1 {
        font-size: 40px !important;
        margin-bottom: 0;
        font: {
          size: 52px;
          family: var(--fontFamily) !important;
        }
      }
      h2 {
        font-size: 20px !important;
      }
      .icon {
        width: 48px;
        height: 48px;
        font-size: 25px;
        border-radius: 5px;
        text-align: center;
        position: relative;
        color: var(--whiteColor);
        background-color: var(--aareRiverColor);
  
        i {
          left: 0;
          right: 0;
          top: 50%;
          line-height: 1;
          position: absolute;
          transform: translateY(-50%);
        }
      }
      h4 {
        margin: {
          bottom: 2px;
          top: 20px;
        }
        font: {
          size: 1.2rem;
          family: var(--fontFamily) !important;
        }
      }
    }
  }
  .col-lg-3 {
    &:nth-child(2) {
      .single-stats-box {
        &.patrimoine-sim-card {
          background-color: #f8eee2 !important;
  
          .icon {
            background-color: #f7931a;
          }
        }
      }
    }
    &:nth-child(3) {
      .single-stats-box {
        &.patrimoine-sim-card {
          background-color: #ddf0f1 !important;
  
          .icon {
            background-color: #2db6f5;
          }
        }
      }
    }
    &:nth-child(4) {
      .single-stats-box {
        &.patrimoine-sim-card {
          background-color: #fbeaea !important;
  
          .icon {
            background-color: #ee368c;
          }
        }
      }
    }
  }
  .component-dark-theme {
    .col-lg-3 {
      &:nth-child(2) {
        .single-stats-box {
          &.patrimoine-sim-card {
            background-color: rgba(117, 127, 239, 0.1) !important;
          }
        }
      }
      &:nth-child(3) {
        .single-stats-box {
          &.patrimoine-sim-card {
            background-color: rgba(247, 147, 26, 0.1) !important;
          }
        }
      }
      &:nth-child(4) {
        .single-stats-box {
          &.patrimoine-sim-card {
            background-color: rgba(0, 182, 155, 0.1) !important;
          }
        }
      }
    }
  }
  
  .stat_box {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    padding: 0.1rem 1rem;
    height: 100%;
    &__asset {
      img {
        width: 2rem;
      }
    }
  }
  
  @media only screen and (max-width: 767px) {
    .single-stats-box {
      &.patrimoine-sim-card {
        h3 {
          font-size: 22px;
        }
        .icon {
          width: 40px;
          height: 40px;
          font-size: 20px;
        }
        h4 {
          font-size: 15px;
          margin-top: 10px;
        }
      }
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-stats-box {
      &.patrimoine-sim-card {
        h3 {
          font-size: 25px;
        }
        .icon {
          width: 45px;
          height: 45px;
          font-size: 22px;
        }
        h4 {
          font-size: 16px;
          margin-top: 15px;
        }
      }
    }
  }
  