<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb
                [title]="module"
                [active_item]="subModule"
            ></app-breadcrumb>
            <div class="card">
                <div class="card-body">
                    <div style="margin-top: -2rem !important">
                        <app-patrimoine-header
                            [displayDate]="false"
                            [legendePluriel]="'profils de supervision'"
                            [legendeSingulier]="'profils de supervision'"
                        >
                        </app-patrimoine-header>
                    </div>

                    <p-tabView (onChange)="indexTabPanelActive = $event.index">
                        <p-tabPanel header="SOLDE Data">
                            <div *ngIf="indexTabPanelActive === 0">
                                <app-filter-solde-data
                                    (filter)="filter($event)"
                                    [filterData]="filterData"
                                >
                                </app-filter-solde-data>
                                <hr />
                                <div class="container-box">
                                    <app-box-container
                                        *ngFor="let box of statistiquesBox"
                                        class="col-md"
                                        [cardBgColor]="box?.['cardBgColor']"
                                        [cardBorderColor]="box?.['cardBorderColor'] ?? '#FFF'"
                                        [legend]="box?.['legend']"
                                        [count]="box?.['count']"
                                        [legendColor]="box?.['legendColor'] ?? '#FFF'"
                                        [countColor]="box?.['countColor'] ?? '#FFF'"
                                        [taux]="box?.['taux']"
                                    >
                                    </app-box-container>
                                </div>
                                <app-table-solde-data
                                    [spinner]="spinner"
                                    [listSoldeData]="listSoldeData"
                                    [selectedSoldeData]="selectedSoldeData"
                                    (interfaceUser)="navigateByUrl($event)"
                                    [pagination]="pagination"
                                >
                                </app-table-solde-data>
                                <app-pargination
                                    [pargination]="pagination"
                                    (pageChange)="onPageChange($event)"
                                ></app-pargination>
                            </div>
                        </p-tabPanel>

                        <p-tabPanel header="SOLDE SMS">
                            <div *ngIf="indexTabPanelActive === 1">
                                <app-filter-solde-sms
                                    (filter)="filter($event)"
                                    [filterData]="filterData"
                                >
                                </app-filter-solde-sms>
                                <hr />
                                <div class="container-box">
                                    <app-box-container
                                        *ngFor="let box of statistiquesBox"
                                        class="col-md"
                                        [cardBgColor]="box?.['cardBgColor']"
                                        [cardBorderColor]="box?.['cardBorderColor'] ?? '#FFF'"
                                        [legend]="box?.['legend']"
                                        [count]="box?.['count']"
                                        [legendColor]="box?.['legendColor'] ?? '#FFF'"
                                        [countColor]="box?.['countColor'] ?? '#FFF'"
                                        [taux]="box?.['taux']"
                                    >
                                    </app-box-container>
                                </div>
                                <app-table-solde-sms
                                    [spinner]="spinner"
                                    [listSoldeData]="listSoldeSms"
                                    [selectedSoldeSms]="selectedSoldeSms"
                                    (interfaceUser)="navigateByUrl($event)"
                                    [pagination]="pagination"
                                >
                                </app-table-solde-sms>
                                <app-pargination
                                    [pargination]="pagination"
                                    (pageChange)="onPageChange($event)"
                                ></app-pargination>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
</div>
