<div class="dashboard-content">
    <div class="statistics-section">
        <div class="section-header">
            <div class="section-badge-skeleton">
                <p-skeleton
                    width="180px"
                    height="36px"
                    borderRadius="30px"
                ></p-skeleton>
            </div>
            <div class="section-indicator-skeleton">
                <p-skeleton
                    width="100%"
                    height="2px"
                    borderRadius="0"
                ></p-skeleton>
            </div>
        </div>

        <div class="statistics-grid">
            <div class="stat-card-skeleton">
                <div class="card-content">
                    <div class="stat-header">
                        <p-skeleton
                            width="60px"
                            height="40px"
                            borderRadius="8px"
                        ></p-skeleton>
                        <div class="stat-icon-wrapper-skeleton">
                            <p-skeleton
                                width="35px"
                                height="35px"
                                borderRadius="12px"
                            ></p-skeleton>
                        </div>
                    </div>
                    <div class="stat-label-skeleton">
                        <p-skeleton
                            width="100px"
                            height="20px"
                            borderRadius="4px"
                        ></p-skeleton>
                    </div>
                </div>
                <div class="card-decoration-skeleton"></div>
            </div>

            <div class="stat-card-skeleton">
                <div class="card-content">
                    <div class="stat-header">
                        <p-skeleton
                            width="60px"
                            height="40px"
                            borderRadius="8px"
                        ></p-skeleton>
                        <div class="stat-icon-wrapper-skeleton">
                            <p-skeleton
                                width="35px"
                                height="35px"
                                borderRadius="12px"
                            ></p-skeleton>
                        </div>
                    </div>
                    <div class="stat-label-skeleton">
                        <p-skeleton
                            width="120px"
                            height="20px"
                            borderRadius="4px"
                        ></p-skeleton>
                    </div>
                </div>
                <div class="card-decoration-skeleton"></div>
            </div>

            <div class="stat-card-skeleton">
                <div class="card-content">
                    <div class="stat-header">
                        <p-skeleton
                            width="60px"
                            height="40px"
                            borderRadius="8px"
                        ></p-skeleton>
                        <div class="stat-icon-wrapper-skeleton">
                            <p-skeleton
                                width="35px"
                                height="35px"
                                borderRadius="12px"
                            ></p-skeleton>
                        </div>
                    </div>
                    <div class="stat-label-skeleton">
                        <p-skeleton
                            width="110px"
                            height="20px"
                            borderRadius="4px"
                        ></p-skeleton>
                    </div>
                </div>
                <div class="card-decoration-skeleton"></div>
            </div>

            <div class="stat-card-skeleton">
                <div class="card-content">
                    <div class="stat-header">
                        <p-skeleton
                            width="60px"
                            height="40px"
                            borderRadius="8px"
                        ></p-skeleton>
                        <div class="stat-icon-wrapper-skeleton">
                            <p-skeleton
                                width="35px"
                                height="35px"
                                borderRadius="12px"
                            ></p-skeleton>
                        </div>
                    </div>
                    <div class="stat-label-skeleton">
                        <p-skeleton
                            width="130px"
                            height="20px"
                            borderRadius="4px"
                        ></p-skeleton>
                    </div>
                </div>
                <div class="card-decoration-skeleton"></div>
            </div>

            <div class="stat-card-skeleton">
                <div class="card-content">
                    <div class="stat-header">
                        <p-skeleton
                            width="60px"
                            height="40px"
                            borderRadius="8px"
                        ></p-skeleton>
                        <div class="stat-icon-wrapper-skeleton">
                            <p-skeleton
                                width="35px"
                                height="35px"
                                borderRadius="12px"
                            ></p-skeleton>
                        </div>
                    </div>
                    <div class="stat-label-skeleton">
                        <p-skeleton
                            width="140px"
                            height="20px"
                            borderRadius="4px"
                        ></p-skeleton>
                    </div>
                </div>
                <div class="card-decoration-skeleton"></div>
            </div>
        </div>
    </div>

    <div class="statistics-section">
        <div class="section-header">
            <div class="section-badge-skeleton">
                <p-skeleton
                    width="200px"
                    height="36px"
                    borderRadius="30px"
                ></p-skeleton>
            </div>
            <div class="section-indicator-skeleton">
                <p-skeleton
                    width="100%"
                    height="2px"
                    borderRadius="0"
                ></p-skeleton>
            </div>
        </div>

        <div class="statistics-grid">
            <div class="stat-card-skeleton">
                <div class="card-content">
                    <div class="stat-header">
                        <p-skeleton
                            width="60px"
                            height="40px"
                            borderRadius="8px"
                        ></p-skeleton>
                        <div class="stat-icon-wrapper-skeleton">
                            <p-skeleton
                                width="35px"
                                height="35px"
                                borderRadius="12px"
                            ></p-skeleton>
                        </div>
                    </div>
                    <div class="stat-label-skeleton">
                        <p-skeleton
                            width="100px"
                            height="20px"
                            borderRadius="4px"
                        ></p-skeleton>
                    </div>
                </div>
                <div class="card-decoration-skeleton"></div>
            </div>

            <div class="stat-card-skeleton">
                <div class="card-content">
                    <div class="stat-header">
                        <p-skeleton
                            width="60px"
                            height="40px"
                            borderRadius="8px"
                        ></p-skeleton>
                        <div class="stat-icon-wrapper-skeleton">
                            <p-skeleton
                                width="35px"
                                height="35px"
                                borderRadius="12px"
                            ></p-skeleton>
                        </div>
                    </div>
                    <div class="stat-label-skeleton">
                        <p-skeleton
                            width="120px"
                            height="20px"
                            borderRadius="4px"
                        ></p-skeleton>
                    </div>
                </div>
                <div class="card-decoration-skeleton"></div>
            </div>

            <div class="stat-card-skeleton">
                <div class="card-content">
                    <div class="stat-header">
                        <p-skeleton
                            width="60px"
                            height="40px"
                            borderRadius="8px"
                        ></p-skeleton>
                        <div class="stat-icon-wrapper-skeleton">
                            <p-skeleton
                                width="35px"
                                height="35px"
                                borderRadius="12px"
                            ></p-skeleton>
                        </div>
                    </div>
                    <div class="stat-label-skeleton">
                        <p-skeleton
                            width="110px"
                            height="20px"
                            borderRadius="4px"
                        ></p-skeleton>
                    </div>
                </div>
                <div class="card-decoration-skeleton"></div>
            </div>

            <div class="stat-card-skeleton">
                <div class="card-content">
                    <div class="stat-header">
                        <p-skeleton
                            width="60px"
                            height="40px"
                            borderRadius="8px"
                        ></p-skeleton>
                        <div class="stat-icon-wrapper-skeleton">
                            <p-skeleton
                                width="35px"
                                height="35px"
                                borderRadius="12px"
                            ></p-skeleton>
                        </div>
                    </div>
                    <div class="stat-label-skeleton">
                        <p-skeleton
                            width="130px"
                            height="20px"
                            borderRadius="4px"
                        ></p-skeleton>
                    </div>
                </div>
                <div class="card-decoration-skeleton"></div>
            </div>

            <div class="stat-card-skeleton">
                <div class="card-content">
                    <div class="stat-header">
                        <p-skeleton
                            width="60px"
                            height="40px"
                            borderRadius="8px"
                        ></p-skeleton>
                        <div class="stat-icon-wrapper-skeleton">
                            <p-skeleton
                                width="35px"
                                height="35px"
                                borderRadius="12px"
                            ></p-skeleton>
                        </div>
                    </div>
                    <div class="stat-label-skeleton">
                        <p-skeleton
                            width="140px"
                            height="20px"
                            borderRadius="4px"
                        ></p-skeleton>
                    </div>
                </div>
                <div class="card-decoration-skeleton"></div>
            </div>
        </div>
    </div>
</div>
