<div *ngIf="!currentObject">
  <div class="forms-feature-header">
    <div class="d-flex gap-2">
      <div>
        <h3 class="current-transaction-label">
          <b>
            <span>Demande</span><span *ngIf="selectedActionValue" class="mx-2">|</span><span *ngIf="selectedActionValue">{{formatTitle(selectedActionValue)}}</span>
            <span class="current_values"*ngIf="selectedActionValue !== activation && selectedActionValue && typeDemande === 'simple'">[{{getFormattedMsisdn(currentPatrimoine?.msisdn ?? '0000000000')}}]</span>
          </b>
        </h3>
      </div>
      <div class="d-flex gap-2" style="margin-top: -0.5rem;" *ngIf="selectedActionValue === volume">
          <div class="box-card">
             <span  class="title">Dotation Data (Go) :</span>
            <span class="valeur">
              <span>{{ currentPatrimoine?.solde_dotation ?? 0 | formatNumber:2 }}</span>
            </span>
           </div>
           <div class="box-card">
            <span  class="title">Solde Data (Go) :</span>
           <span class="valeur">
             <span>{{ currentPatrimoine?.solde_actuel_go ?? 0 | formatNumber:2 }}</span>
           </span>
          </div>
      </div>
    </div>
    <div class="forms-feature-header__button">
      <div>
        <p-button label="Fermer" styleClass="p-button-danger" (click)="close()"></p-button>
      </div>
    </div>
  </div>
  <!-----------------------------TRANSACTION SAMPLE-------------------------------->
  <div *ngIf="typeDemande === 'simple'">
  <!------------------------------ACTIVATION--------FORMS-------------------------------->
  <div class="activation-forms" *ngIf="selectedActionValue === activation">
      <fieldset style="margin-top: 2.5rem;" *ngIf="!historie">
        <legend [ngStyle]="{width: '100%'}">
          <b>Source Stock SIM</b>
        </legend>
        <div style="display: flex;gap: 2rem;" *ngIf="applicationType === patrimoineType">
          <div class="d-flex gap-2">
            <p-radioButton name="valeur" [value]="sourceStock" [(ngModel)]="sourceValue"
              (onClick)="selectedSource(sourceStock)" [inputId]="sourceStock"></p-radioButton>
            <label  [for]="sourceStock" style="margin-top: 0.9rem">Stock SIM/Tenant</label>
          </div>
          <div class="d-flex gap-2">
            <p-radioButton name="valeur" [value]="sourceOrange" [(ngModel)]="sourceValue"
              (onClick)="selectedSource(sourceOrange)" [inputId]="sourceOrange"></p-radioButton>
            <label [for]="sourceOrange" style="margin-top: 0.9rem">Stock SIM/OCI</label>
          </div>
        </div>
        <div class="text-wrapper" *ngIf="applicationType === patrimoineType">
          <input [value]="sourceValue === 'stock' ? sourceStockTenantSim: sourceStockOrangeSim" type="text" [disabled]="true" pInputText/>
        </div>
        <div class="text-wrapper" *ngIf="applicationType !== patrimoineType">
          <input [value]="sourceStockOrangeSim" type="text" [disabled]="true" pInputText/>
        </div>
      </fieldset>
      <div [formGroup]="adminForm" novalidate>
      <!------------------INFOS---------SIM----------------->
      <fieldset *ngIf="this.historie">
        <legend [ngStyle]="{width: '12rem'}">
          <b>Informations SIM</b>
        </legend>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>IMSI</b>
              </label>
              <input type="text" formControlName="imsi" pInputText />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>MSISDN</b>
              </label>
              <input type="text" formControlName="msisdn" pInputText />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>Statut Contrat</b>
              </label>
              <input *ngIf="!historie" type="text" formControlName="statut" pInputText />
              <app-statut-contrat *ngIf="historie" [statut]="statut_contrat"></app-statut-contrat>
            </div>
          </div>
        </div>
      </fieldset>
      <!------------------INFOS---------IDENTIFICATION----------------->
      <fieldset>
        <legend [ngStyle]="{width: '18rem'}">
          <b>Informations d'identification</b>
        </legend>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>{{firstLevelLibelle}}<span class="text-danger">*</span></b>
              </label>
              <p-dropdown 
                     [options]="listDirections" 
                     formControlName="niveau_un_uuid" (onChange)="onChangeFirstLvel($event)" optionLabel="nom" 
                     [placeholder]="firstLevelLibelle"
                     [filter]="true" filterBy="nom">
                <ng-template let-data pTemplate="item">
                  <div class="country-item">
                    <div>
                      {{data.nom}}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>{{secondLevelLibelle}}<span class="text-danger">*</span></b>
              </label>
              <p-dropdown [options]="listExploitations" 
              formControlName="niveau_deux_uuid" 
              optionLabel="nom" [placeholder]="secondLevelLibelle"
              [filter]="true" filterBy="nom" optionValue="uuid">
                <ng-template let-data pTemplate="item">
                  <div class="country-item">
                    <div>
                      {{data.nom}}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>{{thirdLevelLibelle}}<span class="text-danger">*</span></b>
              </label>
              <p-dropdown [options]="listActivites" 
                  formControlName="niveau_trois_uuid" 
                  optionLabel="nom" [placeholder]="thirdLevelLibelle" 
                  [filter]="true" filterBy="nom" optionValue="uuid">
                <ng-template let-data pTemplate="item">
                  <div class="country-item">
                    <div>
                      {{data.nom}}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>Nom Emplacement</b>
              </label>
              <input type="text" formControlName="point_emplacement" pInputText />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>Usage<span class="text-danger">*</span></b>
              </label>
              <p-dropdown [options]="listUsages" formControlName="usage_id" optionLabel="nom_usage" placeholder="usage" optionValue="id">
                <ng-template let-data pTemplate="item">
                  <div class="country-item">
                    <div>
                      {{data.nom_usage}}
                    </div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>Adresse mail</b>
              </label>
              <input type="text" formControlName="adresse_email" pInputText />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>Adresse géographique<span class="text-danger">*</span></b>
              </label>
              <input type="text" formControlName="adresse_geographique" pInputText />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>Latitude<span class="text-danger">*</span></b>
              </label>
              <input type="text" formControlName="latitude" pInputText />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>Longitude<span class="text-danger">*</span></b>
              </label>
              <input type="text" formControlName="longitude" pInputText />
            </div>
          </div>
        </div>
      </fieldset>
      <!-- <fieldset *ngIf="historie">
        <legend [ngStyle]="{width: '18rem'}">
          <b>Informations d'identification</b>
        </legend>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>{{firstLevelLibelle}}<span class="text-danger">*</span></b>
              </label>
              <input type="text" formControlName="niveau_un_uuid" pInputText />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>{{secondLevelLibelle}}<span class="text-danger">*</span></b>
              </label>
              <input type="text" formControlName="niveau_deux_uuid" pInputText />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>{{thirdLevelLibelle}}<span class="text-danger">*</span></b>
              </label>
              <input type="text" formControlName="niveau_trois_uuid" pInputText />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>Nom Emplacement</b>
              </label>
              <input type="text" formControlName="point_emplacement" pInputText />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>Usage<span class="text-danger">*</span></b>
              </label>
              <input type="text" formControlName="usage_id" pInputText />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>Adresse mail</b>
              </label>
              <input type="text" formControlName="adresse_email" pInputText />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>Adresse géographique<span class="text-danger">*</span></b>
              </label>
              <input type="text" formControlName="adresse_geographique" pInputText />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>Latitude<span class="text-danger">*</span></b>
              </label>
              <input type="text" formControlName="latitude" pInputText />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>
                <b>Longitude<span class="text-danger">*</span></b>
              </label>
              <input type="text" formControlName="longitude" pInputText />
            </div>
          </div>
        </div>
      </fieldset> -->
      </div>
      <!------------------INFOS---------TRANSACTION----------------->
      <fieldset style="margin-top: 2.5rem;">
        <legend [ngStyle]="{width: '100%'}">
          <b>Détails de la Demande</b>
        </legend>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  <b>Description <span class="text-danger">*</span></b>
                </label>
                <input type="text" [(ngModel)]="selectedDescription" pInputText />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>
                  <b>Justificatif <span class="text-danger">*</span></b>
                </label>
                <input type="file" style="padding: 0.6rem;border: 1px solid;border-radius: 0.3rem;"
                  (change)="onChangeFile($event.target.files)" accept="image/png,image/jpeg" />
              </div>
            </div>
          </div>
      </fieldset>
  </div>
  <div
  *ngIf="selectedActionValue === swap || selectedActionValue === resiliation || selectedActionValue === suspension || selectedActionValue === volume">

  <fieldset style="margin-top: 2.5rem;">
    <legend [ngStyle]="{width: '100%'}">
      <b>Informations de la SIM</b>
    </legend>
    <div>
      <div class="row p-0">
        <div class="col-md-4" *ngIf="!historie">
          <div class="form-group">
            <label>
              <div class="d-flex gap-5">
                <div class="d-flex gap-2">
                  <p-radioButton name="valeur" value="IMSI" [(ngModel)]="radioValue" (onClick)="changeItem($event)"
                    inputId="imsi"></p-radioButton>
                  <label for="imsi" style="margin-top: 0.8rem;font-size: 0.8rem;">IMSI</label>
                </div>
                <div class="d-flex gap-2">
                  <p-radioButton name="valeur" value="MSISDN" [(ngModel)]="radioValue" (onClick)="changeItem($event)"
                    inputId="msisdn"></p-radioButton>
                  <label for="msisdn" style="margin-top: 0.8rem;font-size: 0.8rem;">MSISDN</label>
                </div>
              </div>
            </label>
            <div class="d-flex gap-2">
              <input placeholder="Saisir le numéro" [(ngModel)]="selectedValue" type="text" pInputText />
              <button pButton pRipple label="Verifier" (click)="onVerify()" [disabled]="isFilter()" style="padding:0 2rem 0 1rem" icon="pi pi-sync"
              class="p-button-success"></button>
            </div>            
          </div>
        </div>
        <div class="col-md-8">

        </div>
      </div>
    </div>
    <div style="margin-top: 0.5rem;">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>
              <b>MSIDN</b>
            </label>
            <input type="text" [(ngModel)]="currentPatrimoine.msisdn" [disabled]="true" pInputText />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              <b>IMSI</b>
            </label>
            <input type="text" [(ngModel)]="currentPatrimoine.imsi" [disabled]="true" pInputText />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              <b>Statut Contrat</b>
            </label>
              <input *ngIf="!currentPatrimoine?.statut" type="text" [(ngModel)]="currentPatrimoine.statut" pInputText [disabled]="true" />
              <app-statut-contrat *ngIf="currentPatrimoine?.statut" [statut]="currentPatrimoine?.statut"></app-statut-contrat>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>
              <b>Nom Emplacement</b>
            </label>
            <input type="text" [(ngModel)]="currentPatrimoine.point_emplacement" [disabled]="true" pInputText />
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset style="margin-top: 2.5rem;">
    <legend [ngStyle]="{width: '100%'}">
      <b>Détails de la Demande</b>
    </legend>
    <!----------------------------RESILIER----SUSPENSION----FORMS-------------------------------->
    <div class="row p-1" *ngIf="selectedActionValue === resiliation || selectedActionValue === suspension">
      <div class="col-md-4">
        <div class="form-group">
          <label>
            <b>Description <span class="text-danger">*</span></b>
          </label>
          <input type="text" [disabled]="isVerify()" [(ngModel)]="selectedDescription" pInputText />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>
            <b>Justificatif</b>
          </label>
          <input type="file" style="padding: 0.6rem;border: 1px solid;border-radius: 0.3rem;"
            (change)="onChangeFile($event.target.files)" accept="image/png,image/jpeg" />
        </div>
      </div>
    </div>
    <!------------------------------CHANGEMENT--------FORMS-------------------------------->
    <div *ngIf="selectedActionValue === swap">
      <div class="row">
        <div class="col-md-3">
          <div style="display: flex;gap: 2rem;">
            <div class="d-flex gap-2">
              <p-radioButton name="valeur" [value]="sourceStock" [(ngModel)]="sourceValue"
                (onClick)="selectedSource(sourceStock)" [inputId]="sourceStock"></p-radioButton>
              <label [for]="sourceStock" style="margin-top: 0.9rem">Stock SIM/Tenant</label>
            </div>
            <div class="d-flex gap-2">
              <p-radioButton name="valeur" [value]="sourceOrange" [(ngModel)]="sourceValue"
                (onClick)="selectedSource(sourceOrange)" [inputId]="sourceOrange"></p-radioButton>
              <label [for]="sourceOrange" style="margin-top: 0.9rem">Stock SIM/OCI</label>
            </div>
          </div>
        </div>
        <div class="col-md-9" style="margin-top: -1.8rem;">
          <div class="form-group">
            <label style="opacity: 0;">
              <b> <span class="text-danger">*</span></b>
            </label>
            <input [value]="sourceValue === 'stock' ? sourceStockTenantSim: sourceStockOrangeSim" type="text" [disabled]="true" pInputText/>
          </div>
        </div>
      </div>
      <div class="row">
         <div class="col-md-4">
          <div class="form-group">
            <label>
              <b>Description <span class="text-danger">*</span></b>
            </label>
            <input type="text" [disabled]="isVerify()" [(ngModel)]="selectedDescription" pInputText />
          </div>
         </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>
              <b>Justificatif</b>
            </label>
            <input type="file" style="padding: 0.6rem;border: 1px solid;border-radius: 0.3rem;"
              (change)="onChangeFile($event.target.files)" accept="image/png,image/jpeg" />
          </div>
        </div>
      </div>
    </div>
    <!--------------------------------VOLUME------------DATA-------------------------->
    <div *ngIf="selectedActionValue === volume">
      <div>
        <!-- <div class="col-md-3">
          <div class="d-flex gap-2">
            <div style="display: flex;gap: 2rem;">
              <div class="d-flex gap-2">
                <p-radioButton name="valeur" [value]="sourceStock" [(ngModel)]="sourceValue"
                  (onClick)="selectedSource(sourceStock)" [inputId]="sourceStock"></p-radioButton>
                <label [for]="sourceStock" style="margin-top: 0.9rem">Dotation Point Emplacement</label>
              </div>
            </div>
            <div class="d-flex gap-2">
              <p-radioButton name="valeur" [value]="sourceOrange" [(ngModel)]="sourceValue"
                (onClick)="selectedSource(sourceOrange)" [inputId]="sourceOrange"></p-radioButton>
              <label [for]="sourceOrange" style="margin-top: 0.9rem">Orange</label>
            </div>
          </div>
        </div> -->
        <div>
          <div class="form-group">
            <label style="opacity: 0;height: 0;">
              <b> <span class="text-danger">*</span></b>
            </label>
              <input [value]="sourceValue === 'stock' ? sourceSoldeDotation: sourceSoldeDotationOrange" type="text" [disabled]="true" pInputText/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label>
              <b>Volume (Go) <span class="text-danger">*</span></b>
            </label>
            <input type="number" [disabled]="isVerify()" [(ngModel)]="selectedVolume" pInputText />
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label>
              <b>Description</b>
            </label>
            <input type="text" [disabled]="isVerify()" [(ngModel)]="selectedDescription" pInputText />
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label>
              <b>Justificatif</b>
            </label>
            <input type="file" style="padding: 0.6rem;border: 1px solid;border-radius: 0.3rem;"
              (change)="onChangeFile($event.target.files)" accept="image/png,image/jpeg" />
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  </div>
  <div class="submit-form" *ngIf="selectedActionValue">
    <div>
      <button pButton *ngIf="selectedActionValue !== activation" style="float: right;margin-top: 1rem;"
        label="Soumettre" class="p-button-success" [disabled]="IsFormFomSIMValidate()"
        (click)="handleSaveNewTransaction()"></button>
      <button pButton *ngIf="selectedActionValue === activation" style="float: right;margin-top: 1rem;"
        label="Soumettre" class="p-button-success" [disabled]="!adminForm || !selectedDescription || !selectedPiece"
        (click)="handleSaveNewTransaction()"></button>
    </div>
    </div>
  </div>
    <!-----------------------------TRANSACTION MASSE-------------------------------->
    <div *ngIf="typeDemande === 'masse'">
         <!------------------------------ACTIVATION--------FORMS-------------------------------->
        <div class="activation-forms" *ngIf="this.router.url === '/demandes/activation'">
          <div [formGroup]="adminForm" novalidate>
          <!------------------INFOS---------IDENTIFICATION----------------->
          <fieldset *ngIf="!historie">
            <legend [ngStyle]="{width: '18rem'}">
              <b>Informations d'identification</b>
            </legend>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>
                    <b>{{firstLevelLibelle}}<span class="text-danger">*</span></b>
                  </label>
                  <p-dropdown [options]="listDirections" formControlName="niveau_un_uuid" optionLabel="nom" [placeholder]="firstLevelLibelle" optionValue="uuid">
                    <ng-template let-data pTemplate="item">
                      <div class="country-item">
                        <div>
                          {{data.nom}}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>
                    <b>{{secondLevelLibelle}}<span class="text-danger">*</span></b>
                  </label>
                  <p-dropdown [options]="listExploitations" formControlName="niveau_deux_uuid" optionLabel="nom" [placeholder]="secondLevelLibelle" optionValue="uuid">
                    <ng-template let-data pTemplate="item">
                      <div class="country-item">
                        <div>
                          {{data.nom}}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>
                    <b>{{thirdLevelLibelle}}<span class="text-danger">*</span></b>
                  </label>
                  <p-dropdown [options]="listActivites" formControlName="niveau_trois_uuid" optionLabel="nom" [placeholder]="thirdLevelLibelle" optionValue="uuid">
                    <ng-template let-data pTemplate="item">
                      <div class="country-item">
                        <div>
                          {{data.nom}}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset *ngIf="historie">
            <legend [ngStyle]="{width: '18rem'}">
              <b>Informations d'identification</b>
            </legend>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>
                    <b>{{firstLevelLibelle}}<span class="text-danger">*</span></b>
                  </label>
                  <input type="text" formControlName="niveau_un_uuid" pInputText />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>
                    <b>{{secondLevelLibelle}}<span class="text-danger">*</span></b>
                  </label>
                  <input type="text" formControlName="niveau_deux_uuid" pInputText />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>
                    <b>{{thirdLevelLibelle}}<span class="text-danger">*</span></b>
                  </label>
                  <input type="text" formControlName="niveau_trois_uuid" pInputText />
                </div>
              </div>
            </div>
          </fieldset>
          </div>
          <fieldset style="margin-top: 2.5rem;" *ngIf="selectedActionValue">
            <legend [ngStyle]="{width: '100%'}">
              <b>Demandes</b>
            </legend>
            <div class="ps-3">
              <app-transaction-masse 
                  (currentArrayForm)="pushCurrentArrayForm($event)" 
                  [currentArrayHeaders]="currentArrayHeaders" 
                  [displayModalAjoutEnMasse]="displayModalAjoutEnMasse">
                </app-transaction-masse>
            </div>
           </fieldset>
          <!------------------INFOS---------TRANSACTION----------------->
          <fieldset style="margin-top: 2.5rem;">
            <legend [ngStyle]="{width: '100%'}">
              <b>Détails de la Demande</b>
            </legend>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>
                      <b>Description <span class="text-danger">*</span></b>
                    </label>
                    <input type="text" [(ngModel)]="selectedDescription" pInputText />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>
                      <b>Justificatif <span class="text-danger">*</span></b>
                    </label>
                    <input type="file" style="padding: 0.6rem;border: 1px solid;border-radius: 0.3rem;"
                      (change)="onChangeFile($event.target.files)" accept="image/png,image/jpeg" />
                  </div>
                </div>
              </div>
          </fieldset>
        </div>
       <div class="submit-form">
        <div>
          <button pButton style="float: right;margin-top: 1rem;"
            label="Soumettre" class="p-button-success" [disabled]="!adminForm || !selectedDescription || listDemandes?.length === 0"
            (click)="handleSaveMasse()"></button>
        </div>
        </div>
    </div>
</div>