.forms-feature-footer {
    display: flex;
    justify-content: start !important;
}

:host ::ng-deep p-dropdown.ng-dirty.ng-invalid > .p-dropdown {
    border-color: #ced4da !important;
}

.box-card {
    text-align: center;
    border: 0.5px solid black;
    border-radius: 6px;
    padding: 0 0.5rem;
    line-height: 3.5rem;
    height: 3.5rem;
    text-align: center;
}
.title {
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    font-family: 'FUTURA';
}
.valeur {
    span {
        margin-left: 5px;
        color: #ff6600;
        font-size: 20px;
        text-align: center;
        font-family: 'FUTURA';
    }
}
.block-checked {
    input {
        width: 15px;
        height: 15px;
        cursor: pointer !important;
        border: 1px solid black;
    }
    // label {
    //   font-size: 25px;
    //   margin-left: 0.5rem;
    // }
}
