:host ::ng-deep {
    p-calendar {
        th {
            color: #000 !important;
        }
    }

    .p-paginator {
        .p-paginator-current {
            margin-left: auto;
        }
    }

    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;

        .p-progressbar-value {
            background-color: #607D8B;
        }
    }

    .table-header {
        display: flex;
        justify-content: space-between;
    }

    .p-calendar .p-datepicker {
        min-width: 25rem;

        td {
            font-weight: 400;
        }
    }

    .p-datatable.p-datatable-customers {
        .p-datatable-header {
            padding: 1rem;
            text-align: left;
            font-size: 1.5rem;
        }

        .p-paginator {
            padding: 1rem;
        }

        .p-datatable-thead>tr>th {
            text-align: left;
        }

        .p-datatable-tbody>tr>td {
            cursor: auto;
        }

        .p-dropdown-label:not(.p-placeholder) {
            text-transform: uppercase;
        }
    }

    /* Responsive */
    .p-datatable-customers .p-datatable-tbody>tr>td .p-column-title {
        display: none;
    }


    .pos__top {
        position: absolute !important;
        top: -13% !important;
        right: 0% !important;
    }

    .pos__left__button {
        margin-left: -1%;
    }

    .pos__table {
        margin-top: 5%;
    }

    .mt-3 {
        margin-top: -3% !important;
    }

    .mt-4x {
        margin-top: 4% !important;
    }

    .mt-10x {
        margin-top: 10% !important;
    }

    .mt-2 {
        margin-top: 4% !important;
    }

    .fs__23 {
        font-size: 23px !important;
    }

    .pos__left {
        margin-left: -1%;
    }
}

form {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

form .form_container {
    width: 100%;
    display: flex;
    gap: 5px;
}

.input_container {
    display: flex;
    flex-direction: column;
    width: 220px;

    p-dropdown {
        flex: 1;
        max-width: 220px !important;
        min-width: 220px !important;
    }
}

@media screen and (max-width: 960px) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-customers {

                .p-datatable-thead>tr>th,
                .p-datatable-tfoot>tr>td {
                    display: none !important;
                }

                .p-datatable-tbody>tr {
                    border-bottom: 1px solid var(--layer-2);

                    >td {
                        text-align: left;
                        display: block;
                        border: 0 none !important;
                        width: 100% !important;
                        float: left;
                        clear: left;
                        border: 0 none;

                        .p-column-title {
                            padding: .4rem;
                            min-width: 30%;
                            display: inline-block;
                            margin: -.4rem 1rem -.4rem -.4rem;
                            font-weight: bold;
                        }

                        .p-progressbar {
                            margin-top: .5rem;
                        }
                    }
                }
            }
        }
    }

}

.cursor-pointer {
    cursor: pointer !important;
}

.card {
    background-color: #fff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.bg_light_green {
    background-color: #fff !important;
}

li {
    font-size: 17px !important;
}



p-dialog .modal_body_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    .input_group_description {
        width: 100%;
        display: flex;
        flex-direction: column;

        input {
            flex: 1;
        }
    }
}

.modal_grid {
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;

    .input_group {
        display: flex;
        flex-direction: column;

        input {
            flex: 1;
        }
    }
}




@media screen and (max-width: 960px) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-customers {

                .p-datatable-thead>tr>th,
                .p-datatable-tfoot>tr>td {
                    display: none !important;
                }

                .p-datatable-tbody>tr {
                    border-bottom: 1px solid var(--layer-2);

                    >td {
                        text-align: left;
                        display: block;
                        border: 0 none !important;
                        width: 100% !important;
                        float: left;
                        clear: left;
                        border: 0 none;

                        .p-column-title {
                            padding: .4rem;
                            min-width: 30%;
                            display: inline-block;
                            margin: -.4rem 1rem -.4rem -.4rem;
                            font-weight: bold;
                        }

                        .p-progressbar {
                            margin-top: .5rem;
                        }
                    }
                }
            }
        }
    }

}