.input_file {
    align-items: center;
    position: relative;
    display: flex;
    overflow: hidden;
    border: solid 0.5px rgba(0, 0, 0, 0.5);

    input {
        width: 1px;
        height: 1px;
        z-index: 1;
    }

    label {
        position: static;
        z-index: 2;
        background-color: #e1e1e1;
        margin-bottom: 0 !important;
        cursor: pointer;
        width: 100%;

        span {
            font-style: italic;
            margin-left: 10px;
        }
    }

    .isFile_backgroundGreen {
        background-color: rgb(86, 156, 91, 0.5) !important;
    }
}
