<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb
                [title]="module"
                [active_item]="subModule"
            ></app-breadcrumb>
            <div class="card">
                <div class="card-body">
                    <div [hidden]="!initialView">
                        <div class="row filter_wrapper">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        <b
                                            >Nom Groupe<span class="text-danger"
                                                >*</span
                                            ></b
                                        >
                                    </label>
                                    <input
                                        placeholder="Saisir le nom"
                                        [(ngModel)]="selectedNom"
                                        type="text"
                                        pInputText
                                    />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        <b>IMSI</b>
                                    </label>
                                    <input
                                        placeholder="IMSI"
                                        [(ngModel)]="selectedImsi"
                                        type="text"
                                        pInputText
                                    />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        <b>MSISDN</b>
                                    </label>
                                    <input
                                        placeholder="MSISDN"
                                        [(ngModel)]="selectedMsisdn"
                                        type="text"
                                        pInputText
                                    />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <p-button
                                    styleClass="p-button-success filter-button"
                                    icon="pi pi-filter"
                                    [disabled]="isFilter()"
                                    (click)="onFilter()"
                                ></p-button>
                            </div>
                        </div>
                        <hr />
                        <div class="table_actions_wrapper">
                            <button
                                pButton
                                pRipple
                                label="Ajout de groupe"
                                icon="pi pi-plus"
                                (click)="onInitForm()"
                                class="p-button-success"
                            ></button>
                            <button
                                pButton
                                pRipple
                                label="Rafraîchir"
                                (click)="OnRefresh()"
                                icon="pi pi-refresh"
                                class="p-button-secondary"
                            ></button>
                            <button
                                pButton
                                pRipple
                                label="Exporter"
                                (click)="OnExportExcel()"
                                [disabled]="disableAction()"
                                icon="pi pi-download"
                                class="p-button-helf"
                            ></button>
                        </div>
                        <div class="table_content_wrapper">
                            <p-table
                                #dt
                                [value]="listProfils"
                                [rows]="10"
                                [paginator]="true"
                                responsiveLayout="scroll"
                                [rowHover]="true"
                                dataKey="id"
                                currentPageReportTemplate="Affichage de {first} à {last} des {totalRecords}
                      données"
                                [showCurrentPageReport]="true"
                                responsiveLayout="scroll"
                                scrollable="true"
                                scrollHeight="flex"
                                width="100%"
                                class="responsive-claims-table"
                            >
                                <ng-template pTemplate="caption">
                                    <div class="table_header">
                                        <app-table-header
                                            [count]="listProfils"
                                            [legende]="'Groupes'"
                                        ></app-table-header>
                                        <div class="table_header__input">
                                            <span
                                                class="p-input-icon-left ml-auto"
                                            >
                                                <i class="pi pi-search"></i>
                                                <input
                                                    pInputText
                                                    type="text"
                                                    (input)="
                                                        dt1.filterGlobal(
                                                            $event.target.value,
                                                            'contains'
                                                        )
                                                    "
                                                    placeholder="Recherche"
                                                />
                                            </span>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Nom du groupe</th>
                                        <th>Description</th>
                                        <th>Date création</th>
                                        <th>Date MAJ</th>
                                        <th># SIM Affectés</th>
                                        <th>Statut</th>
                                        <th
                                            class="text-center"
                                            [style]="{ width: '10rem' }"
                                        >
                                            Actions
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template
                                    let-i="rowIndex"
                                    pTemplate="body"
                                    let-data
                                >
                                    <tr>
                                        <td class="text-center">{{ i + 1 }}</td>
                                        <td
                                            (click)="copyData(data.nom)"
                                            style="cursor: pointer"
                                        >
                                            {{ data?.nom }}
                                        </td>
                                        <td>{{ data?.description }}</td>
                                        <td>{{ data?.created_at }}</td>
                                        <td>{{ data?.updated_at }}</td>
                                        <td class="text-center">
                                            <button
                                                pButton
                                                pRipple
                                                pTooltip="Visualiser"
                                                tooltipPosition="top"
                                                label="Visualiser ({{
                                                    data.sims_count
                                                }})"
                                                class="p-button"
                                                (click)="OnVisualisation(data)"
                                                [disabled]="
                                                    data.sims_count === 0
                                                "
                                            ></button>
                                        </td>
                                        <td class="text-center">
                                            <span
                                                [ngStyle]="{
                                                    'font-size': '16px'
                                                }"
                                                class="badge"
                                                [class.badge-success]="
                                                    data.statut === 'actif'
                                                "
                                                [class.badge-danger]="
                                                    data.statut !== 'actif'
                                                "
                                            >
                                                {{ data.statut }}
                                            </span>
                                        </td>
                                        <td class="td-actions">
                                            <p-button
                                                icon="pi pi-eye"
                                                styleClass="p-button-dark"
                                                pTooltip="Voir"
                                                tooltipPosition="top"
                                                (click)="onShowForm(data)"
                                            ></p-button>
                                            <button
                                                pButton
                                                pRipple
                                                icon="pi pi-pencil"
                                                [disabled]="
                                                    data.statut === 'inactif'
                                                "
                                                class="p-button-secondary"
                                                pTooltip="Editer"
                                                tooltipPosition="top"
                                                (click)="onEditForm(data)"
                                            ></button>
                                            <button
                                                pButton
                                                pRipple
                                                icon="pi pi-arrow-right"
                                                [disabled]="
                                                    data.statut === 'inactif'
                                                "
                                                (click)="OnAffectaion(data)"
                                                class="p-button-dark"
                                                pTooltip="Affecter"
                                                tooltipPosition="top"
                                            ></button>
                                            <button
                                                [ngClass]="
                                                    data?.statut === 'actif'
                                                        ? 'p-button-warning'
                                                        : 'p-button-success'
                                                "
                                                pButton
                                                pRipple
                                                icon="pi pi-power-off"
                                                [pTooltip]="
                                                    data?.statut === 'actif'
                                                        ? 'Désactiver'
                                                        : 'Activer'
                                                "
                                                tooltipPosition="top"
                                                (click)="
                                                    data?.statut === 'actif'
                                                        ? handleDisableProfil(
                                                              data
                                                          )
                                                        : handleActivateProfil(
                                                              data
                                                          )
                                                "
                                            ></button>
                                            <button
                                                pButton
                                                pRipple
                                                icon="pi pi-trash"
                                                class="p-button-danger"
                                                (click)="
                                                    HandleDeleteGroupe(data)
                                                "
                                                pTooltip="Supprimer"
                                                tooltipPosition="top"
                                            ></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                    <app-groupe-form
                        [currentObject]="currentObject"
                        *ngIf="formsView"
                        (formsView)="pushStatutView($event)"
                        (listProfils)="pushListProfils($event)"
                    >
                    </app-groupe-form>
                </div>
            </div>
        </div>
    </div>
</div>
