<main class="container-fluid user-form-container" role="main">
    <section class="row user-form-row">
        <article class="col-sm-12 user-form-article">
            <app-breadcrumb
                class="user-form-breadcrumb"
                [title]="module | translate"
                [active_item]="subModule | translate"
            ></app-breadcrumb>

            <section class="card user-form-card">
                <div class="card-body user-form-card-body">
                    <header class="user-form-header">
                        <div
                            class="d-flex justify-content-between align-items-center"
                        >
                            <div>
                                <h2>
                                    <b>
                                        <span>{{
                                            pageTitle | async | translate
                                        }}</span>
                                        <span
                                            *ngIf="user$ | async as user"
                                            class="current-values"
                                        >
                                            [{{ user.nom }} {{ user.prenoms }}]
                                        </span>
                                    </b>
                                </h2>
                            </div>
                            <p-button
                                [label]="'QUEUES' | translate"
                                (onClick)="onCancel()"
                                styleClass="p-button-danger"
                            >
                            </p-button>
                        </div>
                    </header>

                    <div class="fade-in user-form-content">
                        <form [formGroup]="formUser" (ngSubmit)="onSubmit()">

                            <div class="row">
                                <div class="col-md-4 form-group mb-3">
                                    <label for="matricule">
                                        <b
                                            >{{
                                                'SETTINGS_SECURITY.USER.FORM.MATRICULE'
                                                    | translate
                                            }}<span class="text-danger">*</span></b
                                        >
                                    </label>
                                    <input
                                        id="matricule"
                                        type="text"
                                        pInputText
                                        formControlName="matricule"
                                        [readonly]="readOnly"
                                        [class.ng-invalid]="
                                            formUser.get('matricule')?.invalid &&
                                            formUser.get('matricule')?.touched
                                        "
                                    />
                                    <small
                                        class="p-error"
                                        *ngIf="
                                            formUser.get('matricule')?.invalid &&
                                            formUser.get('matricule')?.touched
                                        "
                                    >
                                        {{
                                            'SETTINGS_SECURITY.USER.FORM.MATRICULE_REQUIRED'
                                                | translate
                                        }}
                                    </small>
                                </div>

                                <div class="col-md-4 form-group mb-3">
                                    <label for="lastName">
                                        <b
                                            >{{
                                                'SETTINGS_SECURITY.USER.FORM.LAST_NAME'
                                                    | translate
                                            }}<span class="text-danger">*</span></b
                                        >
                                    </label>
                                    <input
                                        id="lastName"
                                        type="text"
                                        pInputText
                                        formControlName="lastName"
                                        [readonly]="readOnly"
                                        [class.ng-invalid]="
                                            formUser.get('lastName')?.invalid &&
                                            formUser.get('lastName')?.touched
                                        "
                                    />
                                    <small
                                        class="p-error"
                                        *ngIf="
                                            formUser.get('lastName')?.invalid &&
                                            formUser.get('lastName')?.touched
                                        "
                                    >
                                        {{
                                            'SETTINGS_SECURITY.USER.FORM.LAST_NAME_REQUIRED'
                                                | translate
                                        }}
                                    </small>
                                </div>

                                <div class="col-md-4 form-group mb-3">
                                    <label for="firstName">
                                        <b
                                            >{{
                                                'SETTINGS_SECURITY.USER.FORM.FIRST_NAME'
                                                    | translate
                                            }}<span class="text-danger">*</span></b
                                        >
                                    </label>
                                    <input
                                        id="firstName"
                                        type="text"
                                        pInputText
                                        formControlName="firstName"
                                        [readonly]="readOnly"
                                        [class.ng-invalid]="
                                            formUser.get('firstName')?.invalid &&
                                            formUser.get('firstName')?.touched
                                        "
                                    />
                                    <small
                                        class="p-error"
                                        *ngIf="
                                            formUser.get('firstName')?.invalid &&
                                            formUser.get('firstName')?.touched
                                        "
                                    >
                                        {{
                                            'SETTINGS_SECURITY.USER.FORM.FIRST_NAME_REQUIRED'
                                                | translate
                                        }}
                                    </small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 form-group mb-3">
                                <label for="phone">
                                    <b
                                        >{{
                                            'SETTINGS_SECURITY.USER.FORM.PHONE'
                                                | translate
                                        }}<span class="text-danger">*</span></b
                                    >
                                </label>
                                <p-inputmask
                                    id="phone"
                                    mask="99 99 99 99 99"
                                    formControlName="phone"
                                    placeholder="07 07 07 07 07"
                                    [autoClear]="false"
                                    [readonly]="readOnly"
                                    [class.ng-invalid]="
                                        formUser.get('phone')?.invalid &&
                                        formUser.get('phone')?.touched
                                    "
                                ></p-inputmask>
                                <small
                                    class="p-error"
                                    *ngIf="
                                        formUser.get('phone')?.invalid &&
                                        formUser.get('phone')?.touched
                                    "
                                >
                                    {{
                                        'SETTINGS_SECURITY.USER.FORM.PHONE_REQUIRED'
                                            | translate
                                    }}
                                </small>
                                </div>

                                <div class="col-md-4 form-group mb-3">
                                    <label for="uniqId">
                                        <b
                                            >{{
                                                'SETTINGS_SECURITY.USER.FORM.PROFILE'
                                                    | translate
                                            }}<span class="text-danger">*</span></b
                                        >
                                    </label>
                                    <p-select
                                        id="uniqId"
                                        formControlName="uniqId"
                                        [options]="profileOptions"
                                        optionValue="value"
                                        optionLabel="label"
                                        [showClear]="!readOnly"
                                        [disabled]="readOnly"
                                        placeholder="{{ 'SELECT' | translate }}"
                                        appendTo="body"
                                        [class.ng-invalid]="
                                            formUser.get('uniqId')?.invalid &&
                                            formUser.get('uniqId')?.touched
                                        "
                                    >
                                        <ng-template
                                            pTemplate="selectedItem"
                                            let-option
                                        >
                                            <span>{{
                                                option?.label | translate
                                            }}</span>
                                        </ng-template>
                                        <ng-template pTemplate="item" let-option>
                                            <span>{{
                                                option.label | translate
                                            }}</span>
                                        </ng-template>
                                    </p-select>
                                    <small
                                        class="p-error"
                                        *ngIf="
                                            formUser.get('uniqId')?.invalid &&
                                            formUser.get('uniqId')?.touched
                                        "
                                    >
                                        {{
                                            'SETTINGS_SECURITY.USER.FORM.PROFILE_REQUIRED'
                                                | translate
                                        }}
                                    </small>
                                </div>

                                <div class="col-md-4 form-group mb-3">
                                    <label for="email">
                                        <b
                                            >{{
                                                'SETTINGS_SECURITY.USER.FORM.EMAIL'
                                                    | translate
                                            }}<span class="text-danger">*</span></b
                                        >
                                    </label>
                                    <input
                                        id="email"
                                        type="email"
                                        pInputText
                                        formControlName="email"
                                        [readonly]="readOnly"
                                        [class.ng-invalid]="
                                            formUser.get('email')?.invalid &&
                                            formUser.get('email')?.touched
                                        "
                                    />
                                    <small
                                        class="p-error"
                                        *ngIf="
                                            formUser.get('email')?.invalid &&
                                            formUser.get('email')?.touched
                                        "
                                    >
                                        <span
                                            *ngIf="
                                                formUser.get('email')?.errors?.[
                                                    'required'
                                                ]
                                            "
                                        >
                                            {{
                                                'SETTINGS_SECURITY.USER.FORM.EMAIL_REQUIRED'
                                                    | translate
                                            }}
                                        </span>
                                        <span
                                            *ngIf="
                                                formUser.get('email')?.errors?.[
                                                    'email'
                                                ]
                                            "
                                        >
                                            {{
                                                'SETTINGS_SECURITY.USER.FORM.EMAIL_INVALID'
                                                    | translate
                                            }}
                                        </span>
                                    </small>
                                </div>
                            </div>
                            
                        </form>

                        <div class="user-form-actions">
                            <p-button
                                [label]="'CANCEL' | translate"
                                (onClick)="onCancel()"
                                styleClass="p-button-secondary"
                            ></p-button>
                            <p-button
                                *ngIf="!readOnly"
                                [label]="'SAVE' | translate"
                                (onClick)="onSubmit()"
                                styleClass="p-button-primary"
                            ></p-button>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </section>
</main>
