.filter-grid {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        min-width: 13rem;

        label {
            font-size: 0.875rem;
        }

        ::ng-deep .p-inputtext,
        ::ng-deep .p-datepicker,
        ::ng-deep .p-select,
        ::ng-deep .p-select-trigger {
            width: 100%;
        }

        &.p-long {
            min-width: 21rem;
        }
    }

    &__actions {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 4rem;
    }
}

:host ::ng-deep .p-datepicker,
:host ::ng-deep .p-select {
    width: 100% !important;
}
