<!-- <p-table
    #dt
    [value]="profileHabilitation()"
    [rowHover]="true"
    [rows]="pagination()?.per_page || 10"
    [globalFilterFields]="tableConfig().globalFilterFields"
    responsiveLayout="scroll"
    [scrollable]="true"
    scrollHeight="430px"
    data-testid="profile-habilitation-table"
    role="grid"
    width="100%"
>
    <ng-template pTemplate="caption">
        <div class="container-table-header">
            <app-table-title
                [count]="pagination()?.total"
                [perPage]="pagination()?.per_page"
                [page]="pagination()?.current_page"
                [totalPage]="pagination()?.last_page"
            >
            </app-table-title>
            <div
                class="d-flex gap-2 align-items-center custom-header-actions mt-2 mt-md-0"
            >
                <app-table-button-header
                    (export)="onExportExcel()"
                    (refresh)="onRefresh()"
                    [disabledButtonExport]="isLoading() || !hasData()"
                    [disabledButtonRefresh]="isLoading()"
                    [hiddenButtonOther]="true"
                    (other)="onAddProfile()"
                    [hiddenButtonOther]="false"
                    [labelOther]="
                        'SETTINGS_SECURITY.PROFILE_HABILITATION.BUTTONS.ADD'
                    "
                >
                </app-table-button-header>
                <app-search-table [dt]="dt" />
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr role="row">
            @for (col of tableConfig.cols; track trackByColField($index, col)) {
                <th
                    [class]="col.class"
                    [style]="{
                        'min-width': col.width,
                        width: col.width,
                        'text-align': 'center',
                    }"
                    role="columnheader"
                    scope="col"
                >
                    {{ col.header | translate }}
                </th>
            }
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-item>
        <tr role="row" [class.cursor-pointer]="!isLoading()">
            @for (col of tableConfig.cols; track trackByColField($index, col)) {
                <td
                    [class]="col.class"
                    [ngStyle]="{ minWidth: col.width, width: col.width }"
                    role="gridcell"
                >
                    @switch (col.field) {
                        @case ('__index') {
                            {{
                                ((pagination$ | async)?.current_page - 1 || 0) *
                                    ((pagination$ | async)?.per_page || 0) +
                                    rowIndex +
                                    1
                            }}
                        }
                        @case ('name') {
                            <p-tag
                                [value]="item.name"
                                [severity]="getNameSeverity(item.name)"
                                class="profile-tag"
                            ></p-tag>
                        }

                        @case ('description') {
                            <span>
                                {{ item.description }}
                            </span>
                        }
                        

                        @case ('createdAt') {
                            <time [attr.datetime]="item.createdAt">
                                {{ formatDate(item.createdAt) }}
                            </time>
                        }
                        
                        @case ('totalUsers') {
                            <button
                                type="button"
                                class="btn btn-link p-0 text-primary"
                                (click)="onUsersClicked(item)"
                                [attr.aria-label]="
                                    'SETTINGS_SECURITY.PROFILE_HABILITATION.TABLE.USERS_COUNT'
                                "
                            >
                                {{ item.totalUsers ?? 0 }}
                            </button>
                        }

                        @case ('status') {
                            <div class="tag-group state-group" [class]="col.class">
                                <p-tag
                                    [value]="item.status"
                                    [severity]="getStatusSeverity(item.status)"
                                    class="status-tag"
                                ></p-tag>
                            </div>
                        }
                        
                        @case ('__action') {
                            <div class="dropdown">
                                <button
                                    type="button"
                                    class="btn btn-link p-0 text-primary"
                                    (click)="onUsersClicked(item)"
                                    [attr.aria-label]="
                                        'SETTINGS_SECURITY.PROFILE_HABILITATION.TABLE.USERS_COUNT'
                                    "
                                >
                                    {{ item.totalUsers ?? 0 }}
                                </button>
                            </div>
                        }


                        
                        @default {
                            {{ item[col.field] }}
                        }
                    }
                </td>
            }
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr
            *ngIf="profileHabilitation()?.length <= 0 && !spinner"
            class="loading-table"
        >
            <td class="posRelative" [attr.colspan]="tableConfig().cols.length">
                <span class="posCenter">
                    {{ 'NO_DATA_FOUND' | translate }}
                </span>
            </td>
        </tr>
        <tr *ngIf="spinner" class="loading-table">
            <td class="posRelative" [attr.colspan]="tableConfig().cols.length">
                <p-progressSpinner
                    class="posCenter"
                    [style]="{ width: '40px', height: '50px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="#EEEEEE"
                    animationDuration=".5s"
                >
                </p-progressSpinner>
            </td>
        </tr>
    </ng-template>
</p-table>
 -->
