<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-breadcrumb [title]="'Supervision des SIM'" [active_item]="'Zones Exploitations'"></app-breadcrumb>
      <div class="card">
        <div class="card-body">
          <div>
            <div class="row filter_wrapper">
              <div class="col-md-3">
                <div class="form-group">
                  <label>
                    <b>Direction Régionale<span class="text-danger">*</span></b>
                  </label>
                  <p-dropdown [options]="listDirections" optionLabel="nom" (onChange)="onChangeItem($event)"
                    [showClear]="true" placeholder="Selectionnez la direction">
                    <ng-template let-data pTemplate="item">
                      <div class="country-item">
                        <div>
                          {{data.nom}}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>
                    <b>Exploitation</b>
                  </label>
                  <p-dropdown [options]="listExploitations" optionLabel="fullName" [(ngModel)]="selectedExploitation"
                    placeholder="Selectionnez l'exploitation">>
                    <ng-template let-data pTemplate="item">
                      <div class="country-item">
                        <div>
                          {{data.fullName}}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
              <div class="col-md-1">
                <p-button styleClass="p-button-success filter-button" (click)="onFilter()" icon="pi pi-filter"
                  [disabled]="isFilter()"></p-button>
              </div>
            </div>
            <hr>
            <div class="table_actions_wrapper">
              <button pButton pRipple label="Rafraichir" (click)="getAllExploiatations()" icon="pi pi-refresh"
                class="p-button-secondary"></button>
              <button pButton pRipple label="Exporter" icon="pi pi-download" [disabled]="disableAction()"
                class="p-button-helf"></button>
            </div>
            <div class="table_content_wrapper">
              <p-table #dt [value]="listZonesExploitations" [rows]="10" [paginator]="true" responsiveLayout="scroll"
                [rowHover]="true" dataKey="id" currentPageReportTemplate="Affichage de {first} à {last} des {totalRecords}
                    données" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                  <div class="table_header">
                    <div class="table_header__legende">
                      <h4>
                        <b>Liste des zones de trafics</b>
                      </h4>
                    </div>
                    <div class="table_header__input">
                      <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                          placeholder="Recherche" />
                      </span>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-center">#</th>
                    <th>Directions Régionales</th>
                    <th class="text-center">Exploitations</th>
                    <th class="text-center"># SIM</th>
                    <th class="text-center"># SIM Actives</th>
                    <th class="text-center"># SIM Inactives</th>
                    <th class="text-center" [ngStyle]="{width: '0.5rem'}">Action</th>
                  </tr>
                </ng-template>
                <ng-template let-i="rowIndex" pTemplate="body" let-data>
                  <tr>
                    <td class="text-center">{{ i + 1 }}</td>
                    <td>{{ data?.direction_regionale?.nom}}</td>
                    <td class="text-center">{{data?.nom}} [{{data?.code}}]</td>
                    <td class="text-center">{{data?.sims_count}}</td>
                    <td class="text-center">{{data?.active_sims_count}}</td>
                    <td class="text-center">{{data?.inactive_sims_count}}</td>
                    <td class="td-actions">
                      <p-button icon="pi pi-map-marker" [pTooltip]="data.sims_count === 0 ? '' : 'Vue géographique'"
                        tooltipPosition="top" [disabled]="data.sims_count === 0" (click)="showMap(data)"
                        [styleClass]="data.sims_count === 0 ? 'p-button-success p-button-outlined' : 'p-button-success'"></p-button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="display" position="bottom-right" (onHide)="hideDialog()" (onMaximize)="onMaximized($event)"
  [modal]="true" [responsive]="true" [style]=" {width: '96vw'}" [maximizable]="true" [draggable]="false"
  [resizable]="false">
  <ng-template pTemplate="header">
    <h3>
      <b [style]="{ color: '#FFFFFF' }">Zone Exploitation: <u class="current_values">[{{currentZone.nom}}]</u></b>
    </h3>
  </ng-template>
  <ng-template pTemplate="content">
    <app-carte [maxi]="maxi" [datas]="datas"></app-carte>
  </ng-template>
</p-dialog>