@if (!loading()) {
    <div class="treatment-form-body">
        <div class="action-section">
            <form [formGroup]="form()" class="management-type-form-row">
                <div class="row d-flex justify-content-center">
                        <div class="col-md-4">
                            <div class="col-md-12">
                                <div
                                    class="container-radio-option col-md-12"
                                >
                                    <div
                                        class="radio-option col-md"
                                        role="radiogroup"
                                        aria-labelledby="management-type-label"
                                    >
                                        <div
                                            class="col-md d-flex align-items-center justify-content-center cursor-pointer gap-3"
                                            (click)="
                                                onManagementTypeChange(
                                                    'edit'
                                                )
                                            "
                                            (keypress)="
                                                onManagementTypeChange(
                                                    'edit'
                                                )
                                            "
                                            [class.selected]="
                                                isManagementType(
                                                    'edit'
                                                )
                                            "
                                            tabindex="0"
                                            role="radio"
                                            [attr.aria-checked]="
                                                isManagementType(
                                                    'edit'
                                                )
                                            "
                                            [attr.aria-label]="
                                                'MANAGEMENT.TREATMENT.CALLBACK_ACTION.OPTIONS.EDIT.LABEL'
                                                    | translate
                                            "
                                        >
                                            <div
                                                class="radio-indicator"
                                            >
                                                <div
                                                    class="radio-dot"
                                                    [class.checked]="
                                                        isManagementType(
                                                            'edit'
                                                        )
                                                    "
                                                ></div>
                                            </div>
                                            <div
                                                class="radio-content"
                                            >
                                                <div
                                                    class="radio-text"
                                                >
                                                    <div
                                                        class="radio-title"
                                                    >
                                                        {{
                                                            'MANAGEMENT.TREATMENT.CALLBACK_ACTION.OPTIONS.EDIT.LABEL'
                                                                | translate
                                                        }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="col-md d-flex align-items-center justify-content-center cursor-pointer gap-3"
                                            (click)="
                                                onManagementTypeChange(
                                                    'callback'
                                                )
                                            "
                                            (keypress)="
                                                onManagementTypeChange(
                                                    'callback'
                                                )
                                            "
                                            [class.selected]="
                                                isManagementType(
                                                    'callback'
                                                )
                                            "
                                            tabindex="0"
                                            role="radio"
                                            [attr.aria-checked]="
                                                isManagementType(
                                                    'callback'
                                                )
                                            "
                                            [attr.aria-label]="
                                                'MANAGEMENT.TREATMENT.CALLBACK_ACTION.OPTIONS.CALLBACK.LABEL'
                                                    | translate
                                            "
                                        >
                                            <div
                                                class="radio-indicator"
                                            >
                                                <div
                                                    class="radio-dot"
                                                    [class.checked]="
                                                        isManagementType(
                                                            'callback'
                                                        )
                                                    "
                                                ></div>
                                            </div>
                                            <div
                                                class="radio-content"
                                            >
                                                <div
                                                    class="radio-text"
                                                >
                                                    <div
                                                        class="radio-title"
                                                    >
                                                        {{
                                                            'MANAGEMENT.TREATMENT.CALLBACK_ACTION.OPTIONS.CALLBACK.LABEL'
                                                                | translate
                                                        }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- @if (shouldShowCallbackTypeField()) { -->
                        <div class="col-md-5">
                            <p-select
                                id="callbackType"
                                class="form-p-select"
                                formControlName="callbackType"
                                [options]="callbackTypeOptions()"
                                optionLabel="label"
                                optionValue="value"
                                [placeholder]="
                                    'MANAGEMENT.TREATMENT.CALLBACK_ACTION.CALLBACK_TYPE'
                                        | translate
                                "
                                [emptyMessage]="
                                    'COMMON.SELECT_EMPTY_MESSAGE'
                                        | translate
                                "
                                [emptyFilterMessage]="
                                    'COMMON.SELECT_EMPTY_FILTER_MESSAGE'
                                        | translate
                                "
                                [showClear]="true"
                                styleClass="w-100"
                                appendTo="body"
                                [ngClass]="{
                                    'ng-invalid ng-dirty':
                                        isFieldInvalid('callbackType'),
                                }"
                            />
                        </div>
                        <!-- } -->
                </div>
            </form>
        </div>
    </div>
}
