*td {
    padding: 0.6rem !important;
}

.modal-header {
    background-color: #000;

    h4 {
        text-transform: uppercase;
    }

    h4,
    button {
        color: #FFFFFF;
    }
}

.modal-content {
    width: 40rem;
}

.btn-save {
    background-color: #00B25F !important;
    color: #FFFFFF !important;
}

.btn-hide {
    background-color: #DF013A !important;
    color: #FFFFFF !important;
}