.iframe__constainer {
    margin-top: 10px;
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    border: none;
    height: 100vh;
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.centered-image {
    display: block;
    margin: 20px auto;
    max-width: 300px;
    height: auto;
}

.btn-primary {
    background-color: var(--theme-deafult) !important;
    border-color: var(--theme-deafult) !important;
}

.p-button-rounded {
    border-radius: 5px !important;
}

.p-button {
    color: #000;
    background: #edeff5;
    border: 1px solid #edeff5;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
    border-radius: 6px;
}
