<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-breadcrumb [title]="'Analyse & Alertes'" [active_item]="'Analyse des Alarmes'"></app-breadcrumb>
      <div class="card">
        <div class="card-body">
          <div>
            <div class="row filter_wrapper">
              <div class="col-md-3">
                <div class="form-group">
                  <label>
                    <b>Direction Régionale<span class="text-danger">*</span></b>
                  </label>
                  <p-dropdown [options]="listDirectionRegionales" (onChange)="onChangeItem($event)"
                    [(ngModel)]="selectedDirection" [showClear]="true" optionLabel="nom"
                    placeholder="Selectionnez la direction">
                    <ng-template let-data pTemplate="item">
                      <div class="country-item">
                        <div>
                          {{data.nom}}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>
                    <b>Exploitation</b>
                  </label>
                  <p-dropdown [options]="listExploitations" [(ngModel)]="selectedExploitation" optionLabel="nom"
                    placeholder="Selectionnez l'exploitation">
                    <ng-template let-data pTemplate="item">
                      <div class="country-item">
                        <div>
                          {{data.nom}}
                        </div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label>
                    <b>MSISDN<span class="text-danger">*</span></b>
                  </label>
                  <input placeholder="Saisir le numéro" [(ngModel)]="selectedSim" pInputText />
                </div>
              </div>
              <div class="col-md-1">
                <p-button styleClass="p-button-success filter-button" icon="pi pi-filter" (click)="onFilter()"
                  [disabled]="isFilter()"></p-button>
              </div>
            </div>
            <hr>
            <div class="table_actions_wrapper">
              <button pButton pRipple label="Raffraichir" (click)="GetAllAnalyseAlarmes()" icon="pi pi-refresh"
                class="p-button-secondary"></button>
              <button pButton pRipple label="Exporter" [disabled]="disableAction()" icon="pi pi-download"
                class="p-button-helf"></button>
            </div>
            <div class="table_content_wrapper">
              <p-table #dt [value]="listAnalysesAlarmes" [rows]="10" [paginator]="true" responsiveLayout="scroll"
                [rowHover]="true" dataKey="id" currentPageReportTemplate="Affichage de {first} à {last} des {totalRecords}
                      données" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                  <div class="table_header">
                    <div class="table_header__legende">
                      <h4>
                        <b>Liste Analyses des Alarmes</b>
                      </h4>
                    </div>
                    <div class="table_header__input">
                      <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                          placeholder="Recherche" />
                      </span>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-center">#</th>
                    <th>Direction Régionale</th>
                    <th>Exploitation</th>
                    <th># SIM</th>
                    <th># Alarmes</th>
                    <th># Alarmes Majeures</th>
                    <th># Alarmes Mineures</th>
                    <th># Alarmes Critiques</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </ng-template>
                <ng-template let-i="rowIndex" pTemplate="body" let-data>
                  <tr>
                    <td class="text-center">{{ i + 1 }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- 
<p-dialog [header]="title" [(visible)]="showIframe" [modal]="true" [style]="{ width: '70vw' }" [maximizable]="true"
[draggable]="false" [resizable]="false">
<ng-template pTemplate="content">
  <div *ngIf="router.url === '/analyse-alerte/performance-de-collecte'">
    <iframe class="iframe__constainer" src="http://10.10.10.83:3000/d/RrRxRyB4k/tb-analyse-du-trafic-par-sim?orgId=1">
    </iframe>
  </div>
  <div *ngIf="router.url === '/analyse-alerte/courbes-messages'">
    <iframe class="iframe__constainer"
      src="http://10.10.10.83:3000/d/8yqfSZ84k/tb-analyse-des-alarmes?orgId=1&refresh=5m&var-number=&var-code=">
    </iframe>
  </div>
  <div *ngIf="router.url === '/analyse-alerte/etat-des-liaisons'">
    <iframe class="iframe__constainer" src="http://10.10.10.83:3000/d/RrRxRyB4k/tb-analyse-du-trafic-par-sim?orgId=1">
    </iframe>
  </div>
</ng-template>
</p-dialog> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-breadcrumb [title]="'Analyse & Alertes'" [active_item]="'Analyse des Alarmes'"></app-breadcrumb>
      <div class="card">
        <div class="card-body">
          <app-collecte></app-collecte>
        </div>
      </div>
    </div>
  </div>
</div>