<form [formGroup]="formFilter" (ngSubmit)="onSubmitFilterForm()">
    <div class="filter-grid">

        <div class="filter-grid__item">
            <label for="initiator_phone_number"><b>{{ 'REPORTS_PROCESSING.ALL.FILTER.INITIATOR' | translate }}</b></label>
            <input
                id="initiator_phone_number"
                type="text"
                pInputText
                formControlName="initiator_phone_number"
                [placeholder]="'REPORTS_PROCESSING.ALL.FILTER.INITIATOR' | translate"
            />
        </div>

        <div class="filter-grid__item">
            <label for="uniq_id"><b>{{ 'REPORTS_PROCESSING.ALL.FILTER.UNIQ_ID' | translate }}</b></label>
            <input
                id="uniq_id"
                type="text"
                pInputText
                formControlName="uniq_id"
                [placeholder]="'REPORTS_PROCESSING.ALL.FILTER.UNIQ_ID' | translate"
            />
        </div>

        <div class="filter-grid__item p-long">
            <label for="report-type-select">
                <b>{{ 'REPORTS_PROCESSING.ALL.FILTER.REPORT_TYPE' | translate }}</b>
            </label>
            <p-select
                id="report-type-select"
                formControlName="report_type"
                [options]="reportOptions"
                optionValue="value"
                [showClear]="true"
                (onClear)="resetSelect('report_type')"
                placeholder="{{ 'SELECT' | translate }}"
                appendTo="body"
            >
                <ng-template pTemplate="selectedItem" let-option>
                    <span>{{ option?.label | translate }}</span>
                </ng-template>
                <ng-template pTemplate="item" let-option>
                    <span>{{ option.label | translate }}</span>
                </ng-template>
            </p-select>
        </div>

        <div class="filter-grid__item">
            <label for="operator-select">
                <b>{{ 'REPORTS_PROCESSING.ALL.FILTER.OPERATOR' | translate }}</b>
            </label>
            <p-multiselect
                id="operator-multiselect"
                formControlName="operators"
                [options]="operatorOptions"
                [filter]="false"
                [showToggleAll]="false"
                [filter]="false"
                optionValue="value"
                [showClear]="true"
                placeholder="{{ 'SELECT' | translate }}"
                appendTo="body"
            >
            </p-multiselect>
        </div>

        <div class="filter-grid">
            @if(!secondFilter) {
                <button type="submit" 
                    class="btn btn-primary px-3">
                    <i class="pi pi-filter"></i>
                </button>
            }
            @if(!secondFilter) {
                <button type="button" 
                    (click)="showSecondFilter()"
                    class="btn btn-dark px-3">
                    <i class="pi pi-plus"></i>
                </button>
            }
            @if(secondFilter) {
                <button type="button" 
                    (click)="showSecondFilter()"
                    class="btn btn-dark px-3">
                    <i class="pi pi-minus"></i>
                </button>
            }
        </div>
    </div>

    @if(secondFilter) {
        <div class="filter-grid">

        <div class="filter-grid__item">
            <label for="state-select">
                <b>{{ 'REPORTS_PROCESSING.ALL.FILTER.STATUS' | translate }}</b>
            </label>
            <p-select
                id="state-select"
                formControlName="state"
                [options]="stateOptions"
                optionValue="value"
                [showClear]="true"
                (onClear)="resetSelect('state')"
                placeholder="{{ 'SELECT' | translate }}"
                appendTo="body"
            >
                <ng-template pTemplate="selectedItem" let-option>
                    <span>{{ option?.label | translate }}</span>
                </ng-template>
                <ng-template pTemplate="item" let-option>
                    <span>{{ option.label | translate }}</span>
                </ng-template>
            </p-select>
        </div>

            <div class="filter-grid__item">
                <label for="source-select">
                    <b>{{ 'REPORTS_PROCESSING.ALL.FILTER.SOURCE' | translate }}</b>
                </label>
                <p-select
                    id="source-select"
                    formControlName="source"
                    [options]="sourceOptions"
                    optionValue="value"
                    [showClear]="true"
                    (onClear)="resetSelect('source')"
                    placeholder="{{ 'SELECT' | translate }}"
                    appendTo="body"
                >
                    <ng-template pTemplate="selectedItem" let-option>
                        <span>{{ option?.label | translate }}</span>
                    </ng-template>
                    <ng-template pTemplate="item" let-option>
                        <span>{{ option.label | translate }}</span>
                    </ng-template>
                </p-select>
            </div>

            <div class="filter-grid__item">
                <label for="created-from">
                    <b>{{ 'START_DATE' | translate }}</b>
                </label>
                <p-datepicker
                    id="created-from"
                    formControlName="created_from"
                    [showIcon]="true"
                    [placeholder]="'JJ-MM-AAAA'"
                    dateFormat="dd-mm-yy"
                    appendTo="body"
                ></p-datepicker>
            </div>

            <div class="filter-grid__item">
                <label for="created-to">
                    <b>{{ 'END_DATE' | translate }}</b>
                </label>
                <p-datepicker
                    id="created-to"
                    formControlName="created_to"
                    [showIcon]="true"
                    [placeholder]="'JJ-MM-AAAA'"
                    dateFormat="dd-mm-yy"
                    appendTo="body"
                ></p-datepicker>
            </div>

            <div class="filter-grid">
                <button type="submit" 
                    class="btn btn-primary px-3">
                    <i class="pi pi-filter"></i>
                </button>
            </div>
        </div>
    }
</form>
