<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb
                [title]="module | translate"
                [active_item]="subModule | translate"
            ></app-breadcrumb>
            <div class="card">
                <div class="card-body">
                    <div *ngIf="!displayUrlErrorPage">
                        <div
                            class="forms-feature-header d-flex justify-content-between"
                        >
                            <h4>
                                <b>
                                    <span>Référence du lot :</span>
                                    <span class="current_values"
                                        >[{{ urlParamNumberDemand }}]</span
                                    >
                                </b>
                            </h4>
                            <div class="forms-feature-header__button">
                                <div>
                                    <p-button
                                        label="Fermer"
                                        styleClass="p-button-danger"
                                        (click)="onGoToBack()"
                                    ></p-button>
                                </div>
                            </div>
                        </div>
                        <app-filter-white-sim-card-details
                            (filter)="filter($event)"
                        ></app-filter-white-sim-card-details>

                        <hr />

                        <app-table-white-sim-card-details
                            [spinner]="spinner"
                            [urlParamId]="urlParamId"
                            [listWhiteSimCardDetails$]="
                                listWhiteSimCardDetails$
                            "
                            [urlParamRef]="urlParamRef"
                        >
                        </app-table-white-sim-card-details>
                    </div>

                    <div *ngIf="displayUrlErrorPage">
                        <div>
                            <div class="d-flex justify-content-end">
                                <p-button
                                    label="Fermer"
                                    styleClass="p-button-danger"
                                    (click)="onGoToBack()"
                                ></p-button>
                            </div>
                        </div>
                        <div
                            class="d-flex justify-content-center align-items-center text-danger"
                        >
                            page not available
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
