<div class="sla-list-content">
    <app-filter
        class="filter-component"
        [isLoading]="loading()"
        [formGroup]="form"
        [fields]="filterFields()"
        (filter)="onFilterClicked()"
        [filterState]="facade.currentFilter$"
        [limit]="4"
    ></app-filter>

    <hr class="sla-list-divider" />

    <section class="table-section">
        <app-table
            class="table-component"
            dataKey="id"
            [config]="tableConfig"
            [loading]="loading()"
            [headerButtons]="headerButtons()"
            [items]="itemsVM()"
            (actionClicked)="onActionClicked($event)"
            (headerButtonClicked)="onHeaderClicked($event)"
        ></app-table>
    </section>
</div>

<app-sla-form
    [visible]="formVisible()"
    [mode]="formMode()"
    [item]="selectedItem()"
    (closed)="onFormClosed()"
    (saved)="onFormSaved($event)"
></app-sla-form>
