.responsive-agents-table {
    width: 100%;
}

.copyable {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
    padding: 0;
    font: inherit;

    &:hover {
        color: var(--primary-color);
    }
}

.statut-tag {
    font-weight: 500;
}

