/**=====================
55. theme layout CSS Start
==========================**/

body {
    // mode sombre
    &.dark-sidebar {
        .toggle-sidebar {
            svg {
                stroke: var(--theme-deafult);
            }
        }

        .page-wrapper {
            .sidebar-main-title {
                p {
                    color: $dark-all-font-color;
                }
            }

            &.compact-wrapper {
                .page-body-wrapper {
                    div.sidebar-wrapper {
                        background-color: $dark-card-background;

                        .sidebar-main {
                            .sidebar-links {
                                li {
                                    a {
                                        span {
                                            color: $dark-all-font-color;
                                        }

                                        svg {
                                            stroke: $dark-all-font-color;
                                        }
                                    }
                                }

                                .simplebar-wrapper {
                                    .simplebar-mask {
                                        .simplebar-content-wrapper {
                                            .simplebar-content {
                                                > li {
                                                    .sidebar-link {
                                                        &.active {
                                                            background-color: rgba(
                                                                $primary-color,
                                                                0.2
                                                            );

                                                            svg {
                                                                color: var(
                                                                    --theme-deafult
                                                                );
                                                                stroke: var(
                                                                    --theme-deafult
                                                                );
                                                            }
                                                        }
                                                    }

                                                    .mega-menu-container {
                                                        .mega-box {
                                                            .link-section {
                                                                .submenu-title {
                                                                    h5 {
                                                                        color: $dark-all-font-color;
                                                                    }
                                                                }

                                                                .submenu-content {
                                                                    &.opensubmegamenu {
                                                                        li {
                                                                            a {
                                                                                color: $dark-all-font-color;
                                                                                font-weight: 400;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }

                                                        &::after {
                                                            background-color: $light-all-font-color;
                                                        }
                                                    }

                                                    .sidebar-submenu {
                                                        li {
                                                            a {
                                                                color: $dark-all-font-color;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .sidebar-list {
                                    ul.sidebar-submenu {
                                        li {
                                            a {
                                                span {
                                                    color: $dark-all-font-color;
                                                }

                                                &.active {
                                                    color: var(--theme-deafult);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .according-menu {
                        i {
                            color: $dark-all-font-color;
                        }
                    }
                }
            }
        }
    }

    .for-dark {
        display: none;
    }

    &[class*='dark-'] {
        .for-dark {
            display: block;
        }

        .for-light {
            display: none;
        }
    }
}

// =======================  Dark Body only  ======================= //

/**=====================
55. theme layout CSS ends
==========================**/
