<button class="profile-media" 
     [class.active]="isDropdownOpen"
     (click)="toggleDropdown()"
     (keydown.enter)="toggleDropdown()"
     (keydown.escape)="closeDropdown()"
     tabindex="0"
     role="button"
     aria-haspopup="true"
     [attr.aria-expanded]="isDropdownOpen">
     
    <div class="media-wrapper">
        <img class="profile-avatar" 
             [src]="'assets/images/dashboard/profile.png'" 
             width="40" 
             height="40"
             alt="Photo de profil de {{ currentUser?.first_name }} {{ currentUser?.last_name }}" />
        
        <div class="profile-info">
            <span class="user-name">{{ currentUser?.last_name }} {{ currentUser?.first_name }}</span>
            <p class="user-email">{{ currentUser?.email }}</p>
        </div>
        
        <i class="dropdown-icon pi pi-chevron-down" 
           [class.rotated]="isDropdownOpen"></i>
    </div>

    <ul class="profile-dropdown" 
        [class.show]="isDropdownOpen"
        role="menu">
        <li role="menuitem" 
            (click)="openAccountModal()"
            (keydown.enter)="openAccountModal()">
            <i class="pi pi-user"></i>
            <span>Mon compte</span>
        </li>
        <li role="menuitem" 
            (click)="openPasswordModal()"
            (keydown.enter)="openPasswordModal()">
            <i class="pi pi-lock"></i>
            <span>Mot de passe</span>
        </li>
        <li role="separator" class="dropdown-divider"></li>
        <li role="menuitem" 
            (click)="logout()"
            (keydown.enter)="logout()">
            <i class="pi pi-sign-out"></i>
            <span>Déconnexion</span>
        </li>
    </ul>
</button>
<!---------------------PASSWORD FORM----------------------------->
<ng-template #passwordV let-modal>
    <form [formGroup]="passwordForm">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
                Modification Mot de passe
            </h4>
            <button
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="hideForm()"
            ></button>
        </div>
        <div class="modal-body" novalidate>
            <div class="form-group mb-4">
                <label for="old_password">
                    <b>Ancien Mot de passe</b>
                </label>
                <p-password
                    id="old_password"
                    formControlName="old_password"
                    [feedback]="false"
                    [toggleMask]="true"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                ></p-password>
            </div>
            <div class="form-group mb-4">
                <label for="new_password">
                    <b>Nouveau Mot de passe</b>
                </label>
                <p-password
                    id="new_password"
                    formControlName="new_password"
                    [feedback]="false"
                    [toggleMask]="true"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                ></p-password>
                <ng-container
                    *ngIf="
                        submitted &&
                        passwordForm.get('new_password')?.errors &&
                        !passwordForm
                            .get('new_password_confirmation')
                            ?.hasError('invalidPassword')
                    "
                >
                    <span
                        class="fs-6 lh-1 text-danger fst-italic font-italic"
                        *ngIf="
                            passwordForm.get('new_password')?.invalid ||
                            passwordForm.get('new_password')?.errors['required']
                        "
                    >
                        Une lettre majuscule, une lettre minuscule, un chiffre
                        et un caractère spécial.
                    </span>
                </ng-container>
            </div>
            <div class="form-group mb-3">
                <label for="new_password_confirmation">
                    <b>Confirmer nouveau mot de passe</b>
                </label>
                <p-password
                    id="new_password_confirmation"
                    formControlName="new_password_confirmation"
                    [feedback]="false"
                    [toggleMask]="true"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                ></p-password>
                <ng-container
                    *ngIf="
                        submitted &&
                        passwordForm.get('new_password_confirmation')?.errors &&
                        !passwordForm
                            .get('new_password_confirmation')
                            ?.hasError('invalidPassword')
                    "
                >
                    <span
                        class="fs-6 lh-1 text-danger fst-italic font-italic"
                        *ngIf="
                            passwordForm.get('new_password_confirmation')
                                ?.invalid ||
                            passwordForm.get('new_password_confirmation')
                                ?.errors['required']
                        "
                    >
                        Doit etre identique au nouveau mot de passe.
                    </span>
                </ng-container>
            </div>
        </div>

        <div class="modal-footer">
            <div>
                <button type="button" class="btn btn-hide" (click)="hideForm()">
                    Fermer
                </button>
            </div>
            <div>
                <button
                    type="button"
                    class="btn btn-save"
                    (click)="handleUpdatePassword()"
                    [disabled]="passwordForm.invalid"
                >
                    Valider
                </button>
            </div>
        </div>
    </form>
</ng-template>
<!---------------------ACCOUNT FORM----------------------------->
<ng-template #accountV let-modal [formGroup]="accountForm">
    <div class="modal-header">
        <h4 class="modal-title">Mon Compte</h4>
        <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="hideFormAccount()"
        ></button>
    </div>
    <div class="modal-body" novalidate>
        <div class="form-group mb-3">
            <label for="last_name">
                <b>Nom<span class="text-danger">*</span></b>
            </label>
            <input type="text" formControlName="last_name" pInputText />
        </div>
        <div class="form-group mb-3">
            <label for="first_name">
                <b>Prénoms<span class="text-danger">*</span></b>
            </label>
            <input
                id="first_name"
                type="text"
                formControlName="first_name"
                pInputText
            />
        </div>
        <div class="form-group mb-3">
            <label for="email">
                <b>Adresse email<span class="text-danger">*</span></b>
            </label>
            <input id="email" type="text" formControlName="email" pInputText />
        </div>
        <div class="form-group mb-3">
            <label for="phone">
                <b>Contact<span class="text-danger">*</span></b>
            </label>
            <input id="phone" type="text" formControlName="phone" pInputText />
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <button
                type="button"
                class="btn btn-hide"
                (click)="hideFormAccount()"
            >
                Fermer
            </button>
        </div>
    </div>
</ng-template>