.profile-media {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.profile-media img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 0.5rem;
}

@media (max-width: 576px) {
    .profile-media span,
    .profile-media p {
        font-size: 0.85rem;
    }
}

.onhover-show-div {
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;

    li {
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }

    li:hover {
        color: var(--theme-default);
        cursor: pointer;
        background-color: #f8f9fa;
        text-decoration: none;
        background-color: #e9ecef;
    }
}
