<p-dialog
    [(visible)]="visible"
    (onHide)="onHide()"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '50vw' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [header]="'TEAM_ORGANIZATION.TEAM.MANAGEMENT_AFFECTED.MODAL.REASSIGN_TENANTS_TITLE' | translate"
>
    <ng-template pTemplate="content">
        <form [formGroup]="formReassign" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
                <label for="newTeamId">
                    <b>{{ 'TEAM_ORGANIZATION.TEAM.MANAGEMENT_AFFECTED.MODAL.NEW_TEAM' | translate }}<span class="text-danger">*</span></b>
                </label>
                <p-select
                    id="newTeamId"
                    formControlName="newTeamId"
                    [options]="teamOptions$ | async"
                    optionValue="id"
                    optionLabel="code"
                    [showClear]="true"
                    placeholder="{{ 'SELECT' | translate }}"
                    appendTo="body"
                    [class.ng-invalid]="
                        formReassign.get('newTeamId')?.invalid &&
                        formReassign.get('newTeamId')?.touched
                    "
                >
                    <ng-template pTemplate="selectedItem" let-option>
                        <span>{{ option?.code }} - {{ option?.nom }}</span>
                    </ng-template>
                    <ng-template pTemplate="item" let-option>
                        <div>
                            <div><strong>{{ option.code }}</strong> - {{ option.nom }}</div>
                        </div>
                    </ng-template>
                </p-select>
                <small
                    class="p-error"
                    *ngIf="
                        formReassign.get('newTeamId')?.invalid &&
                        formReassign.get('newTeamId')?.touched
                    "
                >
                    {{ 'TEAM_ORGANIZATION.TEAM.MANAGEMENT_AFFECTED.MODAL.NEW_TEAM_REQUIRED' | translate }}
                </small>
            </div>

            <div class="alert alert-info" *ngIf="tenants.length > 0">
                <i class="pi pi-info-circle"></i>
                {{ 'TEAM_ORGANIZATION.TEAM.MANAGEMENT_AFFECTED.MODAL.REASSIGN_TENANTS_MESSAGE' | translate: { count: tenants.length } }}
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button
            [label]="('CANCEL' | translate)"
            (onClick)="onHide()"
            styleClass="p-button-secondary"
        ></p-button>
        <p-button
            [label]="('TEAM_ORGANIZATION.TEAM.MANAGEMENT_AFFECTED.BUTTONS.REASSIGN' | translate)"
            (onClick)="onSubmit()"
            styleClass="p-button-primary"
        ></p-button>
    </ng-template>
</p-dialog>

