<div>
    <div
        class="container_flex_space_between mb-3"
        style="margin-top: -1rem !important"
    >
        <span class="table-header-wrapper">
            <b *ngIf="currentObject === undefined">
                Formulaire d'ajout Utilisateur
            </b>
            <b *ngIf="currentObject !== undefined && !currentObject?.show">
                Modification d'utilisateur
                <span class="current_values"
                    >[{{ currentObject?.nom }}
                    {{ currentObject?.prenoms }}]</span
                >
            </b>
            <b *ngIf="currentObject?.show">
                Visualisation d'utilisateur
                <span class="current_values"
                    >[{{ currentObject?.nom }}
                    {{ currentObject?.prenoms }}]</span
                >
            </b>
        </span>
        <div class="table_actions_wrapper mt-0">
            <div
                *ngIf="!currentObject?.show"
                class="table_actions_wrapper mt-0"
            >
                <p-button
                    label="Enregistrer"
                    [label]="
                        currentObject === undefined ? 'Enregistrer' : 'Modifier'
                    "
                    [disabled]="!adminForm.valid"
                    styleClass="p-button-success"
                    (click)="!currentObject ? handleSave() : handleUpdate()"
                ></p-button>
            </div>
            <div class="table_actions_wrapper mt-0">
                <p-button
                    label="Fermer"
                    styleClass="p-button-danger"
                    (click)="close()"
                ></p-button>
            </div>
        </div>
    </div>
    <hr *ngIf="!currentObject?.show" />
    <!--------------------------FORMS-------------------------->
    <div *ngIf="!currentObject?.show">
        <div [formGroup]="adminForm" novalidate>
            <fieldset>
                <legend>
                    <b>Informations Utilisateur</b>
                </legend>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                <b>Nom<span class="text-danger">*</span></b>
                            </label>
                            <input
                                type="text"
                                formControlName="nom"
                                pInputText
                            />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                <b>Prénoms<span class="text-danger">*</span></b>
                            </label>
                            <input
                                type="text"
                                formControlName="prenoms"
                                pInputText
                            />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                <b
                                    >Nom Connexion<span class="text-danger"
                                        >*</span
                                    ></b
                                >
                            </label>
                            <div style="display: flex">
                                <div style="width: 100%">
                                    <input
                                        type="text"
                                        formControlName="username"
                                        pInputText
                                    />
                                </div>
                                <div
                                    style="margin-left: -14rem; width: 13.5rem"
                                    *ngIf="!currentObject"
                                >
                                    <input
                                        type="text"
                                        [value]="suffixEmail"
                                        style="
                                            text-align: right;
                                            border: 0;
                                            height: 1rem;
                                            margin-top: 15px;
                                            color: #000 !important;
                                            font-weight: 800;
                                        "
                                        readonly
                                        pInputText
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                <b>Email<span class="text-danger">*</span></b>
                            </label>
                            <input
                                type="text"
                                formControlName="email"
                                pInputText
                            />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                <b
                                    >Contacts<span class="text-danger"
                                        >*</span
                                    ></b
                                >
                            </label>
                            <input
                                type="text"
                                formControlName="contacts"
                                pInputText
                            />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                <b>Profil</b>
                            </label>
                            <p-dropdown
                                *ngIf="
                                    this.currentObject?.username !==
                                    this.principalUsername
                                "
                                [options]="listProfils"
                                optionLabel="nom"
                                [showClear]="true"
                                [filter]="true"
                                filterBy="nom"
                                formControlName="profil_user_id"
                                optionValue="id"
                                [placeholder]="'profil'"
                            >
                                <ng-template let-data pTemplate="item">
                                    <div class="country-item">
                                        <div>
                                            {{ data.nom }}
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <!--------------------------------------->
                            <input
                                *ngIf="
                                    this.currentObject?.username ===
                                    this.principalUsername
                                "
                                type="text"
                                style="font-size: 17px !important"
                                formControlName="profil_user_id"
                                pInputText
                            />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="forms-feature-footer">
            <p-button
                label="Enregistrer"
                [label]="
                    currentObject === undefined ? 'Enregistrer' : 'Modifier'
                "
                [disabled]="!adminForm.valid"
                styleClass="p-button-success"
                (click)="!currentObject ? handleSave() : handleUpdate()"
            ></p-button>
        </div>
    </div>
    <div *ngIf="currentObject?.show">
        <p-tabView>
            <p-tabPanel header="IDENTIFICATION">
                <div [formGroup]="adminForm" novalidate>
                    <fieldset>
                        <legend>
                            <b>Informations Utilisateur</b>
                        </legend>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <b
                                            >Nom<span class="text-danger"
                                                >*</span
                                            ></b
                                        >
                                    </label>
                                    <input
                                        type="text"
                                        formControlName="nom"
                                        pInputText
                                    />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <b
                                            >Prénoms<span class="text-danger"
                                                >*</span
                                            ></b
                                        >
                                    </label>
                                    <input
                                        type="text"
                                        formControlName="prenoms"
                                        pInputText
                                    />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <b
                                            >Nom Connexion<span
                                                class="text-danger"
                                                >*</span
                                            ></b
                                        >
                                    </label>
                                    <input
                                        type="text"
                                        formControlName="username"
                                        pInputText
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <b
                                            >Contacts<span class="text-danger"
                                                >*</span
                                            ></b
                                        >
                                    </label>
                                    <input
                                        type="text"
                                        formControlName="contacts"
                                        pInputText
                                    />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <b
                                            >Email<span class="text-danger"
                                                >*</span
                                            ><span class="text-danger"
                                                >*</span
                                            ></b
                                        >
                                    </label>
                                    <input
                                        type="text"
                                        formControlName="email"
                                        pInputText
                                    />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>
                                        <b>Profil</b>
                                    </label>
                                    <p-dropdown
                                        *ngIf="
                                            this.currentObject?.username !==
                                            this.principalUsername
                                        "
                                        [options]="listProfils"
                                        optionLabel="nom"
                                        [showClear]="true"
                                        [filter]="true"
                                        filterBy="nom"
                                        formControlName="profil_user_id"
                                        optionValue="id"
                                        [placeholder]="'profil'"
                                    >
                                        <ng-template let-data pTemplate="item">
                                            <div class="country-item">
                                                <div>
                                                    {{ data.nom }}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                    <!--------------------------------------->
                                    <input
                                        *ngIf="
                                            this.currentObject?.username ===
                                            this.principalUsername
                                        "
                                        type="text"
                                        formControlName="profil_user_id"
                                        pInputText
                                    />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </p-tabPanel>
            <p-tabPanel header="HISTORIQUE">
                <app-historique
                    [modele_type]="'users'"
                    [modele_id]="currentObject.id"
                >
                </app-historique>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
