<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb
                [title]="module | translate"
                [active_item]="subModule | translate"
            ></app-breadcrumb>
            <div class="card card-custom-size">
                <div class="card-body text-center">
                    <h2>
                        <strong>{{
                            'TABLEAU DE BORD GENERAL DES DOSSIERS' | translate
                        }}</strong>
                    </h2>
                    <img
                        alt="Dynamic Image"
                        class="centered-image"
                        src="assets/images/analytics.png"
                    />
                    <button
                        type="button"
                        class="p-element p-button-rounded btn-primary text-white p-button p-component"
                    >
                        <span class="p-button-label" (click)="onSeeStatics()"
                            >Visualiser</span
                        >
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog
    [header]="'TABLEAU DE BORD GENERAL DES DOSSIERS'"
    [(visible)]="showIframe"
    (onHide)="hideDialog()"
    [modal]="true"
    [style]="{ width: '100%', minHeight: '100%' }"
    (onMaximize)="onDialogMaximized($event)"
    [draggable]="false"
    [resizable]="false"
>
    <ng-template pTemplate="content" [style]="{ height: '100vh !important' }">
        <div>
            <iframe class="iframe__constainer" [src]="visualUrl | safe">
            </iframe>
        </div>
    </ng-template>
</p-dialog>
