<main class="container-fluid legal-notice-container" role="main">
    <section class="row legal-notice-row">
        <article class="col-sm-12 legal-notice-article">
            <app-breadcrumb />

            <section class="card legal-notice-card">
                <div class="card-body legal-notice-card-body">
                    <header class="legal-notice-header">
                        <app-page-title
                            class="page-title-component"
                            [displayDate]="false"
                            [title]="
                                'CONTENT_MANAGEMENT.LEGAL_NOTICE.TITLE'
                                    | translate
                            "
                        ></app-page-title>
                    </header>

                    <p-tabs lazy [value]="activeTab()">
                        <p-tablist>
                            @for (tab of tabs; track tab.value) {
                                <p-tab
                                    [value]="tab.route"
                                    [routerLink]="tab.route"
                                    [queryParams]="tab.queryParams"
                                >
                                    <i [class]="tab.icon"></i>
                                    <span>{{ tab.label | translate }}</span>
                                </p-tab>
                            }
                        </p-tablist>
                    </p-tabs>

                    <router-outlet></router-outlet>
                </div>
            </section>
        </article>
    </section>
</main>
