<p-table
    #dt
    [value]="listSlaAgreements$ | async"
    [rowHover]="true"
    dataKey="id"
    selectionMode="single"
    [(selection)]="slaAgreementSelected"
    [rows]="nbDataPerPage"
    [scrollable]="true"
    [globalFilterFields]="table.globalFilterFields"
    responsiveLayout="scroll"
    scrollable="true"
    scrollHeight="flex"
    width="100%"
    class="responsive-claims-table"
    [paginator]="true"
>
    <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between flex-wrap align-items-start">
            <app-table-title
                [count]="(listSlaAgreements$ | async)?.length"
                [perPage]="nbDataPerPage"
            >
            </app-table-title>
            <div
                class="d-flex gap-2 align-items-center custom-header-actions mt-2 mt-md-0"
            >
                <app-table-button-header
                    (refresh)="pageCallback()"
                    (export)="onExportExcel()"
                    [disabledButtonExport]="
                        (listSlaAgreements$ | async)?.length === 0
                    "
                    [hiddenButtonOther]="true"
                >
                </app-table-button-header>
                <app-search-table [dt]="dt"></app-search-table>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{
                    minWidth: col.width,
                    width: col.width,
                    textAlign: 'center',
                }"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'Date / Heure'">
                        {{ 'DATE_TIME' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Services'">
                        {{ 'SERVICES' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Description du service'">
                        {{ 'SERVICE_DESCRIPTION' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Réception (h)'">
                        {{ 'RECEPTION' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Traitement (h)'">
                        {{ 'TREATMENT' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Clôture (h)'">
                        {{ 'CLOSURE' | translate | capitalize }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Escalade (h)'">
                        {{ 'ESCALADE' | translate | capitalize }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Statut'">
                        {{ 'STATUS' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{ col.header }}
                    </ng-container>
                </ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-item>
        <tr>
            <td
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{ minWidth: col.width, width: col.width }"
                [attr.data-label]="col.header"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'#'">
                        {{ rowIndex + 1 }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Services'">
                        <span (click)="copyToClipboard(item?.[col.field])">
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Statut'">
                        <span
                            [ngStyle]="{ 'font-size': '16px' }"
                            [class]="'badge ' + getStepBadge(item?.[col.field])"
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{ item?.[col.field] }}
                    </ng-container>
                </ng-container>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr
            *ngIf="(listSlaAgreements$ | async)?.length <= 0 && !spinner"
            class="loading-table"
        >
            <td class="posRelative" colspan="15">
                <span class="posCenter">
                    {{ 'NO_DATA_FOUND' | translate }}
                </span>
            </td>
        </tr>
        <tr *ngIf="spinner" class="loading-table">
            <td class="posRelative" colspan="15">
                <p-progressSpinner
                    class="posCenter"
                    [style]="{ width: '40px', height: '50px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="#EEEEEE"
                    animationDuration=".5s"
                >
                </p-progressSpinner>
            </td>
        </tr>
    </ng-template>
</p-table>
