<div>
  <div class="row filter_wrapper">
    <div class="col-md-3">
      <div class="form-group">
        <label>
          <b>Direction Régionale</b>
        </label>
        <p-dropdown [options]="listDirectionRegionales" (onChange)="onChangeItem($event)"
          [(ngModel)]="selectedDirection" [showClear]="true" optionLabel="nom" placeholder="Selectionnez la direction">
          <ng-template let-data pTemplate="item">
            <div class="country-item">
              <div>
                {{data.nom}}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>
          <b>Exploitation</b>
        </label>
        <p-dropdown [options]="listExploitations" [(ngModel)]="selectedExploitation" optionLabel="fullName"
          placeholder="Selectionnez la l'exploitation">
          <ng-template let-data pTemplate="item">
            <div class="country-item">
              <div>
                {{data.fullName}}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label>
          <b>MSISDN</b>
        </label>
        <input placeholder="Saisir le numéro" [(ngModel)]="selectedSim" pInputText />
      </div>
    </div>
    <div class="col-md-1">
      <p-button styleClass="p-button-success filter-button" icon="pi pi-filter" (click)="onFilter()"
        [disabled]="isFilter()"></p-button>
    </div>
  </div>
  <hr>
  <div class="table_actions_wrapper">
    <button pButton pRipple label="Raffraichir" (click)="onGetAllFluxCollecte()" icon="pi pi-refresh"
      class="p-button-secondary"></button>
    <button pButton pRipple label="Exporter" [disabled]="disableAction()" icon="pi pi-download"
      class="p-button-helf"></button>
  </div>
  <div class="table_content_wrapper">
    <div class="table_header mt-2">
      <div class="table_header__legende">
        <h4 class="pt-2">
          <b>Liste des {{this.title}}</b>
        </h4>
      </div>
      <div class="table_header__input"></div>
    </div>
    <table [ngClass]="['native_table table']" style="margin-top: -0.2rem">
      <thead>
        <th class="text-center">#</th>
        <th>IMSI</th>
        <th>MSISDN</th>
        <th>D.Régionale</th>
        <th>Exploitation</th>
        <th>Date MAJ</th>
        <th class="text-center">Etat des Services</th>
        <th class="text-center" [ngStyle]="{width: '3rem'}">Actions</th>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of listFluxCollecte | paginate: { itemsPerPage: recordsPerPage, currentPage: p, totalPages:totalPage, totalItems:totalRecords }; let i = index;">
          <td>{{ (this.offset + i)}}</td>
          <td style="text-align: left !important;">{{data?.imsi}}</td>
          <td style="text-align: left !important;">{{data?.msisdn}}</td>
          <td style="text-align: left !important;">{{data?.direction_regionale}}</td>
          <td style="text-align: left !important;">{{data?.exploitation}}</td>
          <td style="text-align: left !important;">{{data?.date_id}}</td>
          <td style="text-align: center !important;">
            <button pButton pRipple label="AIRTIME" [disabled]="true" class="p-button-helf"></button>
            <button pButton pRipple label="DATA" style="margin-left: 0.5rem;margin-right: 0.5rem;"
              [pTooltip]="data?.statut_criticite"
              [ngClass]="(data?.statut_criticite === 'CRITIQUE') ? 'p-button-danger' : (data?.statut_criticite  === 'NORMALE') ? 'p-button-success' : (data?.statut_criticite === 'ELEVE') ? 'p-button-warning': (data?.statut_criticite === 'MAJEURE') ? 'p-button-secondary': 'p-button-secondary'"
              tooltipPosition="top"></button>
            <button pButton pRipple label="SMS" [disabled]="true" class="p-button-helf"></button>
          </td>
          <td class="td-actions">
            <button *ngIf="router.url === '/supervision-sim/performance-de-collecte'" pButton pRipple label="Visualiser"
              (click)=onVisualiserTrafic(data) icon="pi pi-chart-line" class="p-button-helf"></button>
            <button *ngIf="router.url === '/supervision-sim/courbes-messages'" pButton pRipple label="Visualiser"
              (click)=onVisualiserAlarme(data) icon="pi pi-chart-line" class="p-button-helf"></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div [ngClass]="['pagination-controls']">
      <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="">
      </pagination-controls>
    </div>
  </div>
</div>
<p-dialog [header]="title" [(visible)]="showIframe" [modal]="true" [style]="{ width: '70vw' }" [maximizable]="true"
  [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
    <div>
      <iframe class="iframe__constainer" [src]="visualUrl | safe">
      </iframe>
    </div>
  </ng-template>
</p-dialog>