<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb [title]="module" [active_item]="subModule"></app-breadcrumb>

            <!-- <div class="card">
                <div class="card-body">
                    <app-patrimoine-header [count]="listDemandesIntegrations" [legende]="'SIM'"
                        [total]="this.pargination?.total">
                    </app-patrimoine-header>

                    <app-filter-demande-integration (filter)="pageCallback($event)"
                        [firstLevelLibelle]="firstLevelLibelle" [secondLevelLibelle]="secondLevelLibelle"
                        [thirdLevelLibelle]="thirdLevelLibelle">
                    </app-filter-demande-integration>

                    <hr />
                    <div class="table_content_wrapper">
                        <app-table-button-header (refresh)="pageCallback()" (export)="exportExcel()" (other)="
                            navigateByUrl({ data: null, paramUrl: 'ajouter' })
                        " [labelOther]="'Integrations en masse'" [iconOther]="'pi pi-plus'">
                        </app-table-button-header>
                    </div>

                    <br />

                    <app-table-demande-integration [spinner]="spinner"
                        [listDemandesIntegrations]="listDemandesIntegrations" (interfaceUser)="navigateByUrl($event)"
                        [pargination]="pargination" [firstLevelLibelle]="firstLevelLibelle"
                        [secondLevelLibelle]="secondLevelLibelle" [thirdLevelLibelle]="thirdLevelLibelle">
                    </app-table-demande-integration>

                    <app-pargination [pargination]="pargination" (pageChange)="onPageChange($event)"></app-pargination>
                </div>
            </div> -->
        </div>
    </div>
</div>