<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb
                [title]="module | translate"
                [active_item]="subModule | translate"
            ></app-breadcrumb>
            <div class="card">
                <div class="card-body">
                    <div style="margin-top: -2rem !important">
                        <app-patrimoine-header
                            [displayDate]="false"
                            [total]="(pagination$ | async)?.total"
                            [legendePluriel]="
                                ('STATUS_OF_BALANCE' | translate) + ' SMS'
                            "
                            [legendeSingulier]="
                                ('STATUS_OF_BALANCE' | translate) + ' SMS'
                            "
                        >
                        </app-patrimoine-header>
                    </div>

                    <div>
                        <app-filter-sms-balance-status
                            (filter)="filter($event)"
                            [listUsages$]="listUsages$"
                            [listApn$]="listApn$"
                            [listFormulas$]="listFormulas$"
                            [listFirstLevel$]="listFirstLevel$"
                            [listThirdLevel$]="listThirdLevel$"
                            [listAlarms]="listAlarms"
                        >
                        </app-filter-sms-balance-status>

                        <hr />

                        <app-table-sms-balance-status
                            [spinner]="spinner"
                            [pagination$]="pagination$"
                            [listSmsBalanceStatus$]="listSmsBalanceStatus$"
                        >
                        </app-table-sms-balance-status>

                        <app-pargination
                            [pargination]="pagination$ | async"
                            (pageChange)="onPageChange($event)"
                        ></app-pargination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
