<div class="imako-select-container" [ngClass]="styleClass()">
    @if (label()) {
        <label [for]="label()" class="imako-label">
            <b>{{ label() | translate }}</b>
        </label>
    }
    <p-select
        [id]="label()"
        [options]="options()"
        [formControl]="control()"
        [optionLabel]="optionLabel()"
        [optionValue]="optionValue()"
        [showClear]="showClear()"
        [filter]="filter()"
        [filterBy]="optionLabel()"
        [loading]="loading()"
        appendTo="body"
        [placeholder]="placeholder() | translate"
        styleClass="w-100"
        [emptyMessage]="'COMMON.SELECT_EMPTY_MESSAGE' | translate"
        [emptyFilterMessage]="'COMMON.SELECT_EMPTY_FILTER_MESSAGE' | translate"
    ></p-select>
</div>
