<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb
                [title]="getTitle.module | translate"
                [active_item]="getTitle.subModule | translate"
            ></app-breadcrumb>
            <div class="card">
                <div class="card-body">
                    <div *ngIf="!displayUrlErrorPage">
                        <ng-container
                            *ngIf="
                                detailsInvoiceForm && detailsInvoiceForm.id;
                                else loading
                            "
                        >
                            <div class="d-flex justify-content-between mb-3">
                                <h4>
                                    <b>
                                        <span>
                                            Référence de
                                            <span
                                                *ngIf="
                                                    detailsInvoiceForm?.type_form ==
                                                    'invoice'
                                                "
                                                >la facture</span
                                            >
                                            <span
                                                *ngIf="
                                                    detailsInvoiceForm?.type_form ==
                                                    'proforma'
                                                "
                                                >la proforma</span
                                            >
                                            :
                                        </span>
                                        <span class="text-orange">
                                            {{detailsInvoiceForm?.['numero_demande']}}
                                        </span>
                                        &nbsp;
                                        <span>
                                            Mode de paiement :
                                            <span
                                                class="badge badge-info"
                                                *ngIf="
                                                    detailsInvoiceForm?.type_paiement
                                                "
                                                [ngStyle]="{
                                                    width: 'fit-content',
                                                    'font-size': '18px'
                                                }"
                                            >
                                                {{
                                                    detailsInvoiceForm?.type_paiement
                                                }}
                                            </span>
                                            <span
                                                *ngIf="
                                                    detailsInvoiceForm?.type_form ==
                                                    'invoice'
                                                "
                                                [ngClass]="
                                                    'badge ' +
                                                    getStatePaymentBadge(
                                                        detailsInvoiceForm
                                                    )
                                                "
                                                [ngStyle]="{
                                                    width: 'fit-content',
                                                    'font-size': '18px'
                                                }"
                                            >
                                                {{
                                                    detailsInvoiceForm?.etat_paiement
                                                }}
                                            </span>
                                        </span>
                                        &nbsp;
                                        <span>
                                            Montant :
                                            <span class="text-orange">
                                                {{
                                                    detailsInvoiceForm?.prix_ttc
                                                }}
                                                Fcfa
                                            </span>
                                        </span>
                                    </b>
                                </h4>

                                <div class="forms-feature-header__button">
                                    <div class="d-flex gap-3">
                                        <p-button
                                            label="Enregistrer"
                                            styleClass="p-button-success"
                                            tooltipPosition="top"
                                            pTooltip="Enregistrer le paiement"
                                            [class.p-disabled]="
                                                formTypePaiement.invalid
                                            "
                                            (click)="handleTreatmentPayment()"
                                            *ngIf="
                                                urlParamRef.includes('payment')
                                            "
                                        >
                                        </p-button>
                                        <p-button
                                            label="Exporter"
                                            styleClass="p-button-primary"
                                            tooltipPosition="top"
                                            pTooltip="Exporter la facture"
                                            printSectionId="print-section"
                                            ngxPrint
                                            (click)="postExportInvoice()"
                                            *ngIf="
                                                detailsInvoiceForm?.type_form ==
                                                'invoice'
                                            "
                                        >
                                        </p-button>
                                        <p-button
                                            label="Fermer"
                                            styleClass="p-button-danger"
                                            (click)="onGoToBack()"
                                        >
                                        </p-button>
                                    </div>
                                </div>
                            </div>

                            <div id="print-section">
                                <div>
                                    <div
                                        class="d-flex justify-content-around align-items-center gap-10"
                                    >
                                        <div>
                                            <img
                                                class="img-fluid"
                                                [src]="logoTenant"
                                                width="250"
                                                height="250"
                                                alt="Logo du client"
                                            />
                                        </div>
                                        <div>
                                            <p class="text-secondary fs-6">
                                                <span
                                                    class="text-orange fw-bolder"
                                                    >RCCM&nbsp;:&nbsp;</span
                                                >
                                                {{
                                                    detailsInvoiceForm
                                                        ?.orangeInfo?.rccm ??
                                                        'N/A'
                                                }}<br />
                                                <span
                                                    class="text-orange fw-bolder"
                                                    >CC&nbsp;:&nbsp;</span
                                                >{{
                                                    detailsInvoiceForm
                                                        ?.orangeInfo?.cc ??
                                                        'N/A'
                                                }}&nbsp;{{
                                                    detailsInvoiceForm
                                                        ?.orangeInfo?.adresse ??
                                                        'N/A'
                                                }}<br />
                                                <span
                                                    class="text-orange fw-bolder"
                                                    >Email&nbsp;:&nbsp;</span
                                                >{{
                                                    detailsInvoiceForm
                                                        ?.orangeInfo?.email ??
                                                        'N/A'
                                                }}<br />
                                                <span
                                                    class="text-orange fw-bolder"
                                                    >Contacts&nbsp;:&nbsp;</span
                                                >{{
                                                    detailsInvoiceForm
                                                        ?.orangeInfo
                                                        ?.contact_1 ?? 'N/A'
                                                }}
                                                /
                                                {{
                                                    detailsInvoiceForm
                                                        ?.orangeInfo
                                                        ?.contact_2 ?? 'N/A'
                                                }}
                                            </p>
                                        </div>
                                        <div *ngIf="detailsInvoiceForm.qrcode">
                                            <img
                                                width="170"
                                                height="170"
                                                [src]="
                                                    detailsInvoiceForm.qrcode
                                                "
                                                alt="QR Illustration"
                                            />
                                        </div>
                                    </div>
                                </div>

                                <div class="row px-5 pt-2">
                                    <div class="col-12">
                                        <table
                                            [ngClass]="['native_table table']"
                                        >
                                            <tbody>
                                                <tr>
                                                    <td
                                                        colspan="2"
                                                        class="text-center"
                                                    >
                                                        <b class="fs-5">
                                                            <span
                                                                *ngIf="
                                                                    detailsInvoiceForm?.type_form ==
                                                                    'invoice'
                                                                "
                                                                >Facture</span
                                                            >
                                                            <span
                                                                *ngIf="
                                                                    detailsInvoiceForm?.type_form ==
                                                                    'proforma'
                                                                "
                                                                >Proforma</span
                                                            >
                                                        </b>
                                                    </td>
                                                    <td
                                                        rowspan="2"
                                                        class="align-middle text-start"
                                                    >
                                                        <b class="fs-5">
                                                            À l'attention de
                                                            [&nbsp;{{
                                                                detailsInvoiceForm
                                                                    ?.clientInfo
                                                                    ?.nom_tenant
                                                            }}&nbsp;]
                                                        </b>
                                                        <p
                                                            class="text-secondary fs-6"
                                                        >
                                                            <span
                                                                class="fw-bolder"
                                                                >Compte
                                                                client&nbsp;: </span
                                                            >{{
                                                                detailsInvoiceForm
                                                                    ?.clientInfo
                                                                    ?.compte_client ??
                                                                    'N/A'
                                                            }}<br />
                                                            <span
                                                                class="fw-bolder"
                                                                >Adresse&nbsp;: </span
                                                            >{{
                                                                detailsInvoiceForm
                                                                    ?.clientInfo
                                                                    ?.adresse ??
                                                                    'N/A'
                                                            }}<br />
                                                            <span
                                                                class="fw-bolder"
                                                                >Contact&nbsp;: </span
                                                            >{{
                                                                detailsInvoiceForm
                                                                    ?.clientInfo
                                                                    ?.contact_admin_tenant ??
                                                                    'N/A'
                                                            }}
                                                        </p>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="text-center">
                                                        <b>{{
                                                            'NUMBER_REFERENCE'
                                                                | translate
                                                        }}</b>
                                                    </td>
                                                    <td class="text-center">
                                                        <b>
                                                            <span
                                                                *ngIf="
                                                                    detailsInvoiceForm?.type_form ==
                                                                    'invoice'
                                                                "
                                                            >
                                                                Date de la
                                                                facture
                                                            </span>
                                                            <span
                                                                *ngIf="
                                                                    detailsInvoiceForm?.type_form ==
                                                                    'proforma'
                                                                "
                                                            >
                                                                Date de la
                                                                proforma
                                                            </span>
                                                        </b>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="text-center">
                                                        {{ detailsInvoiceForm?.['numero_demande'] }}
                                                    </td>
                                                    <td class="text-center">
                                                        {{
                                                            detailsInvoiceForm?.created_at ??
                                                                'N/A'
                                                        }}
                                                    </td>
                                                    <td
                                                        class="align-middle text-start"
                                                    >
                                                        <b class="fs-5">
                                                            Initié par [&nbsp;{{
                                                                detailsInvoiceForm?.demandeur_matricule
                                                            }}&nbsp;]&nbsp; [{{
                                                                detailsInvoiceForm?.demandeur_nom
                                                            }}&nbsp;{{
                                                                detailsInvoiceForm?.demandeur_prenoms
                                                            }}&nbsp;{{
                                                                detailsInvoiceForm?.demandeur_contacts
                                                            }}]
                                                        </b>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row px-5 pt-5">
                                    <div
                                        class="col-12"
                                        [formGroup]="formTypePaiement"
                                    >
                                        <div
                                            class="alert alert-dark p-1"
                                            role="alert"
                                            *ngIf="
                                                urlParamRef.includes('invoice')
                                            "
                                        >
                                            <div
                                                class="d-flex gap-4 justify-content-center"
                                                style="padding: 0.5rem 0.5rem"
                                            >
                                                <ng-container
                                                    [ngSwitch]="
                                                        detailsInvoiceForm?.type_paiement
                                                    "
                                                >
                                                    <span
                                                        *ngSwitchCase="
                                                            TypePayment.VIA_ACCOUNT
                                                        "
                                                        class="d-flex align-items-center"
                                                    >
                                                        La facture est réglée
                                                        via le compte client.
                                                    </span>

                                                    <span
                                                        *ngSwitchCase="
                                                            TypePayment.POST_PAID
                                                        "
                                                        class="d-flex align-items-center"
                                                    >
                                                        Cette facture postpayée
                                                        sera reglée
                                                        ulterieurement.
                                                    </span>

                                                    <ng-container
                                                        *ngSwitchCase="
                                                            TypePayment.PRE_PAID
                                                        "
                                                    >
                                                        <span
                                                            class="d-flex align-items-center"
                                                        >
                                                            Cette facture
                                                            prepayée est reglée
                                                            dans sa totalité.
                                                        </span>
                                                        <span
                                                            class="d-flex gap-4"
                                                        >
                                                            <button
                                                                *ngIf="
                                                                    displayButtonShowPaymentReceipt
                                                                "
                                                                pButton
                                                                pRipple
                                                                icon="pi pi-download"
                                                                class="p-button-success"
                                                                (click)="
                                                                    onDownloadPaymentReceipt()
                                                                "
                                                            ></button>
                                                        </span>
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </div>

                                        <table
                                            [ngClass]="['native_table table']"
                                            *ngIf="
                                                urlParamRef.includes('payment')
                                            "
                                        >
                                            <thead
                                                class="text-white"
                                                style="background-color: #000"
                                            >
                                                <tr>
                                                    <th
                                                        class="text-center"
                                                        style="
                                                            border: 2px solid
                                                                #fff;
                                                        "
                                                    >
                                                        <b>Choix</b>
                                                    </th>
                                                    <th
                                                        class="text-center"
                                                        style="
                                                            border: 2px solid
                                                                #fff;
                                                        "
                                                    >
                                                        <b>Mode de paiement</b>
                                                    </th>
                                                    <th class="text-center">
                                                        <b>DESCRIPTION</b>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            name="type_paiement"
                                                            value="PostPaid"
                                                            formControlName="type_paiement"
                                                            #differe
                                                        />
                                                    </td>
                                                    <td class="text-center h4">
                                                        PostPaid
                                                    </td>
                                                    <td class="text-start">
                                                        Le montant de cette
                                                        facture sera enregistré
                                                        dans le système de
                                                        facturation et réglé
                                                        ultérieurement selon les
                                                        conditions convenues.
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="text-center">
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            name="type_paiement"
                                                            value="PrePaid"
                                                            formControlName="type_paiement"
                                                            #immediat
                                                            id="immediat"
                                                        />
                                                    </td>
                                                    <td class="text-center h4">
                                                        PrePaid
                                                    </td>
                                                    <td class="text-center">
                                                        <div
                                                            class="d-flex gap-4"
                                                        >
                                                            <span
                                                                class="d-flex align-items-center"
                                                            >
                                                                Un justificatif
                                                                de paiement est
                                                                requis pour
                                                                procéder à la
                                                                validation de la
                                                                facture.
                                                            </span>

                                                            <span
                                                                *ngIf="
                                                                    immediat?.checked
                                                                "
                                                            >
                                                                <input
                                                                    type="file"
                                                                    accept="image/png, image/jpeg"
                                                                    [ngClass]="{
                                                                        'file-error':
                                                                            uploadError
                                                                    }"
                                                                    pTooltip="Choisir un fichier (PNG ou JPEG, max 2 Mo)"
                                                                    tooltipPosition="top"
                                                                    (change)="
                                                                        onUploadPaymentReceipt(
                                                                            $event
                                                                                .target
                                                                                .files
                                                                        )
                                                                    "
                                                                />

                                                                <button
                                                                    pButton
                                                                    pRipple
                                                                    icon="pi pi-download"
                                                                    class="p-button-success"
                                                                    (click)="
                                                                        onDownloadPaymentReceipt()
                                                                    "
                                                                    *ngIf="
                                                                        displayButtonShowPaymentReceipt
                                                                    "
                                                                ></button>

                                                                <div
                                                                    *ngIf="
                                                                        uploadError
                                                                    "
                                                                    class="text-danger small mt-1"
                                                                >
                                                                    {{
                                                                        uploadError
                                                                    }}
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="text-center">
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            name="type_paiement"
                                                            value="via Compte"
                                                            formControlName="type_paiement"
                                                            #differe
                                                        />
                                                    </td>
                                                    <td class="text-center h4">
                                                        via mon compte
                                                    </td>
                                                    <td class="text-start">
                                                        Le montant de cette
                                                        facture sera
                                                        automatiquement prélevé
                                                        de votre compte
                                                        client.<br />
                                                        &nbsp;
                                                        <b>Solde engagé</b> :
                                                        <span
                                                            class="badge badge-dark"
                                                            style="
                                                                font-size: 16px;
                                                            "
                                                        >
                                                            {{
                                                                detailsInvoiceForm?.SoldeEngage ||
                                                                    0
                                                            }}
                                                            Fcfa
                                                        </span>
                                                        <!-- &nbsp;| <b>Solde restant</b> :
                                                        <span class="badge badge-primary" style="font-size: 16px;">
                                                            {{ detailsInvoiceForm?.SoldeRestant || 0 }}
                                                            <span
                                                                *ngIf="+detailsInvoiceForm?.SoldeRestant > 0">Fcfa</span>
                                                        </span> -->
                                                        &nbsp;|
                                                        <b>Solde disponible</b>
                                                        :
                                                        <span
                                                            class="badge badge-success"
                                                            style="
                                                                font-size: 16px;
                                                            "
                                                        >
                                                            {{
                                                                detailsInvoiceForm?.soldeDisponible ||
                                                                    0
                                                            }}
                                                            Fcfa
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="row" style="padding: 20px 45px">
                                    <div class="col-12">
                                        <br />
                                        <table
                                            class="table table-bordered border-secondary"
                                        >
                                            <thead
                                                class="bg-primary text-white"
                                            >
                                                <tr>
                                                    <th>Code</th>
                                                    <th>Désignation</th>
                                                    <th class="text-center">
                                                        Quantité
                                                    </th>
                                                    <th class="text-center">
                                                        P.U. (FCFA)
                                                    </th>
                                                    <th class="text-center">
                                                        Montant (FCFA)
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="border-color: black">
                                                    <td>
                                                        {{
                                                            detailsInvoiceForm?.numero_demande ??
                                                                'N/A'
                                                        }}
                                                    </td>
                                                    <td>
                                                        <b>{{
                                                            getTitleForm(
                                                                detailsInvoiceForm?.operation
                                                            )
                                                        }}</b>
                                                    </td>
                                                    <td class="text-center">
                                                        {{
                                                            detailsInvoiceForm?.qte
                                                        }}
                                                    </td>
                                                    <td class="text-center">
                                                        {{
                                                            detailsInvoiceForm?.prix_unitaire
                                                        }}
                                                    </td>
                                                    <td
                                                        class="text-center fs-6"
                                                    >
                                                        {{
                                                            detailsInvoiceForm?.prix_ht
                                                        }}
                                                    </td>
                                                </tr>

                                                <tr
                                                    class="tr_montant"
                                                    style="
                                                        border-color: transparent;
                                                    "
                                                >
                                                    <td colspan="3"></td>
                                                    <td class="text-center">
                                                        Montant total (HT)
                                                    </td>
                                                    <td
                                                        class="text-center fs-6"
                                                    >
                                                        {{
                                                            detailsInvoiceForm?.prix_ht
                                                        }}
                                                    </td>
                                                </tr>

                                                <tr
                                                    class="tr_montant"
                                                    style="
                                                        border-color: transparent;
                                                    "
                                                >
                                                    <td colspan="3"></td>
                                                    <td class="text-center">
                                                        Montant TVA ({{
                                                            detailsInvoiceForm?.tva
                                                        }})
                                                    </td>
                                                    <td
                                                        class="text-center fs-6"
                                                    >
                                                        {{
                                                            detailsInvoiceForm?.prix_tva
                                                        }}
                                                    </td>
                                                </tr>

                                                <tr
                                                    class="tr_montant"
                                                    style="
                                                        border-color: transparent;
                                                    "
                                                >
                                                    <td colspan="3"></td>
                                                    <td class="text-center">
                                                        <b
                                                            >Montant total
                                                            (TTC)</b
                                                        >
                                                    </td>
                                                    <td
                                                        class="text-center fs-6"
                                                    >
                                                        <b>{{
                                                            detailsInvoiceForm?.prix_ttc
                                                        }}</b>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div
                                    class="d-flex justify-content-center py-10"
                                >
                                    <p class="fs-6">
                                        Arrêté
                                        <span
                                            *ngIf="
                                                detailsInvoiceForm?.type_form ==
                                                'invoice'
                                            "
                                            >cette facture</span
                                        >
                                        <span
                                            *ngIf="
                                                detailsInvoiceForm?.type_form ==
                                                'proforma'
                                            "
                                            >ce proforma</span
                                        >
                                        à la somme de
                                        <span class="text-orange"
                                            >{{
                                                detailsInvoiceForm?.prix_ttc_lettres
                                            }}&nbsp;Fcfa&nbsp;</span
                                        >
                                        TTC sauf erreur
                                    </p>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #loading>
                            <div
                                class="d-flex justify-content-center align-items-center"
                                style="height: 100vh"
                            >
                                <p-progressSpinner
                                    ariaLabel="loading"
                                ></p-progressSpinner>
                            </div>
                        </ng-template>
                    </div>

                    <div *ngIf="displayUrlErrorPage">
                        <div>
                            <div class="d-flex justify-content-end">
                                <p-button
                                    label="Fermer"
                                    styleClass="p-button-danger"
                                    (click)="onGoToBack()"
                                >
                                </p-button>
                            </div>
                        </div>
                        <div
                            class="d-flex justify-content-center align-items-center text-danger"
                        >
                            page not available
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
