<p-table
    #dt
    [value]="listSmsBlanche"
    [rowHover]="true"
    dataKey="id"
    selectionMode="single"
    [(selection)]="selectedSmsBlanche"
    [rows]="pagination?.per_page"
    [globalFilterFields]="table.globalFilterFields"
>
    <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between">
            <app-table-title
                [count]="pagination?.total"
                [legendePluriel]="'dossiers'"
                [perPage]="pagination?.per_page"
                [legendeSingulier]="'dossier'"
                [page]="pagination?.current_page"
                [totalPage]="pagination?.last_page"
            >
            </app-table-title>
            <div class="d-flex gap-2 align-items-center">
                <div>
                    <app-table-button-header
                        (refresh)="pageCallback()"
                        [disabledButtonExport]="listSmsBlanche.length === 0"
                        (export)="onExportExcel()"
                        [hiddenButtonOther]="true"
                        [iconOther]="'pi pi-plus'"
                    >
                    </app-table-button-header>
                </div>
                <div>
                    <app-search-table [dt]="dt"></app-search-table>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{ width: col.width }"
            >
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-smsBalance>
        <tr [pSelectableRow]="smsBalance">
            <td
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{ width: col.width }"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'#'">
                        {{ rowIndex + pagination?.current_page }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'# SIM Affectés'">
                        <button
                            pButton
                            pRipple
                            pTooltip="Visualiser"
                            tooltipPosition="top"
                            label="Visualiser ({{ smsBalance?.sims_count }})"
                            class="p-button"
                            (click)="
                                viewDataBalanceDetails({
                                    data: smsBalance,
                                    action: 'visualiser',
                                    view: 'page'
                                })
                            "
                            [disabled]="smsBalance?.sims_count === 0"
                        ></button>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Déploiement'">
                        <button
                            pButton
                            pRipple
                            [pTooltip]="
                                !smsBalance.is_deployed ? 'Déploiement' : ''
                            "
                            tooltipPosition="top"
                            label="Déploiement"
                            [class]="
                                smsBalance.is_deployed
                                    ? 'p-button-outlined'
                                    : 'p-button-help'
                            "
                            (click)="
                                DeployDataBalanceDetails({
                                    data: smsBalance,
                                    action: 'déploiement',
                                    view: 'modal'
                                })
                            "
                            [disabled]="smsBalance?.is_deployed"
                            icon="pi pi-bolt"
                        ></button>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Statut'">
                        <span
                            [ngStyle]="{ 'font-size': '16px' }"
                            [class]="
                                'badge ' + getStatutBadge(smsBalance.statut)
                            "
                        >
                            {{ smsBalance?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Actions'">
                        <button
                            pButton
                            icon="pi pi-eye"
                            pTooltip="Voir"
                            tooltipPosition="top"
                            (click)="
                                onAction({
                                    data: smsBalance,
                                    action: 'détails',
                                    view: 'page'
                                })
                            "
                            class="p-button-dark"
                        ></button
                        >&nbsp;
                        <button
                            pButton
                            pRipple
                            *ngIf="mappingService.IsAction()"
                            icon="pi pi-pencil"
                            class="p-button-secondary"
                            pTooltip="Editer"
                            tooltipPosition="top"
                            (click)="
                                onAction({
                                    data: smsBalance,
                                    action: 'editer',
                                    view: 'page'
                                })
                            "
                            [disabled]="smsBalance?.statut === 'inactif'"
                        ></button
                        >&nbsp;
                        <button
                            pButton
                            pRipple
                            *ngIf="mappingService.IsAction()"
                            icon="pi pi-arrow-right"
                            (click)="
                                onAction({
                                    data: smsBalance,
                                    action: 'affecter',
                                    view: 'page'
                                })
                            "
                            class="p-button-dark"
                            pTooltip="Affecter"
                            tooltipPosition="top"
                            [disabled]="smsBalance?.statut === 'inactif'"
                        ></button
                        >&nbsp;
                        <button
                            pButton
                            pRipple
                            *ngIf="mappingService.IsAction()"
                            tooltipPosition="top"
                            (click)="
                                onAction({
                                    data: smsBalance,
                                    action: smsBalance?.statut,
                                    view: 'modal'
                                })
                            "
                            [icon]="getTreatmentButtonStyle(smsBalance)?.['icon']"
                            [ngClass]="getTreatmentButtonStyle(smsBalance)?.['class']"
                            [pTooltip]="getTreatmentButtonStyle(smsBalance)?.['tooltip']"
                        ></button>
                        <button
                            pButton
                            icon="pi pi-book"
                            pTooltip="Journal"
                            tooltipPosition="top"
                            (click)="
                                onAction({
                                    data: smsBalance,
                                    action: 'journal',
                                    view: 'modal'
                                })
                            "
                            class="p-button-primary"
                        ></button>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{smsBalance?.[col.field]}}
                    </ng-container>
                </ng-container>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr *ngIf="listSmsBlanche?.length <= 0 && !spinner">
            <td class="posRelative" colspan="15">
                <span class="posCenter">
                    {{ 'NO_DATA_FOUND' | translate }}
                </span>
            </td>
        </tr>
        <tr *ngIf="spinner" style="height: 46px">
            <td class="posRelative" colspan="15">
                <p-progressSpinner
                    class="posCenter"
                    [style]="{ width: '40px', height: '50px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="#EEEEEE"
                    animationDuration=".5s"
                >
                </p-progressSpinner>
            </td>
        </tr>
    </ng-template>
</p-table>
