<div #modal class="modal-content" *ngIf="IsLoadData">
    <div>
        <div
            class="modal-header"
            style="
                background-color: #569c5b;
                color: #fff;
                align-items: center;
                cursor: all-scroll;
                padding: 0.2rem 1rem;
                display: flex;
                justify-content: space-between;
            "
        >
            <h4 class="modal-title pl-3" style="margin: 0">
                Détails
                <strong
                    class="cursor-pointer"
                    (click)="copyTransaction(detailsDemande?.numero_demande)"
                >
                    [{{ detailsDemande?.numero_demande }}]
                </strong>
            </h4>
            <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="handleCloseModal()"
            >
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body" [formGroup]="formTypePaiement">
            <div class="row">
                <div class="col-lg-2">
                    <div class="d-flex gap-2 no-wrap">
                        <button
                            pButton
                            pRipple
                            class="p-button-success w-100"
                            label="Enregistrer"
                            (click)="
                                postTraitementsSuivisPaiementDemandeService()
                            "
                            [disabled]="formTypePaiement.invalid"
                        ></button>
                    </div>

                    <div>
                        <fieldset>
                            <legend>
                                <strong>Emission</strong>
                            </legend>
                            <div class="d-flex flex-column gap-2">
                                <div>
                                    <span class="mb-0 fs__30"
                                        ><strong>Matricule&nbsp;:&nbsp;</strong>
                                        {{
                                            detailsDemande?.demandeur_matricule ??
                                                'N/A'
                                        }}
                                    </span>
                                </div>
                                <div>
                                    <span class="mb-0 fs__30"
                                        ><strong
                                            >Nom complet&nbsp;:&nbsp;</strong
                                        >
                                        {{
                                            detailsDemande?.demandeur_nom ??
                                                'N/A'
                                        }}
                                        {{
                                            detailsDemande?.demandeur_prenoms ??
                                                'N/A'
                                        }}
                                    </span>
                                </div>
                                <div>
                                    <span class="mb-0 fs__30"
                                        ><strong>Contact&nbsp;:&nbsp;</strong>
                                        {{
                                            detailsDemande?.demandeur_contacts ??
                                                'N/A'
                                        }}
                                    </span>
                                </div>
                                <div>
                                    <span class="mb-0 fs__30"
                                        ><strong>Email&nbsp;:&nbsp;</strong>
                                        {{
                                            detailsDemande?.demandeur_email ??
                                                'N/A'
                                        }}
                                    </span>
                                </div>
                                <div>
                                    <span class="mb-0 fs__30"
                                        ><strong>Date&nbsp;:&nbsp;</strong>
                                        {{ detailsDemande?.created_at }}
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <!-- <div>
                        <fieldset *ngIf="detailsDemande?.approbateur">
                            <legend>
                                <strong>Approbateur</strong>
                            </legend>
                            <div class="d-flex flex-column gap-2">
                                <div>
                                    <span class="mb-0 fs__30"><strong>Matricule&nbsp;:&nbsp;</strong>
                                        {{detailsDemande?.approbateur?.matricule ?? 'N/A'}}
                                    </span>
                                </div>
                                <div>
                                    <span class="mb-0 fs__30"><strong>Nom complet&nbsp;:&nbsp;</strong>
                                        {{detailsDemande?.approbateur?.nom ?? 'N/A'}}
                                        {{detailsDemande?.approbateur?.prenoms ?? 'N/A'}}
                                    </span>
                                </div>
                                <div>
                                    <span class="mb-0 fs__30"><strong>Contact&nbsp;:&nbsp;</strong>
                                        {{detailsDemande?.approbateur?.contacts ?? 'N/A'}}
                                    </span>
                                </div>
                                <div>
                                    <span class="mb-0 fs__30"><strong>Email&nbsp;:&nbsp;</strong>
                                        {{detailsDemande?.approbateur?.email ?? 'N/A'}}
                                    </span>
                                </div>
                                <div>
                                    <span class="mb-0 fs__30">
                                        <strong>Date&nbsp;:&nbsp;</strong>
                                        {{ detailsDemande?.acquitte_a ?? 'N/A' }}
                                    </span>
                                </div>
                                <div>
                                    <span class="mb-0 fs__30">
                                        <strong>Lignes&nbsp;:&nbsp;</strong>
                                        {{detailsDemande?.nb_demande_traitees || 0}}
                                        /
                                        {{detailsDemande?.nb_demande_soumises || 0}}
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div>
                        <fieldset *ngIf="detailsDemande?.finalisateur">
                            <legend>
                                <strong>Finalisateur</strong>
                            </legend>
                            <div class="d-flex flex-column gap-2">
                                <div>
                                    <span class="mb-0 fs__30"><strong>Matricule&nbsp;:&nbsp;</strong>
                                        {{
                                        detailsDemande?.finalisateur
                                        ?.matricule ?? 'N/A'
                                        }}
                                    </span>
                                </div>
                                <div>
                                    <span class="mb-0 fs__30"><strong>Nom complet&nbsp;:&nbsp;</strong>
                                        {{
                                        detailsDemande?.finalisateur?.nom ??
                                        'N/A'
                                        }}
                                        {{
                                        detailsDemande?.finalisateur
                                        ?.prenoms ?? 'N/A'
                                        }}
                                    </span>
                                </div>
                                <div>
                                    <span class="mb-0 fs__30">
                                        <sstrong>Contact&nbsp;:&nbsp;</sstrong>
                                        {{
                                        detailsDemande?.finalisateur
                                        ?.contacts ?? 'N/A'
                                        }}
                                    </span>
                                </div>
                                <div>
                                    <span class="mb-0 fs__30"><strong>Email&nbsp;:&nbsp;</strong>
                                        {{
                                        detailsDemande?.finalisateur?.email ??
                                        'N/A'
                                        }}
                                    </span>
                                </div>
                                <div>
                                    <span class="mb-0 fs__30">
                                        <strong>Date&nbsp;:&nbsp;</strong>
                                        {{ detailsDemande?.finalise_a ?? 'N/A' }}
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                    </div> -->
                </div>

                <div class="col-lg-10">
                    <div class="col-lg-12">
                        <div
                            role="alert"
                            style="
                                display: flex;
                                justify-content: space-between;
                            "
                            [ngClass]="OnGetRapportCodeStyle(detailsDemande)"
                        >
                            <div>
                                <strong class="wrapper-header">
                                    {{ BADGE_ETAPE.SOUMISSION | capitalize }} :
                                    {{ detailsDemande?.etat_soumission }}
                                    <br />
                                    Date : [{{
                                        detailsDemande?.etat_soumission ===
                                        'abandonné'
                                            ? detailsDemande?.cloture_a
                                            : detailsDemande?.created_at ??
                                              '-- : --'
                                    }}]
                                </strong>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="col-md-7 wrapper-header">
                                <strong
                                    >{{
                                        formatTitle(detailsDemande?.operation)
                                    }}&nbsp;{{
                                        detailsDemande?.numero_demande
                                    }}</strong
                                >
                            </h4>
                            <div
                                class="col-md-5 wrapper-header"
                                style="
                                    display: flex;
                                    justify-content: end;
                                    font-size: 20px;
                                "
                            >
                                Date mise à jour :&nbsp;<b
                                    ><span>{{
                                        detailsDemande?.updated_at ?? 'N/A'
                                    }}</span></b
                                >
                            </div>
                        </div>

                        <hr
                            style="
                                position: relative;
                                top: -0.2rem;
                                margin-top: -0.8rem;
                            "
                        />

                        <div>
                            <div>
                                <!-- <fieldset>
                                    <legend>
                                        <b>Stock source de carte SIM</b>
                                    </legend>
                                    <div class="d-flex gap-4">
                                        <div class="d-flex align-items-end flex-wrap"
                                            style="padding-right: 0; width: 25%;">
                                            <div class="block-checked-stock-source">
                                                <div style="padding-left: 5px"
                                                    class="d-flex justify-content-between align-items-center wrapper-check">
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="stock_source"
                                                            value="stock orange" formControlName="source"
                                                            #stock_orange />
                                                        <label class="form-check-label" for="stock_orange"
                                                            style="width: auto !important">
                                                            <strong>Stock orange</strong>
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" name="stock_source"
                                                            value="stock local" formControlName="source" #mon_stock />
                                                        <label class="form-check-label" for="mon_stock"
                                                            style="width: auto !important">
                                                            <strong>Mon stock</strong>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="padding-left: 0; width: 70%;" *ngIf="stock_orange.checked">
                                            <input type="text" pInputText value="Orange fournira les cartes SIM"
                                                disabled />
                                        </div>
                                        <div style="padding-left: 0; width: 70%;" *ngIf="mon_stock.checked">
                                            <input type="text" pInputText
                                                value="L'abonnement sera effectué sur les cartes SIM en ma possession"
                                                disabled />
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="mon_stock.checked">
                                        <app-form-masse style="padding-bottom: 10px !important"
                                            class="col-md-12 d-flex align-items-end" [typeOperation]="'demande-masse'"
                                            [fileModel]="fileModel" (dataToSend)="pushCurrentArrayForm($event)"
                                            [currentArrayHeaders]="currentArrayHeaders"
                                            (downloadModel)="onDownloadModel($event)"
                                            [formMasseLibelle]="formMasseLibelle" [libelleFile]="libelleFile">
                                        </app-form-masse>
                                    </div>
                                </fieldset> -->

                                <fieldset>
                                    <legend>
                                        <strong>Informations demande</strong>
                                    </legend>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label><b>PU (Fcfa)</b></label>
                                                <input
                                                    formControlName="prix_unitaire"
                                                    type="text"
                                                    pInputText
                                                />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label><b>Quantité</b></label>
                                                <input
                                                    formControlName="qte"
                                                    type="number"
                                                    pInputText
                                                />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label
                                                    ><b
                                                        >Montant HT (Fcfa)</b
                                                    ></label
                                                >
                                                <input
                                                    formControlName="prix_ht"
                                                    type="text"
                                                    pInputText
                                                />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label
                                                    ><b
                                                        >Montant TTC (Fcfa)</b
                                                    ></label
                                                >
                                                <input
                                                    formControlName="prix_ttc"
                                                    type="text"
                                                    pInputText
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <!-- <fieldset>
                                    <legend>
                                        <b>Description de la Demande</b>
                                    </legend>
                                    <div class="row">
                                        <div class="col-md-12 d-flex align-items-end">
                                            <input type="text" formControlName="description" pInputText
                                                [ngStyle]="{ 'border-color': 'red' }" placeholder="Commentez..." />
                                        </div>
                                    </div>
                                </fieldset> -->

                                <fieldset>
                                    <legend>
                                        <b>Paiement</b>
                                    </legend>
                                    <div class="d-flex gap-4">
                                        <div
                                            class="d-flex align-items-end flex-wrap"
                                            style="padding-right: 0; width: 25%"
                                        >
                                            <div
                                                class="block-checked-stock-source"
                                            >
                                                <div
                                                    style="padding-left: 5px"
                                                    class="d-flex justify-content-between align-items-center wrapper-check"
                                                >
                                                    <div
                                                        class="form-check form-check-inline"
                                                    >
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            name="paiement"
                                                            value="différé"
                                                            formControlName="type_paiement"
                                                            #differe
                                                        />
                                                        <label
                                                            class="form-check-label"
                                                            for="differe"
                                                            style="
                                                                width: auto !important;
                                                            "
                                                            >Différé</label
                                                        >
                                                    </div>
                                                    <div
                                                        class="form-check form-check-inline"
                                                    >
                                                        <input
                                                            class="form-check-input"
                                                            type="radio"
                                                            name="paiement"
                                                            value="immédiat"
                                                            formControlName="type_paiement"
                                                            #immediat
                                                            id="immediat"
                                                        />
                                                        <label
                                                            class="form-check-label"
                                                            for="immediat"
                                                            style="
                                                                width: auto !important;
                                                            "
                                                        >
                                                            <strong
                                                                >Immédiat</strong
                                                            >
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            style="padding-left: 0; width: 70%"
                                            *ngIf="differe.checked"
                                        >
                                            <input
                                                type="text"
                                                pInputText
                                                disabled
                                                value="Le Montant dû sera posté (reporté) sur la prochaine facture"
                                            />
                                        </div>
                                        <div
                                            class="d-flex gap-4"
                                            style="padding-left: 0"
                                            *ngIf="immediat.checked"
                                        >
                                            <input
                                                type="file"
                                                accept="image/png,image/jpeg"
                                                style="
                                                    padding: 0.8rem;
                                                    border: 1px solid #000;
                                                    border-radius: 0.3rem;
                                                    color: #000;
                                                "
                                                (change)="
                                                    onChangeFile(
                                                        $event.target.files,
                                                        'recu-paiement'
                                                    )
                                                "
                                            />
                                            <button
                                                pButton
                                                pRipple
                                                label="Télécharger le précédent"
                                                icon="pi pi-download"
                                                class="p-button-success w-100"
                                                (click)="
                                                    downloadFile(
                                                        'recu-paiement'
                                                    )
                                                "
                                                *ngIf="
                                                    displayBoutonRecuPaiement()
                                                "
                                            ></button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
