<p-table
    #dt
    [value]="listLignesIntegrations"
    [rowHover]="true"
    dataKey="transaction"
    selectionMode="single"
    [(selection)]="selectedLignesIntegrations"
    [ngClass]="['native_table table']"
    [rows]="50"
    [globalFilterFields]="[
        'created_at',
        'numero_demande',
        'nb_demande_soumises',
        'nb_demande_traitees',
        'statut',
        'traitement',
        'demandeur_nom',
        'demandeur_prenoms'
    ]"
    responsiveLayout="scroll"
    scrollable="true"
    scrollHeight="flex"
    width="100%"
    class="responsive-claims-table"
>
    <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between">
            <app-table-header
                [count]="listLignesIntegrations"
                [legende]="'Demandes Intégrations'"
                [page]="pargination?.currentPage"
                [totalPage]="pargination?.last_page"
            >
            </app-table-header>
            <div>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                        pInputText
                        type="text"
                        (input)="
                            dt.filterGlobal($event.target.value, 'contains')
                        "
                        placeholder="Recherche..."
                    />
                </span>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">Date Demande</th>
            <th class="text-center">N° Dossier</th>
            <th class="text-center">MSISDN</th>
            <th class="text-center">IMSI</th>
            <th class="text-center">Statut</th>
            <th class="text-center">Traitement</th>
            <th class="text-center">Date Traitement</th>
            <th class="text-center" [style]="{ width: '3rem' }">Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-demande>
        <tr [pSelectableRow]="demande">
            <td class="text-center">{{ rowIndex + pargination?.offset }}</td>
            <td class="text-center">{{ demande?.created_at }}</td>
            <td
                class="cursor-pointer text-center"
                (click)="copyData(demande, 'transaction')"
            >
                {{ demande?.transaction }}
            </td>
            <td
                class="cursor-pointer text-center"
                (click)="demande?.msisdn ? copyData(demande, 'msisdn') : null"
            >
                {{ demande?.msisdn ?? 'N/A' }}
            </td>
            <td
                class="cursor-pointer text-center"
                (click)="demande?.imsi ? copyData(demande, 'imsi') : null"
            >
                {{ demande?.imsi ?? 'N/A' }}
            </td>
            <td class="text-center" [style]="{ width: '3rem' }">
                <span
                    [ngStyle]="{ 'font-size': '16px' }"
                    [class]="'badge ' + getStatutBadge(demande?.statut)"
                >
                    {{
                        demande?.statut === 'traiter'
                            ? 'Complet'
                            : demande?.statut
                    }}
                </span>
            </td>
            <td class="text-center">
                <span
                    [ngStyle]="{ 'font-size': '16px' }"
                    [class]="'badge ' + getTraitementBadge(demande)"
                >
                    {{ demande.traitement }}
                </span>
            </td>
            <td class="text-center">
                {{ demande?.current_date ?? 'N/A' }}
            </td>
            <td class="td-actions">
                <button
                    pButton
                    icon="pi pi-eye"
                    pTooltip="Voir"
                    tooltipPosition="top"
                    (click)="OnShowTraitement(demande)"
                    class="p-button-dark"
                ></button>
                <button
                    pButton
                    icon="pi pi-book"
                    pTooltip="Journal"
                    tooltipPosition="top"
                    (click)="showJournal(demande)"
                    class="p-button-primary"
                ></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr *ngIf="listDemandesIntegrations?.length <= 0 && !spinner">
            <td class="posRelative" colspan="15">
                <span class="posCenter"> Aucune donnée disponible </span>
            </td>
        </tr>
        <tr *ngIf="spinner">
            <td class="posRelative" colspan="15">
                <p-progressSpinner
                    class="posCenter"
                    [style]="{ width: '40px', height: '50px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="#EEEEEE"
                    animationDuration=".5s"
                >
                </p-progressSpinner>
            </td>
        </tr>
    </ng-template>
</p-table>
