<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb />
            <div class="card">
                <div class="card-body">
                    <div style="margin-top: -2rem !important">
                        <app-page-title
                            [displayDate]="false"
                            [title]="
                                'ASSOCIATION_ENTERPRISES'
                                    | translate
                                    | lowercase
                            "
                        >
                        </app-page-title>
                    </div>

                    <div class="fade-in">
                        <app-filter-association-enterprises
                            (filter)="filter($event)"
                            [listAssociationEnterprisesStep]="
                                listAssociationEnterprisesStep
                            "
                        >
                        </app-filter-association-enterprises>

                        <hr />

                        <app-table-association-enterprises
                            [spinner]="spinner"
                            [pagination$]="pagination$"
                            [listAssociationEnterprises$]="
                                listAssociationEnterprises$
                            "
                            [listAssociationEnterprisesStep]="
                                listAssociationEnterprisesStep
                            "
                            (interfaceUser)="navigateByUrl($event)"
                        >
                        </app-table-association-enterprises>

                        <app-pagination
                            [pagination$]="pagination$"
                            (pageChange)="onPageChange($event)"
                        ></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
