.card {
    border-radius: 0.5rem;
    padding: 0.2rem 0.8rem;
    width: 100%;
    .content {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        &__legend {
            span {
                font-weight: bold;
                font-size: 1.2rem;
            }
        }

        &__value {
            span {
                font-size: 1.5rem;
            }
        }
    }
}