// * {
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
// }

.map {
    width: 100%;
    height: 100vh;
    min-height: 400px;
    display: block;
}

::ng-deep .p-datatable-wrapper {
    overflow-x: auto;
}

::ng-deep .p-datatable-scrollable .p-datatable-thead > tr > th:last-child {
    display: flex;
    justify-content: center;
}
