<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-breadcrumb [title]="'Suivi des opérations'" [active_item]="'Centre de Notifications'"></app-breadcrumb>
      <div class="card">
        <div class="card-body">
          <div [hidden]="!initialView">
            <div class="table_content_wrapper">
              <div class="table_header">
                <app-table-header [count]="listNotifys" [legende]="'Notifications'" [page]="page" [totalPage]="totalPage"></app-table-header>
              </div>
              <table [ngClass]="['native_table table']">
                <thead>
                  <th class="text-center">#</th>
                  <th>Date/heure</th>
                  <th class="text-center">Reference</th>
                  <th class="text-center">Type Notification</th>
                  <th class="text-center">Description</th>
                  <th class="text-center" [style]="{width: '3rem'}">Actions</th>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let data of listNotifys | paginate: { itemsPerPage: recordsPerPage, currentPage: p, totalPages:totalPage, totalItems:totalRecords }; let i = index;">
                    <td class="text-center">{{ (this.offset + i)}}</td>
                    <td>{{data?.created_at}}</td>
                    <td class="text-center">{{data?.reference}}</td>
                    <td class="text-center">{{data?.type}}</td>
                    <td class="text-center" [innerHTML]="data?.description"></td>
                    <td class="td-actions">
                        <button pButton pRipple icon="pi pi-eye" class="p-button-dark" pTooltip="Voir" tooltipPosition="top"
                        (click)="onShowNotification(data)"></button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div [ngClass]="['pagination-controls']">
                <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="">
                </pagination-controls>
              </div>
            </div>
          </div>
          <div *ngIf="showView">
            <app-show-notification
              [currentData]="currentData"
              [selectedOperation]="currentOperation"
              (showView)="pushStatutView($event)"
              ></app-show-notification>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>