<div>
    <div class="container_flex_space_between">
        <div class="row filter_wrapper" style="width: 100%">
            <div class="col-md-3">
                <div class="form-group">
                    <label>
                        <b>Nom du profil<span class="text-danger">*</span></b>
                    </label>
                    <input
                        placeholder="Nom du Profil"
                        [disabled]="currentObject?.show"
                        [(ngModel)]="selectedNom"
                        type="text"
                        pInputText
                    />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        <b>Description</b>
                    </label>
                    <input
                        placeholder="Description du Profil"
                        [disabled]="currentObject?.show"
                        [(ngModel)]="selectedDescription"
                        type="text"
                        pInputText
                    />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        <b>Mode Lecture</b>
                    </label>
                    <div style="margin-top: 0.4rem">
                        <p-inputSwitch
                            [disabled]="currentObject?.show"
                            [(ngModel)]="selectedMode"
                            class="me-5"
                        ></p-inputSwitch>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="table_actions_wrapper pt-3">
                <button
                    class="p-button-success"
                    *ngIf="!currentObject?.show"
                    pButton
                    pRipple
                    icon="pi pi-save"
                    label="Sauvegarder"
                    (click)="
                        !currentObject
                            ? handleSavePermission()
                            : handleUpdatePermission()
                    "
                ></button>
                <button
                    pButton
                    pRipple
                    label="Fermer"
                    (click)="close()"
                    class="p-button-danger"
                ></button>
            </div>
        </div>
    </div>
    <hr />
    <p-tabView>
        <p-tabPanel header="Permissions" *ngIf="!currentObject?.show">
            <div class="d-flex justify-content-between">
                <div>
                    <p-tree
                        selectionMode="checkbox"
                        [value]="listPermissions$ | async"
                        [(selection)]="checkedPermission"
                    >
                    </p-tree>

                    <!-- <p-treetable [value]="listPermissions" [columns]="cols" selectionMode="checkbox"
                        [(selectionKeys)]="selectionKeys" dataKey="data.value" [scrollable]="true"
                        [tableStyle]="{ 'min-width': '50rem' }" (onNodeSelect)="onSelectionChange($event)"
                        (onNodeUnselect)="onSelectionChange($event)">

                        <ng-template pTemplate="header">
                            <tr>
                                <th *ngFor="let col of cols">
                                    {{ col.header }}
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                            <tr>
                                <td>

                                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>

                                    <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>

                                    {{ rowData.data?.title }}
                                </td>
                                <td>
                                    {{ rowData.data?.value }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-treetable> -->
                </div>
                <div>
                    <button
                        pButton
                        type="button"
                        label="Dérouler Tout"
                        (click)="expandAllPermission()"
                        style="margin-right: 0.5rem"
                        class="p-button-secondary"
                    ></button>
                    <button
                        pButton
                        type="button"
                        label="Fermer Tout"
                        (click)="collapseAllPermission()"
                        class="p-button-dark"
                    ></button>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Habilitations" *ngIf="!currentObject?.show">
            <div class="d-flex justify-content-between">
                <div>
                    <p-tree
                        selectionMode="checkbox"
                        [value]="listHabilitation$ | async"
                        [(selection)]="checkedHabilitation"
                    ></p-tree>
                </div>
                <div>
                    <button
                        pButton
                        type="button"
                        label="Dérouler Tout"
                        (click)="expandAllHabilitation()"
                        style="margin-right: 0.5rem"
                        class="p-button-secondary"
                    ></button>
                    <button
                        pButton
                        type="button"
                        label="Fermer Tout"
                        (click)="collapseAllHabilitation()"
                        class="p-button-dark"
                    ></button>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="HISTORIQUE" *ngIf="currentObject?.show">
            <app-history
                [typeModel]="'profil_users'"
                [idModel]="currentObject?.id"
            ></app-history>
        </p-tabPanel>
    </p-tabView>
</div>
