<div>
  <div class="container_flex_space_between">
    <div class="row filter_wrapper" style="width: 100%;">
      <div class="col-md-3">
        <div class="form-group">
          <label>
            <b>Nom du profil<span class="text-danger">*</span></b>
          </label>
          <input placeholder="Nom du Profil" [(ngModel)]="selectedNom" type="text" pInputText />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>
            <b>Description</b>
          </label>
          <input placeholder="Description du Profil" [(ngModel)]="selectedDescription" type="text" pInputText />
        </div>
      </div>
    </div>
    <div>
      <div class="table_actions_wrapper pt-3">
        <button class="p-button-success" pButton pRipple icon="pi pi-save" label="Sauvegarder" (click)="!currentObject ? handleSaveProfilHabilitation()
        : handleUpdateProfilHabilitation()">
        </button>
        <button pButton pRipple label="Fermer" (click)="close()" class="p-button-danger"></button>
      </div>
    </div>
  </div>
  <hr>
  <p-tabView>
    <p-tabPanel header="Permissions">
      <div class="d-flex justify-content-between">
        <div>
          <p-tree selectionMode="checkbox" [value]="dataSourceFiles" [(selection)]="selectedItemsDataSource"></p-tree>
        </div>
        <div>
          <button pButton type="button" label="Dérouler Tout" (click)="expandAllHabilitations()"
            style="margin-right: 0.5rem" class="p-button-secondary"></button>
          <button pButton type="button" label="Fermer Tout" (click)="collapseAllHabilitations()"
            class="p-button-dark"></button>
        </div>
      </div>
    </p-tabPanel>
    <!-- <p-tabPanel header="Habilitations">
      <div class="d-flex justify-content-between">
        <div>
          <p-tree selectionMode="checkbox" [value]="permissionExploitations"
            [(selection)]="selectedItemsDataDirectReg"></p-tree>
        </div>
        <div>
          <button pButton type="button" label="Dérouler Tout" (click)="expandAllPermissions()"
            style="margin-right: 0.5rem" class="p-button-secondary"></button>
          <button pButton type="button" label="Fermer Tout" (click)="collapseAllPermissions()"
            class="p-button-dark"></button>
        </div>
      </div>
    </p-tabPanel> -->
  </p-tabView>
</div>