<div class="modal-content">
  <div class="modal-header" style="background-color:#569c5b;color:#fff;cursor: all-scroll;padding: 0.2rem 1rem;">
    <h4 class="modal-title pl-3">
      Détails <strong class="cursor-pointer text-center"
        (click)="copyTransaction(transaction.transaction)">[{{transaction?.transaction}}]</strong>
    </h4>
    <button type="button" class="close" (click)="handleCloseModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <div class="row">
    <div class="col-lg-2"  style="border-right: 1px solid #D8D8D8;">
      <div>
        <fieldset>
            <legend>
                <strong>Emission</strong>
            </legend>
            <div class="d-flex flex-column gap-2">
                <div>
                  <span class="mb-0 fs__30"><strong>Nom complet&nbsp;:&nbsp;</strong>{{transaction?.agent_nom ??"N/A"}}</span>
                </div>
                <div>
                  <span class="mb-0 fs__30"><strong>Matricule&nbsp;:&nbsp;</strong>{{transaction?.agent_matricule ??"N/A"}}</span>
                </div>
                <div>
                  <span class="mb-0 fs__30"><strong>Contact&nbsp;:&nbsp;</strong>{{transaction?.agent_contacts ??"N/A"}}</span>
                </div>
                <div>
                  <span class="mb-0 fs__30"><strong>Email&nbsp;:&nbsp;</strong>{{transaction?.agent_email ??"N/A"}}</span>
                </div>
                <div>
                  <span class="mb-0 fs__30"><strong>Date&nbsp;:&nbsp;</strong>{{transaction?.created_at ??"N/A"}}</span>
                </div>
            </div>
        </fieldset>
          </div>
    <br>
    <div>
      <fieldset>
          <legend>
              <strong>Homologation</strong>
          </legend>
          <div class="d-flex flex-column gap-2">
              <div>
                <span class="mb-0 fs__30"><strong>Matricule&nbsp;:&nbsp;</strong>{{transaction?.intervenant_matricule ??"N/A"}}</span>
              </div>
              <div>
                <span class="mb-0 fs__30"><strong>Nom&nbsp;:&nbsp;</strong>{{transaction?.intervenant_nom ??"N/A"}}</span>
              </div>
              <div>
                <span class="mb-0 fs__30"><strong>Prénoms&nbsp;:&nbsp;</strong>{{transaction?.intervenant_prenoms ??"N/A"}}</span>
              </div>
              <div>
                <span class="mb-0 fs__30"><strong>Contact&nbsp;:&nbsp;</strong>{{transaction?.agent_email ??"N/A"}}</span>
              </div>
              <div>
                <span class="mb-0 fs__30"><strong>Date&nbsp;:&nbsp;</strong>{{transaction?.intervenant_contacts ??"N/A"}}</span>
              </div>
          </div>
      </fieldset>
          </div>
    </div>
    <div class="col-lg-10">
      <div>
        <div class="d-flex justify-content-between">
         <div>
          <h4 *ngIf="detailTransaction?.rapport" class="wrapper-header">
            <strong>{{ formatTitleOuvrage(detailTransaction?.operation) }}
              <span style="color:#549B3D;font-weight: bold;">
                <span *ngIf="IsContentSim()"> 
                  {{detailTransaction?.niveau_uns_code}} |
                  {{detailTransaction?.niveau_deux_nom}} [{{detailTransaction?.niveau_deux_code}}] -
                  [{{detailTransaction?.msisdn}}]
                </span>&nbsp;
                <span *ngIf="IsProvisionningTransaction()"> 
                  {{detailTransaction?.reference}} [{{detailTransaction?.rapport?.code}}]
                </span>&nbsp;
                <span *ngIf="IsAchatTransaction()"> 
                  {{detailTransaction?.numero_commande}} [{{detailTransaction?.rapport?.code}}]
                </span>&nbsp;
                <span
                  *ngIf="detailTransaction?.rapport?.identifiant">[{{detailTransaction?.rapport?.identifiant}}]</span>
              </span>
            </strong>
          </h4>
         </div>
         <div class="wrapper-header"  style="font-size: 20px;">
          Statut :&nbsp;<b><span>{{detailTransaction?.statut}}</span></b>
        </div>
          <!-- <div class="wrapper-header"  style="font-size: 20px;">
            Date de création :&nbsp;<b><span>{{detailTransaction?.date_debut}}</span></b>
          </div> -->
          <div class="wrapper-header"  style="font-size: 20px;">
            Date de traitement :&nbsp;<b><span>{{IscurrentDate() ?? 'N/A'}}</span></b>
          </div>
        </div>
        <hr style="position: relative;top: -0.2rem;margin-top: -0.4rem;">
        <!--------------LIGNE----------CREDIT------------FORMS----------------->
        <div *ngIf="transaction?.operation === operationLigneCredit">
          <div [hidden]="filterTab !== 'first-item'" [formGroup]="ligneForm">
            <fieldset>
              <legend>
                <strong>Information de Transaction</strong>
              </legend>
              <div class="row">
                <div class="col-md-2">
                  <div class="form-group">
                    <label>
                      <b>Montant</b>
                    </label>
                    <input type="text" formControlName="montant" placeholder="montant" pInputText />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label>
                      <b>Type Justificatif</b>
                    </label>
                    <p-dropdown [options]="listTypeJustificatif" formControlName="type_justificatif" placeholder="Type">
                      <ng-template let-data pTemplate="item">
                        <div class="country-item">
                          <div>
                            {{data}}
                          </div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label>
                      <b>Description</b>
                    </label>
                    <input type="text" formControlName="description" pInputText />
                  </div>
                </div>
              </div>
              <br>
              <div style="display: flex;justify-content: center;gap: 2rem;">
                <div>
                  <div style="display: flex;justify-content: center;">
                    <button pButton pRipple label="Télécharger le justificatif" icon="pi pi-download"
                    class="p-button-success" (click)="downloadFile()"></button>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <!--------------DEPOT----------VOLUME------------FORMS----------------->
        <div *ngIf="transaction?.operation === OperationVolumeData">
          <div [hidden]="filterTab !== 'first-item'" [formGroup]="volumeForm">
            <fieldset style="margin-top: 2.5rem;">
              <legend [ngStyle]="{width: '100%'}">
                <b>Informations de Transaction</b>
              </legend>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>MSIDN</b>
                    </label>
                    <input type="text" formControlName="msisdn" pInputText />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>IMSI</b>
                    </label>
                    <input type="text" formControlName="imsi" pInputText />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>Statut Contrat</b>
                    </label>
                    <!-- <input type="text" formControlName="statut_contrat" pInputText /> -->
                    <app-statut-contrat [statut]="detailTransaction?.statut_contrat"></app-statut-contrat>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>Emplacement</b>
                    </label>
                    <input type="text" formControlName="point_emplacement" pInputText />
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset style="margin-top: 2.5rem;">
              <legend [ngStyle]="{width: '100%'}">
                <b>Détails de la Transaction</b>
              </legend>
              <div class="row">
                <!-- <div class="col-md-3">
                  <div style="display: flex;gap: 2rem;">
                    <div class="d-flex gap-2">
                      <p-radioButton name="bac_a_pioche" value="stock" formControlName="bac_a_pioche"
                        inputId="b_1"></p-radioButton>
                      <label style="margin-top: 0.9rem">Dotation Point Emplacement</label>
                    </div>
                  </div>
                </div> -->
                <div>
                  <div class="form-group">
                    <label style="opacity: 0;">
                      <b> <span class="text-danger">*</span></b>
                    </label>
                    <input [disabled]="true" class="infos_text" [value]="sourceStock === 'stock' ? sourceSoldeDotation: sourceSoldeDotationOrange " type="text" pInputText />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>Voume (Go)<span class="text-danger">*</span></b>
                    </label>
                    <input type="number" formControlName="volume" pInputText />
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <label>
                      <b>Description<span class="text-danger">*</span></b>
                    </label>
                    <input type="text" formControlName="description" pInputText />
                  </div>
                </div>
              </div>
              <br>
              <div style="display: flex;justify-content: center;gap: 2rem">
                <div>
                  <div style="display: flex;justify-content: center;">
                    <button pButton pRipple label="Télécharger le justificatif" icon="pi pi-download"
                      class="p-button-success" (click)="downloadFile()"></button>
                  </div>
                </div>
                <div *ngIf="IsUpdate()">
                  <div style="display: flex;justify-content: center;">
                    <input type="file" style="padding: 0.6rem;border: 1px solid;border-radius: 0.3rem;"
                      (change)="onChangeFile($event.target.files)" accept="image/png,image/jpeg" />
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <!--------------CHANGEMENT------------FORMS----------------->
        <div *ngIf="transaction?.operation === operationSwap">
          <div [hidden]="filterTab !== 'first-item'" [formGroup]="swapForm">
            <fieldset style="margin-top: 2.5rem;">
              <legend [ngStyle]="{width: '100%'}">
                <b>Informations sur la SIM</b>
              </legend>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>MSIDN</b>
                    </label>
                    <input type="text" formControlName="msisdn" pInputText />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>IMSI</b>
                    </label>
                    <input type="text" formControlName="imsi" pInputText />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>Statut Contrat</b>
                    </label>
                    <!-- <input type="text" formControlName="statut_contrat" pInputText /> -->
                    <app-statut-contrat [statut]="detailTransaction?.statut_contrat"></app-statut-contrat>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>Emplacement</b>
                    </label>
                    <input type="text" formControlName="point_emplacement" pInputText />
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset style="margin-top: 2.5rem;">
              <legend [ngStyle]="{width: '100%'}">
                <b>Source Stock SIM / Détails de la Transaction</b>
              </legend>
              <div class="d-flex gap-4">
                <div>
                   <div class="d-flex gap-4">
                       <div class="d-flex gap-2">
                          <p-radioButton name="valeur" [value]="'stock'" formControlName="bac_a_pioche" [inputId]="'stock'"></p-radioButton>
                          <label [for]="'stock'" style="margin-top: 0.9rem">Stock SIM/Tenant</label>
                       </div>
                   </div>
                </div>
                <div>
                  <div class="d-flex gap-4">
                    <div class="d-flex gap-2">
                      <p-radioButton name="valeur" [value]="'orangeci'" formControlName="bac_a_pioche" [inputId]="'orangeci'"></p-radioButton>
                      <label [for]="'orangeci'" style="margin-top: 0.9rem">Stock SIM/OCI</label>
                    </div>
                </div>
                </div>
              </div>
              <div class="text-wrapper mt-2">
                <input [value]="sourceStockSwap === 'stock' ? sourceStockTenantSim: sourceStockOrangeSim" type="text" [disabled]="true" pInputText/>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>
                      <b>Description<span class="text-danger">*</span></b>
                    </label>
                    <input type="text" formControlName="description" pInputText />
                  </div>
                </div>
              </div>
              <br>
              <div style="display: flex;justify-content: center;gap: 2rem">
                <div>
                  <div style="display: flex;justify-content: center;">
                    <button pButton pRipple label="Télécharger le justificatif" icon="pi pi-download"
                      class="p-button-success" (click)="downloadFile()"></button>
                  </div>
                </div>
                <div *ngIf="IsUpdate()">
                  <div style="display: flex;justify-content: center;">
                    <input type="file" style="padding: 0.6rem;border: 1px solid;border-radius: 0.3rem;"
                      (change)="onChangeFile($event.target.files)" accept="image/png,image/jpeg" />
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <!--------------RESILIATION------------FORMS----------------->
        <div *ngIf="transaction?.operation === OperationResiliation">
          <div [hidden]="filterTab !== 'first-item'" [formGroup]="resiliationForm">
            <fieldset style="margin-top: 2.5rem;">
              <legend [ngStyle]="{width: '100%'}">
                <b>Informations sur la SIM</b>
              </legend>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>MSIDN</b>
                    </label>
                    <input type="text" formControlName="msisdn" pInputText />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>IMSI</b>
                    </label>
                    <input type="text" formControlName="imsi" pInputText />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>Statut Contrat</b>
                    </label>
                    <!-- <input type="text" formControlName="statut_contrat" pInputText /> -->
                    <app-statut-contrat [statut]="this.detailTransaction?.statut_contrat"></app-statut-contrat>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>Emplacement</b>
                    </label>
                    <input type="text" formControlName="point_emplacement" pInputText />
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset style="margin-top: 2.5rem;">
              <legend [ngStyle]="{width: '100%'}">
                <b>Détails de la Transaction</b>
              </legend>
              <div class="row">
                <div class="form-group">
                  <label>
                    <b>Description<span class="text-danger">*</span></b>
                  </label>
                  <input type="text" formControlName="description" pInputText />
                </div>
              </div>
              <br>
              <div style="display: flex;justify-content: center;gap: 2rem;">
                <div>
                  <div style="display: flex;justify-content: center;">
                    <button pButton pRipple label="Télécharger le justificatif initial" icon="pi pi-download"
                      class="p-button-success" (click)="downloadFile()"></button>
                  </div>
                </div>
                <div *ngIf="IsUpdate()">
                  <div style="display: flex;justify-content: center;">
                    <input type="file" style="padding: 0.6rem;border: 1px solid;border-radius: 0.3rem;"
                      (change)="onChangeFile($event.target.files)" accept="image/png,image/jpeg" />
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <!--------------SUSPENSION------------FORMS----------------->
        <div *ngIf="transaction?.operation === OperationSuspension">
          <div [hidden]="filterTab !== 'first-item'" [formGroup]="suspensionForm">
            <fieldset style="margin-top: 2.5rem;">
              <legend [ngStyle]="{width: '100%'}">
                <b>Informations sur la SIM</b>
              </legend>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>MSIDN</b>
                    </label>
                    <input type="text" formControlName="msisdn" pInputText />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>IMSI</b>
                    </label>
                    <input type="text" formControlName="imsi" pInputText />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>Statut Contrat</b>
                    </label>
                    <!-- <input type="text" formControlName="statut_contrat" pInputText /> -->
                    <app-statut-contrat [statut]="detailTransaction?.statut_contrat"></app-statut-contrat>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>
                      <b>Emplacement</b>
                    </label>
                    <input type="text" formControlName="point_emplacement" pInputText />
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset style="margin-top: 2.5rem;">
              <legend [ngStyle]="{width: '100%'}">
                <b>Détails de la Transaction</b>
              </legend>
              <div class="row">
                <div class="form-group">
                  <label>
                    <b>Description<span class="text-danger">*</span></b>
                  </label>
                  <input type="text" formControlName="description" pInputText />
                </div>
              </div>
              <br>
              <div style="display: flex;justify-content: center;gap: 2rem;">
                <div>
                  <div style="display: flex;justify-content: center;">
                    <button pButton pRipple label="Télécharger le justificatif initial" icon="pi pi-download"
                      class="p-button-success" (click)="downloadFile()"></button>
                  </div>
                </div>
                <div *ngIf="IsUpdate()">
                  <div style="display: flex;justify-content: center;">
                    <input type="file" style="padding: 0.6rem;border: 1px solid;border-radius: 0.3rem;"
                      (change)="onChangeFile($event.target.files)" accept="image/png,image/jpeg" />
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <!-------------ACTIVATION--------------FORMS--------------------------->
        <div *ngIf="transaction?.operation === operationActivation">
          <div [hidden]="filterTab !== 'first-item'" [formGroup]="activationForm">
            <fieldset style="margin-top: 2.5rem;" *ngIf="bacPiocheActivation !== 'patrimoine'">
              <legend [ngStyle]="{width: '100%'}">
                <b>Source Stock SIM</b>
              </legend>
              <div class="d-flex gap-4">
                <div>
                   <div class="d-flex gap-4">
                       <div class="d-flex gap-2">
                          <p-radioButton name="valeur" [value]="'stock'" formControlName="bac_a_pioche" [inputId]="'stock'"></p-radioButton>
                          <label [for]="'stock'" style="margin-top: 0.9rem">Stock SIM/Tenant</label>
                       </div>
                   </div>
                </div>
                <div>
                  <div class="d-flex gap-4">
                    <div class="d-flex gap-2">
                      <p-radioButton name="valeur" [value]="'orangeci'" formControlName="bac_a_pioche" [inputId]="'orangeci'"></p-radioButton>
                      <label [for]="'orangeci'" style="margin-top: 0.9rem">Stock SIM/OCI</label>
                    </div>
                </div>
                </div>
              </div>
              <div class="text-wrapper mt-2">
                <input [value]="bacPiocheActivation === 'stock' ? sourceStockTenantSim: sourceStockOrangeSim" type="text" [disabled]="true" pInputText/>
              </div>
            </fieldset>
            <fieldset>
              <legend [ngStyle]="{width: '12rem'}">
                <b>Informations SIM</b>
              </legend>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>
                      <b>IMSI</b>
                    </label>
                    <input type="text" formControlName="imsi" pInputText />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>
                      <b>MSISDN</b>
                    </label>
                    <input type="text" formControlName="msisdn" pInputText />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>
                      <b>Statut Contrat</b>
                    </label>
                    <input *ngIf="!detailTransaction?.statut_contrat" type="text" formControlName="statut_contrat" pInputText />
                    <app-statut-contrat  *ngIf="detailTransaction?.statut_contrat" [statut]="detailTransaction?.statut_contrat"></app-statut-contrat>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend [ngStyle]="{width: '18rem'}">
                <b>Informations d'identification</b>
              </legend>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>
                      <b>{{firstLevelLibelle}}</b>
                    </label>
                    <p-dropdown [options]="listFirstLevel" formControlName="niveau_un_id" optionLabel="nom"
                      optionValue="id" [filter]="true" filterBy="nom">
                      <ng-template let-data pTemplate="item">
                        <div class="country-item">
                          <div>
                            {{data.nom}} [{{data.code}}]
                          </div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>
                      <b>{{secondLevelLibelle}}</b>
                    </label>
                    <p-dropdown [options]="listSecondLevel" formControlName="niveau_deux_id" optionLabel="nom"
                      optionValue="id" [filter]="true" filterBy="nom">
                      <ng-template let-data pTemplate="item">
                        <div class="country-item">
                          <div>
                            {{data.nom}}
                          </div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>
                      <b>{{thirdLevelLibelle}}</b>
                    </label>
                    <p-dropdown [options]="listThirdLevel" formControlName="niveau_trois_id" optionLabel="nom"
                      optionValue="id">
                      <ng-template let-data pTemplate="item">
                        <div class="country-item">
                          <div>
                            {{data.nom}}
                          </div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>
                      <b>Usage</b>
                    </label>
                    <p-dropdown [options]="listUsages" formControlName="usage_id" optionLabel="nom_usage"
                      placeholder="Usage" optionValue="id" placeholder="Usage">
                      <ng-template let-data pTemplate="item">
                        <div class="country-item">
                          <div>
                            {{data.nom_usage}}
                          </div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>
                      <b>Emplacement</b>
                    </label>
                    <input type="text" formControlName="point_emplacement" placeholder="Emplacement" pInputText />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>
                      <b>Adresse mail</b>
                    </label>
                    <input type="text" formControlName="adresse_email" placeholder="Adresse Email" pInputText />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>
                      <b>Adresse géographique</b>
                    </label>
                    <input type="text" formControlName="adresse_geographique" placeholder="Adresse Geo" pInputText />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>
                      <b>Latitude</b>
                    </label>
                    <input type="text" formControlName="latitude" placeholder="Latitude" pInputText />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>
                      <b>Longitude</b>
                    </label>
                    <input type="text" formControlName="longitude" placeholder="Longitude" pInputText />
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset style="margin-top: 2.5rem;">
              <legend [ngStyle]="{width: '100%'}">
                <b>Détails de la Transaction</b>
              </legend>
              <div class="row">
                <div class="form-group">
                  <label>
                    <b>Description<span class="text-danger">*</span></b>
                  </label>
                  <input type="text" formControlName="description" pInputText />
                </div>
              </div>
              <br>
              <div style="display: flex;justify-content: center;gap: 2rem;">
                <div>
                  <div style="display: flex;justify-content: center;">
                    <button pButton pRipple label="Télécharger le justificatif" icon="pi pi-download"
                      class="p-button-success" (click)="downloadFile()"></button>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div *ngIf="transaction?.operation === OperationAchat">
          <div [hidden]="filterTab !== 'first-item'">
            <fieldset>
              <legend>
                <strong>Information de Transaction</strong>
              </legend>
              <div class="panier-card" *ngFor="let prod of detailTransaction?.detail_commande">
                <div class="panier-card__file">
                  <img src="assets/images/unboxing.png" alt="">
                </div>
                <div class="panier-card__infos">
                  <div class="panier-card__infos--code">{{prod.code_produit}}</div>
                  <div class="panier-card__infos--nom">{{prod.nom_produit}}</div>
                </div>
                <div class="panier-card__quantity">    
                  <span>{{prod.quantite}}</span>
                </div>
                <div class="panier-card__price">{{ pipeValue((prod.montant_ht)*(prod.quantite))}} F</div>
              </div>
            </fieldset>
          </div>
        </div>
        <!-----------------------COMMENTAIRE----------ORANGE--------------------------------->
        <div *ngIf="detailTransaction?.rapport?.statut_traitement">
          <fieldset>
            <legend>
              <strong>Commentaire Homologation</strong>
            </legend>
            <div class="row">
                <div class="form-group">
                  <input type="text" [disabled]="true" [value]="this.GetCurrentMessage(this.transaction.operation)" pInputText />
                </div>
            </div>
          </fieldset>
        </div>
          <!-----------------------COMMENTAIRE----------GS2E--------------------------------->
          <div *ngIf="detailTransaction?.rapport?.statut_traitement && detailTransaction?.rapport?.statut_cloture">
            <fieldset>
              <legend>
                <strong>Commentaire Cloture</strong>
              </legend>
              <div class="row">
                  <div class="form-group">
                    <input type="text" [disabled]="true" [value]="detailTransaction?.rapport?.notation_description" pInputText />
                  </div>
              </div>
            </fieldset>
          </div> 
      </div>
    </div>
  </div>
  </div>
</div>

