<div class="logo-wrapper">
    <a [routerLink]="['/dashboard']">
        <img
            class="img-fluid"
            [src]="sidebarLogo"
            width="200"
            [alt]="'LAYOUT.SIDEBAR.LOGO.ALT' | translate"
        />
    </a>
</div>
<div class="logo-icon-wrapper">
    <a [routerLink]="['/dashboard']">
        <img
            class="img-fluid"
            [src]="sidebarLogo"
            width="60"
            [alt]="'LAYOUT.SIDEBAR.LOGO_ICON.ALT' | translate"
        />
    </a>
</div>

<nav class="sidebar-main">
    <button
        type="button"
        class="back-btn sidebar-icon"
        (click)="sidebarToggle()"
    >
        <i [attr.data-feather]="'sidebar'"></i>
    </button>
    <button
        type="button"
        class="left-arrow"
        id="left-arrow"
        [class.d-none]="leftArrowNone"
        (click)="scrollToLeft()"
    >
        <i [attr.data-feather]="'arrow-left'"></i>
    </button>
    <button
        type="button"
        class="right-arrow"
        id="right-arrow"
        [class.d-none]="rightArrowNone"
        (click)="scrollToRight()"
    >
        <i [attr.data-feather]="'arrow-right'"></i>
    </button>
    <div id="sidebar-menu">
        <ul class="sidebar-links custom-scrollbar">
            <div class="simplebar-wrapper">
                <div class="simplebar-mask">
                    <div class="simplebar-offset">
                        <div class="simplebar-content-wrapper">
                            <div class="simplebar-content">
                                <li class="back-btn">
                                    <a href="javascript:void(0)">
                                        <img
                                            class="img-fluid"
                                            [src]="sidebarLogo"
                                            [alt]="
                                                'LAYOUT.SIDEBAR.LOGO.ALT'
                                                    | translate
                                            "
                                        />
                                    </a>
                                    <button
                                        type="button"
                                        class="mobile-back text-end"
                                        (click)="sidebarToggle()"
                                    >
                                        <span>{{
                                            'LAYOUT.SIDEBAR.BACK.TEXT'
                                                | translate
                                        }}</span>
                                        <i class="pi pi-angle-right ps-2"></i>
                                    </button>
                                </li>

                                @for (menuItem of menuItems; track menuItem) {
                                    <li
                                        [class]="
                                            menuItem.headTitle1
                                                ? 'sidebar-main-title'
                                                : 'sidebar-list'
                                        "
                                        [ngClass]="{ active: menuItem.active }"
                                    >
                                        @if (menuItem.headTitle1) {
                                            <div>
                                                <h6 class="lan-1">
                                                    {{
                                                        menuItem.headTitle1
                                                            | translate
                                                    }}
                                                </h6>
                                            </div>
                                        }
                                        @if (
                                            menuItem.badgeType &&
                                            menuItem.badgeValue
                                        ) {
                                            <output
                                                class="badge badge-{{
                                                    menuItem.badgeType
                                                }}"
                                                >{{
                                                    menuItem.badgeValue
                                                }}</output
                                            >
                                        }
                                        <!-- Sub -->
                                        @if (menuItem.type === 'sub') {
                                            <a
                                                href="javascript:void(0)"
                                                class="sidebar-link sidebar-title"
                                                [class.link-nav]="
                                                    !menuItem.children
                                                "
                                                [ngClass]="{
                                                    active:
                                                        menuItem.active &&
                                                        !menuActive,
                                                }"
                                                [title]="
                                                    menuItem.title | translate
                                                "
                                                (click)="
                                                    toggletNavActive(menuItem)
                                                "
                                            >
                                                <i
                                                    class="pi pi-{{
                                                        menuItem.icon
                                                    }}"
                                                ></i>
                                                <span>{{
                                                    menuItem.title | translate
                                                }}</span>
                                                <div class="according-menu">
                                                    @if (menuItem.children) {
                                                        <i
                                                            class="pi pi-angle-{{
                                                                menuItem.active
                                                                    ? 'down'
                                                                    : 'right'
                                                            }} pull-right"
                                                        ></i>
                                                    }
                                                </div>
                                            </a>
                                        }
                                        <!-- Link -->
                                        @if (menuItem.type === 'link') {
                                            <a
                                                [routerLink]="
                                                    !menuItem.type
                                                        ? null
                                                        : [menuItem.path]
                                                "
                                                routerLinkActive="active"
                                                class="sidebar-link sidebar-title"
                                                [class.link-nav]="
                                                    !menuItem.children
                                                "
                                                [ngClass]="{
                                                    active: menuItem.active,
                                                }"
                                                [title]="
                                                    menuItem.title | translate
                                                "
                                            >
                                                <i
                                                    [attr.data-feather]="
                                                        menuItem.icon
                                                    "
                                                ></i>
                                                <span>{{
                                                    menuItem.title | translate
                                                }}</span>
                                                <div class="according-menu">
                                                    @if (!menuItem.children) {
                                                        <i
                                                            class="pi pi-angle-{{
                                                                menuItem.active
                                                                    ? 'down'
                                                                    : 'right'
                                                            }} pull-right"
                                                        ></i>
                                                    }
                                                </div>
                                            </a>
                                        }
                                        <!-- External Link -->
                                        @if (menuItem.type === 'extLink') {
                                            <a
                                                href="{{
                                                    !menuItem.type
                                                        ? null
                                                        : menuItem.path
                                                }}"
                                                class="sidebar-link sidebar-title"
                                                [class.link-nav]="
                                                    !menuItem.children
                                                "
                                                [ngClass]="{
                                                    active: menuItem.active,
                                                }"
                                                [title]="
                                                    menuItem.title | translate
                                                "
                                            >
                                                <i
                                                    [attr.data-feather]="
                                                        menuItem.icon
                                                    "
                                                ></i>
                                                <span>{{
                                                    menuItem.title | translate
                                                }}</span>
                                                <div class="according-menu">
                                                    @if (menuItem.children) {
                                                        <i
                                                            class="pi pi-angle-{{
                                                                menuItem.active
                                                                    ? 'down'
                                                                    : 'right'
                                                            }} pull-right"
                                                        ></i>
                                                    }
                                                </div>
                                            </a>
                                        }
                                        <!-- External Tab Link -->
                                        @if (menuItem.type === 'extTabLink') {
                                            <a
                                                href="{{
                                                    !menuItem.type
                                                        ? null
                                                        : menuItem.path
                                                }}"
                                                target="_blank"
                                                class="sidebar-link sidebar-title"
                                                [class.link-nav]="
                                                    !menuItem.children
                                                "
                                                [ngClass]="{
                                                    active: menuItem.active,
                                                }"
                                                [title]="
                                                    menuItem.title | translate
                                                "
                                            >
                                                <i
                                                    [attr.data-feather]="
                                                        menuItem.icon
                                                    "
                                                ></i>
                                                <span>{{
                                                    menuItem.title
                                                }}</span>
                                                <div class="according-menu">
                                                    @if (menuItem.children) {
                                                        <i
                                                            class="pi pi-angle-{{
                                                                menuItem.active
                                                                    ? 'down'
                                                                    : 'right'
                                                            }} pull-right"
                                                        ></i>
                                                    }
                                                </div>
                                            </a>
                                        }
                                        <!-- 2nd Level Menu -->
                                        @if (menuItem.children) {
                                            <ul
                                                class="sidebar-submenu"
                                                [ngClass]="{
                                                    active: menuItem.active,
                                                }"
                                                [ngClass]="{
                                                    'menu-open':
                                                        menuItem.active,
                                                    'menu-close':
                                                        !menuItem.active,
                                                }"
                                                [style.display]="
                                                    menuItem.active
                                                        ? 'block'
                                                        : 'none'
                                                "
                                            >
                                                @for (
                                                    childrenItem of menuItem.children;
                                                    track childrenItem
                                                ) {
                                                    <li
                                                        [ngClass]="{
                                                            active: childrenItem.active,
                                                        }"
                                                    >
                                                        <!-- Sub -->
                                                        @if (
                                                            childrenItem.type ===
                                                            'sub'
                                                        ) {
                                                            <a
                                                                class="submenu-title"
                                                                href="javascript:void(0)"
                                                                [title]="
                                                                    childrenItem.title
                                                                        | translate
                                                                "
                                                                (click)="
                                                                    toggletNavActive(
                                                                        childrenItem
                                                                    )
                                                                "
                                                            >
                                                                <span>
                                                                    {{
                                                                        childrenItem.title
                                                                            | translate
                                                                    }}</span
                                                                >
                                                                <div
                                                                    class="according-menu"
                                                                >
                                                                    @if (
                                                                        childrenItem.children
                                                                    ) {
                                                                        <i
                                                                            class="pi pi-angle-{{
                                                                                childrenItem.active
                                                                                    ? 'down'
                                                                                    : 'right'
                                                                            }} pull-right"
                                                                        ></i>
                                                                    }
                                                                </div>
                                                            </a>
                                                        }
                                                        <!-- Link -->
                                                        @if (
                                                            childrenItem.type ===
                                                            'link'
                                                        ) {
                                                            <a
                                                                class="submenu-title"
                                                                [routerLink]="
                                                                    !childrenItem.type
                                                                        ? null
                                                                        : [
                                                                              childrenItem.path,
                                                                          ]
                                                                "
                                                                [title]="
                                                                    childrenItem.title
                                                                        | translate
                                                                "
                                                                routerLinkActive="active"
                                                                [routerLinkActiveOptions]="{
                                                                    exact: false,
                                                                }"
                                                            >
                                                                {{
                                                                    childrenItem.title
                                                                        | translate
                                                                }}
                                                                @if (
                                                                    childrenItem.children
                                                                ) {
                                                                    <i
                                                                        class="pi pi-angle-down pull-right"
                                                                    ></i>
                                                                }
                                                            </a>
                                                        }
                                                        <!-- External Link -->
                                                        @if (
                                                            childrenItem.type ===
                                                            'extLink'
                                                        ) {
                                                            <a
                                                                class="submenu-title"
                                                                href="{{
                                                                    !childrenItem.type
                                                                        ? null
                                                                        : childrenItem.path
                                                                }}"
                                                                [title]="
                                                                    childrenItem.title
                                                                        | translate
                                                                "
                                                                routerLinkActive="active"
                                                                [routerLinkActiveOptions]="{
                                                                    exact: true,
                                                                }"
                                                            >
                                                                {{
                                                                    childrenItem.title
                                                                        | translate
                                                                }}
                                                                @if (
                                                                    childrenItem.children
                                                                ) {
                                                                    <i
                                                                        class="pi pi-angle-down pull-right"
                                                                    ></i>
                                                                }
                                                            </a>
                                                        }
                                                        <!-- External Tab Link -->
                                                        @if (
                                                            childrenItem.type ===
                                                            'extTabLink'
                                                        ) {
                                                            <a
                                                                class="submenu-title"
                                                                href="{{
                                                                    !childrenItem.type
                                                                        ? null
                                                                        : childrenItem.path
                                                                }}"
                                                                target="_blank"
                                                                [title]="
                                                                    childrenItem.title
                                                                        | translate
                                                                "
                                                            >
                                                                <span>{{
                                                                    childrenItem.title
                                                                        | translate
                                                                }}</span>
                                                                @if (
                                                                    childrenItem.children
                                                                ) {
                                                                    <i
                                                                        class="pi pi-angle-down pull-right"
                                                                    ></i>
                                                                }
                                                            </a>
                                                        }
                                                        <!-- 3rd Level Menu -->
                                                        @if (
                                                            childrenItem.children
                                                        ) {
                                                            <ul
                                                                class="nav-sub-childmenu submenu-content"
                                                                [ngClass]="{
                                                                    active: childrenItem.active,
                                                                }"
                                                                [ngClass]="{
                                                                    'menu-open':
                                                                        childrenItem.active,
                                                                    'menu-close':
                                                                        !childrenItem.active,
                                                                }"
                                                                [style.display]="
                                                                    childrenItem.active
                                                                        ? 'block'
                                                                        : 'none'
                                                                "
                                                            >
                                                                @for (
                                                                    childrenSubItem of childrenItem.children;
                                                                    track childrenSubItem
                                                                ) {
                                                                    <li
                                                                        [ngClass]="{
                                                                            active: childrenSubItem.active,
                                                                        }"
                                                                    >
                                                                        <!-- Link -->
                                                                        @if (
                                                                            childrenSubItem.type ===
                                                                            'link'
                                                                        ) {
                                                                            <a
                                                                                [routerLink]="
                                                                                    !childrenSubItem.type
                                                                                        ? null
                                                                                        : [
                                                                                              childrenSubItem.path,
                                                                                          ]
                                                                                "
                                                                                [title]="
                                                                                    childrenSubItem.title
                                                                                        | translate
                                                                                "
                                                                                routerLinkActive="active"
                                                                                [routerLinkActiveOptions]="{
                                                                                    exact: true,
                                                                                }"
                                                                            >
                                                                                {{
                                                                                    childrenSubItem.title
                                                                                        | translate
                                                                                }}
                                                                            </a>
                                                                        }
                                                                        <!-- External Link -->
                                                                        @if (
                                                                            childrenSubItem.type ===
                                                                            'extLink'
                                                                        ) {
                                                                            <a
                                                                                href="{{
                                                                                    !childrenSubItem.type
                                                                                        ? null
                                                                                        : childrenSubItem.path
                                                                                }}"
                                                                                routerLinkActive="active"
                                                                                [routerLinkActiveOptions]="{
                                                                                    exact: true,
                                                                                }"
                                                                            >
                                                                                {{
                                                                                    childrenSubItem.title
                                                                                        | translate
                                                                                }}
                                                                            </a>
                                                                        }
                                                                        <!-- External Tab Link -->
                                                                        @if (
                                                                            childrenSubItem.type ===
                                                                            'extTabLink'
                                                                        ) {
                                                                            <a
                                                                                href="{{
                                                                                    !childrenSubItem.type
                                                                                        ? null
                                                                                        : childrenSubItem.path
                                                                                }}"
                                                                                target="_blank"
                                                                            >
                                                                                {{
                                                                                    childrenSubItem.title
                                                                                        | translate
                                                                                }}
                                                                            </a>
                                                                        }
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</nav>
