svg-icon {
    width: 50px;
    height: 50px;
    fill: red;

    &:hover {
        fill: orange;
    }
}

.sidebar-icon {
    color: white;
    width: 24px;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 20px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
