.sidebar-icon {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    width: 24px;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 20px;
}

.left-arrow,
.right-arrow {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: white;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.mobile-back {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: white;
}

.simplebar-content > li .sidebar-link {
    text-decoration: none !important;
}
