svg-icon {
    width: 50px;
    height: 50px;
    fill: red;

    &:hover {
        fill: orange;
    }
}

// .page-wrapper .sidebar-main-title>div {
//     background-color: rgba(255, 218, 173, 0.06) !important;
//     padding: 15px 17px;
//     border-radius: 10px;
//     color: #ff6600 !important;
// }
