<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb
                [title]="module"
                [active_item]="subModule"
            ></app-breadcrumb>
            <div class="card">
                <div class="card-body">
                    <div [hidden]="!initialView">
                        <div class="row filter_wrapper">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        <b>Filtre 1</b>
                                    </label>
                                    <p-dropdown
                                        [options]=""
                                        [showClear]="true"
                                        placeholder="Filtre 1"
                                    >
                                        <ng-template let-data pTemplate="item">
                                            <div class="country-item">
                                                <div>
                                                    {{ data | titlecase }}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        <b>Filtre 2</b>
                                    </label>
                                    <input
                                        placeholder="Filtre 2"
                                        type="text"
                                        pInputText
                                    />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="block"><b>Date début</b></label>
                                <p-calendar
                                    [ngStyle]="{ width: '15rem' }"
                                    [(ngModel)]="filterDateStart"
                                    [showIcon]="true"
                                    (ngModelChange)="changeDateStart($event)"
                                    dateFormat="dd-mm-yy"
                                ></p-calendar>
                            </div>
                            <div class="col-md-2">
                                <label class="block"><b>Date fin </b></label>
                                <p-calendar
                                    [ngStyle]="{ width: '15rem' }"
                                    [(ngModel)]="filterDateEnd"
                                    [showIcon]="true"
                                    (ngModelChange)="changeDateEnd($event)"
                                    dateFormat="dd-mm-yy"
                                ></p-calendar>
                            </div>
                            <div class="col-md-1">
                                <p-button
                                    styleClass="p-button-success filter-button"
                                    icon="pi pi-filter"
                                ></p-button>
                            </div>
                        </div>
                        <hr />
                        <div class="table_content_wrapper">
                            <div class="table_actions_wrapper pt-2">
                                <button
                                    pButton
                                    pRipple
                                    label="Rafraîchir"
                                    icon="pi pi-refresh"
                                    class="p-button-secondary"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    label="Exporter"
                                    [disabled]="true"
                                    icon="pi pi-download"
                                    class="p-button-helf"
                                ></button>
                            </div>
                            <div class="d-flex gap-3 mt-2">
                                <div class="table_header__legende">
                                    <h4 class="pt-2">
                                        <b>Liste des Achats</b>
                                    </h4>
                                </div>
                                <div class="table_header__input"></div>
                            </div>
                            <table [ngClass]="['native_table table']">
                                <thead>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Date création</th>
                                    <th class="text-center">N° Ligne</th>
                                    <th class="text-center">Reference</th>
                                    <th class="text-center"># SIM A</th>
                                    <th class="text-center"># SIM B</th>
                                    <th class="text-center">Volume (Go)</th>
                                    <th class="text-center">Initiateur</th>
                                    <th class="text-center">Statut</th>
                                    <th class="text-center">Actions</th>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="
                                            let data of listAchats
                                                | paginate
                                                    : {
                                                          itemsPerPage:
                                                              recordsPerPage,
                                                          currentPage: p,
                                                          totalPages: totalPage,
                                                          totalItems:
                                                              totalRecords
                                                      };
                                            let i = index
                                        "
                                    >
                                        <td>{{ this.offset + i }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div [ngClass]="['pagination-controls']">
                                <pagination-controls
                                    previousLabel=""
                                    nextLabel=""
                                >
                                </pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
