<main class="container-fluid queues-container" role="main">
    <section class="row queues-row">
        <article class="col-sm-12 queues-article">
            <app-breadcrumb
                class="queues-breadcrumb"
                [title]="module | translate"
                [active_item]="subModule | translate"
            ></app-breadcrumb>

            <section class="card queues-card">
                <div class="card-body queues-card-body">
                    <header class="queues-header">
                        <app-page-title
                            class="page-title-component"
                            [displayDate]="false"
                            [title]="
                                'FINALIZATION.QUEUES.TITLE'
                                    | translate
                                    | lowercase
                            "
                        >
                        </app-page-title>
                    </header>

                    <div class="fade-in queues-content">
                        <app-filter-queues
                            class="filter-component"
                            (filter)="filter($event)"
                            [loading]="loading$ | async"
                        >
                        </app-filter-queues>

                        <hr class="queues-divider" />

                        <section
                            class="table-section"
                            [aria-label]="
                                'FINALIZATION.QUEUES.TITLE' | translate
                            "
                        >
                            <app-table-queues
                                class="table-component"
                                [loading]="loading$ | async"
                                [pagination$]="pagination$"
                                [queues$]="queues$"
                                (treatmentRequested)="onQueuesAction($event)"
                                (takeRequested)="onQueuesTake($event)"
                                (refreshRequested)="refreshQueues()"
                            >
                            </app-table-queues>

                            <app-pagination
                                class="pagination-component"
                                [pagination$]="pagination$"
                                (pageChange)="onPageChange($event)"
                            ></app-pagination>
                        </section>
                    </div>
                </div>
            </section>
        </article>
    </section>

    @if (reportTreatmentVisible) {
        <app-management
            [(visible)]="reportTreatmentVisible"
            [reportId]="selectedReportId"
            (queues)="onReportTreatmentQueues()"
        ></app-management>
    }
</main>
