<p-table
    #dt
    [value]="listWhiteSimCard$ | async"
    [rowHover]="true"
    dataKey="id"
    selectionMode="single"
    [(selection)]="whiteSimCardSelected"
    [rows]="(pagination$ | async)?.per_page"
    [globalFilterFields]="table.globalFilterFields"
    responsiveLayout="scroll"
    scrollable="true"
    scrollHeight="flex"
    width="100%"
    class="responsive-claims-table"
>
    <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between">
            <app-table-title
                [count]="(pagination$ | async)?.total"
                [legendePluriel]="'SIM_CARDS' | translate"
                [perPage]="(pagination$ | async)?.per_page"
                [legendeSingulier]="'SIM_CARD' | translate"
                [page]="(pagination$ | async)?.currentPage"
                [totalPage]="(pagination$ | async)?.last_page"
            >
            </app-table-title>
            <div class="d-flex gap-2 align-items-center">
                <div class="d-flex gap-2">
                    <app-table-button-header
                        (refresh)="pageCallback()"
                        (export)="onExportExcel()"
                        [disabledButtonExport]="
                            (listWhiteSimCard$ | async)?.length === 0
                        "
                        [hiddenButtonOther]="true"
                    >
                    </app-table-button-header>
                </div>
                <div>
                    <app-search-table [dt]="dt"></app-search-table>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{ width: col.width }"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'Date / Heure'">
                        {{ 'DATE_TIME' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Référence du lot'">
                        {{ 'LOT_REFERENCE_NUMBER' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'# SIM'">
                        # {{ 'SIM' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'# SIM Utilisées'">
                        # {{ 'SIM' | translate }}&nbsp;{{ 'USED' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'# SIM Disponibles'">
                        # {{ 'SIM' | translate }}&nbsp;{{
                            'AVAILABLE' | translate
                        }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Taux d\'utilisation (%)'">
                        {{ 'RATE_USE' | translate }} (%)
                    </ng-container>
                    <ng-container *ngSwitchCase="'Statut'">
                        {{ 'STATUS' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{ col.header }}
                    </ng-container>
                </ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-item>
        <tr [pSelectableRow]="item">
            <td
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{ width: col.width }"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'#'">
                        {{ rowIndex + (pagination$ | async)?.current_page }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Référence du lot'">
                        <span (click)="copyToClipboard(item?.[col.field])">
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Statut'">
                        <span
                            [ngStyle]="{ 'font-size': '16px' }"
                            [class]="
                                'badge ' + getStatusWhiteSimCardBadge(item)
                            "
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Actions'">
                        <button
                            pButton
                            class="p-button-dark"
                            icon="pi pi-eye"
                            (click)="
                                handleAction({
                                    data: item,
                                    action: 'view-white-sim-card',
                                    view: 'page'
                                })
                            "
                        ></button
                        >&nbsp;
                        <button
                            pButton
                            icon="pi pi-book"
                            pTooltip="Journal"
                            tooltipPosition="top"
                            (click)="
                                handleAction({
                                    data: item,
                                    action: 'journal-white-sim-card',
                                    view: 'modal'
                                })
                            "
                            class="p-button-primary"
                        ></button>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{item?.[col.field]}}
                    </ng-container>
                </ng-container>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr *ngIf="(listWhiteSimCard$ | async)?.length <= 0 && !spinner">
            <td class="posRelative" colspan="15">
                <span class="posCenter">
                    {{ 'NO_DATA_FOUND' | translate }}
                </span>
            </td>
        </tr>
        <tr *ngIf="spinner">
            <td class="posRelative" colspan="15">
                <p-progressSpinner
                    class="posCenter"
                    [style]="{ width: '40px', height: '50px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="#EEEEEE"
                    animationDuration=".5s"
                >
                </p-progressSpinner>
            </td>
        </tr>
    </ng-template>
</p-table>
