<p-table
    #dt
    [value]="tasks()"
    [rowHover]="true"
    [rows]="(pagination$ | async)?.per_page"
    [globalFilterFields]="tableConfig.globalFilterFields"
    responsiveLayout="scroll"
    [scrollable]="true"
    scrollHeight="430px"
    data-testid="tasks-table"
    role="grid"
    width="100%"
    selectionMode="multiple"
    datakey="id"
    [columns]="tableConfig.cols"
    styleClass="p-datatable-gridlines"
    [tableStyle]="{ 'min-width': '75rem' }"
>
    <ng-template pTemplate="caption">
        <div class="container-table-header">
            <app-table-title
                [count]="(pagination$ | async)?.total"
                [perPage]="(pagination$ | async)?.per_page"
                [page]="(pagination$ | async)?.current_page"
                [totalPage]="(pagination$ | async)?.last_page"
            />

            <div
                class="d-flex gap-2 align-items-center custom-header-actions mt-2 mt-md-0"
            >
                <app-table-button-header
                    (export)="onExportExcel()"
                    (refresh)="onRefresh()"
                    [disabledButtonExport]="isLoading() || !hasData()"
                    [disabledButtonRefresh]="isLoading()"
                    [hiddenButtonOther]="true"
                />
                <app-search-table [dt]="dt" />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr role="row">
            @for (col of columns; track trackByColField($index, col)) {
                <th
                    [class]="col.class"
                    [style.width]="col.width"
                    [pSortableColumn]="col.field"
                >
                    @switch (col.field) {
                        @case ('__selection') {
                            <div class="selection-header">
                                <p-inputNumber
                                    [showButtons]="false"
                                    [min]="0"
                                    [max]="tasks().length"
                                    inputMode="numeric"
                                    [ngModel]="selectionInputValue()"
                                    (ngModelChange)="handleSelectCount($event)"
                                    (keydown.enter)="$event.target.blur()"
                                    (keydown.escape)="clearSelection()"
                                    [disabled]="!hasData() || isLoading()"
                                />
                            </div>
                        }
                        @default {
                            {{ col.header | translate }}
                        }
                    }
                </th>
            }
        </tr>
    </ng-template>
    <ng-template
        pTemplate="body"
        let-task
        let-columns="columns"
        let-rowIndex="rowIndex"
    >
        <tr
            role="row"
            [class.selected]="isItemSelected(task)"
            [attr.aria-selected]="isItemSelected(task)"
            (click)="handleRowClick($event, task)"
            [class.cursor-pointer]="!isLoading()"
        >
            @for (col of columns; track trackByColField($index, col)) {
                <td
                    [class]="col.class"
                    [style.width]="col.width"
                    role="gridcell"
                >
                    @switch (col.field) {
                        @case ('__selection') {
                            <p-checkbox
                                [binary]="true"
                                [ngModel]="isItemSelected(task)"
                                (onChange)="handleItemSelection(task)"
                                [inputId]="'select-' + task.uniqId"
                                [name]="'select-' + task.uniqId"
                                [ariaLabelledBy]="'select-' + task.uniqId"
                                [disabled]="isLoading()"
                                data-testid="item-checkbox-{{ task.uniqId }}"
                            />
                        }

                        @case ('uniqId') {
                            <p-tag
                                value="{{ task.uniqId }}"
                                severity="secondary"
                                class="cursor-pointer"
                                (click)="copyToClipboard(task.uniqId)"
                                pTooltip="{{ 'COPY' | translate }}"
                                tooltipPosition="bottom"
                            />
                        }

                        @case ('reportType') {
                            <div>
                                {{ task.reportType | translate }}
                            </div>
                        }

                        @case ('operators') {
                            <div
                                class="tag-group"
                                *ngIf="task.operators?.length; else noOperators"
                            >
                                @for (
                                    operator of task.operators;
                                    track trackByOperator($index, operator)
                                ) {
                                    <p-tag
                                        [value]="operator | translate"
                                        [style]="
                                            getOperatorTagStyle(
                                                operator | translate
                                            )
                                        "
                                        styleClass="operator-tag"
                                    />
                                }
                            </div>
                            <ng-template #noOperators>
                                <span class="no-data">-</span>
                            </ng-template>
                        }

                        @case ('createdAt') {
                            <time [attr.datetime]="task.createdAt">
                                {{ formatDate(task.createdAt) }}
                            </time>
                        }

                        @case ('source') {
                            <div class="source-type-content">
                                <span>{{ task.source | translate }}</span
                                >&nbsp;
                                <span
                                    class="copyable"
                                    pTooltip="{{ 'COPY' | translate }}"
                                    (click)="
                                        copyToClipboard(
                                            task.initiatorPhoneNumber
                                        )
                                    "
                                    tooltipPosition="bottom"
                                    >[ {{ task.initiatorPhoneNumber }} ]
                                </span>
                            </div>
                        }

                        @case ('__action') {
                            <div
                                (onKeyPress)="$event.stopPropagation()"
                                class="action-group"
                            >
                                <button
                                    type="button"
                                    pButton
                                    icon="pi pi-window-maximize"
                                    (click)="onActionClicked(task, 'treat')"
                                    [pTooltip]="getTreatTooltip(task)"
                                    tooltipPosition="bottom"
                                    [disabled]="isLoading()"
                                    size="small"
                                    class="action-btn"
                                ></button>
                                <!-- <button
                                    type="button"
                                    pButton
                                    severity="info"
                                    icon="pi pi-check-circle"
                                    (click)="onActionClicked(task, 'action')"
                                    [pTooltip]="getActionTooltip(task)"
                                    tooltipPosition="bottom"
                                    [disabled]="isLoading()"
                                    size="small"
                                    class="action-btn p"
                                ></button> -->
                            </div>
                        }

                        @default {
                            {{ task[col.field] || '-' }}
                        }
                    }
                </td>
            }
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
        <tr role="row">
            <td [attr.colspan]="columns.length" class="text-center">
                @if (!isLoading()) {
                    {{ 'COMMON.NO_DATA' | translate }}
                } @else {
                    <p-progressSpinner
                        [style]="{ width: '30px', height: '50px' }"
                        strokeWidth="8"
                        fill="#EEEEEE"
                        animationDuration=".5s"
                    ></p-progressSpinner>
                }
            </td>
        </tr>
    </ng-template>
</p-table>
