<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <div class="login-card">
                <div>
                    <div>
                        <a class="logo" routerLink="/">
                            <img class="img-fluid for-light" width="200" [src]="LOGO_ORANGE" alt="looginpage" />
                            <img class="img-fluid for-dark" width="200" [src]="LOGO_ORANGE" alt="looginpage" />
                        </a>
                    </div>
                    <div class="login-main" *ngIf="!isModal">

                        <div class="theme-form needs-validation">

                            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onFormForgotPassword()">>
                                <h4 class="text-center mb-5">
                                    Mot de passe oublié ?
                                </h4>
                                <div class="form-group">
                                    <label class="col-form-label"><b>Adresse email
                                            <span class="text-danger">*</span></b></label>
                                    <input class="form-control" type="email" formControlName="email"
                                        placeholder="app@yourmail.com" />
                                </div>
                                <ng-container *ngIf="submitted && forgotPasswordForm.get('email')?.errors">
                                    <p class="text-red fst-italic"
                                        *ngIf="forgotPasswordForm.get('email')?.errors['required']">
                                        Veuillez renseigner ce champ.
                                    </p>
                                </ng-container>
                                <div class="form-group mb-0 mt-4">
                                    <button class="btn btn-primary d-block w-100"
                                        type="submit">
                                        Réinitialiser
                                    </button>
                                    <button class="btn d-block w-100 mt-3" (click)="onCancel()" style="
                                        background-color: #000000 !important;
                                        color: #ffffff;
                                    " type="button">
                                        Annuler
                                    </button>
                                </div>
                            </form>

                        </div>

                    </div>
                    <div class="login-main success-wrapper" style="
                            display: flex;
                            flex-direction: column;
                            gap: 1.5rem;
                        " *ngIf="isModal">
                        <div class="success-wrapper__legend" style="display: flex; justify-content: center">
                            <img src="assets/images/email.png" class="mx-auto" width="70" alt="" />
                        </div>
                        <div class="success-wrapper__content">
                            Si l'adresse e-mail que vous avez fournie correspond
                            à un compte enregistré dans notre système, vous
                            allez bientôt recevoir un e-mail contenant des
                            instructions pour réinitialiser votre mot de passe.
                            Veuillez consulter votre boîte de réception.
                        </div>
                        <div>
                            <div>
                                <button class="btn w-100" (click)="onCancel()" style="
                                        background-color: #000000 !important;
                                        color: #ffffff;
                                    " type="button">
                                    Retour à la connexion
                                </button>
                            </div>
                            <div class="mt-3 d-flex justify-content-between">
                                <span>Vous n'avez pas recu le courier ?</span>
                                <span><a (click)="handleOpen()"
                                        style="cursor: pointer; color: #ff6600">Renvoyer</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>