<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-breadcrumb [title]="'Paramètres & Sécurité'" [active_item]="'Utilisateurs'"></app-breadcrumb>
      <div class="card">
        <div class="card-body">
          <div [hidden]="!initialView">
            <p-tabView (onChange)="handleChangeTabviewIndex($event)">
              <p-tabPanel header="UTILISATEURS">
            <div class="d-flex justify-content-between">
              <div class="d-flex gap-2">
                <button pButton pRipple *ngIf="mappingService.IsAction()" label="Ajout utilisateur" icon="pi pi-plus" (click)="onInitForm()" [disabled]="this.listUsers.length >=5" class="p-button-success"></button>
                <button pButton pRipple label="Rafraichir" (click)="GetAllUsers()" icon="pi pi-refresh"class="p-button-secondary"></button>
                <button pButton pRipple label="Exporter" icon="pi pi-download" class="p-button-helf" [disabled]="disableAction()" (click)="OnExportExcel()"></button>
              </div>
              <div class="danger-alert" role="alert" *ngIf="this.listUsers.length >=5">
                  <strong>
                     {{alerteMessage}}
                  </strong>
              </div>
              <div class="infos-alert" role="alert" *ngIf="this.listUsers.length < 5">
                <strong>
                   {{maximumMessage}}
                </strong>
               </div>
            </div>
            <div class="table_content_wrapper">
              <p-table #dt 
                [value]="listUsers" [rows]="10" 
                [paginator]="true" responsiveLayout="scroll"
                [rowHover]="true" dataKey="id" 
                currentPageReportTemplate="Affichage de {first} à {last} des {totalRecords} données" 
                [showCurrentPageReport]="true"
                [globalFilterFields]="['nom', 'prenoms', 'code', 'email', 'contacts']"
                >
                <ng-template pTemplate="caption">
                  <div class="table_header">
                    <div class="table_header__legende">
                      <app-table-header [count]="listUsers" [legende]="'Utilisateurs'"></app-table-header>
                    </div>
                    <div class="table_header__input" style="margin-top: 1rem">
                      <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                          placeholder="Recherche" />
                      </span>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class="text-center">#</th>
                    <th>Profil</th>
                    <th>Nom</th>
                    <th>Prénoms</th>
                    <th>Code</th>
                    <th>Nom de connexion</th>
                    <th>Contact</th>
                    <th>Statut</th>
                    <th [style]="{width: '15rem'}">MAJ</th>
                    <th [style]="{width: '15rem'}">Date</th>
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template let-i="rowIndex" pTemplate="body" let-data>
                  <tr>
                    <td class="text-center">{{ i + 1 }}</td>
                    <td>
                      <span [ngStyle]="{ 'font-size': '16px' }" class="badge"
                        [class.badge-success]="data?.profil_user?.nom" [class.badge-warning]="!data?.profil_user?.nom">
                        {{ data?.profil_user?.nom ? data?.profil_user?.nom : 'Non Affecté' }}
                      </span>
                    </td>
                    <td>{{data?.nom ?? 'N/A'}}</td>
                    <td>{{data?.prenoms ?? 'N/A'}}</td>
                    <td>{{data?.code ?? 'N/A'}}</td>
                    <td>{{data?.username ?? 'N/A'}}</td>
                    <td>{{data?.contacts ?? 'N/A'}}</td>
                    <td class="text-center">
                      <span [ngStyle]="{ 'font-size': '16px' }" class="badge"
                        [class.badge-success]="data.statut === 'actif'" [class.badge-danger]="data.statut !== 'actif'">
                        {{ data.statut }}
                      </span>
                    </td>
                    <td>{{data?.updated_at ?? 'N/A'}}</td>
                    <td>{{data?.created_at ?? 'N/A'}}</td>
                    <td class="td-actions">
                      <button pButton icon="pi pi-eye" pTooltip="Voir" tooltipPosition="top"
                      (click)="onShowForm(data)" class="p-button-dark"></button>
                    <button pButton pRipple *ngIf="mappingService.IsAction()" icon="pi pi-pencil" pTooltip="Editer" tooltipPosition="top"
                      (click)="onEditForm(data)" class="p-button-secondary"></button>
                      <button pButton pRipple *ngIf="mappingService.IsAction()" [ngClass]="data?.statut === 'actif' ? 'p-button-warning' : 'p-button-success'
                      "icon="pi pi-power-off" [pTooltip]="data?.statut === 'actif'
                      ? 'Désactiver'
                      : 'Activer' " tooltipPosition="top" (click)="data?.statut === 'actif'
                      ? handleDisableUser(data)
                      : handleActivateUser(data)"
                      [disabled]="data?.username === principalUsername"
                      >
                    </button>
                      <button pButton pRipple *ngIf="mappingService.IsAction()" icon="pi pi-trash"                       
                      [disabled]="data?.username === principalUsername"
                      class="p-button-danger"
                      pTooltip="Supprimer" (click)="OnDelete(data)" tooltipPosition="top"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
              </p-tabPanel>
              <p-tabPanel header="HISTORIQUE">
                <app-historique *ngIf="currentTabsIndex === 1" [sous_module]="'PROFIL USER'"></app-historique>
              </p-tabPanel>
            </p-tabView>
        </div>
        <app-admin-form [currentObject]="currentObject" *ngIf="formsView"
        (formsView)="pushStatutView($event)" (listUsers)="pushListDatas($event)"></app-admin-form>
      </div>
    </div>
  </div>
</div>
