%messageAlert {
    position: relative;
    padding: 0.75rem 1.25rem;
    //margin-bottom: 1rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    strong {
        font-size: 18px;
    }
}
.danger-alert {
    @extend %messageAlert;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.infos-alert {
    @extend %messageAlert;
    color: #01A9DB;
    background-color: #E0F2F7;
    border-color: #E0F2F7;
}