:host ::ng-deep .p-inputnumber {
    width: 21.6rem !important;
}

.modal-content {
    width: 100vw !important;
    height: 100vh !important;
    overflow-y: inherit;
    overflow-x: hidden;
    position: fixed;
    right: 0 !important;
    left: 0 !important;
    //top: 0;
    z-index: 1300 !important;
    background: #f8f8f8;
    padding-bottom: 1rem;
    margin-top: -30rem;
}

.form-container > :first-child {
    margin-top: 2rem;
}
.form-container fieldset:not(:first-child) {
    margin-top: 2rem;
}

.infos_text {
    background-color: #ccc !important;
    font-weight: 800;
    color: #000000 !important;
    font-size: 18px;
    margin-top: -3px;
}

.submit-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card-value {
    color: #a4a4a4;
    font-size: 12px;
}

.close {
    background-color: transparent;
    border-color: transparent !important;
    span {
        color: #fff;
        font-size: 35px;
    }
}

.modal-content {
    background: #f8f8f8;
}

.modal-backdrop {
    z-index: 1200 !important;
}

:host ::ng-deep {
    .p-dropdown {
        width: 100% !important;
    }
}

.modal-backdrop {
    z-index: 1200 !important;
}

.file-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;

    strong {
        text-align: center;
    }

    img {
        margin: auto;
        display: block;
    }
}

.ml-70px {
    text-align: center;
}

.list-group-item {
    background: #deede1 !important;
    color: #000;
    border: 1px solid #fff !important;
}

.list-group-item.active {
    background: #e6ed41 !important;
    color: #000;
    font-weight: 700;
    border: 1px solid #fff !important;
}

.last-ofa {
    background: #deede1 !important;
    color: #000;
    border: 1px solid #fff !important;
}

.last-ofa.active {
    background: #e6ed41 !important;
    color: #fff;
    border: 1px solid #fff !important;
}

.list-group-item {
    font-size: 18px !important;
    text-align: center;
    // width: 190px !important;
    border-top: 1px solid #dfdfdf !important;
}

.alarme-value {
    display: flex;
    align-items: center;
}

.vl {
    border-left: 1px solid #dfdfdf;
    height: 600px;
    position: absolute;
    margin-left: 225px;
    top: 0;
}

.table_details thead th {
    position: sticky;
    top: 0;
    background: #f2f2f2;
    color: #000;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.ngx-datatable.bootstrap
    .datatable-header
    .datatable-header-cell
    .datatable-header-cell-label {
    font-weight: 800;
}

hr {
    background-color: #000;
    padding: 0;
}

hr.hr-1 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
}

.mt-10 {
    margin-top: 10px !important;
}

.bg_light_green {
    background-color: #fff !important;
}

fieldset {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

%messageAlert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    strong {
        font-size: 18px;
    }
}

.style100 {
    @extend %messageAlert;
    background-color: #e0f2f7;
    color: #01a9db;
    border-color: #e0f2f7;
}
.style200 {
    @extend %messageAlert;
    background-color: #c8e6c9;
    color: #256029;
    border-color: #c8e6c9;
}
.styledefault {
    @extend %messageAlert;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
/* Stepper CSS */

/* Steps */

.step {
    position: relative;
    min-height: 3.3em;
    color: gray;
}

.step + .step {
    margin-top: 1.5em;
}

.step > div:first-child {
    position: static;
    height: 0;
}

.step > div:not(:first-child) {
    margin-left: 1.5em;
    padding-left: 1em;
}

.step.step-active {
    color: #50c878;
}

.step.step-active.pending {
    color: #f39c12;
}

.step.step-active .circle {
    background-color: #50c878;
}

.step.step-active.pending .circle {
    background-color: #f39c12;
}

/* Circle */

.circle {
    background: gray;
    position: relative;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 0 3px #fff;
}

/* Vertical Line */

.circle:after {
    content: ' ';
    position: absolute;
    display: block;
    top: 1px;
    right: 50%;
    bottom: 1px;
    left: 50%;
    height: 100%;
    width: 1px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.step:last-child .circle:after {
    display: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

/* Stepper Titles */

.title {
    line-height: 1.5em;
    font-weight: bold;
}

.caption {
    font-size: 0.8em;
}

.line-proposition {
    border-left: 1px solid #000;
    height: 250px;
    opacity: 0.2;
}

input[type='text']:disabled {
    background-color: #ecf0f1;
}

table thead th {
    font-size: 13px !important;
    color: #000 !important;
}

.text-red {
    color: red !important;
    font-weight: 800;
}

.text-green {
    color: #2ecc71 !important;
    font-weight: 800;
}

.pending-text {
    color: #f39c12 !important;
}

.row_foyers {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    display: grid;
    gap: 1rem;
    margin-top: 1.5rem;

    div {
        width: 100%;
    }
}

.wrapper-evaluation {
    .block-checked {
        width: 20rem;
        border: 1px solid #d0d3da;
        border-radius: 5%;
    }

    .wrapper-check {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;

        input {
            width: 25px;
            height: 25px;
            cursor: pointer !important;
        }

        label {
            font-size: 25px;
            margin-left: 0.5rem;
        }
    }
}

%card_shadow_property {
    overflow: hidden;
    box-shadow: 0px 1px 11px 2px rgb(240 235 235 / 75%);
    -webkit-box-shadow: 0px 1px 11px 2px rgb(240 235 235 / 75%);
    -moz-box-shadow: 0px 1px 11px 2px rgb(240 235 235 / 75%);
    border-radius: 15px;
}

%mx_vertically {
    margin-top: auto;
    margin-bottom: auto;
}

.panier-card {
    @extend %card_shadow_property;
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    padding: 0.5rem 1.3rem;
    justify-content: space-between;

    &__infos {
        @extend %mx_vertically;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-family: 'Lato';
        font-weight: 900;
        font-size: 18px;
        width: 30rem;

        &--nom {
            &::first-letter {
                text-transform: uppercase;
            }
        }
    }

    &__file {
        width: 4%;

        img {
            width: 100%;
        }
    }

    &__quantity {
        display: flex;
        justify-content: space-between;
        width: 7rem;
        overflow: hidden;
        @extend %mx_vertically;
        height: 2rem;

        button {
            border-radius: 4px;
        }

        span {
            font-weight: bold;
            padding: 5px 15px;
            font-size: 21px;
        }

        .increment {
            background-color: #ff6600;
            color: white;
            border: 0;
            padding: 4px;

            i {
                position: relative;
            }
        }

        .decrement {
            background-color: #000 !important;
            color: white;
            border: 0;
            padding: 4px;

            i {
                position: relative;
            }
        }

        .input-number {
            text-align: center;
            padding: 4px 0;
            position: relative;
            border-radius: 1px;
            width: 100%;
        }
    }

    &__price {
        @extend %mx_vertically;
        font-family: 'Lato';
        font-weight: 900;
        font-size: 20px;
    }

    &__actions {
        display: flex;
        align-items: center;
        @extend %mx_vertically;
        height: 2rem;
    }
}

::-webkit-input-placeholder,
.p-dropdown .p-dropdown-label.p-placeholder {
    color: #d8d8d8 !important;
}
