<p-table
    #dt
    [value]="listSimCard$ | async"
    [rowHover]="true"
    dataKey="id"
    selectionMode="single"
    [(selection)]="simCardSelected"
    [rows]="pagination?.per_page"
    [globalFilterFields]="table.globalFilterFields"
>
    <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between">
            <app-table-title
                [count]="pagination?.total"
                [legendePluriel]="'SIM_CARDS' | translate"
                [perPage]="pagination?.per_page"
                [legendeSingulier]="'SIM_CARD' | translate"
                [page]="pagination?.currentPage"
                [totalPage]="pagination?.last_page"
            >
            </app-table-title>
            <div class="d-flex gap-2 align-items-center">
                <div class="d-flex gap-2">
                    <app-table-button-header
                        (refresh)="pageCallback()"
                        (export)="onExportExcel()"
                        [disabledButtonExport]="
                            (listSimCard$ | async)?.length === 0
                        "
                        [hiddenButtonOther]="true"
                    >
                    </app-table-button-header>
                </div>
                <div>
                    <app-search-table [dt]="dt"></app-search-table>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{ width: col.width }"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'Niveau un'">
                        {{ 'FIRST_LEVEL' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Niveau deux'">
                        {{ 'SECOND_LEVEL' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Niveau trois'">
                        {{ 'THIRD_LEVEL' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'APN'">
                        {{ 'APN' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Adresse IP'">
                        {{ 'IP_ADDRESS' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'MSISDN'">
                        {{ 'MSISDN' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'IMSI'">
                        {{ 'IMSI' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Statut'">
                        {{ 'STATUS' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{ col.header }}
                    </ng-container>
                </ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-item>
        <tr [pSelectableRow]="item">
            <td
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{ width: col.width }"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'#'">
                        {{ rowIndex + pagination?.current_page }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'MSISDN'">
                        <span (click)="copyToClipboard(item?.[col.field])">
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Statut'">
                        <span
                            [ngStyle]="{ 'font-size': '16px' }"
                            [class]="'badge ' + getStatusSimCardBadge(item)"
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Identification'">
                        <span
                            [ngStyle]="{ 'font-size': '16px' }"
                            [class]="
                                'badge ' + getIdentificationSimCardBadge(item)
                            "
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Actions'">
                        <button
                            pButton
                            class="p-button-success"
                            icon="pi pi-map-marker"
                            tooltipPosition="top"
                            [disabled]="getTreatmentButtonMapSimCardStyle(item)?.['disabled']"
                            [pTooltip]="getTreatmentButtonMapSimCardStyle(item)?.['tooltip']"
                            (click)="
                                handleAction({
                                    data: item,
                                    action: 'map-sim-card',
                                    view: 'modal'
                                })
                            "
                        ></button
                        >&nbsp;
                        <button
                            pButton
                            class="p-button-help"
                            icon="pi pi-qrcode"
                            tooltipPosition="top"
                            [disabled]="getTreatmentButtonQrCodeSimCardStyle(item)?.['disabled']"
                            [pTooltip]="getTreatmentButtonQrCodeSimCardStyle(item)?.['tooltip']"
                            (click)="
                                handleAction({
                                    data: item,
                                    action: 'qr-code-sim-card',
                                    view: 'page'
                                })
                            "
                        ></button
                        >&nbsp;
                        <button
                            pButton
                            class="p-button-dark"
                            icon="pi pi-eye"
                            tooltipPosition="top"
                            [pTooltip]="getTreatmentButtonViewSimCardStyle(item)?.['tooltip']"
                            (click)="
                                handleAction({
                                    data: item,
                                    action: 'view-sim-card',
                                    view: 'page'
                                })
                            "
                        ></button
                        >&nbsp;
                        <div ngbDropdown class="d-inline">
                            <button
                                type="button"
                                class="btn btn-dark btn-sm"
                                ngbDropdownToggle
                            >
                                Choisir
                            </button>
                            <div ngbDropdownMenu>
                                <button
                                    ngbDropdownItem
                                    (click)="
                                        handleAction({
                                            data: item,
                                            action: 'update-sim-card',
                                            view: 'page'
                                        })
                                    "
                                >
                                    Modifier
                                </button>
                                <button
                                    ngbDropdownItem
                                    (click)="
                                        handleAction({
                                            data: item,
                                            action: 'identification-sim-card',
                                            view: 'page'
                                        })
                                    "
                                    *ngIf="
                                        asAccessFeatureIdentification &&
                                        data?.statut === 'actif'
                                    "
                                >
                                    Identifier
                                </button>
                                <!-- <button ngbDropdownItem (click)="onTransactionForm(data, swap)" *ngIf="
                                        applicationType === patrimoineType &&
                                        data.statut === 'actif'
                                    ">
                                    SIM Swap
                                </button>
                                <button ngbDropdownItem (click)="onTransactionForm(data, resiliation)"
                                    *ngIf="data.statut === 'suspendu'">
                                    Résilier
                                </button>
                                <button ngbDropdownItem (click)="onTransactionForm(data, activation)"
                                    *ngIf="data.statut === 'suspendu'">
                                    Réactiver
                                </button>
                                <button ngbDropdownItem (click)="onTransactionForm(data, suspension)"
                                    *ngIf="data.statut === 'actif'">
                                    Suspendre
                                </button>
                                <button ngbDropdownItem (click)="onTransactionForm(data, formule)"
                                    *ngIf="data.statut === 'actif'">
                                    Changer la formule
                                </button>
                                <button ngbDropdownItem (click)="onTransactionForm(data, volume)" *ngIf="
                                        applicationType === patrimoineType &&
                                        data.statut === 'actif'
                                    ">
                                    Volume Data
                                </button>
                                <button ngbDropdownItem (click)="onDotationForm(data)" *ngIf="
                                        applicationType === patrimoineType &&
                                        data.statut === 'actif'
                                    ">
                                    Dotation
                                </button> -->
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{item?.[col.field]}}
                    </ng-container>
                </ng-container>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr *ngIf="(listSimCard$ | async)?.length <= 0 && !spinner">
            <td class="posRelative" colspan="15">
                <span class="posCenter">
                    {{ 'NO_DATA_FOUND' | translate }}
                </span>
            </td>
        </tr>
        <tr *ngIf="spinner">
            <td class="posRelative" colspan="15">
                <p-progressSpinner
                    class="posCenter"
                    [style]="{ width: '40px', height: '50px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="#EEEEEE"
                    animationDuration=".5s"
                >
                </p-progressSpinner>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- <p-dialog header="Vue géographique" [(visible)]="display" position="bottom-right" (onHide)="hideDialog('map')"
    [style]="{ width: '100%' }" (onMaximize)="onDialogMaximized($event)" [modal]="true" [responsive]="true"
    [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content" class="mt-4">
        <div class="mt-4">
            <div #parcelleMap></div>
        </div>
    </ng-template>
</p-dialog>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{
            currentData?.type === 'suspendu' ? 'suspension' : 'resiliation'
            }}
            de la carte SIM
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="hideForm()"></button>
    </div>
    <div class="modal-body" novalidate>
        <div class="form-group">
            <label>
                <b>MSNDN</b>
            </label>
            <input type="text" [ngStyle]="{ width: '100%' }" [placeholder]="currentData?.imsi" [disabled]="true"
                pInputText />
        </div>
        <br />
        <div class="form-group">
            <label>
                <b>Description</b>
            </label>
            <textarea class="form-control" [(ngModel)]="selectedDescription" rows="2"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <button type="button" class="btn btn-hide" (click)="hideForm()">
                Fermer
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-save" [disabled]="!selectedDescription" (click)="OnChangeStatut()">
                Valider
            </button>
        </div>
    </div>
</ng-template> -->

<p-dialog
    header="[{{ 'SIM_CARD' | translate }}] [{{ simCardSelected?.msisdn }}]"
    [(visible)]="visibleSimCardMap"
    (onHide)="hideDialog()"
    [modal]="true"
    [closable]="true"
    [resizable]="true"
    [style]="{ width: '100%', 'min-height': '100%' }"
    [responsive]="true"
    [maximizable]="true"
    [draggable]="false"
>
    <ng-template pTemplate="content" class="mt-4">
        <div>
            <div id="containerSimCardMap" class="map"></div>
        </div>
    </ng-template>
</p-dialog>
