<main class="container-fluid tasks-container" role="main">
    <section class="row tasks-row">
        <article class="col-sm-12 tasks-article">
            <app-breadcrumb />

            <section class="card tasks-card">
                <div class="card-body tasks-card-body">
                    <header class="tasks-header">
                        <app-page-title
                            class="page-title-component"
                            [displayDate]="false"
                            [title]="
                                'REPORTS_PROCESSING.TASKS.TITLE'
                                    | translate
                                    | lowercase
                            "
                        >
                        </app-page-title>
                    </header>

                    <div class="fade-in tasks-content">
                        <app-filter-tasks
                            class="filter-component"
                            (filter)="filter($event)"
                            [loading]="loading$ | async"
                        >
                        </app-filter-tasks>

                        <hr class="tasks-divider" />

                        <section
                            class="table-section"
                            [aria-label]="
                                'REPORTS_PROCESSING.TASKS.TITLE' | translate
                            "
                        >
                            <app-table-tasks
                                class="table-component"
                                [loading]="loading$ | async"
                                [pagination$]="pagination$"
                                [tasks$]="tasks$"
                                (treatmentRequested)="onTasksAction($event)"
                                (refreshRequested)="refreshTasks()"
                            >
                            </app-table-tasks>

                            <app-pagination
                                class="pagination-component"
                                [pagination$]="pagination$"
                                (pageChange)="onPageChange($event)"
                            ></app-pagination>
                        </section>
                    </div>
                </div>
            </section>
        </article>
    </section>

    @if (reportTreatmentVisible) {
        <app-management
            [(visible)]="reportTreatmentVisible"
            [reportId]="selectedReportId"
            (tasks)="onReportTreatmentTasks()"
        ></app-management>
    }
</main>
