<div class="auth-container">
    <div class="logo-container">
        <a class="auth-logo" routerLink="/">
            <img [src]="LOGO_ANSUT" alt="Ansut Logo" />
        </a>
    </div>

    <div class="auth-card">
        <div class="auth-content">
            <h1 class="auth-title">{{ 'AUTHENTICATION' | translate }}</h1>
            <div class="form-error" *ngIf="apiError">{{ apiError }}</div>

            <form
                [formGroup]="loginForm"
                (ngSubmit)="onSubmit()"
                class="auth-form"
            >
                <div class="form-group">
                    <label class="form-label" for="username-input">
                        {{ 'USERNAME' | translate }}
                        <span class="required-indicator">*</span>
                    </label>
                    <input
                        id="username-input"
                        type="email"
                        formControlName="username"
                        placeholder="app@yourmail.com"
                        class="form-input"
                        aria-required="true"
                    />
                </div>

                <div class="form-group">
                    <label class="form-label" for="password-input">
                        {{ 'PASSWORD' | translate }}
                        <span class="required-indicator">*</span>
                    </label>
                    <p-password
                        id="password-input"
                        formControlName="password"
                        [feedback]="false"
                        [toggleMask]="true"
                        inputStyleClass="form-input"
                        ariaLabel="Mot de passe"
                    ></p-password>
                </div>

                <button
                    type="submit"
                    [disabled]="!loginForm.valid"
                    class="submit-button"
                    [attr.aria-label]="
                        'Se connecter - ' + ('CONNECTION' | translate)
                    "
                >
                    {{ 'CONNECTION' | translate }}
                </button>
            </form>

            <div class="forgot-password">
                <a
                    [routerLink]="[
                        '/' + REINITIALIZATION + '/' + FORGOT_PASSWORD,
                    ]"
                    class="forgot-link"
                    [attr.aria-label]="('FORGOT_PASSWORD' | translate) + ' ?'"
                >
                    {{ 'FORGOT_PASSWORD' | translate }} ?
                </a>
            </div>
        </div>
    </div>
</div>
