<form [formGroup]="formFilter" (ngSubmit)="onSubmitFilterForm()">
    <div class="row g-3">
        <div class="col-12 col-sm-6 col-md-2">
            <label for="initie_par"
                ><b>{{ 'APPLICANT' | translate }}</b></label
            >
            <input
                placeholder="{{ 'APPLICANT' | translate }}"
                formControlName="initie_par"
                type="text"
                pInputText
                id="initie_par"
                autocomplete="off"
            />
        </div>

        <div class="col-12 col-sm-6 col-md-2">
            <label for="nom_tenant"
                ><b>{{ 'CUSTOMER' | translate }}</b></label
            >
            <input
                placeholder="{{ 'CUSTOMER' | translate }}"
                formControlName="nom_tenant"
                type="text"
                pInputText
                id="nom_tenant"
                autocomplete="off"
            />
        </div>

        <div class="col-12 col-sm-6 col-md-2">
            <label for="numero_demande"
                ><b>{{ 'NUMBER_FOLDER' | translate }}</b></label
            >
            <input
                id="numero_demande"
                type="text"
                placeholder="{{ 'NUMBER_FOLDER' | translate }}"
                pInputText
                formControlName="numero_demande"
                autocomplete="off"
            />
        </div>

        <div class="col-12 col-sm-6 col-md-2">
            <label
                ><b>{{ 'STEP' | translate }}</b></label
            >
            <p-dropdown
                formControlName="statut"
                [options]="listCustomersActivateStep"
                [showClear]="true"
                placeholder="{{ 'STEP' | translate }}"
                emptyFilterMessage="{{ 'NO_MATCH' | translate }}"
                emptyMessage="{{ 'NO_DATA_FOUND' | translate }}"
            >
            </p-dropdown>
        </div>

        <div class="col-12 col-sm-6 col-md-2">
            <label id="traitement"
                ><b>{{ 'STATE' | translate }}</b></label
            >
            <p-dropdown
                for="traitement"
                formControlName="traitement"
                [options]="listCustomersActivateState"
                [showClear]="true"
                placeholder="{{ 'STATE' | translate }}"
                emptyFilterMessage="{{ 'NO_MATCH' | translate }}"
                emptyMessage="{{ 'NO_DATA_FOUND' | translate }}"
            >
            </p-dropdown>
        </div>

        <div
            class="col-12 col-sm-6 col-md-2 d-flex align-items-end justify-content-start gap-2 mt-2"
        >
            <button
                *ngIf="!secondFilter"
                pButton
                pRipple
                type="submit"
                class="p-button-success"
                icon="pi pi-filter"
            ></button>
            <button
                *ngIf="!secondFilter"
                (click)="showSecondFilter()"
                pButton
                pRipple
                class="p-button-dark"
                icon="pi pi-plus"
            ></button>
            <button
                *ngIf="secondFilter"
                (click)="showSecondFilter()"
                pButton
                pRipple
                class="p-button-dark"
                icon="pi pi-minus"
            ></button>
        </div>
    </div>

    <div *ngIf="secondFilter" class="mt-3">
        <div class="row g-3">
            <div class="col-12 col-sm-6 col-md-2">
                <label for="START_DATE"
                    ><b>{{ 'START_DATE' | translate }}</b></label
                >
                <p-calendar
                    id="START_DATE"
                    formControlName="date_debut"
                    [showIcon]="true"
                    [placeholder]="'AAAA-MM-JJ'"
                    dateFormat="yy-mm-dd"
                >
                </p-calendar>
            </div>

            <div class="col-12 col-sm-6 col-md-2">
                <label for="END_DATE"
                    ><b>{{ 'END_DATE' | translate }}</b></label
                >
                <p-calendar
                    id="END_DATE"
                    formControlName="date_fin"
                    [showIcon]="true"
                    [placeholder]="'AAAA-MM-JJ'"
                    dateFormat="yy-mm-dd"
                >
                </p-calendar>
            </div>

            <div
                class="col-12 col-sm-6 col-md-2 d-flex align-items-end justify-content-start gap-2 mt-2"
            >
                <button
                    pButton
                    pRipple
                    type="submit"
                    class="p-button-success"
                    icon="pi pi-filter"
                ></button>
            </div>
        </div>
    </div>
</form>
