<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb
                [title]="module | translate"
                [active_item]="subModule | translate"
            ></app-breadcrumb>
            <div class="card">
                <div class="card-body">
                    <div style="margin-top: -2rem !important">
                        <app-page-title
                            [displayDate]="false"
                            [title]="'NOTIFICATIONS' | translate"
                        >
                        </app-page-title>
                    </div>

                    <div class="fade-in">
                        <app-table-notifications-center
                            [spinner]="spinner"
                            [notificationPagination$]="notificationPagination$"
                            [notificationList$]="notificationList$"
                        >
                        </app-table-notifications-center>

                        <app-pagination
                            [pagination]="notificationPagination$ | async"
                            (pageChange)="onPageChange($event)"
                        >
                        </app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
