<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb
                [title]="module | translate"
                [active_item]="subModule | translate"
            ></app-breadcrumb>
            <div class="card">
                <div class="card-body">
                    <ng-container
                        *ngIf="
                            (slaContacts$ | async | json) != '{}';
                            else skeletonLoader
                        "
                    >
                        <div
                            style="
                                margin-top: -2rem !important;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            "
                        >
                            <app-patrimoine-header
                                [displayDate]="false"
                                [displayList]="false"
                                [legendePluriel]="
                                    'SLA_MANAGEMENT_CONTRACT' | translate
                                "
                                [legendeSingulier]="
                                    'SLA_MANAGEMENT_CONTRACT' | translate
                                "
                            >
                            </app-patrimoine-header>
                            <div>
                                <button
                                    pButton
                                    type="button"
                                    class="p-button-dark"
                                    (click)="handleChangeSlaContactsFormMode()"
                                    [label]="
                                        BUTTON_LABEL_FORM[formMode] | translate
                                    "
                                    icon="pi pi-pencil"
                                ></button>
                            </div>
                        </div>

                        <p-tabView
                            [(activeIndex)]="tabPanelIndexActive"
                            class="custom-tabs"
                        >
                            <p-tabPanel header="Informations">
                                <div class="fade-in">
                                    <app-form-sla-contacts
                                        [slaContacts]="slaContacts$ | async"
                                        [formMode]="formMode"
                                    ></app-form-sla-contacts>
                                </div>
                            </p-tabPanel>

                            <p-tabPanel
                                [disabled]="disabledHistoryTabPanel"
                                header="Historique"
                            >
                                <ul class="list-group fade-in">
                                    <li class="list-group-item">
                                        Commande #123
                                    </li>
                                    <li class="list-group-item">
                                        Commande #124
                                    </li>
                                </ul>
                            </p-tabPanel>
                        </p-tabView>
                    </ng-container>

                    <ng-template #skeletonLoader>
                        <div class="skeleton-container">
                            <!-- Header Skeleton -->
                            <div class="d-flex justify-content-between mb-4">
                                <div>
                                    <p-skeleton
                                        width="250px"
                                        height="35px"
                                        class="mb-2"
                                    ></p-skeleton>
                                    <p-skeleton
                                        width="200px"
                                        height="20px"
                                    ></p-skeleton>
                                </div>
                                <div>
                                    <p-skeleton
                                        width="120px"
                                        height="40px"
                                    ></p-skeleton>
                                </div>
                            </div>

                            <!-- Tab Navigation Skeleton -->
                            <div class="mb-4">
                                <div class="d-flex">
                                    <p-skeleton
                                        width="150px"
                                        height="45px"
                                        class="me-2"
                                    ></p-skeleton>
                                    <p-skeleton
                                        width="150px"
                                        height="45px"
                                    ></p-skeleton>
                                </div>
                            </div>

                            <!-- Tab Content Skeleton -->
                            <div class="tab-content-skeleton">
                                <!-- Customer Information Section -->
                                <div class="mb-4">
                                    <p-skeleton
                                        width="250px"
                                        height="30px"
                                        class="mb-3"
                                    ></p-skeleton>
                                    <div class="row mb-3">
                                        <div class="col-md-3">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <p-skeleton
                                                width="100%"
                                                height="40px"
                                            ></p-skeleton>
                                        </div>
                                        <div class="col-md-3">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <p-skeleton
                                                width="100%"
                                                height="40px"
                                            ></p-skeleton>
                                        </div>
                                        <div class="col-md-2">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <p-skeleton
                                                width="100%"
                                                height="40px"
                                            ></p-skeleton>
                                        </div>
                                        <div class="col-md-4">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <p-skeleton
                                                width="100%"
                                                height="40px"
                                            ></p-skeleton>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <p-skeleton
                                                width="100%"
                                                height="40px"
                                            ></p-skeleton>
                                        </div>
                                        <div class="col-md-4">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <div class="d-flex">
                                                <p-skeleton
                                                    width="120px"
                                                    height="40px"
                                                ></p-skeleton>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Manager Information Section -->
                                <div class="mb-4">
                                    <p-skeleton
                                        width="250px"
                                        height="30px"
                                        class="mb-3"
                                    ></p-skeleton>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <p-skeleton
                                                width="100%"
                                                height="40px"
                                            ></p-skeleton>
                                        </div>
                                        <div class="col-md-2">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <p-skeleton
                                                width="100%"
                                                height="40px"
                                            ></p-skeleton>
                                        </div>
                                        <div class="col-md-4">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <p-skeleton
                                                width="100%"
                                                height="40px"
                                            ></p-skeleton>
                                        </div>
                                        <div class="col-md-2">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <div class="d-flex">
                                                <p-skeleton
                                                    width="120px"
                                                    height="40px"
                                                ></p-skeleton>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Moral Declaration Section -->
                                <div class="mb-4">
                                    <p-skeleton
                                        width="250px"
                                        height="30px"
                                        class="mb-3"
                                    ></p-skeleton>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <p-skeleton
                                                width="100%"
                                                height="40px"
                                            ></p-skeleton>
                                        </div>
                                        <div class="col-md-6">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <p-skeleton
                                                width="100%"
                                                height="40px"
                                            ></p-skeleton>
                                        </div>
                                        <div class="col-md-2">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <div class="d-flex">
                                                <p-skeleton
                                                    width="120px"
                                                    height="40px"
                                                ></p-skeleton>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Fiscal Declaration Section -->
                                <div class="mb-4">
                                    <p-skeleton
                                        width="250px"
                                        height="30px"
                                        class="mb-3"
                                    ></p-skeleton>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <p-skeleton
                                                width="100%"
                                                height="40px"
                                            ></p-skeleton>
                                        </div>
                                        <div class="col-md-4">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <p-skeleton
                                                width="100%"
                                                height="40px"
                                            ></p-skeleton>
                                        </div>
                                        <div class="col-md-3">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <p-skeleton
                                                width="100%"
                                                height="40px"
                                            ></p-skeleton>
                                        </div>
                                        <div class="col-md-2">
                                            <p-skeleton
                                                width="100%"
                                                height="20px"
                                                class="mb-2"
                                            ></p-skeleton>
                                            <div class="d-flex">
                                                <p-skeleton
                                                    width="120px"
                                                    height="40px"
                                                ></p-skeleton>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
