<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <app-breadcrumb [title]="module" [active_item]="subModule"></app-breadcrumb>
            <div class="card">
                <div class="card-body">
                    <div style="margin-top: -2rem !important">
                      <app-patrimoine-header [displayDate]="false" [count]="listTypeProduits" [displayDate]="false"
                        [legendePluriel]="'SIM blanches'" [legendeSingulier]="'SIM blanche'">
                        </app-patrimoine-header>
                    </div>
                    <div>
                        <app-filter-achat-produits (filter)="filter($event)" [filterData]="filterData"></app-filter-achat-produits>
                        <hr />
                        <div class="table_content_wrapper">
                            <div class="d-flex justify-content-start">
                                <div>
                                    <app-table-button-header (refresh)="pageCallback()" (export)="OnExportExcel()"
                                        (other)="navigateByUrl({'data': null, 'action': 'ajouter', 'view': 'page' })"
                                        [labelOther]="'SIM Blanche'" [iconOther]="'pi pi-plus'"
                                        [colorOther]="'success'">
                                    </app-table-button-header>
                                </div>
                            </div>
                            <app-table-achat-produits [spinner]="spinner" [listTypeProduits]="listTypeProduits"
                                [selectedAchat]="selectedAchat" (interfaceUser)="navigateByUrl($event)"
                                [pargination]="pargination" [listAchatProduits]="listAchatProduits">
                            </app-table-achat-produits>
                            <app-pargination [pargination]="pargination"
                                (pageChange)="onPageChange($event)">
                            </app-pargination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>