<form [formGroup]="filterForm" (ngSubmit)="onSubmitFilterForm()">
    <div class="row">
        <div class="col-md-3">
            <label class="block"><b>Date début</b></label>
            <p-datepicker
                [style]="{ width: '100%' }"
                formControlName="created_from"
                [showIcon]="true"
                placeholder="JJ-MM-AAAA"
                dateFormat="dd-mm-yy"
            ></p-datepicker>
        </div>
        <div class="col-md-3">
            <label class="block"><b>Date fin</b></label>
            <p-datepicker
                [style]="{ width: '100%' }"
                formControlName="created_to"
                [showIcon]="true"
                placeholder="JJ-MM-AAAA"
                dateFormat="dd-mm-yy"
            ></p-datepicker>
        </div>
        <div class="col-md-3">
            <label class="block"><b>Utilisateur</b></label>
            <p-select
                [options]="users"
                formControlName="auth_user_id"
                optionLabel="fullName"
                [filter]="true"
                filterBy="lastName,firstName"
                [showClear]="true"
                placeholder="Selectionner l'utilisateur"
                emptyFilterMessage="Aucune correspondance"
                emptyMessage="Aucune donnée"
                [style]="{ width: '100%' }"
            >
                <ng-template let-user pTemplate="item">
                    <div class="country-item">
                        <div>{{ user.lastName }} {{ user.firstName }}</div>
                    </div>
                </ng-template>
                <ng-template let-user pTemplate="selectedItem">
                    <div class="country-item" *ngIf="user">
                        <div>{{ user.lastName }} {{ user.firstName }}</div>
                    </div>
                </ng-template>
            </p-select>
        </div>
        <div class="col-md-1">
            <p-button
                [style]="{ height: '60%' }"
                styleClass="p-button-success"
                icon="pi pi-filter"
                type="submit"
                [disabled]="filterForm.invalid"
            ></p-button>
        </div>
    </div>
</form>
