<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="login-card">
        <div>
          <div>
            <a class="logo" routerLink='/'>
              <img class="img-fluid for-light" width="200" src="assets/images/logo/logo-orange-full.png"
                alt="looginpage">
              <img class="img-fluid for-dark" width="200" src="assets/images/logo/logo-orange-full.png"
                alt="looginpage">
            </a>
          </div>
          <div class="login-main">
            <form class="theme-form needs-validation" [formGroup]="passwordForm">
              <h4 class="text-center mb-5">réinitialisation Mot de Passe</h4>
              <div class="form-group">
                <label class="col-form-label"><b>Nouveau mot de passe<span class="text-danger">*</span></b></label>
                <p-password formControlName="password" [feedback]="false"  [toggleMask]="true" styleClass="p-password p-component p-inputwrapper p-input-icon-right"></p-password>
              </div>
              <div class="form-group">
                <label class="col-form-label"><b>Confirmation mot de passe<span class="text-danger">*</span></b></label>
                <p-password formControlName="confirm_password" [feedback]="false"  [toggleMask]="true" styleClass="p-password p-component p-inputwrapper p-input-icon-right"></p-password>
              </div>
              <span class="form-error mt-3" *ngIf="newPasswordValue !== confirmPasswordValue">Les deux mot de passe doivent être identiques</span>
              <div class="form-group mb-0 mt-4">
                <button class="btn btn-primary d-block w-100" [disabled]="!passwordForm.valid || (newPasswordValue !== confirmPasswordValue)" (click)="HandleResetPassword()" type="button">
                  Confirmer
                </button>
                <button class="btn d-block w-100 mt-3" (click)="onCancel()"
                  style="background-color: #000000 !important;color: #FFFFFF;" type="button">
                  Annuler
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>