.danger-alert {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: 0.75rem 1.25rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.infos-alert {
    color: #01a9db;
    background-color: #e0f2f7;
    border-color: #e0f2f7;
    position: relative;
    padding: 0.75rem 1.25rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}
