/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/app.scss";

.router-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: calc(100% - 47px);
    perspective: 1200px;
    transform-style: preserve-3d;
}

:host {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #60d7a9;
}

.fs-30 {
    font-size: 30px !important;
    font-weight: 800;
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff !important;
}

.background__light__orange {
    background: #FAEBE1 !important;
}

.background__body__wrapper {
    background: #F8F8F8 !important;
}

.body__background {
    background-color: rgb(250, 235, 225) !important;
}

.p-tabview .p-tabview-panels {
    padding: 1.25rem 0 !important;
}

.pagination-controls {
    float: right;
}

.ngx-pagination .current {
    padding: 0.6rem 1rem !important;
    background: #EFF6FF !important;
    border-color: #EFF6FF !important;
    color: #1D4ED8 !important;
    cursor: pointer !important;
    border-radius: 50%;
    font-weight: 300 !important;

}

.ngx-pagination li {
    padding: 0.6rem 1rem !important;
    font-weight: 300 !important;
    border-radius: 50% !important;
    color: #6C756C !important;
    margin: 0.1rem !important;
}

:host ::ng-deep .p-dropdown .p-component .p-disabled {
    background-color: red !important;

}

.legende {
    color: #FF6600;
    position: relative;
    top: 0.6rem;
    text-transform: uppercase;
    font-family: "FUTURA";
}

.leaflet-popup-content {
    // margin: 13px 24px 13px 20px;
    // line-height: 1.3;
    // font-size: 13px;
    // font-size: 1.08333em;
    min-height: 5px;

    strong {
        font-size: 35px !important;
    }

    span {
        margin-left: 0.3rem !important;
        font-size: 36px !important;
    }

    width: max-content !important;
    width: max-content !important;
}

@font-face {
    font-family: FUTURA;
    src: url("./assets/fonts/FUTURA.otf");
}

.p-calendar {
    width: 22rem !important;
}

.submit-form {
    padding-top: 1rem;
    float: right;
}

p-dropdown .p-disabled,
p-password .p-disabled {
    background-color: #ccc !important;
    color: #000 !important;
    font-weight: bold;

}

.p-datatable .p-datatable-header {

    padding: 0rem 0rem 0.5rem 0rem !important;
}

.form-group {
    label {
        b {
            span {
                margin-left: 0.2rem;
            }
        }
    }
}

.p-dialog {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    max-height: 100% !important;
    transform: scale(1);
    position: relative;
}