/* You can add global styles to this file, and also import other style files */

@import './assets/scss/app.scss';

.width-100 {
    width: 100%;
}
.width-80 {
    width: 80%;
}
.width-50 {
    width: 50%;
}
.width-15 {
    width: 15%;
}
.width-13 {
    width: 13%;
}
.width-10 {
    width: 10%;
}
.numero_tableau_width {
    min-width: 50px;
    max-width: 50px;
}
.identifiant_transaction_width {
    min-width: 180px;
    max-width: 180px;
}
.date_width {
    min-width: 180px;
    max-width: 180px;
}
.badge_width {
    min-width: 150px;
    max-width: 150px;
}
.lignes_traitees_width {
    min-width: 150px;
    max-width: 150px;
}
.centrer_td_th {
    display: flex;
    justify-content: center;
}
.demandeur_width {
    min-width: 200px;
    max-width: 200px;
}
.badge_size {
    font-size: 16px;
}
.text-orange {
    color: #ff6600;
}

label {
    color: #2f2f3b;
}

.table-header-wrapper,
.current-transaction-label {
    color: #2f2f3b;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    color: #fff !important;
}

.p-button.p-button-success,
.p-buttonset.p-button-success > .p-button,
.p-splitbutton.p-button-success > .p-button {
    color: #fff;
    background: #569c5b !important;
    border: 1px solid #569c5b !important;
}
.p-button.p-button-success:enabled:hover,
.p-buttonset.p-button-success > .p-button:enabled:hover,
.p-splitbutton.p-button-success > .p-button:enabled:hover {
    background: #569c5b !important;
    border: 1px solid #569c5b !important;
}

.pi-filter {
    font-size: 1.7rem !important;
}
.pi-plus {
    font-size: 1.7rem !important;
}

.router-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: calc(100% - 47px);
    perspective: 1200px;
    transform-style: preserve-3d;
}
.justificatif-container {
    // padding: 1rem 0;
    display: flex;
    gap: 2rem;
    justify-content: center;
    .justificatif-error {
        span {
            color: #df0101;
            font-weight: 900;
            font-style: italic;
            text-transform: uppercase;
            text-align: center !important;
            display: flex;
            justify-content: center;
        }
    }
}
.disabled-piece-jointe {
    background: #fafafa !important;
    opacity: 1 !important;
    color: #000 !important;
    font-weight: 800;
    font-size: 19.5px;
    overflow: visible !important;
}
input[type='text']:disabled,
input[type='email']:disabled,
input[type='number']:disabled,
textarea:disabled {
    background: #fafafa !important;
    opacity: 1 !important;
    color: #000 !important;
    font-weight: 800;
    font-size: 19.5px;
    border: 2px solid #ccc !important;
    overflow: visible !important;
}
p-dropdown .p-disabled,
p-password .p-disabled {
    background: #fafafa !important;
    opacity: 1 !important;
    color: #000 !important;
    font-weight: 800;
    font-size: 19.5px;
    border: 2px solid #ccc !important;
    .p-dropdown-trigger {
        opacity: 0 !important;
    }
}

:host {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #60d7a9;
}
:host ::ng-deep .spinner .p-progress-spinner-circle {
    animation: geek 5s ease-in-out infinite;
}

@keyframes geek {
    100%,
    0% {
        stroke: #ff6600;
    }
    40% {
        stroke: #ff6600;
    }
    66% {
        stroke: #ff6600;
    }
    80%,
    90% {
        stroke: #ff6600;
    }
}
.progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
}
.progress-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.progress-spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
}

.fs-30 {
    font-size: 30px !important;
    font-weight: 800;
}

.mt-15 {
    margin-top: 41px !important;
}

.text-black {
    color: #000;
}

.text-white {
    color: #fff !important;
}

.background__light__orange {
    background: #faebe1 !important;
}

.background__body__wrapper {
    background: #f8f8f8 !important;
}

.body__background {
    background-color: rgb(250, 235, 225) !important;
}

.p-tabview .p-tabview-panels {
    padding: 1.25rem 0 !important;
}

.pagination-controls {
    float: right;
}

.ngx-pagination .current {
    padding: 0.6rem 1rem !important;
    background: #eff6ff !important;
    border-color: #eff6ff !important;
    color: #1d4ed8 !important;
    cursor: pointer !important;
    border-radius: 50%;
    font-weight: 300 !important;
}

.ngx-pagination li {
    padding: 0.6rem 1rem !important;
    font-weight: 300 !important;
    border-radius: 50% !important;
    color: #6c756c !important;
    margin: 0.1rem !important;
}

:host ::ng-deep .p-dropdown .p-component .p-disabled {
    background-color: red !important;
}

.legende {
    color: #ff6600;
    position: relative;
    top: 0.6rem;
    text-transform: uppercase;
    font-family: 'FUTURA';
}
.table-header-wrapper {
    font-size: 1.5rem;
    font-family: 'FUTURA';
}
.loader-wrapper {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: 'FUTURA';
}
.leaflet-popup-content {
    min-height: 5px;

    strong {
        font-size: 35px !important;
    }

    span {
        margin-left: 0.3rem !important;
        font-size: 36px !important;
    }

    width: max-content !important;
    width: max-content !important;
}

.pagination-controls {
    nav {
        margin-top: 0.5rem !important;
    }
}

@font-face {
    font-family: FUTURA;
    src: url('./assets/fonts/FUTURA.otf');
}

.p-calendar {
    width: 22rem !important;
}

.submit-form {
    padding-top: 1rem;
    float: right;
}
.wrapper-header {
    font-family: 'FUTURA';
}

.p-calendar-w-btn .p-datepicker-trigger {
    background-color: #000 !important;
    border: none !important;
}

.p-datatable .p-datatable-header {
    padding: 0rem 0rem 0.5rem 0rem !important;
}

.form-group {
    label {
        b {
            span {
                margin-left: 0.2rem;
            }
        }
    }
}

.p-dialog {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    max-height: 100% !important;
    transform: scale(1);
    position: relative;
}

.p-dialog .p-dialog-header h3 {
    position: relative !important;
    top: 10px !important;
}

.p-dialog .p-dialog-content {
    height: 100vh !important;
}

.leaflet-tooltip-site {
    position: absolute;
    padding: 0px !important;
    background-color: #000 !important;
    border: none !important;
    font-weight: 900;
    color: #ffff;
    //text-shadow: 2px 2px #FF6600;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.leaflet-tooltip-ressort {
    position: absolute;
    padding: 2px !important;
    background-color: #2e9afe !important;
    border: none !important;
    font-weight: 900;
    color: #ffff;
    //text-shadow: 2px 2px #FF6600;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.table_header__legende {
    h4 {
        margin-top: 0.7rem;
    }
}

.dropdown .dropdown-toggle:after {
    display: none !important;
}

.modal.fade .modal-dialog {
    display: flex !important;
    justify-content: center !important;
}

.trans-radio {
    label {
        font-family: 'FUTURA';
        font-size: 19px !important;
    }
}
.current-transaction-label {
    font-family: 'FUTURA';
    font-size: 22px !important;
}
.p-radiobutton-box.p-highlight .p-radiobutton-icon {
    transform: translateZ(0) scale(0.7, 0.7) !important;
    visibility: visible;
}
.p-radiobutton .p-radiobutton-box {
    width: 29px !important;
    height: 29px !important;
}
.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    width: 25px !important;
    height: 25px !important;
}

.p-datatable .p-sortable-column.p-highlight {
    border-right: 0.5px solid #fafafa;
    color: white;
    background: #000 !important;
}
.p-datatable .p-sortable-column.p-highlight:hover {
    color: white;
    background: #000 !important;
}
.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
    color: #ffff !important;
}
@font-face {
    font-family: Lato;
    src: url('./assets/fonts/Lato.ttf');
}
@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins.ttf');
}

.p-datatable .p-sortable-column:hover {
    background: #000000 !important;
    color: #ffffff !important;
}
.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
    color: #ffffff !important;
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
    color: #ffffff !important;
}

.p-inputswitch .p-inputswitch-slider {
    width: 4rem !important;
    height: 2rem !important;
}

.p-inputswitch .p-inputswitch-slider:before {
    width: 1.5rem;
    height: 1.5rem;
    left: 1.1rem;
    top: 0.82rem;
}

.p-radiobutton-box.p-highlight .p-radiobutton-icon {
    transform: translateZ(0) scale(0.4, 0.4) !important;
    visibility: visible;
}
.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: #1d4ed8 !important;
    background: #1d4ed8 !important;
}
.p-radiobutton .p-disabled {
    opacity: 1 !important;
}

.p-radiobutton-disabled {
    cursor: not-allowed !important;
}
