<form
    [formGroup]="formFilter"
    (ngSubmit)="onSubmitFilterForm()"
    class="d-flex gap-2 no-wrap"
>
    <div class="col-md-2">
        <div class="form-group">
            <label>
                <b>MSISDN<span class="text-danger">*</span></b>
            </label>
            <input
                placeholder="msisdn"
                formControlName="msisdn"
                type="text"
                pInputText
            />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>
                <b>IMSI<span class="text-danger">*</span></b>
            </label>
            <input
                placeholder="imsi"
                formControlName="imsi"
                type="text"
                pInputText
            />
        </div>
    </div>
    <div class="col-md-2">
        <label class="block"><b>Date début</b></label>
        <p-calendar
            formControlName="date_debut"
            [showIcon]="true"
            [placeholder]="'JJ-MM-AAAA'"
            dateFormat="dd-mm-yy"
        >
        </p-calendar>
    </div>
    <div class="col-md-2">
        <label class="block"><b>Date fin </b></label>
        <p-calendar
            formControlName="date_fin"
            [showIcon]="true"
            placeholder="JJ-MM-AAAA"
            dateFormat="dd-mm-yy"
        >
        </p-calendar>
    </div>

    <div class="d-flex align-items-end" [ngStyle]="{ width: '4rem' }">
        <button
            pButton
            pRipple
            type="submit"
            class="p-button-success"
            icon="pi pi-filter"
        ></button>
    </div>
</form>
