.p-datatable-scrollable .p-datatable-thead > tr > th:nth-child(1) {
    min-width: 2rem !important;
    max-width: 2rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-datatable-scrollable .p-datatable-tbody > tr > td:nth-child(1) {
    min-width: 2rem !important;
    max-width: 2rem !important;
}
.p-datatable-scrollable .p-datatable-thead > tr > th.text-center {
    display: flex;
    justify-content: center;
}
.p-datatable-scrollable .p-datatable-tbody > tr.loading-table > td {
    min-width: 100% !important;
    max-width: 100% !important;
}
