<p-table
    #dt
    [value]="list"
    [rowHover]="true"
    dataKey="numero_demande"
    selectionMode="single"
    [(selection)]="customerActivateSelected"
    [rows]="page?.per_page"
    [scrollable]="true"
    [globalFilterFields]="table.globalFilterFields"
    responsiveLayout="scroll"
    scrollHeight="flex"
    width="100%"
    class="responsive-claims-table"
>
    <ng-template pTemplate="caption">
        <div
            class="d-flex justify-content-between flex-wrap align-items-center"
        >
            <app-table-title
                [count]="page?.total"
                [perPage]="page?.per_page"
                [page]="page?.current_page"
                [totalPage]="page?.last_page"
            >
            </app-table-title>

            <div
                class="d-flex gap-2 align-items-center custom-header-actions mt-2 mt-md-0"
            >
                <app-table-button-header
                    [disabledButtonExport]="!list || list.length === 0"
                    [hiddenButtonOther]="false"
                    (refresh)="pageCallback()"
                    (export)="onExportExcel()"
                    (other)="onActionButtonClick(null, null, createMetaMap)"
                >
                </app-table-button-header>
                <app-search-table [dt]="dt"></app-search-table>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{
                    minWidth: col.width,
                    width: col.width,
                    maxWidth: col.maxWidth,
                    textAlign: 'center',
                }"
            >
                {{ col.header }}
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
        <tr [pSelectableRow]="item" [attr.data-id]="item.numero_demande">
            <td
                *ngFor="let col of table.cols; trackBy: trackByCol"
                [class]="col.class"
                [ngStyle]="{
                    minWidth: col.width,
                    width: col.width,
                    maxWidth: col.maxWidth,
                }"
                [attr.data-label]="col.header"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'#'">
                        {{ computeIndex(rowIndex) }}
                    </ng-container>

                    <ng-container *ngSwitchCase="'Compte client'">
                        <span
                            (click)="
                                copyToClipboard(item?.[col.field]);
                                $event.stopPropagation()
                            "
                            [pTooltip]="'COPY' | translate"
                            tooltipPosition="bottom"
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>

                    <ng-container *ngSwitchCase="'Etape'">
                        <span
                            class="badge"
                            [ngClass]="
                                stepBadgeMap[item?.statut] ?? 'badge-dark'
                            "
                            style="font-size: 16px"
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>

                    <ng-container *ngSwitchCase="'Etat'">
                        <span
                            class="badge"
                            [ngClass]="
                                stateBadgeMap[item?.statut]?.[
                                    item?.traitement
                                ] ?? 'badge-dark'
                            "
                            style="font-size: 16px"
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>

                    <ng-container *ngSwitchCase="'Actions'">
                        <button
                            pButton
                            type="button"
                            tooltipPosition="top"
                            [pTooltip]="
                                editMetaMap[item.numero_demande]?.tooltip
                            "
                            [ngClass]="editMetaMap[item.numero_demande]?.class"
                            [icon]="editMetaMap[item.numero_demande]?.icon"
                            (click)="
                                onActionButtonClick(
                                    $event,
                                    item,
                                    editMetaMap[item.numero_demande]?.params
                                )
                            "
                        ></button
                        >&nbsp;

                        <button
                            pButton
                            type="button"
                            tooltipPosition="top"
                            [pTooltip]="
                                paymentMetaMap[item.numero_demande]?.tooltip
                            "
                            [ngClass]="
                                paymentMetaMap[item.numero_demande]?.class
                            "
                            [icon]="paymentMetaMap[item.numero_demande]?.icon"
                            [disabled]="
                                paymentMetaMap[item.numero_demande]?.disabled
                            "
                            (click)="
                                onActionButtonClick(
                                    $event,
                                    item,
                                    paymentMetaMap[item.numero_demande]?.params
                                )
                            "
                        ></button
                        >&nbsp;

                        <button
                            pButton
                            type="button"
                            tooltipPosition="top"
                            pTooltip="{{ 'NEWSPAPER' | translate }} {{
                                item?.numero_demande
                            }}"
                            class="p-button-primary"
                            icon="pi pi-book"
                            (click)="
                                onActionButtonClick($event, item, {
                                    data: item,
                                    action: REQUESTS_SERVICE_BUTTONS_ACTIONS_ENUM.NEWSPAPER,
                                    view: 'modal',
                                })
                            "
                        ></button>
                    </ng-container>

                    <ng-container *ngSwitchDefault>
                        {{ item?.[col.field] }}
                    </ng-container>
                </ng-container>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr
            *ngIf="(!list || list.length === 0) && !spinner"
            class="loading-table"
        >
            <td class="posRelative" colspan="15">
                <span class="posCenter">{{ 'NO_DATA_FOUND' | translate }}</span>
            </td>
        </tr>
        <tr *ngIf="spinner" class="loading-table">
            <td class="posRelative" colspan="15">
                <p-progressSpinner
                    class="posCenter"
                    [style]="{ width: '40px', height: '50px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="#EEEEEE"
                    animationDuration=".5s"
                >
                </p-progressSpinner>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog
    header="[{{ 'CUSTOMERS_ACTIVATE' | translate }}] {{ 'DEMAND' | translate }} 
  [{{ customerActivateSelected.numero_demande }}]"
    [(visible)]="visibleForm"
    [maximizable]="true"
    [draggable]="false"
    [resizable]="true"
    (onHide)="visibleForm = false"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '95vw', minHeight: '80vh' }"
    [breakpoints]="{ '575px': '95vw', '1199px': '90vw' }"
>
    <ng-template pTemplate="content">
        <app-treatment-requests-service-form
            [customerSelected]="customerActivateSelected"
            [handleTreatment]="
                editMetaMap[customerSelected?.numero_demande]?.handleTreatment
            "
            (visibleForm)="visibleForm = false"
            [fetchCustomers]="pageCallback.bind(this)"
        >
        </app-treatment-requests-service-form>
    </ng-template>
</p-dialog>
