<p-table
    #dt
    [value]="listCustomersActivate$ | async"
    [rowHover]="true"
    dataKey="id"
    selectionMode="single"
    [(selection)]="customerActivateSelected"
    [rows]="(pagination$ | async)?.per_page"
    [scrollable]="true"
    [globalFilterFields]="table.globalFilterFields"
    responsiveLayout="scroll"
    scrollable="true"
    scrollHeight="flex"
    width="100%"
    class="responsive-claims-table"
>
    <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between flex-wrap align-items-start">
            <app-table-title
                [count]="(pagination$ | async)?.total"
                [perPage]="(pagination$ | async)?.per_page"
                [page]="(pagination$ | async)?.current_page"
                [totalPage]="(pagination$ | async)?.last_page"
            >
            </app-table-title>
            <div
                class="d-flex gap-2 align-items-center custom-header-actions mt-2 mt-md-0"
            >
                <app-table-button-header
                    (refresh)="pageCallback()"
                    (export)="onExportExcel()"
                    [disabledButtonExport]="
                        (listCustomersActivate$ | async)?.length === 0
                    "
                    (other)="
                        handleAction({
                            data: null,
                            action: REQUESTS_SERVICE_BUTTONS_ACTIONS_ENUM.ADD,
                            view: 'page'
                        })
                    "
                    [hiddenButtonOther]="false"
                    [labelOther]="'CREATE' | translate"
                    [iconOther]="'pi pi-plus'"
                >
                </app-table-button-header>
                <app-search-table [dt]="dt"></app-search-table>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{
                    minWidth: col.width,
                    width: col.width,
                    textAlign: 'center'
                }"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'Date / Heure'">
                        {{ 'DATE_TIME' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Client'">
                        {{ 'CUSTOMER' | translate | capitalize }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Compte client'">
                        {{ 'CUSTOMER_ACCOUNT' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Etape'">
                        {{ 'STEP' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Etat'">
                        {{ 'STATE' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Date Etat'">
                        {{ 'UPDATED_DATE' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Demandeur'">
                        {{ 'APPLICANT' | translate }}
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{ col.header }}
                    </ng-container>
                </ng-container>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-item>
        <tr [pSelectableRow]="item">
            <td
                *ngFor="let col of table.cols"
                [class]="col.class"
                [ngStyle]="{ minWidth: col.width, width: col.width }"
                [attr.data-label]="col.header"
            >
                <ng-container [ngSwitch]="col.header">
                    <ng-container *ngSwitchCase="'#'">
                        {{
                            ((pagination$ | async)?.current_page - 1) *
                                (pagination$ | async)?.per_page +
                                rowIndex +
                                1
                        }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Compte client'">
                        <span
                            (click)="copyToClipboard(item?.[col.field])"
                            [pTooltip]="'COPY' | translate"
                            tooltipPosition="bottom"
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Etape'">
                        <span
                            [ngStyle]="{ 'font-size': '16px' }"
                            [class]="'badge ' + getStepBadge(item)"
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Etat'">
                        <span
                            [ngStyle]="{ 'font-size': '16px' }"
                            [class]="'badge ' + getStateBadge(item)"
                        >
                            {{ item?.[col.field] }}
                        </span>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Date Etat'">
                        {{ item?.[col.field] }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'Actions'">
                        <!-- <button pButton tooltipPosition="top" [pTooltip]="handleActionButtonOpenStyle(item)?.tooltip"
              [ngClass]="handleActionButtonOpenStyle(item)?.class" [icon]="handleActionButtonOpenStyle(item)?.icon"
              [disabled]="handleActionButtonOpenStyle(item)?.class === 'p-button-secondary'"
              (click)="handleAction({data : item, action: REQUESTS_SERVICE_BUTTONS_ACTIONS_ENUM.OPEN, view: 'page'})">
            </button>&nbsp; -->
                        <button
                            pButton
                            tooltipPosition="top"
                            [pTooltip]="
                                handleActionButtonEditStyle(item)?.tooltip
                            "
                            [ngClass]="handleActionButtonEditStyle(item)?.class"
                            [icon]="handleActionButtonEditStyle(item)?.icon"
                            (click)="
                                handleAction({
                                    data: item,
                                    action: REQUESTS_SERVICE_BUTTONS_ACTIONS_ENUM.EDIT,
                                    view: 'modal'
                                })
                            "
                        ></button
                        >&nbsp;
                        <button
                            pButton
                            tooltipPosition="top"
                            [pTooltip]="
                                handleActionButtonPaymentStyle(item)?.tooltip
                            "
                            [ngClass]="
                                handleActionButtonPaymentStyle(item)?.class
                            "
                            [icon]="handleActionButtonPaymentStyle(item)?.icon"
                            [disabled]="
                                handleActionButtonPaymentStyle(item)?.class ===
                                'p-button-secondary'
                            "
                            (click)="
                                handleAction({
                                    data: item.numero_demande,
                                    action:
                                        item.traitement ===
                                        REQUESTS_SERVICE_PAYMENT_STATE_ENUM.VALIDATED
                                            ? REQUESTS_SERVICE_BUTTONS_ACTIONS_ENUM.INVOICE
                                            : REQUESTS_SERVICE_BUTTONS_ACTIONS_ENUM.PAYMENT,
                                    view: 'page'
                                })
                            "
                        ></button
                        >&nbsp;
                        <button
                            pButton
                            tooltipPosition="top"
                            pTooltip="{{ 'NEWSPAPER' | translate }} {{
                                item?.numero_demande
                            }}"
                            class="p-button-primary"
                            icon="pi pi-book"
                            (click)="
                                handleAction({
                                    data: item,
                                    action: REQUESTS_SERVICE_BUTTONS_ACTIONS_ENUM.NEWSPAPER,
                                    view: 'modal'
                                })
                            "
                        ></button>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{item?.[col.field]}}
                    </ng-container>
                </ng-container>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr
            *ngIf="(listCustomersActivate$ | async)?.length <= 0 && !spinner"
            class="loading-table"
        >
            <td class="posRelative" colspan="15">
                <span class="posCenter">
                    {{ 'NO_DATA_FOUND' | translate }}
                </span>
            </td>
        </tr>
        <tr *ngIf="spinner" class="loading-table">
            <td class="posRelative" colspan="15">
                <p-progressSpinner
                    class="posCenter"
                    [style]="{ width: '40px', height: '50px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="#EEEEEE"
                    animationDuration=".5s"
                >
                </p-progressSpinner>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog
    header="[{{ 'CUSTOMERS_ACTIVATE' | translate }}] {{ 'DEMAND' | translate }} 
  [{{ customerActivateSelected?.numero_demande }}]"
    [(visible)]="visibleForm"
    [maximizable]="true"
    [draggable]="false"
    [resizable]="true"
    (onHide)="visibleForm = false"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '95vw', minHeight: '80vh' }"
    [breakpoints]="{ '575px': '95vw', '1199px': '90vw' }"
>
    <ng-template pTemplate="content">
        <app-treatment-requests-service-form
            [customerSelected]="customerActivateSelected"
            [handleTreatment]="
                handleActionButtonEditStyle(customerActivateSelected)
                    ?.handleTreatment
            "
            (visibleForm)="visibleForm = false"
            [fetchCustomers]="pageCallback.bind(this)"
        ></app-treatment-requests-service-form>
    </ng-template>
</p-dialog>
