<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <div class="mt-15">
            <h2>{{ 'Vue génerale - Plateforme ' + nom_tenant }}</h2>
        </div>
        <div class="mt-15 d-flex gap-4">
            <div class="d-flex gap-2">
                <h3>Date MAJ du TB</h3>
                <h3>{{ currrentDate }}</h3>
            </div>
            <div>
                <button
                    pButton
                    pRipple
                    (click)="refreshStatic()"
                    icon="pi pi-refresh"
                    class="p-button-secondary"
                    style="margin-top: -0.5rem"
                ></button>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!loading">
        <app-box-container
            *ngFor="let box of listStatisticsBox"
            [class]="'scale '+box?.['width'] ?? 'col-md-4'"
            [cardBgColor]="box?.['cardBgColor']"
            [cardBorderColor]="box?.['cardBorderColor'] ?? '#FFF'"
            [legend]="box?.['legend']"
            [count]="box?.['count']"
            [legendColor]="box?.['legendColor'] ?? '#FFF'"
            [countColor]="box?.['countColor'] ?? '#FFF'"
            [icon]="box?.['icon']"
            style="cursor: pointer"
            (click)="
                box.routerFilter ? box.routerFilter() : onVisualiserAlarme(box)
            "
        >
        </app-box-container>
    </div>

    <div class="d-flex gap-3 flex-wrap" *ngIf="loading">
        <div *ngFor="let box of listStatisticsBox">
            <p-skeleton width="23rem" height="9rem"></p-skeleton>
        </div>
    </div>
</div>

<p-dialog
    [header]="'DETECTION APPRO.'"
    [(visible)]="showIframe"
    (onHide)="hideDialog()"
    [modal]="true"
    [style]="{ width: '100%' }"
    (onMaximize)="onDialogMaximized($event)"
    [draggable]="false"
    [resizable]="false"
>
    <ng-template pTemplate="content" [style]="{ height: '100vh !important' }">
        <div>
            <iframe
                class="iframe__constainer"
                [src]="iframeLink | safe"
            ></iframe>
        </div>
    </ng-template>
</p-dialog>
