<app-breadcrumb [title]="'Vue génerale - Plateforme CDC'" [items]="['Tableau de bord']"
    [active_item]="'Statistiques'"></app-breadcrumb>
<div class="container-fluid">
    <div class="row widget-grid">
        <div class="col-xxl-4 col-sm-6 box-col-6">
            <app-welcome></app-welcome>
        </div>
        <!-- <div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
            <div class="row">
                <div class="col-xl-12">
                    <app-statistics-box [data]="simOnline"></app-statistics-box>
                    <div class="col-xl-12">
                        <app-statistics-box [data]="simOffline"></app-statistics-box>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
            <div class="row">
                <div class="col-xl-12">
                    <app-statistics-box [data]="simOnline"></app-statistics-box>
                    <div class="col-xl-12">
                        <app-statistics-box [data]="simOffline"></app-statistics-box>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-auto col-xl-3 col-sm-6 box-col-6">
            <div class="row">
                <div class="col-xl-12">
                    <app-statistics-box [data]="simOnline"></app-statistics-box>
                    <div class="col-xl-12">
                        <app-statistics-box [data]="simOffline"></app-statistics-box>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>