.container-title {
    padding-top: 5px;
}

@media (max-width: 1399px) {
    .container-title {
        padding-top: 10px;
    }
}

@media (max-width: 1000) {
    .container-title {
        padding-top: 10px;
    }
}
