@if (loading()) {
    <div class="tab-panel photos-panel skeleton-panel">
        <div class="tab-panel information-panel">
            <div class="skeleton-cards">
                <div class="data-card report-info-card skeleton-card">
                    <div class="card-header">
                        <div class="card-title-group">
                            <p-skeleton shape="circle" size="32px"/>
                            <p-skeleton width="200px" height="24px"/>
                        </div>
                        <div class="card-badges">
                            <p-skeleton width="120px" height="28px" borderRadius="20px"/>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="data-grid">
                            <div class="data-row triple">
                                <div
                                    *ngFor="let field of [1, 2, 3]"
                                    class="data-field"
                                >
                                    <p-skeleton
                                        width="120px"
                                        height="18px"
                                        styleClass="mb-2"
                                    ></p-skeleton>
                                    <p-skeleton
                                        width="100%"
                                        height="44px"
                                        borderRadius="8px"
                                    ></p-skeleton>
                                </div>
                            </div>

                            <div class="data-row double">
                                <div
                                    *ngFor="let field of [1, 2]"
                                    class="data-field"
                                >
                                    <p-skeleton
                                        width="100px"
                                        height="18px"
                                        styleClass="mb-2"
                                    ></p-skeleton>
                                    <p-skeleton
                                        width="140px"
                                        height="32px"
                                        borderRadius="20px"
                                    ></p-skeleton>
                                </div>
                            </div>

                            <div class="data-row full">
                                <div class="data-field">
                                    <p-skeleton
                                        width="150px"
                                        height="18px"
                                        styleClass="mb-2"
                                    ></p-skeleton>
                                    <p-skeleton
                                        width="100%"
                                        height="80px"
                                        borderRadius="8px"
                                    ></p-skeleton>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
} @else {
    <form [formGroup]="store.form"> 
        @if (item()?.canBeApproved || item()?.canBeFinalized) {
        <div class="m-3">
            <div class="action-section">
                <div class="management-type-form-row">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-5">
                            <div class="col-md-12">
                                <div class="container-radio-option col-md-12">
                                    <div
                                        class="radio-option col-md"
                                        role="radiogroup"
                                        aria-labelledby="management-type-label"
                                    >

                                        <div
                                            class="col-md d-flex align-items-center justify-content-center cursor-pointer gap-3"
                                            (click)="onManagementTypeChange('details')"
                                            (keypress)="onManagementTypeChange('details')"
                                            [class.selected]="isManagementType('details')"
                                            tabindex="0" role="radio"
                                            [attr.aria-checked]="isManagementType('details')"
                                        >
                                            <div class="radio-indicator">
                                                <div class="radio-dot" [class.checked]="isManagementType('details')"></div>
                                            </div>
                                            <div class="radio-content">
                                                <div class="radio-text">
                                                    <div class="radio-title">
                                                        {{
                                                            'MANAGEMENT.TREATMENT.CALLBACK_ACTION.OPTIONS.DETAILS.LABEL'
                                                                | translate
                                                        }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div
                                            class="col-md d-flex align-items-center justify-content-center cursor-pointer gap-3"
                                            (click)="onManagementTypeChange('edit')"
                                            (keypress)="onManagementTypeChange('edit')"
                                            [class.selected]="isManagementType('edit')"
                                            tabindex="0" role="radio"
                                            [attr.aria-checked]="isManagementType('edit')"
                                        >
                                            <div class="radio-indicator">
                                                <div class="radio-dot" [class.checked]="isManagementType('edit')"></div>
                                            </div>
                                            <div class="radio-content">
                                                <div class="radio-text">
                                                    <div class="radio-title">
                                                        {{
                                                            'MANAGEMENT.TREATMENT.CALLBACK_ACTION.OPTIONS.EDIT.LABEL'
                                                                | translate
                                                        }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div
                                            class="col-md d-flex align-items-center justify-content-center cursor-pointer gap-3"
                                            (click)="
                                                onManagementTypeChange(
                                                    'callback'
                                                )
                                            "
                                            (keypress)="
                                                onManagementTypeChange(
                                                    'callback'
                                                )
                                            "
                                            [class.selected]="
                                                isManagementType(
                                                    'callback'
                                                )
                                            "
                                            tabindex="0"
                                            role="radio"
                                            [attr.aria-checked]="
                                                isManagementType(
                                                    'callback'
                                                )
                                            "
                                        >
                                            <div
                                                class="radio-indicator"
                                            >
                                                <div
                                                    class="radio-dot"
                                                    [class.checked]="
                                                        isManagementType(
                                                            'callback'
                                                        )
                                                    "
                                                ></div>
                                            </div>
                                            <div
                                                class="radio-content"
                                            >
                                                <div
                                                    class="radio-text"
                                                >
                                                    <div
                                                        class="radio-title"
                                                    >
                                                        {{
                                                            'MANAGEMENT.TREATMENT.CALLBACK_ACTION.OPTIONS.CALLBACK.LABEL'
                                                                | translate
                                                        }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <p-select
                                id="callbackType"
                                class="form-p-select"
                                formControlName="callbackType"
                                [options]="callbackTypeOptions()" 
                                [disabled]="isManagementType('details') || isManagementType('edit')"
                                optionLabel="label"
                                optionValue="value"
                                [placeholder]="
                                    'MANAGEMENT.TREATMENT.CALLBACK_ACTION.CALLBACK_TYPE'
                                        | translate
                                "
                                [emptyMessage]="
                                    'COMMON.SELECT_EMPTY_MESSAGE'
                                        | translate
                                "
                                [emptyFilterMessage]="
                                    'COMMON.SELECT_EMPTY_FILTER_MESSAGE'
                                        | translate
                                "
                                [showClear]="true"
                                styleClass="w-100"
                                appendTo="body"
                                [ngClass]="{
                                    'ng-invalid ng-dirty':
                                        isFieldInvalid('callbackType'),
                                }"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        <div class="tab-panel information-panel">
            <div class="information-content">
                <div class="data-card location-card">
                    <div class="card-body">
                        <div class="data-grid">

                            <div class="data-row quadruple">
                                <div class="data-field fixed-width">
                                    <label class="field-label">{{ 'MANAGEMENT.FORM.REPORT_INFO.TYPE' | translate }}</label>
                                    @if (isManagementType('details')) {
                                        <div class="field-value">{{ (item()?.reportType || 'MANAGEMENT.FORM.NOT_SPECIFIED' | translate) }}</div>
                                    } @else {
                                        <p-select 
                                            class="form-p-select" 
                                            optionLabel="label"
                                            optionValue="value"
                                            formControlName="reportType" 
                                            [options]="reportTypeOptions()" 
                                            styleClass="w-100"
                                            appendTo="body"
                                            [placeholder]="'COMMON.SELECT_PLACEHOLDER' | translate"
                                            [emptyMessage]="'COMMON.SELECT_EMPTY_MESSAGE' | translate"
                                            [emptyFilterMessage]="'COMMON.SELECT_EMPTY_FILTER_MESSAGE' | translate"
                                            [attr.aria-label]="'MANAGEMENT.FORM.REPORT_INFO.TYPE' | translate" />
                                    }
                                </div>

                                <div class="data-field fixed-width">
                                    <label class="field-label">{{ 'MANAGEMENT.FORM.REPORT_INFO.OPERATORS' | translate }}</label>
                                    @if (isManagementType('details')) {
                                        <div class="field-value operator-padding short">
                                        @for (operator of item()?.operators || []; track operator) {
                                            <p-tag [value]="operator | translate" [ngStyle]="getOperatorTagStyle(operator | translate)" styleClass="operator-tag" />
                                        } @empty {
                                            <span>{{ 'MANAGEMENT.FORM.NOT_SPECIFIED' | translate }}</span>
                                        }
                                        </div>
                                    } @else {
                                        <p-multiSelect 
                                            class="form-p-select" 
                                            optionLabel="label"
                                            optionValue="value"
                                            formControlName="operators" 
                                            [options]="telecomOperatorsOptions()" 
                                            styleClass="w-100" 
                                            appendTo="body"
                                            [placeholder]="'COMMON.SELECT_PLACEHOLDER' | translate"
                                            [emptyMessage]="'COMMON.SELECT_EMPTY_MESSAGE' | translate"
                                            [filter]="false"
                                            [showToggleAll]="false"/>
                                    }
                                </div>

                                <div class="data-field flexible">
                                    <label class="field-label">
                                        <i class="pi pi-file-edit"></i>
                                        {{ 'MANAGEMENT.FORM.REPORT_INFO.DESCRIPTION' | translate }}
                                    </label>
                                    @if (isManagementType('details')) {
                                        <div class="field-value long">
                                            {{ item()?.description || ('MANAGEMENT.FORM.REPORT_INFO.NO_DESCRIPTION' | translate) }}
                                        </div>
                                    } @else {
                                        <input class="form-input" pInputText type="text" formControlName="description" />
                                    }
                                </div>

                                <div class="data-field fixed-width">
                                    <label class="field-label">
                                        {{ 'MANAGEMENT.FORM.LOCATION_INFO.COORDINATES' | translate }}
                                        <i class="pi pi-copy" (click)="onCopyCoordinates()" tabindex="0" role="button"></i>
                                    </label>
                                    @if (isManagementType('details')) {
                                        <div class="field-value coordinate-value middle" (click)="onCopyCoordinates()" tabindex="0" role="button">
                                        <i class="pi pi-map-marker"></i>&nbsp;
                                        {{ coordinates() || ('MANAGEMENT.FORM.NOT_SPECIFIED' | translate) }}
                                        </div>
                                    } @else {
                                        <p-inputgroup>
                                            <input class="form-input" pInputText type="text" formControlName="coordinates" placeholder="Lat, Lng" />
                                            <p-inputgroup-addon>
                                                <p-button 
                                                icon="pi pi-map" 
                                                severity="secondary" 
                                                (click)="openLocationPicker()"
                                                [text]="true">
                                                </p-button>
                                            </p-inputgroup-addon>
                                        </p-inputgroup>
                                    }
                                </div>
                            </div>
                            <div class="data-row quintuple">
                                <div class="data-field">
                                    <label class="field-label">{{ 'MANAGEMENT.FORM.REPORT_INFO.LOCATION_NAME' | translate }}</label>
                                    @if (isManagementType('details')) {
                                        <div class="field-value">{{ item()?.location?.name || ('MANAGEMENT.FORM.NOT_SPECIFIED' | translate) }}</div>
                                    } @else {
                                        <p-select 
                                            class="form-p-select" 
                                            optionLabel="label"
                                            optionValue="value"
                                            formControlName="locationName" 
                                            [options]="locationNameOptions()" 
                                            styleClass="w-100"
                                            appendTo="body"
                                            [placeholder]="'COMMON.SELECT_PLACEHOLDER' | translate"
                                            [emptyMessage]="'COMMON.SELECT_EMPTY_MESSAGE' | translate"
                                            [emptyFilterMessage]="'COMMON.SELECT_EMPTY_FILTER_MESSAGE' | translate"
                                            [attr.aria-label]="'MANAGEMENT.FORM.REPORT_INFO.LOCATION_NAME' | translate" />
                                    }
                                </div>

                                <div class="data-field">
                                    <label class="field-label">
                                        {{ 'MANAGEMENT.FORM.REPORT_INFO.TRANSMISSION_CHANNEL' | translate }}
                                    </label>
                                    <div class="field-value">
                                        {{ item()?.source || 'MANAGEMENT.FORM.NOT_SPECIFIED' | translate }}
                                    </div>
                                </div>

                                <div class="data-field">
                                    <label class="field-label">{{
                                        'MANAGEMENT.FORM.LOCATION_INFO.LOCATION_METHOD'
                                            | translate
                                    }}</label>
                                    <div class="field-value">
                                        {{
                                            item()?.location?.method ||
                                                'MANAGEMENT.FORM.NOT_SPECIFIED'
                                                | translate
                                        }}
                                    </div>
                                </div>

                                <div class="data-field">
                                    <label class="field-label">{{
                                        'MANAGEMENT.FORM.REPORT_INFO.DATE_TIME_ENTRY'
                                            | translate
                                    }}</label>
                                    <div class="field-value">
                                        {{
                                            item()?.reportedAt ||
                                                ('MANAGEMENT.FORM.NOT_SPECIFIED'
                                                    | translate)
                                        }}
                                    </div>
                                </div>

                                <div class="data-field">
                                    <label class="field-label">{{
                                        'MANAGEMENT.FORM.REPORT_INFO.DATE_TIME_RECEIPT'
                                            | translate
                                    }}</label>
                                    <div class="field-value">
                                        {{
                                            item()?.createdAt ||
                                                ('MANAGEMENT.FORM.NOT_SPECIFIED'
                                                    | translate)
                                        }}
                                    </div>
                                </div>

                                @if (
                                    item()?.inProcessing || item()?.inFinalization
                                ) {
                                    <div class="data-field">
                                        <label class="field-label">{{
                                            'MANAGEMENT.FORM.REPORT_INFO.NUMBER_OF_ACTIONS'
                                                | translate
                                        }}</label>
                                        <div class="field-value">
                                            {{
                                                item()?.reportProcessingCount ??
                                                    '0'
                                            }}
                                        </div>
                                    </div>
                                }
                            </div>

                            @if (item()?.displayApproveComment()) {
                                @if (item()?.statusReject) {
                                    <div class="data-row full">
                                        <div class="data-field">
                                            <label class="field-label">
                                                <i class="pi pi-file-edit"></i>
                                                {{
                                                    'MANAGEMENT.FORM.REPORT_INFO.COMMENT_REJECT'
                                                        | translate
                                                }}
                                            </label>
                                            <div class="field-value description">
                                                <div class="description-content">
                                                    {{
                                                        item()?.treater
                                                            ?.rejectedComment ||
                                                            ('MANAGEMENT.FORM.REPORT_INFO.NO_COMMENT_REJECT'
                                                                | translate)
                                                    }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                } @else {
                                    <div class="data-row full">
                                        <div class="data-field">
                                            <label class="field-label">
                                                <i class="pi pi-file-edit"></i>
                                                {{
                                                    'MANAGEMENT.FORM.REPORT_INFO.COMMENT_APPROVER'
                                                        | translate
                                                }}
                                            </label>
                                            <div class="field-value description">
                                                <div class="description-content">
                                                    {{
                                                        item()?.treater
                                                            ?.approvedComment ||
                                                            ('MANAGEMENT.FORM.REPORT_INFO.NO_COMMENT_APPROVER'
                                                                | translate)
                                                    }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                            @if (item()?.statusFinalization) {
                                <div class="data-row full">
                                    <div class="data-field">
                                        <label class="field-label">
                                            <i class="pi pi-file-edit"></i>
                                            {{
                                                'MANAGEMENT.FORM.REPORT_INFO.COMMENT_TREATMENT'
                                                    | translate
                                            }}
                                        </label>
                                        <div class="field-value description">
                                            <div class="description-content">
                                                {{
                                                    item()?.treater
                                                        ?.processedComment ||
                                                        ('MANAGEMENT.FORM.REPORT_INFO.NO_COMMENT_APPROVER'
                                                            | translate)
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @if (
                                item()?.statusFinalization && item()?.stateCompleted
                            ) {
                                <div class="data-row full">
                                    <div class="data-field">
                                        <label class="field-label">
                                            <i class="pi pi-file-edit"></i>
                                            {{
                                                'MANAGEMENT.FORM.REPORT_INFO.COMMENT_FINALIZATION'
                                                    | translate
                                            }}
                                        </label>
                                        <div class="field-value description">
                                            <div class="description-content">
                                                {{
                                                    item()?.treater
                                                        ?.finalizedComment ||
                                                        ('MANAGEMENT.FORM.REPORT_INFO.NO_COMMENT_FINALIZATION'
                                                            | translate)
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
