<form [formGroup]="formFilter" (ngSubmit)="onSubmitFilterForm()">
    <div class="row g-3">
        <div class="col-12 col-sm-6 col-md-3">
            <label class="text-truncate" for="firstLevelLibel"
                ><b>{{ firstLevelLibel }}</b></label
            >
            <p-dropdown
                id="firstLevelLibel"
                formControlName="niveau_un_uuid"
                [options]="listFirstLevel$ | async"
                optionValue="uuid"
                optionLabel="nom"
                filterBy="nom"
                [showClear]="true"
                [filter]="true"
                placeholder="{{ 'SELECT' | translate }} {{ firstLevelLibel }}"
                emptyFilterMessage="{{ 'NO_MATCH' | translate }}"
                emptyMessage="{{ 'NO_DATA_FOUND' | translate }}"
            >
            </p-dropdown>
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <label class="text-truncate" for="secondLevelLibel"
                ><b>{{ secondLevelLibel }}</b></label
            >
            <p-dropdown
                id="secondLevelLibel"
                formControlName="niveau_deux_uuid"
                [options]="listSecondLevel$ | async"
                optionValue="uuid"
                optionLabel="nom"
                filterBy="nom"
                [showClear]="true"
                [filter]="true"
                placeholder="{{ 'SELECT' | translate }} {{ secondLevelLibel }}"
                emptyFilterMessage="{{ 'NO_MATCH' | translate }}"
                emptyMessage="{{ 'NO_DATA_FOUND' | translate }}"
            >
            </p-dropdown>
        </div>

        <div class="col-12 col-sm-6 col-md-2">
            <label class="text-truncate" for="STATUS"
                ><b>{{ 'STATUS' | translate }}</b></label
            >
            <p-dropdown
                id="STATUS"
                formControlName="statut"
                [options]="listStatusSimCard"
                [showClear]="true"
                placeholder="{{ 'SELECT' | translate }}"
                emptyFilterMessage="{{ 'NO_MATCH' | translate }}"
                emptyMessage="{{ 'NO_DATA_FOUND' | translate }}"
            >
            </p-dropdown>
        </div>

        <div class="col-12 col-sm-6 col-md-2">
            <label class="text-truncate" for="MSISDN"
                ><b>{{ 'MSISDN' | translate }}</b></label
            >
            <input
                id="MSISDN"
                formControlName="msisdn"
                type="text"
                pInputText
                placeholder="{{ 'MSISDN' | translate }}"
            />
        </div>

        <div
            class="col-12 col-sm-6 col-md-2 d-flex align-items-end justify-content-start gap-2 mt-2"
        >
            <button
                *ngIf="!secondFilter"
                pButton
                pRipple
                type="submit"
                class="p-button-success"
                icon="pi pi-filter"
            ></button>
            <button
                *ngIf="!secondFilter"
                (click)="showSecondFilter()"
                pButton
                pRipple
                class="p-button-dark"
                icon="pi pi-plus"
            ></button>
            <button
                *ngIf="secondFilter"
                (click)="showSecondFilter()"
                pButton
                pRipple
                class="p-button-dark"
                icon="pi pi-minus"
            ></button>
        </div>
    </div>

    <div *ngIf="secondFilter" class="mt-3">
        <div class="row g-3">
            <!-- IMSI -->
            <div class="col-12 col-sm-6 col-md-2">
                <label class="text-truncate" for="IMSI"
                    ><b>{{ 'IMSI' | translate }}</b></label
                >
                <input
                    id="IMSI"
                    formControlName="imsi"
                    type="text"
                    pInputText
                    placeholder="{{ 'IMSI' | translate }}"
                />
            </div>

            <div class="col-12 col-sm-6 col-md-2">
                <label class="text-truncate" for="DESTINATION_FORMULA"
                    ><b>{{ 'DESTINATION_FORMULA' | translate }}</b></label
                >
                <p-dropdown
                    id="DESTINATION_FORMULA"
                    formControlName="formule_uuid"
                    [options]="listFormulas$ | async"
                    optionLabel="nom"
                    [showClear]="true"
                    placeholder="{{ 'SELECT' | translate }} {{
                        'ALARM' | translate
                    }}"
                    optionValue="uuid"
                    emptyFilterMessage="{{ 'NO_MATCH' | translate }}"
                    emptyMessage="{{ 'NO_DATA_FOUND' | translate }}"
                >
                </p-dropdown>
            </div>

            <!-- APN -->
            <div class="col-12 col-sm-6 col-md-2">
                <label class="text-truncate" for="APN"
                    ><b>{{ 'APN' | translate }}</b></label
                >
                <p-dropdown
                    id="APN"
                    formControlName="apn"
                    [options]="listApn$ | async"
                    optionValue="apn"
                    optionLabel="apn"
                    filterBy="apn"
                    [showClear]="true"
                    [filter]="true"
                    placeholder="{{ 'SELECT' | translate }} {{
                        'APN' | translate
                    }}"
                    emptyFilterMessage="{{ 'NO_MATCH' | translate }}"
                    emptyMessage="{{ 'NO_DATA_FOUND' | translate }}"
                >
                </p-dropdown>
            </div>

            <!-- IP Address -->
            <div class="col-12 col-sm-6 col-md-2">
                <label class="text-truncate" for="IP_ADDRESS"
                    ><b>{{ 'IP_ADDRESS' | translate }}</b></label
                >
                <input
                    id="IP_ADDRESS"
                    formControlName="adresse_ip"
                    type="text"
                    pInputText
                    placeholder="{{ 'IP_ADDRESS' | translate }}"
                />
            </div>

            <!-- Usage -->
            <div class="col-12 col-sm-6 col-md-2">
                <label class="text-truncate" for="USAGE"
                    ><b>{{ 'USAGE' | translate }}</b></label
                >
                <p-dropdown
                    id="USAGE"
                    formControlName="usage_id"
                    [options]="listUsages$ | async"
                    optionLabel="nom_usage"
                    [showClear]="true"
                    placeholder="{{ 'SELECT' | translate }} {{
                        'USAGE' | translate
                    }}"
                    optionValue="id"
                    emptyFilterMessage="{{ 'NO_MATCH' | translate }}"
                    emptyMessage="{{ 'NO_DATA_FOUND' | translate }}"
                >
                </p-dropdown>
            </div>

            <!-- Buttons (Show Third Filter) -->
            <div
                class="col-12 col-sm-6 col-md-2 d-flex align-items-end justify-content-start gap-2 mt-2"
            >
                <button
                    *ngIf="!thirdFilter"
                    pButton
                    pRipple
                    type="submit"
                    class="p-button-success"
                    icon="pi pi-filter"
                ></button>
                <button
                    *ngIf="!thirdFilter"
                    (click)="showThirdFilter()"
                    pButton
                    pRipple
                    class="p-button-dark"
                    icon="pi pi-plus"
                ></button>
                <button
                    *ngIf="thirdFilter"
                    (click)="showThirdFilter()"
                    pButton
                    pRipple
                    class="p-button-dark"
                    icon="pi pi-minus"
                ></button>
            </div>
        </div>
    </div>

    <div *ngIf="thirdFilter" class="mt-3">
        <!-- Third Filter (appears when thirdFilter is true) -->
        <div class="row g-3">
            <!-- Third Level -->
            <div class="col-12 col-sm-6 col-md-3">
                <label class="text-truncate" for="thirdLevelLibel"
                    ><b>{{ thirdLevelLibel }}</b></label
                >
                <p-dropdown
                    id="thirdLevelLibel"
                    formControlName="niveau_trois_uuid"
                    [options]="listThirdLevel$ | async"
                    optionValue="uuid"
                    optionLabel="nom"
                    filterBy="nom"
                    [showClear]="true"
                    [filter]="true"
                    placeholder="{{ 'SELECT' | translate }} {{
                        thirdLevelLibel
                    }}"
                    emptyFilterMessage="{{ 'NO_MATCH' | translate }}"
                    emptyMessage="{{ 'NO_DATA_FOUND' | translate }}"
                >
                </p-dropdown>
            </div>

            <!-- Name Location -->
            <div class="col-12 col-sm-6 col-md-2">
                <label class="text-truncate" for="NAME_LOCATION"
                    ><b>{{ 'NAME_LOCATION' | translate }}</b></label
                >
                <input
                    id="NAME_LOCATION"
                    formControlName="point_emplacement"
                    type="text"
                    pInputText
                    placeholder="{{ 'NAME_LOCATION' | translate }}"
                />
            </div>

            <!-- Traffic Zone -->
            <div class="col-12 col-sm-6 col-md-2">
                <label class="text-truncate" for="TRAFFIC_ZONE"
                    ><b>{{ 'TRAFFIC_ZONE' | translate }}</b></label
                >
                <input
                    id="TRAFFIC_ZONE"
                    formControlName="zone_trafic"
                    type="text"
                    pInputText
                    placeholder="{{ 'TRAFFIC_ZONE' | translate }}"
                />
            </div>

            <!-- Start Date -->
            <div class="col-12 col-sm-6 col-md-2">
                <label class="text-truncate" for="START_DATE"
                    ><b>{{ 'START_DATE' | translate }}</b></label
                >
                <p-calendar
                    id="START_DATE"
                    formControlName="date_debut"
                    [showIcon]="true"
                    [placeholder]="'AAAA-MM-JJ'"
                    dateFormat="yy-mm-dd"
                >
                </p-calendar>
            </div>

            <!-- End Date -->
            <div class="col-12 col-sm-6 col-md-2">
                <label class="text-truncate" for="END_DATE"
                    ><b>{{ 'END_DATE' | translate }}</b></label
                >
                <p-calendar
                    id="END_DATE"
                    formControlName="date_fin"
                    [showIcon]="true"
                    [placeholder]="'AAAA-MM-JJ'"
                    dateFormat="yy-mm-dd"
                >
                </p-calendar>
            </div>

            <!-- Filter Button -->
            <div
                class="col-12 col-sm-6 col-md-1 d-flex align-items-end justify-content-start gap-2 mt-2"
            >
                <button
                    pButton
                    pRipple
                    type="submit"
                    class="p-button-success"
                    icon="pi pi-filter"
                ></button>
            </div>
        </div>
    </div>
</form>
