.filter-wrapper {
    display: flex;
    gap: 0.5rem;
}

.header-table {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.no__opacity {
    opacity: 0 !important;
}

// *td {
//     padding: 0.6rem !important;
// }




:host ::ng-deep {
    .p-calendar {
        position: relative;
        display: inline-flex;
        max-width: 100%;
        width: 21rem !important;
    }
}

.modal-header {
    background-color: #000;

    h4 {
        text-transform: uppercase;
    }

    h4,
    button {
        color: #FFFFFF;
    }
}

.ressource_wrapper {
    display: flex;
    gap: 0.7rem;

    >div {
        background-color: white;
        border-radius: 0.3rem;
        padding: 1rem;
    }

    .identification {
        width: 70%;
    }

    .global {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .global_wrapper {
            .label {
                font-size: 18px;
                font-weight: 800;
                color: #000000 !important;

            }

            .value {
                font-size: 15px;
                font-weight: 300 !important;
                color: #D8D8D8 !important;

            }
        }


    }
}