<div>
    <div class="row d-flex align-items-end" [formGroup]="formFilter">
        <div class="col-md-3">
            <label class="block"
                ><b>Date début <span class="text-danger">*</span></b></label
            >
            <p-calendar
                [ngStyle]="{ width: '100%' }"
                formControlName="date_debut"
                [showIcon]="true"
                [placeholder]="'JJ-MM-AAAA'"
                dateFormat="dd-mm-yy"
            >
            </p-calendar>
        </div>
        <div class="col-md-3">
            <label class="block"
                ><b>Date fin <span class="text-danger">*</span></b></label
            >
            <p-calendar
                [ngStyle]="{ width: '100%' }"
                formControlName="date_fin"
                [showIcon]="true"
                placeholder="JJ-MM-AAAA"
                dateFormat="dd-mm-yy"
            >
            </p-calendar>
        </div>
        <div class="col-md-3">
            <label class="block"><b>Utilisateur </b></label>
            <p-dropdown
                [options]="listUsers"
                formControlName="user_id"
                optionLabel="fullName"
                [filter]="true"
                filterBy="fullName"
                [showClear]="true"
                placeholder="Selectionner l'utilisateur"
                optionValue="id"
            >
            </p-dropdown>
        </div>
        <div class="col-md-1">
            <label style="opacity: 0"><b></b>Actions</label>
            <p-button
                [style]="{ height: '60%' }"
                styleClass="p-button-success"
                icon="pi pi-filter"
                (click)="pageCallback()"
            >
            </p-button>
        </div>
    </div>
    <hr />
    <div class="table_content_wrapper">
        <p-table
            #dt
            [value]="listHistoriques"
            [rows]="10"
            [paginator]="true"
            [showCurrentPageReport]="true"
            responsiveLayout="scroll"
            [rowHover]="true"
            dataKey="id"
            currentPageReportTemplate="Affichage de {first} à {last} des {totalRecords} données"
            [globalFilterFields]="[
                'created_at',
                'event',
                'action',
                'ip',
                'nom',
                'prenoms'
            ]"
        >
            <ng-template pTemplate="caption">
                <div
                    style="display: flex; justify-content: space-between"
                    class="header-table mb-2"
                >
                    <app-table-button-header
                        (refresh)="pageCallback()"
                        (export)="OnExportExcel()"
                        [hiddenButtonOther]="true"
                    ></app-table-button-header>
                    <div>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                placeholder="Rechercher"
                            />
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Operation</th>
                    <th>Détails Operation</th>
                    <th>Source [Utilisateur]</th>
                    <th class="text-center">Action</th>
                </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-historique>
                <tr>
                    <td class="text-center">{{ i + 1 }}</td>
                    <td class="text-center">{{ historique?.createdAt }}</td>
                    <td class="text-center">
                        {{ historique?.typeAction ?? 'N/A' }}
                    </td>
                    <td>{{ historique?.action }}</td>
                    <td>{{ historique?.source }}</td>
                    <!-- <td>
                        {{ historique?.ip }}
                        {{
                        historique?.user
                        ? '[' +
                        historique?.user?.nom +
                        ' ' +
                        historique?.user?.prenoms +
                        ']'
                        : ''
                        }}
                    </td> -->
                    <td class="text-center">
                        <button
                            pButton
                            pRipple
                            label="Voir"
                            class="p-button-dark"
                            (click)="showHistorique(historique)"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog
    [(visible)]="display"
    (onHide)="hideDialog()"
    [style]="{ width: '100%' }"
    [resizable]="false"
    (onMaximize)="onDialogMaximized($event)"
    [modal]="true"
    [responsive]="true"
    [maximizable]="true"
    [draggable]="false"
>
    <ng-template pTemplate="header">
        <h3>
            <b [style]="{ color: '#FFFFFF' }"
                >Historique {{ currentEvent.source }}</b
            >
        </h3>
    </ng-template>
    <div
        *ngIf="!(detailsHistory$ | async); else content"
        style="height: 100vh"
        class="my-3"
    >
        <p-skeleton width="100%" height="90%"></p-skeleton>
    </div>
    <ng-template #content>
        <div
            class="ressource_wrapper"
            *ngIf="detailsHistory$ | async as currentEvent"
        >
            <div class="identification">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b>Date/Heure</b></label>
                            <input
                                type="text"
                                [value]="currentEvent?.createdAt"
                                disabled
                                pInputText
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label
                                ><b
                                    >Utilisateur [{{
                                        currentEvent?.adresseIP
                                    }}]</b
                                ></label
                            >
                            <input
                                type="text"
                                [value]="
                                    currentEvent?.initiePar.nom +
                                    ' ' +
                                    currentEvent?.initiePar.prenoms
                                "
                                disabled
                                pInputText
                            />
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b>Action</b></label>
                            <input
                                type="text"
                                [value]="currentEvent?.action"
                                disabled
                                pInputText
                            />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b>Module</b></label>
                            <input
                                type="text"
                                [value]="currentEvent?.module"
                                disabled
                                pInputText
                            />
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        <div class="form-group">
                            <label><b>Adresse IP</b></label>
                            <input type="text" [value]="currentEvent?.adresseIP" disabled pInputText />
                        </div>
                    </div> -->
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label><b>Moyen d'accès</b></label>
                            <input
                                type="text"
                                [value]="currentEvent?.agentUtilise"
                                disabled
                                pInputText
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div
            class="table_wrapper"
            *ngIf="(detailsHistory$ | async)?.typeAction === 'Mise à jour'"
        >
            <table class="native_table table">
                <thead>
                    <tr>
                        <th style="width: 35rem" style="text-align: center">
                            Champs
                        </th>
                        <th style="text-align: center">Valeurs Avant</th>
                        <th style="text-align: center">Valeurs Après</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of transformedData$ | async">
                        <td>{{ item.key }}</td>
                        <td>{{ item.previousValue ?? '' }}</td>
                        <td>{{ item.currentValue ?? '' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-template>
</p-dialog>
