<div>
  <div style="margin-top: -2rem !important;">
    <app-patrimoine-header [count]="listSites" [legende]="'Sites'" [total]="totalRecords"></app-patrimoine-header>
  </div>
  <div class="container_flex_space_between">
    <div class="row filter_wrapper" style="width: 100%;">
      <div class="col-md-3">
        <div class="form-group">
          <label>
            <b>Departement</b>
          </label>
          <input type="text" [disabled]="true" [value]="currentObject.departement_nom" pInputText />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>
            <b>Commune</b>
          </label>
          <input type="text" [disabled]="true" [value]="currentObject.commune_nom" pInputText />
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>
            <b>Zone Trafic</b>
          </label>
          <input type="text" [disabled]="true" [value]="currentObject.libelle" pInputText />
        </div>
      </div>
    </div>
    <div>
      <div class="table_actions_wrapper pt-3">
        <button pButton pRipple label="Fermer" (click)="close()" class="p-button-danger"></button>
      </div>
    </div>
  </div>
  <hr>
  <div class="table_content_wrapper">
    <div class="table_header">
      <app-table-header [count]="listSites" [legende]="'Sites'" [page]="pages" [totalPage]="totalPages"></app-table-header>
    </div>
    <table [ngClass]="['native_table table']">
      <thead>
        <th [style]="{width: '1.5rem'}">#</th>
        <th class="text-center">Nom</th>
        <th class="text-center">Latitude</th>
        <th class="text-center">Longitude</th>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of listSites | paginate: { itemsPerPage: recordsPerPage, currentPage: p, totalPages:totalPages, totalItems:totalRecords }; let i = index;">
          <td [style]="{width: '1.5rem'}">{{ (this.offset + i)}}</td>
          <td>{{data?.libelle}}</td>
          <td>{{data?.latitude}}</td>
          <td>{{data?.longitude}}</td>
        </tr>
      </tbody>
    </table>
    <div [ngClass]="['pagination-controls']">
      <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="">
      </pagination-controls>
    </div>
  </div>
</div>