.wrapper_breadcrumb {
    margin-top: 1.3rem;
}

.breadcrumb-item::before {
    color: #000 !important;
}

.icon-gray {
    color: gray !important;
}

.text-primary {
    color: var(--theme-default) !important;
}
