<div class="imako-date-container" [ngClass]="styleClass()">
    @if (label()) {
        <label [for]="label()" class="imako-label">
            <b>{{ label() | translate }}</b>
            @if (required()) {
                <span class="text-danger">*</span>
            }
        </label>
    }
    <p-datepicker
        [id]="label()"
        [formControl]="control()"
        [placeholder]="placeholder() | translate"
        [showIcon]="showIcon()"
        [dateFormat]="dateFormat()"
        [appendTo]="appendTo()"
        [showButtonBar]="showButtonBar()"
        [selectionMode]="selectionMode()"
        pInputMask="99-99-9999"
        styleClass="w-100"
        inputStyleClass="w-100"
    ></p-datepicker>
</div>
