*td {
    padding: 0.6rem !important;
}
// :host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
//     background: #5B9BD5;
//     border-color: #5B9BD5;
//     color: #000000;
// }
